.add-new-type {
  font-size: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    padding: 0;
    width: 100%;
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .popup & {

    &:not(.chat-new-type) {
      @include media-breakpoint-up($desktop-breakpoint) {
        padding-top: 13px;
        padding-bottom: 13px;
        position: absolute;
        left: 0;
        right: 0;
        top: -62px;
      }
    }
  }

  .stream_enabled &,
  .truncated & {
    display: none;
  }

  &:after {

    .mediasTop & {

      position: absolute;
      pointer-events: none;
      bottom: 0;
      height: 1px;
      background: #fff;
      opacity: 0.2;
      content: "";
      left: 0;
      right: 0;
      z-index: 1;

      @include media-breakpoint-up($desktop-breakpoint) {
        display: none;
      }
    }
  }
}

.addNewNav {
  display: flex;
  position: relative;

  &__text {
    opacity: 0.4;
    line-height: 11px;

    .mediasTop & {
      opacity: 1;
    }
  }

  &__item {
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $main-color;
    position: relative;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      width: 100%;
      height: 44px;
    }

    .mediasTop & {
      @include media-breakpoint-up($desktop-breakpoint) {
        height: 60px;
      }
    }

    .popup & {
      white-space: nowrap;

      @include media-breakpoint-up($desktop-breakpoint) {
        height: 60px;
      }
    }

    .add-new-form {

      &:not(.expanded) & {
        width: 39px;
      }

      &.expanded & {
        font-size: 9px;
        text-align: center;
        justify-content: center;
        align-content: flex-start;

        .popup & {

          @include media-breakpoint-up($desktop-breakpoint) {
            margin-left: 4px;
            flex: 0 0 72px;
          }
        }
      }
    }

    .add-new-type_b-with-text & {
      align-content: flex-start;
      font-size: 9px;

      @include media-breakpoint-up($desktop-breakpoint) {
        text-align: center;
        justify-content: center;
      }
    }

    .mediasTop & {
      opacity: 0.7;
      color: #fff;
      width: 100%;

      @include media-breakpoint-up($desktop-breakpoint) {
        margin: 0 0 0 5px;
        width: 70px;
      }
    }

    &:before {
      font-weight: 400;
      opacity: 0.3;
      transition: color 0.3s ease, opacity 0.3s ease;
      @include icon-font;
      font-size: 24px;
      width: 39px;
      color: $main-color;
      display: block;
      flex: 0 0 100%;
      line-height: 26px;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        margin-top: 4px;
      }

      .add-new-form.expanded & {

        .popup & {

          @include media-breakpoint-up($desktop-breakpoint) {
            margin-top: 14px;
          }
        }
      }

      .add-new-type_b-with-text & {
        display: block;
        flex: 0 0 100%;

        @include media-breakpoint-up($desktop-breakpoint) {
          margin-top: 10px;
        }

        .mediasTop & {

          @include media-breakpoint-up($desktop-breakpoint) {
            margin-top: 13px;
          }
        }
      }

      .mediasTop & {
        color: #fff;
        opacity: 1;
      }
    }

    &:after {
      content: "";
      position: absolute;
      left: 1px;
      right: 1px;
      height: 2px;
      background-color: $secondary-color;
      transition: opacity 0.3s ease;
      opacity: 0;

      .add-new-type_underline-items.line-top & {
        top: -12px;

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          top: auto;
          bottom: 0;
        }

        .popup & {
          top: auto;
          bottom: 0;
        }
      }

      .add-new-type_underline-items.line-bottom & {
        bottom: 0;
      }

      .mediasTop & {
        left: -1px;
        right: -1px;
      }
    }

    &.new-post {
      &:before {
        content: "\e8c0";
      }
    }

    &.new-story {
      &:before {
        content: "\e8c1";
      }
    }

    &.new-live {
      &:before {
        content: "\e89a";
      }
    }

    &.new-message {
      &:before {
        content: "\e89b";
      }
    }

    &.active {
      cursor: default;

      .popup & {
        color: $primary-color;
      }

      .add-new-form.expanded & {

        @include media-breakpoint-up($desktop-breakpoint) {
          margin: 0 8px 0 0;
        }

        .popup & {

          @include media-breakpoint-up($desktop-breakpoint) {
            margin: 0;
          }
        }
      }

      .mediasTop & {
        opacity: 1;
      }

      &:before {

        .add-new-form.expanded & {

          .popup & {

            @include media-breakpoint-up($desktop-breakpoint) {
              width: 54px;
            }
          }
        }

        .mediasTop & {
          color: #fff;
        }
      }

      &:after {

        .add-new-type_underline-items & {
          opacity: 1;
        }

        .mediasTop & {
          background-color: #fff;
        }

        .addNewNav__text {

          .add-new-type_underline-items & {

            @include media-breakpoint-down($desktop-breakpoint-dcrs) {
              opacity: 1;
              color: $primary-color;
            }
          }
        }
      }

      .addNewNav__text {

        .add-new-form.expanded & {

          .popup & {
            opacity: 1;
            color: $primary-color;
          }
        }

        .chatCollectionView & {
          opacity: 1;
          color: $primary-color;
        }

        .mediasTop & {
          color: #fff;
        }
      }
    }

    &.active {

      &:before {
        color: $primary-color;
        opacity: 1;
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {

        &:before {
          color: $primary-color;
          opacity: 1;
        }

        .mediasTop & {
          opacity: 1;
        }

        &:before {

          .mediasTop & {
            color: #fff;
          }
        }
      }
    }
  }
}
