
@keyframes splash {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  30% {
    transform: translate(-10px, -20px);
  }

  40% {
    transform: translate(0, -30px);
  }

  50% {
    transform: translate(10px, -40px);
  }

  60% {
    transform: translate(0, -50px);
  }

  70% {
    transform: translate(-10px, -60px);
  }

  80% {
    transform: translate(0, -70px);
  }

  90% {
    transform: translate(10px, -80px);
  }

  100% {
    transform: translate(0, -90px);
    opacity: 0;
  }
}

@keyframes splashSize {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lineWidth {

  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes lds-dual-ring-inline {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes gradient {
  0%   { background-position: 0 0; }
  100% { background-position: -200% 0; }
}

@keyframes progressBar {

  from {
    transform: translateX(-100%);
  }
  
  to {
    transform: translateX(0);
  }
}