.btn {
  border-radius: 1000px;
  height: 30px;
  padding: 6px 14px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  font: inherit;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  transition: background-color 0.3s ease;
  background: $secondary-color;
  position: relative;
  display: inline-block;

  @include media-breakpoint-up($desktop-breakpoint) {

    &:hover {
      background: $secondary-color-darken;
      color: #fff;
    }
  }

  &.alt {

    &:not(.border) {
      background: $primary-color;
      color: #fff;

      @include media-breakpoint-up($desktop-breakpoint) {

        &:hover {
          background: $primary-color-darken;
          color: #fff;
        }
      }
    }
  }

  &.delicate {

    &-light {
      background: rgba($gray, .6);

      &:hover {
        background: rgba($gray, .8);
      }
    }

    &-dark {
      background: rgba($gray, 1);

      &:hover {
        background: rgba($gray, .9);
      }
    }
  }

  &.sm {
    height: 24px;
    padding: 3px 16px;
  }
  &.md {
    height: 34px;
    padding: 8px 22px;
  }
  &.lg {
    height: 40px;
    padding: 11px 29px;
  }

  &.block {
    display: block;
    width: 100%;
  }
  &.border {
    background: none;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      box-shadow: 0 0 0 2px inset;
      border-radius: 1000px;
    }

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {
        color: #fff;
        background: $primary-color;

        &:before {
          color: $primary-color;
        }
      }
    }

    &:not(.alt) {
      color: $primary-color;

      @include media-breakpoint-up($desktop-breakpoint) {

        &:hover {
          color: #fff;
        }
      }
    }

    &.alt {
      color: $secondary-color;

      @include media-breakpoint-up($desktop-breakpoint) {

        &:hover {
          color: #fff;
          background: $secondary-color;

          &:before {
            color: $secondary-color;
          }
        }
      }
    }

    &.disconnect-twitter {
      color: $main-color;

      &:before {
        box-shadow: 0 0 0 2px $main-color inset;
        opacity: 0.6;
      }

      @include media-breakpoint-up($desktop-breakpoint) {

        &:hover {
          background-color: $main-color;
          color: $white;
        }
      }

      &[disabled] {
        opacity: 0.15;
      }
    }
  }

  &.vote-btn {
    background-color: transparent;
    color: $primary-color;
    height: auto;
    display: inline-flex;
    align-items: center;
    align-content: center;
    padding: 0 0 0 30px;
    font-size: 15px;
    margin-left: 10px;
    position: relative;

    .icn-item {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      color: #d4af37;
    }
  }

  &_white {
    color: $main;

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {
        color: $main;
      }
    }

    &-alfabg {
      background-color: rgba(#fff, .5);

      @include media-breakpoint-up($desktop-breakpoint) {

        &:hover {
          background-color: #fff;
        }
      }
    }

    &-default {
      background-color: #fff;
    }
  }

  &_link {
    background-color: transparent;
    color: $secondary-color;

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {
        color: $secondary-color-darken;
        background-color: transparent;
      }
    }
  }

  &_not-bold {
    font-weight: 400;
  }

  &_fix-width {
    width: 100%;
    max-width: 170px;

    &_mob-lg {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        max-width: 274px;
      }
    }

    &-ex-sm {
      width: 100%;
      max-width: 78px;
    }

    &-sm {
      width: 100%;
      max-width: 120px;
    }

    &-md {
      width: 100%;
      max-width: 190px;
    }

    &-lg {
      width: 100%;
      max-width: 240px;
    }

    &-ex-lg {
      width: 100%;
      max-width: 260px;
    }

    &-all-w {
      width: 100%;
    }
  }

  &_reset-mgap {
    margin: 0;
  }

  &_form-gap {
    margin: 0 0 13px 20px;
  }

  &_drop-arrow {
    padding-right: 32px;

    &:after {
      content: "\E608";
      position: absolute;
      right: 6px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
    }
  }

  &.btn-back-kitchen {
    position: fixed;
    z-index: 12;
    left: 20px;
    bottom: 10px;

    @include media-breakpoint-up($desktop-breakpoint) {
      right: 20px;
      left: auto;
    }
  }

  + .lds-dual-ring.inline {
    margin-left: 10px;
  }

  &-center {
    margin-left: auto;
    margin-right: auto;
  }

  &-twitter {
    background: #1da1f3;

    &:hover {
      background: darken(#1da1f3, 10%);
    }

    .icn-twitter {
      position: relative;
      top: -1px;
      line-height: 0;
      height: 0;
      vertical-align: middle;
      margin-right: 10px;

      .auth-block_sm-size & {
        margin-right: 5px;
      }

      &:after {

        .auth-block_sm-size & {
          font-size: 20px;
        }
      }
    }
  }

  &-reset {
    font-size: 17px;
    border: none;
    padding: 0;
    background: none;
    color: $main-color;
    transition: color .3s ease, opaicty .3s ease;
    cursor: pointer;
    position: relative;

    &_fix-sizes {
      width: 17px;
      height: 17px;
      line-height: 17px;
    }

    &_prim-color {
      color: $primary-color;
    }

    &_sec-color {
      color: $secondary-color;
    }

    &_ml {
      margin-left: 6px;
    }

    &:after {
      content: "\E600";
    }

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {
        color: $primary-color;
        opacity: 1;
      }
    }
  }

  &_decision-size {
    min-width: 56px;
  }
}

button {
  font: inherit;

  &[disabled] {
    opacity: 0.3;
    pointer-events: none;
  }

  &,
  [role="button"] {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:focus {
      outline: none;
    }
    &::-moz-focus-inner {
      border: 0;
    }
  }
}

.addPost-btn-float {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 1000px;
  background: $secondary-color;
  height: 50px;
  width: 50px;
  color: #fff;
  padding: 0;
  box-shadow: 0 6px 30px rgba(#000, 0.15);
  z-index: 10;

  @include media-breakpoint-up($desktop-breakpoint) {

    &:hover {
      color: #fff;
      background: $secondary-color-darken;
    }
  }
}

.profile-actions__btn {
  font-size: 13px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease;
  text-align: center;
}

.btn-with-icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-content: center;

  .icn-item {
    display: block;
    margin: 0 auto 4px;
  }

  &_lg {

    &.make-post-btn {

      .icn-item {
        height: 40px;
        line-height: 40px;
      }
    }

    .icn-post {
      width: 40px;
      height: 40px;
      margin-bottom: 5px;
      opacity: 1;

      @include media-breakpoint-up($desktop-breakpoint) {
        margin-bottom: 10px;
      }

      &:after {
        font-size: 40px;
      }
    }
  }
}

.btn-subscribe,
.btn-edit-profile {
  color: $main-color;
  transition: opacity 0.3s, color 0.3s;
  opacity: 0.4;

  @include media-breakpoint-up($desktop-breakpoint) {

    &:hover {
      color: $main-color;
      opacity: 1;
    }
  }
}

.btn-edit-profile {

  .icn-item {
    color: $main-color;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    margin-bottom: 2px;
  }
}

.profile-message-btn {
  color: $secondary-color;

  .icn-msg {
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    margin: 0 auto 3px;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-bottom: 1px;
    }
  }

  @include media-breakpoint-up($desktop-breakpoint) {

    &:hover {
      color: $secondary-color-darken;
    }
  }
}

.profile-tip-btn {
  opacity: 1;
  color: $primary-color;

  @include media-breakpoint-up($desktop-breakpoint) {

    &:hover {
      color: $primary-color-darken;
    }
  }

  .icn-tips {
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin: 0 auto 2px;
    transition: none;
  }

  @include media-breakpoint-up($desktop-breakpoint) {

    &:hover {
      opacity: 1;
    }
  }
}

.subscribeView {

  .btn-subscribe {
    background-color: transparent;
    opacity: 1;
    color: $primary-color;
    font-size: 13px;

    @include media-breakpoint-up($desktop-breakpoint) {
      transition: color 0.3s ease, opacity 0.3s ease;
    }

    .searchView & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        min-width: 70px;
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {
        color: $primary-color-darken;
      }
    }

    &.alt {
      background-color: transparent;

      @include media-breakpoint-up($desktop-breakpoint) {

        &:hover {
          background-color: transparent;
        }
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {
        background-color: transparent;
      }
    }
  }
}

.btn-subscribe {
  padding: 0;
  height: auto;
  border-radius: 0;
  position: relative;

  @include media-breakpoint-up($desktop-breakpoint) {
    flex-direction: column;
    display: flex;
    align-content: center;
    align-items: center;
  }

  .profile-actions & {

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-top: -3px;
    }
  }

  .icn-userp {
    width: 28px;
    margin-bottom: 1px;
    transform: translate(-2px, 0);
    transition: none;

    &:after {
      font-size: 28px;
      line-height: 28px;
    }
  }

  &.disable-state {
    color: $main-color;
    opacity: 0.4;

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {
        opacity: 1;
      }
    }
  }

  &__label {
    position: relative;
    text-align: center;
  }
}

.subscribe-cost {
  opacity: 1;
  color: $primary-color;

  &__value {
    font-size: 13px;

    span {
      font-size: 21px;
      line-height: 21px;

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 19px;
        line-height: 19px;
      }
    }
  }

  &__label {
    position: relative;
    margin-top: 4px;
  }

  &.disable-state {
    color: $main-color;
    opacity: 0.4;

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {
        opacity: 1;
      }
    }
  }

  &:before {
    content: "";
    display: none;
  }

  @include media-breakpoint-up($desktop-breakpoint) {

    &:hover {
      color: $primary-color-darken;
    }
  }
}

.btn-reply {
  color: $main-color;

  &.active {
    color: $secondary-color;
    opacity: 1;
  }
}

.btn-remove:not([disabled]) {
  color: red;
}

.btn-like {
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 19px;
  line-height: 19px;
  padding: 0;
  border: none;
  background: none;
  opacity: 0.15;
  transition: opacity 0.3s ease, color 0.3s ease;
  color: inherit;

  @include media-breakpoint-up($desktop-breakpoint) {
    right: 2px;

    &:hover {
      opacity: 1;
      color: $primary-color;
    }
  }

  .comment-content & {
    top: 8px;
  }

  &.active {
    opacity: 1;
    color: $primary-color;
  }
}

.likes,
.comments,
.looking,
.getPaid {
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: color 0.3s ease, opacity 0.3s ease;

  &.icn {

    &-size {

      &_md {
        height: 19px;
      }

      &_lg {
        height: 24px;
        line-height: 24px;
      }
    }
  }
}

.likes {

  &:after {
    content: "\E616";
  }

  &__counter {
    cursor: pointer;
  }
}

.comments {

  &:after {
    content: "\E617";
  }
}

.looking {

  &:after {
    content: "\E633";
  }
}

.btn-watch-all {
  background: none;
  border: none;
  padding: 0;
  color: $secondary-color;
  font-size: 13px;
  font-weight: 500;
  transition: color 0.3s ease;

  @include media-breakpoint-up($desktop-breakpoint) {

    &:hover {
      color: $secondary-color-darken;
    }
  }
}

.btn-send {
  background-color: transparent;
  border: none;
  display: inline-block;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease, opacity 0.3s ease;

  &_default {
    color: $secondary-color;

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {
        color: $secondary-color-darken;
      }
    }

    &.disabled,
    &[disabled] {
      opacity: .1;
      pointer-events: none;
      color: $main-color;
    }
  }

  &_inside-field {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 10px;
    height: 100%;
    color: #fff;
  }

  &:after {
    content: "\E62D";
  }

  .chatForm & {
    margin-bottom: 2px;
  }
}

.btn-direction {
  cursor: pointer;
  opacity: 0.7;
  text-align: center;
  color: #fff;
  transition: opacity 0.3s ease;
  background: none;
  padding: 0;
  border: none;
  outline: none;
  z-index: 40;

  &_prev {

    &-up {
      top: 0;

      &:after {
        content: "\E644";
      }
    }

    &-left {
      left: 0;

      &:after {
        content: "\E645";
      }
    }
  }

  &_next {

    &-down {
      bottom: 0;

      &:after {
        content: "\E646";
      }
    }

    &-right {
      right: 0;

      &:after {
        content: "\E643";
      }
    }
  }

  &_lr-sides {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 58px;
    z-index: 5;
    font-size: 48px;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      opacity: 0;
    }

    &:after {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }
    }

    .media-slider-navigation & {
      filter: drop-shadow(2px 2px 5px rgba(#000, 0.4));
      width: 45px;
      font-size: 36px;

      .postPage & {
        width: 56px;
        font-size: 44px;
      }
    }
  }

  &_tb-sides {
    position: fixed;
    left: 0;
    right: 0;
    font-size: 46px;

    &.icn-item {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }
    }

    .lightbox-post & {

      .explore-page & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          font-size: 24px;
          line-height: 44px;
          display: block;
        }
      }
    }
  }

  @include media-breakpoint-up($desktop-breakpoint) {

    &:hover {
      opacity: 1;
    }
  }
}

.add-media-input {
  color: $secondary-color;
  transition: color 0.3s ease;

  @include media-breakpoint-up($desktop-breakpoint) {

    &:hover {
      color: $secondary-color-darken;
    }
  }

  .chatForm & {
    margin: 0 0.6em 0 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-right: 1em;
    }
  }

  .chatForm.disabled & {
    color: rgba(124, 139, 150, 0.18);
  }

  .add-new-form:not(.expanded) & {
    right: 132px;
    position: absolute;
    top: 0;
    margin-right: 0;
    width: 48px;
    justify-content: center;

    @include media-breakpoint-up($desktop-breakpoint) {
      z-index: 2;
    }

    .truncated & {

      @include media-breakpoint-up($desktop-breakpoint) {
        right: 0;
      }
    }
  }

  .add-new-form.expanded & {

    &.disabled {
      opacity: .5;
      pointer-events: none;
    }
  }
}

.btn-address-edit {
  position: absolute;
  right: 0;
  top: 9px;
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  font-size: 15px;
  font-weight: 500;
  color: $secondary-color;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background: none;
  border: none;
  color: $main-color;
  transition: transform .3s;

  .popup &,
  .options-wrapper &,
  .StoryPageCollectionView & {
    padding-left: 15px;
    padding-right: 15px;
    width: 54px;
  }

  .popup & {
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 666;
    height: 50px;
  }

  .options-wrapper & {
    padding-top: 12px;
    padding-bottom: 12px;
    height: 54px;
    opacity: .3;
  }

  .StoryPageCollectionView & {
    padding-left: 15px;
    padding-right: 15px;
    z-index: 5;
    height: 52px;
    margin-top: 8px;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 21px 16px;
      font-size: 30px;
      top: 10px;
    }
  }

  .mediasTop__header.mediasTop__header-underlined & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-left: 0;
    }

    .stream_start & {
      height: 54px;
    }
  }

  .mediasTop__header:not(.mediasTop__header-underlined) & {

    .stream_start & {
      height: 44px;

      @include media-breakpoint-up($desktop-breakpoint) {
        height: 54px;
      }
    }
  }

  .SearchResultsPopupCollectionView & {
    opacity: .3;
    padding: 12px 18px;
    width: 60px;
    height: 54px;

    .main-header_top {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }
    }
  }

  @include media-breakpoint-up($desktop-breakpoint) {

    .popup & {
      display: block;
    }
  }

  &:not(.close_visible-mob) {

    .popup & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }
    }
  }

  .mediasTop__header & {
    z-index: 3;
    margin-top: auto;
    margin-bottom: auto;
    width: 50px;
    height: 50px;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 12px 15px;
      font-size: 30px;
      top: 4px;
      right: 4px;
    }

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      left: auto;
      right: auto;
      position: relative;
      padding: 0 0 0 20px;
      height: 23px;
      width: auto;
      display: flex;
      align-content: center;
      align-items: center;

      .stream_enabled & {
        left: auto;
        right: 0;
        display: none;
      }
    }
  }

  &:after {
    content: "\E605";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;

    .mediasTop__header & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        opacity: 1;
        left: 0;
        transform: translate(0, -50%);
      }
    }
  }

  @include media-breakpoint-up($desktop-breakpoint) {

    &:hover {
      transform: scale(1.2);

      .options-wrapper & {
        opacity: .5;
      }

      .SearchResultsPopupCollectionView & {
        opacity: 1;
      }
    }
  }

  &_light {
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    color: #fff;
  }

  &_default {

    &:after {
      opacity: 0.5;
      transition: opacity .3s;
    }

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {

        &:after {
          opacity: 1;
        }
      }
    }
  }

  &_shift {

    &-t {
      top: 6px;
    }

    &-r {

      @include media-breakpoint-up($desktop-breakpoint) {
        z-index: 10;
        right: 30px;
      }
    }
  }
}

.row-btn {
  padding: 0 10px 20px;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    padding-top: 20px;
    flex: 0 0 auto;
  }

  .icn-item {
    margin-top: -6px;
    margin-right: 6px;
  }

  .btn {

    + .btn {
      margin-top: 14px;
    }
  }
}