
.more-functions {
  position: relative;
  z-index: 0;

  &_sticky {
    position: absolute;

    &-br {
      bottom: 0;
      right: 0;

      .more-functions__btn {
        width: 55px;
        height: 55px;
        opacity: .7;
        justify-content: center;

        @include media-breakpoint-up($desktop-breakpoint) {
          width: 60px;
          height: 60px;
        }

        &:before {
          @include color-settings-dots(#fff, 1);
          background-size: 7px 6px;
          background-position: 6px 0;
          margin: 0;
          width: 20px;
          height: 6px;
        }
      }
    }
  }

  &_dir-inverse {

    .more-functions__dropdown {

      @include media-breakpoint-up($desktop-breakpoint) {
        right: 5px;
        top: auto;
        bottom: 100%;
        transform: translateY(-20px);
        padding-top: 0;
        padding-bottom: 8px;
      }

      &-inside {

        &:after {
          top: auto;
          bottom: 0;
          border-left-color: transparent;
          border-top-color: transparent;
          border-right: 1px solid rgba(124, 139, 150, 0.2);
          border-bottom: 1px solid rgba(124, 139, 150, 0.2);

          @include media-breakpoint-up($desktop-breakpoint) {
            right: 19px;
          }
        }
      }
    }
  }

  &__overlay {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(#000, 0.4);
    pointer-events: none;
    opacity: 0;
    transition: opacity .4s;
    z-index: 40;

    @include media-breakpoint-up($desktop-breakpoint) {
      background: transparent;
      display: none;
    }
  }

  &.open {
    color: $main-color;
    z-index: 12;

    .more-functions {

      &__overlay {
        pointer-events: auto;
        opacity: 1;
      }

      &__dropdown {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
      }

      &__btn {

        &_with-text {

          + .more-functions__dropdown {
            transform: translateY(5px);
          }
        }
      }
    }
  }

  &__btn {
    position: relative;
    height: 100%;
    opacity: 0.4;
    text-align: center;
    font-size: 13px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

    @include media-breakpoint-up($desktop-breakpoint) {
      white-space: nowrap;
      padding-top: 10px;
      padding-bottom: 8px;
      margin: 0;
    }

    &_with-text {
      padding: 0;

      + .more-functions__dropdown {

        @include media-breakpoint-up($desktop-breakpoint) {
          right: -18px;
        }

        .profile-actions & {

          @include media-breakpoint-up($desktop-breakpoint) {
            right: -6px;
          }
        }
      }

      &:before {
        margin-top: 6px;
        margin-bottom: 13px;

        @include media-breakpoint-up($desktop-breakpoint) {
          margin-bottom: 9px;
        }
      }
    }

    &-text {
      flex: 0 0 100%;

      &:empty {
        display: none;
      }
    }

    .more-functions_select & {
      font-size: 15px;
      font-weight: 400;
      padding: 0 24px 0 0;

      &:after {
        content: "\e8be";
        @include icon-font;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 20px;
        line-height: 20px;
      }
    }

    &:before {
      @include settings-dots;
      @include color-settings-dots($main-color, 1);
      width: 16px;
      height: 4px;
      display: block;
      margin: 0 auto 4px;
      font-size: 20px;
      @include icon-font;
      //transition: all 0.3s;

      @include media-breakpoint-up($desktop-breakpoint) {
        margin: 11px auto;
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        transform: translate(0, 0);
        color: $main-color;
      }

      .lightbox-post & {

        .explore-page & {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            @include color-settings-dots(#fff, 1);
          }
        }
      }

      .more-functions_select & {
        display: none;
      }
    }

    &_arrow {
      flex-wrap: nowrap;
      color: $secondary-color;
      opacity: 1;

      &:before {
        content: "\e8be";
        background-image: none;
        font-size: 24px;
        line-height: 12px;
        width: 24px;
        height: 12px;
        margin-top: 4px;
        margin-bottom: 4px;
        order: 2;
        transform: translate(0, 1px);
        color: $secondary-color;

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          position: relative;
          left: auto;
          top: auto;
        }
      }

      .more-functions__btn-text {
        flex: 1;
        font-size: 15px;
        font-weight: 500;
      }

      + .more-functions__dropdown {

        @include media-breakpoint-up($desktop-breakpoint) {
          right: -30px;
        }
      }
    }
  }

  &__dropdown {
    position: fixed;
    right: 10px; left: 10px;
    bottom: 10px;
    max-width: none;
    visibility: hidden;
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.2s ease;
    transform: translateY(calc(100% + 20px));
    z-index: 42;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 8px;
      position: absolute;
      right: -5px; left: auto;
      top: 100%; bottom: auto;
      min-width: 180px;
      transform: translateY(20px);
    }

    .more-functions_select & {

      @include media-breakpoint-up($desktop-breakpoint) {
        right: -32px;
        top: calc(100% + 5px);
      }
    }

    &-inside {
      background-color: $white;
      box-shadow: 0 0 0 1px rgba(124, 139, 150, 0.2),
      0 10px 30px rgba(0, 0, 0, 0.15);
      border-radius: 6px;

      &:after {
        content: "";
        position: absolute;
        right: 15px;
        top: 0;
        width: 16px;
        height: 16px;
        border-left: 1px solid rgba(124, 139, 150, 0.2);
        border-top: 1px solid rgba(124, 139, 150, 0.2);
        transform: rotate(45deg);
        background-color: $white;
        display: none;

        @include media-breakpoint-up($desktop-breakpoint) {
          right: 34px;
          display: block;
        }

        .popup-content-scroll & {

          @include media-breakpoint-up($desktop-breakpoint) {
            right: 16px;
          }
        }
      }
    }

    .gender-wrapper & {

      @include media-breakpoint-up($desktop-breakpoint) {
        right: -27px;
      }
    }
  }
  
  &__details {
    display: none;

    + li {

      .more-functions__link {

        &:before {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            display: none;
          }

          .lightbox-post & {

            .explore-page & {

              @include media-breakpoint-down($desktop-breakpoint-dcrs) {
                display: block;
              }
            }
          }
        }
      }
    }

    .lightbox-post & {

      .explore-page & {
        display: block;
      }
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {

    &:first-child {

      .more-functions__link {

        &:before {
          display: none;
        }
      }
    }
  }

  &__link {
    display: block;
    padding: 16px 20px;
    text-decoration: none;
    position: relative;
    color: var(--dark);
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
    font-weight: 400;
    cursor: pointer;
    font-size: 14px;

    &.deletePost,
    &.report,
    &.menu-block,
    &.deleteStory {

      .more-functions__option {
        color: $primary-color;
        opacity: 1;
      }
    }

    &:before {
      content: "";
      position: absolute;
      left: 20px;
      right: 20px;
      top: 0;
      height: 1px;
      background-color: rgba(124, 139, 150, 0.2);
    }

    &.selected {
      opacity: .8;
    }

    &.btn-toggle-state {
      transition: padding-left .3s;

      &:after {
        content: "\e880";
        position: absolute;
        left: 10px;
        top: 10px;
        opacity: 0;
        transition: opacity .3s;
        color: $primary-color;
        font-size: 24px;
      }

      &.checked {
        padding-left: 40px;

        &:after {
          opacity: 1;
        }
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {

        .more-functions__option {
          opacity: 1;
        }
      }
    }

    &[disabled] {
      opacity: 1;

      .more-functions__option {
        opacity: .3;
      }
    }
  }

  &__option {
    opacity: 0.5;
    transition: opacity 0.3s;
  }
}