.feed {

  .popup-content-scroll & {
    background-color: $white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .aside-col {
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      order: -1;
    }
  }

  .rounded-container {

    @include media-breakpoint-up($desktop-breakpoint) {
      min-height: calc(100vh - 100px);
    }
  }

  .destopView {
    position: relative;
  }
}

.feed-wrapper {

  .postCollectionView {

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 5px;
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    }

    .posts {

      .post {

        &:first-child {

          @include media-breakpoint-up($desktop-breakpoint) {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }
        }

        &:last-child {

          @include media-breakpoint-up($desktop-breakpoint) {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }
      }
    }
  }

  .explore & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      position: static;
    }
  }
}
