.addFileCollectionView {
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  &.postFileCollectionView {
    @include media-breakpoint-down($tablet-breakpoint-dcrs) {
      flex-wrap: wrap;
    }
  }
  .markAsFree {
    padding-bottom: 15px;
    font-size: 13px;
    a {
      display: inline-block;
      padding-right: 10px;
    }
    span {
      opacity: .5;
    }
  }
}

.progress {
  position: absolute;
  left: 1px;
  right: 1px;
  bottom: 1px;
  height: 8px;
  z-index: 12;
  background-color: $white;
  border: 2px solid $white;
  overflow: hidden;
  border-radius: .3em;

  &-loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      30deg,
      $default-secondary-color 10%,
      $default-primary-color 90%
    )
    no-repeat 50% / cover;
    transition: width 0.1s;
    width: 0;
  }
}

.addFileView {
  position: relative;
  margin: 0 1em 0.6em 0;
  z-index: 1;
  overflow: hidden;
  border-radius: 0.3em;
  flex: 0 0 6em;

  .remove {
    z-index: 5;
    cursor: pointer;
    top: .31em;
    right: .31em;
    position: absolute;
  }

  &_option {
    cursor: pointer;

    @include media-breakpoint-down($tablet-breakpoint-dcrs) {
      flex: 0 0 3.5em;
    }

    &:after {
      content: "\E610";
      font-size: 18px;
      line-height: 18px;
      position: absolute;
      right: 8px;
      top: 8px;
      color: #fff;
      filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));

      @include media-breakpoint-up($tablet-breakpoint) {
        font-size: 24px;
        line-height: 24px;
      }
    }

    &.current {

      &:after {
        content: "\E60F";
      }
    }
  }

  &.uploading {

    &:before {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: rgba(#000, 0.3);
      content: "";
      z-index: 1;
    }
  }

  .lds-dual-ring {

    &.small {

      &:before {
        content: "";
        width: 44px;
        height: 44px;
        background-color: $white;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.filename {
  background: $default-avatar-bg;
  display: inline-block;
  vertical-align: top;
  width: 6em;
  height: 6em;
  text-align: center;
  position: relative;

  &_sm {

    @include media-breakpoint-down($tablet-breakpoint-dcrs) {
      width: 3.5em;
      height: 3.5em;
    }
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    vertical-align: top;
  }

  > span {
    max-width: 90%;
    display: inline-block;
    vertical-align: top;
    @include ellipsis;
  }

  .icn-file-pdf {
    margin: auto;
    margin-top: 10px;
    opacity: 0.7;
    &:after {
      font-size: 40px;
      color: $main;
      opacity: 0.3;
    }
  }
}

.audio-file-preview, .filename {
  .label {
    position: absolute;
    background: $secondary-color;
    right: 2px;
    bottom: 3px;
    padding: 1px 5px;
    border-radius: 3px;
    color: #fff;
  }
}

.attachment-status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  z-index: 2;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
  border-radius: 50%;
  overflow: hidden;
  color: #fff;

  &:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    font-size: 30px;
  }

  &.success-status {

    &:after {
      content: "\E604";
      background-color: rgba(0, 0, 0, .4);
    }
  }

  &.error-status {
    background-color: red;

    &:after {
      content: "\E619";
    }
  }
  &.switchable {
    cursor: pointer;
  }
  &.switchable:hover {
    color: $primary-color;
  }
  &.checked {
    color: $secondary-color !important;
  }
}

.block-thumbnails {

  &__title {
    margin: 0 8px 6px;
    font-weight: 700;
  }
}

.error-upload {

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(#000, 0.3);
    z-index: 1;
  }
}

.audio-file-preview {
  padding-right: 60px;

  .attachment-status {
    left: auto;
    right: 10px;
  }
}