
form {

  .rounded {

    + .error {
      margin-top: 1em;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .error {
    color: red;
    margin-bottom: 1.4em;
    line-height: 1;
    font-size: 0.86em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .enabled-tooltip {

    .error {
      margin-bottom: 0;
    }
  }

  input.error {
    font-size: 14px;
  }
}

.text-field-border {
  border-radius: 6px;
  box-shadow: 0 0 0 2px $secondary-color-20;
  background-color: $white;

  &:focus {
    background-color: $white;
  }
}

input,
textarea,
.textarea {
  border-radius: 5px;
  border: none;
  background-color: rgba($gray, 0.1);
  color: inherit;
  font: inherit;
  font-size: 14px;
  font-weight: 400;
  display: block;
  width: 100%;
  padding: 6px 10px;
  transition: background-color 0.3s ease;

  &.rounded {
    border-radius: 15px;

    &.lg {
      border-radius: 20px;
    }
  }

  &.sm {
    padding-left: 12px;
    padding-right: 12px;
  }

  &:focus {
    outline: none;
    background-color: $secondary-color-10;

    &::-moz-placeholder {
      opacity: 0;
    }

    &:-ms-input-placeholder {
      opacity: 0;
    }

    &::-webkit-input-placeholder {
      opacity: 0;
    }
  }

  &::-moz-placeholder {
    color: inherit;
    opacity: 0.5;
  }

  &:-ms-input-placeholder {
    color: inherit;
    opacity: 0.5;
  }

  &::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.5;
  }

  &.placeholder-dark {

    &::-moz-placeholder {
      opacity: 1;
    }

    &:-ms-input-placeholder {
      opacity: 1;
    }

    &::-webkit-input-placeholder {
      opacity: 1;
    }
  }

  &[disabled] {
    opacity: .3;
    background-color: rgba($gray, 0.3);
  }

  .field-invalid:not(.no-border) & {
    box-shadow: 0 0 0 1px red inset;
  }

  &:-webkit-autofill {
    -webkit-text-fill-color: $main-color;
    -webkit-box-shadow: 0 0 0 1000px rgba($gray, 0.1) inset;
    transition: background-color 5000s ease-in-out 0s;

    &:hover,
    &:focus {
      -webkit-text-fill-color: $main-color;
      -webkit-box-shadow: 0 0 0 1000px rgba($gray, 0.1) inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}

.form-field {
  display: block;
  position: relative;

  &_break-all {
    word-break: break-all;
  }
}

.field-loading,
.field-invalid,
.field-valid {

  &.settings-nav__item,
  .form-field {

    &:before {
      @include icon-font;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 6px;
      font-size: 24px;
      width: 1.2em;
    }

    input, textarea {
      padding-right: 40px;
    }
  }
}

.field-invalid {

  &.settings-nav__item,
  .form-field {

    &:before {
      content: "\E619";
      color: red;
    }
  }

  &.no-border {

    &:after {
      color: $default-primary-color;
    }
  }
}

.field-valid {

  &.settings-nav__item,
  .form-field {

    &:before {
      content: "\E604";
      color: $default-secondary-color;
    }
  }
}

.field-loading {

  &.settings-nav__item,
  .form-field {

    &:before {
      content: "";
      background: url(#{$assetPath}/img/loading.svg) no-repeat 0 0 / cover;
      animation: lds-dual-ring 1.2s linear infinite;
      width: 20px;
      height: 20px;
    }
  }
}

.for-unverified {

  @include media-breakpoint-up($desktop-breakpoint) {
    max-width: 90%;
  }
}

input {
  height: 30px;
  &.lg {
    height: 40px;
    padding: 10px 20px;
  }
  &[type="number"] {
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  &[type="checkbox"],
  &[type="radio"] {
    width: auto;
    height: auto;
    display: inline-block;
  }
  &[type="file"] {
    display: none;
  }
}

.twitter-input {
  color: $default-secondary-color;
}

textarea {
  resize: none;
  word-break: break-word;
  box-sizing: border-box;
}

label {
  cursor: pointer;

  span {
    display: inline-block;
  }
}

.label {
  font-weight: 500;
  cursor: pointer;
  .form-group-inner > &,
  .form-group [class*="col-"] > & {
    padding: 0 5px 6px;
    display: block;

    @include media-breakpoint-up($desktop-breakpoint) {
      text-align: right;
      margin-right: 3%;
      padding: 0 7px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 30px;
    }

    &_align-start {
      height: auto;
      align-self: flex-start;
    }

    .settings-page & {

      @include media-breakpoint-up($desktop-breakpoint) {
        flex: 0 0 29.5%;
      }
    }

    &:empty {
      @include media-breakpoint-up($desktop-breakpoint) {
        height: auto;
      }
    }

    &.btn {
      padding: 6px 14px;
      @include media-breakpoint-up($desktop-breakpoint) {
        text-align: center;
        flex: 1;
      }
      &.border {
        padding: 4px 14px;
      }
    }
  }

  &_row {
    display: block;
    margin-bottom: 5px;
  }
  
  &_cursor-default {
    cursor: default;
  }
}
.form-group {
  position: relative;
  display: block;
  cursor: auto;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    padding-bottom: 13px;
  }

  &_row {

    &-md {
      margin-bottom: 14px;
    }

    &-lg {
      margin-bottom: 20px;

      @include media-breakpoint-up($desktop-breakpoint) {
        margin-bottom: 26px;
      }
    }
  }

  &_with-label {

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-right: 11.5%;
      padding-bottom: 17px;
    }
  }

  &_side-gap {

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-left: 6px;
      padding-right: 10px;
    }
  }

  &_help-fields {
    margin-top: -12px;
  }

  &_min-height {
    min-height: 30px;
    padding-top: 6px;
  }

  &_clear-gaps {
    padding: 0;

    &-bottom {
      padding-bottom: 0;
    }
  }

  &-inner {
    margin-bottom: 8px;
    display: block;
    position: relative;
    cursor: auto;

    @include media-breakpoint-up($desktop-breakpoint) {
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
    }

    & > .label {

      @include media-breakpoint-up($desktop-breakpoint) {
        flex: 0 0 19%;
      }
    }

    &_inline {
      display: inline-flex;
      margin-right: 20px;
    }

    input + button {
      margin-left: 10px;
    }

    .form-group {
      flex: 1;
    }

    &.success {
      position: relative;

      &:after {
        position: absolute;
        font-size: 24px;
        width: 1.2em;
        pointer-events: none;
        right: 0;
        content: "\E604";
        color: $default-secondary-color;
        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          bottom: 0;
        }
        @include media-breakpoint-up($desktop-breakpoint) {
          top: 0;
        }
      }

      input {
        padding-right: 30px;
      }
    }

    &.disabled {
      pointer-events: none;
    }
  }

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    &-title {
      display: flex;
      justify-content: space-between;
      margin: 0;
      .label {
        padding: 0;
      }
    }
  }
  .input-help {
    font-size: 13px;
    padding: 0 0 4px;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-left: 32.5%;
    }

    &__title {
      font-size: 15px;
      margin-bottom: 8px;
    }
  }
  .row {
    margin-left: -7.5px;
    margin-right: -7.5px;
    @include media-breakpoint-up($desktop-breakpoint) {
      flex: 1 1 100%;
    }
    [class*="col-"] {
      padding: 0 7.5px;
      @include media-breakpoint-up($desktop-breakpoint) {
        display: flex;
      }
    }
  }
  &.disabled {
    pointer-events: none;

    > * {
      opacity: 0.3;
    }
    .input-notice {
      opacity: 0.5;
    }
  }

  &-btn {
    padding-bottom: 21px;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-bottom: 25px;
      margin-right: 12%;
    }

    &_reset-pb {
      padding-bottom: 0;

      &-mob {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          padding-bottom: 0;
        }
      }

      &-desk {

        @include media-breakpoint-up($desktop-breakpoint) {
          padding-bottom: 0;
        }
      }
    }

    .btn {
      margin: 0;

      &:first-child {

        @include media-breakpoint-up($desktop-breakpoint) {
          margin-left: 33%;
        }
      }

      + .btn {

        @include media-breakpoint-up($desktop-breakpoint) {
          margin-left: 15px;
        }

        &.btn_fix-width-sm {

          @include media-breakpoint-down($desktop-breakpoint) {
            margin-left: 15px;
          }
        }
      }
    }
  }
  &-checkbox {
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      .form-group-inner {
        padding-left: 30px;
        position: relative;
        .label {
          padding: 0;
        }
        .checkbox-label {
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
  &.radio-group {
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding-bottom: 0;
      overflow: hidden;
    }
    @include media-breakpoint-up($desktop-breakpoint) {
      margin-left: 22px;
    }
    &.withoutMargin {
      @include media-breakpoint-up($desktop-breakpoint) {
        margin-left: 0px;
      }
    }

    &_no-gaps {

      @include media-breakpoint-up($desktop-breakpoint) {
        margin-left: 0;
      }
    }

    .radio-wrapper {
      padding-bottom: 11px;
    }
    .form-group-inner {
      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        border-bottom: 1px solid rgba($gray, 0.2);
        margin-bottom: 12px;
      }

      &.no-border-line {
        border-bottom: none;
      }

      &:last-child {
        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          border-bottom: none;
        }
        .radio-wrapper {
          padding-bottom: 0;
        }
      }
    }
  }
  &.checkbox-group {
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding-bottom: 0;
      overflow: hidden;
    }
    @include media-breakpoint-up($desktop-breakpoint) {
      margin-left: 20px;
    }
    .checkbox-wrapper {
      padding-bottom: 13px;
    }
    .form-group-inner {
      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        border-bottom: 1px solid rgba($gray, 0.2);
        margin-bottom: 12px;
      }
      &:last-child {
        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          border-bottom: none;
        }
        .checkbox-wrapper {
          padding-bottom: 0;
        }
      }
    }
    .label {
      font-weight: 500;
    }
  }
  &.full {
    .form-group-inner {
      display: block;
      .label {
        margin: 0 0 9px;
        justify-content: flex-start;
        height: auto;
        padding: 0;
      }
      input {
        @include media-breakpoint-up($desktop-breakpoint) {
          width: 360px;
        }
      }
    }
    .input-help {
      margin: 0;
    }
  }

  &.pb-reset {
    padding-bottom: 0;
  }
}
.toggle-element {
  display: block;
  height: 24px;
  width: 48px;
  flex: 0 0 48px;
  overflow: hidden;
  border-radius: 1000px;
  box-shadow: 0 0 0 2px rgba($gray, 0.5) inset;
  position: relative;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    margin-top: -2px;
  }

  .form-title & {
    margin-left: 16px;
  }

  &_switcher {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 1000px;
    background-color: transparent;
    transition: background-color 0.3s ease;

    &:before {
      position: absolute;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      top: 50%;
      left: 4px;
      background-color: $gray;
      transform: translate(0, -50%);
      content: "";
      transition: background-color 0.3s ease, transform 0.3s ease;
    }
  }

  input {
    display: none;

    &:checked {

      & + .toggle-element_switcher {
        background-color: $secondary-color;

        &:before {
          transform: translate(24px, -50%);
          background-color: $white;
        }
      }
    }
  }
}
.toggle-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid rgba($gray, 0.2);
  margin: 0 15px -1px;
  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 24px 20px;
    border-bottom: none;
    margin: 0;
    font-size: 17px;
  }
}
.form-title {
  position: relative;
  overflow: hidden;
  padding: 19px 15px;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 26px 20px 23px;
  }

  &.disabled {
    .inner {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &_psides-reset {
    padding-left: 0;
    padding-right: 0;
  }

  &.pt-reset {

    &_mob {

      .avn-style & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          padding-top: 0;
        }
      }
    }
  }

  &.private-switcher-block {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding-bottom: 10px;
    }

    .SettingsStoryView & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        padding-bottom: 0;
      }
    }
  }

  .inner {
    position: relative;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    flex: 1;
    z-index: 3;

    .semi-transparent {
      display: block;
      word-break: break-word;
    }

    form {
      @include media-breakpoint-up($desktop-breakpoint) {
        margin-top: 6px;
      }
    }
    & > button {
      border: none;
      background: none;
      padding: 0;
      font: inherit;
      font-size: 15px;
      font-weight: 500;

      &:not(.delete-session_all) {
        color: $secondary-color;
      }
    }

    + .inner {
      margin-top: 18px;
    }
    
    &_block {
      display: block;
    }
  }
  .subtext {
    font-size: 13px;
    font-weight: 400;
    padding: 0;
    margin-top: 2px;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-top: 8px;
    }
  }
  &.table-header-title {
    margin: 0;
    padding-bottom: 0;
  }

  &_cols {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 17px 20px;

    .settings-title {
      margin: 0 20px 0 0;
      flex: 1;
      padding-top: 0;
      padding-bottom: 0;
      @include ellipsis;
    }

    .link-title {
      position: relative;
      left: auto;
      right: auto;
      top: auto;
      bottom: auto;
      width: auto;
      height: auto;
      color: $primary-color;
      font-weight: 500;

      @include media-breakpoint-up($desktop-breakpoint) {

        &:hover {
          color: $primary-color-darken;
        }
      }

      &:before {
        display: none;
      }
    }
  }

  &_default-text {
    font-weight: 400;
  }

  .logo {
    margin-bottom: 20px;

    &-awards {
      width: 50%;
      display: inline-block;
    }

    .cls-2 {
      fill: $main-color;
    }
  }
}
select {
  border: none;
  display: block;
  border-radius: 5px;
  width: 100%;
  font: inherit;
  background: rgba($gray, 0.1);
  color: $main-color;
  height: 30px;
  padding: 0 6px;
  &:focus {
    outline: none;
  }
}
.radio-wrapper,
.checkbox-wrapper {
  display: flex;
  align-items: flex-start;
  padding: 1px 0 0;
  cursor: pointer;

  &.m-inline {
    display: inline-flex;
    margin-right: 25px;
  }

  input {
    display: none;

    &:checked {

      + .label {

        &:after {
          opacity: 1;
        }
      }
    }
  }

  .label {
    font-weight: 400;
    padding-left: 30px;
    position: relative;

    a {
      font-weight: 500;
      color: $secondary-color;
    }

    &:after {
      content: "";
      position: absolute;
      opacity: .3;
    }
  }

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    .input-desc {
      font-size: 13px;
      opacity: 0.5;
    }
  }
}

.radio-wrapper {

  input[type="radio"] {

    &:checked {

      + .label {
        font-weight: 500;

        &:after {
          background-color: $primary-color;
          box-shadow: 0 0 0 2px $primary-color;
        }
      }
    }
  }

  .label {

    &:after {
      width: 10px;
      height: 10px;
      border: 3px solid $white;
      transition: border-color .3s ease, opacity .3s ease;
      border-radius: 1000px;
      box-shadow: 0 0 0 2px $main-color;
      left: 2px;
      top: 1px;
      box-sizing: content-box;
    }
  }
}

.checkbox-wrapper {

  input[type="checkbox"] {

    &:checked {

      + .label {

        &:after {
          background: $primary-color;
          box-shadow: none;
          content: "\E604";
        }
      }
    }
  }

  .label {

    &.payouts-desc {
      opacity: 1;
      margin-top: 2px;

      &:after {
        top: -2px;
      }
    }

    &:after {
      border-radius: 2px;
      box-shadow: 0 0 0 2px $main-color inset;
      left: 3px;
      top: 0;
      width: 18px;
      height: 18px;
      font-size: 18px;
      line-height: 18px;
      text-align: center;
      transition: background .3s ease, box-shadow .3s ease, opacity .3s ease;
      color: #fff;
    }
  }
}

.input-notice {
  padding: 7px 5px 0;
  font-size: 13px;
  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 7px 0 0;
  }
}
.input-status {
  text-align: center;
  padding: 6px 0;
  opacity: 0.5;
  flex: 1;
}

.col-form-lg {
  flex: 0 1 71%;
  width: 71%;
  @include media-breakpoint-up($desktop-breakpoint) {
    flex-basis: 63%;
    width: 63%;
  }
}
.col-form-sm {
  flex: 0 1 29%;
  width: 29%;
  @include media-breakpoint-up($desktop-breakpoint) {
    flex-basis: 37%;
    width: 37%;
  }

  .input-cvv.label {
    @include media-breakpoint-up($desktop-breakpoint) {
      margin-right: 16px;
    }

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding-left: 10px;
    }
  }
}

.select-wrapper {
  position: relative;
  width: 100%;

  &_short {
    max-width: 180px;
  }

  &:before {
    content: '\E608';
    @include icon-font;
    right: 0;
    top: 0;
    bottom: 0;
    width: 34px;
    line-height: 30px;
    position: absolute;
    pointer-events: none;
    display: block;
    opacity: .3;
    font-size: 24px;
  }

  select {
    padding: 5px 36px 5px 10px;
    background-color: rgba($gray, 0.1);
    border: none;
    border-radius: 5px;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    outline: none;

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #444;
    }

    &::-ms-expand {
      display: none;
    }

    option {

      .dark-theme & {
        background: $gray;
      }
    }
  }
}

.multiselect {
  min-height: 30px;

  & &__tags {
    border: none;
    border-radius: 5px;
    background-color: rgba($gray, 0.1);
    color: $main-color;
    font: inherit;
    font-size: 1rem;
    font-weight: 400;
    display: block;
    width: 100%;
    padding: 6px 10px;
    min-height: 30px;
    height: 30px;
    transition: background-color 0.3s ease;

    &:focus {
      outline: none;
      background-color: $secondary-color-10;
    }

    &-wrap {
      z-index: 2;
      position: relative;
    }
  }

  & &__select {
    width: 34px;
    height: 30px;
    top: auto;
    padding: 0;

    &:before {
      content: '\E608';
      @include icon-font;
      left: 50%;
      top: 50%;
      right: auto;
      position: absolute;
      opacity: .3;
      font-size: 24px;
      border: none;
      transform: translate(-50%, -50%);
      margin: 0;
      color: $main-color;
      display: inline-block;
    }
  }

  & &__input,
  & &__single {
    background-color: transparent;
    padding: 0;
    margin: 0;
    color: $main-color;
  }

  & &__input {
    height: 18px;
    min-height: 18px;
    line-height: 18px;
    font-size: 15px;
    position: absolute;
    top: 5px;
    left: 0;
    padding: 0 10px;
    margin: 0;
    z-index: 0;

    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &::-webkit-input-placeholder {
      color: $main-color;
      opacity: 1;
    }

    &:focus {
      background-color: transparent;
    }
  }

  & &__content {

    &-wrapper {
      border-color: rgba($gray, 0.1);
      background-color: $white;
    }
  }

  & &__option {
    transition: background-color .3s;
    color: $main-color;
    padding: 12px 8px;

    &--selected {
      font-weight: 400;
      background: none;
      color: $main-color;

      &.multiselect__option--highlight {
        background: rgba($gray, 0.05);
        color: $main-color;

        &:after {
          content: "\E604";
          color: $primary-color;
          background: none;
          display: block;
        }
      }

      &:after {
        content: "\E604";
        @include icon-font;
        color: $primary-color;
        font-size: 24px;
        background: none;
      }
    }

    &--highlight {
      background: rgba($gray, 0.05);
      color: $main-color;

      &:after {
        display: none;
      }
    }
  }

  & &__placeholder {
    padding-top: 0;
  }

  & &__tag {
    background-color: $secondary-color;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    margin-right: 4px;

    &-icon {
      width: 20px;
      line-height: 20px;
      border-radius: 3px;

      &:after {
        color: #fff;
      }

      @include media-breakpoint-up($desktop-breakpoint) {

        &:hover {
          background-color: $secondary-color-darken;
        }
      }
    }
  }

  &.multiselect--above {

    .multiselect__content-wrapper {
      border-top-color: rgba($gray, 0.1);
    }
  }
}


.error-info {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}

.success-info {
  margin-top: 5px;

  &.info {
    text-align: left;
  }
}

.watermarks-settings  {

  .form-group_with-label {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding-bottom: 4px;
    }

    &:not(:last-child) {

      @include media-breakpoint-up($desktop-breakpoint) {
        margin-bottom: 30px;
      }
    }
  }
}

.watermark-picture {
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    border-radius: 3px;
  }

  &__remove {
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: -5px;
  }
}

.field-gap {

  &_currency {
    padding-left: 23px;
  }

  &_timeunit {
    padding-right: 90px;
  }
}

.field-symbol-currency {
  flex: 1;
  width: 100%;

  .form-field {
    position: relative;

    &:before {
      content: "$";
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: lighten($gray, 20%);
    }
  }
}

.field-symbol-percentage {
  flex: 1;
  width: 100%;

  .form-field {
    position: relative;

    &:before {
      content: "%";
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: lighten($gray, 20%);
    }
  }
}

.field-birthday {
  flex: 1;
  height: 30px;
  border-radius: 5px;
  background-color: rgba($gray, 0.1);
  color: inherit;
  font: inherit;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  transition: background-color 0.3s ease;

  &__input {
    position: relative;

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30px;
      opacity: 0;
    }
  }

  &__text {
    display: block;
    padding: 6px 10px;
  }

  .vdatetime-popup {

    &:before {
      content: "Date of Birthday";
      font-weight: 500;
      display: block;
      padding: 20px 20px 3px;
    }
  }
}

.msct {
  height: 100px;

  + .sm-text {
    margin-top: 5px;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-bottom: 15px;
    }
  }
}

.sm-text {
  font-size: 11px;

  &:first-child {
    margin-bottom: 6px;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-top: 10px;
    }
  }
}

.gaps-around-selects {

  @include media-breakpoint-up($desktop-breakpoint) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.form-nomination {

  &:not(.shadow-block) {
    margin-bottom: 24px;
  }

  &.shadow-block {
    padding-bottom: 5px;
  }
}