html,
body {
  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    // height: 100%;
    height: auto;

  }
}

html {
  background: $white
  linear-gradient(30deg, $secondary-color-06 10%, $primary-color-06 90%) fixed;
  &:before {
    background: $light;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
  }
}
body {
  color: $main-color;
  min-height: 100%;
  position: relative;
  -webkit-text-size-adjust: 100%;
}
a {
  color: $primary-color;

  @include media-breakpoint-up($desktop-breakpoint) {

    &:hover {
      color: $primary-color-darken;
    }
  }

  &.alt {
    color: $secondary-color;
    transition: color 0.3s ease;

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {
        color: $secondary-color-darken;
      }
    }
  }
}
strong {
  font-weight: 500;
}

.disable-scroll-page,
.modal-opened {
  overflow: hidden;
}

.hidden {
  display: none !important;
  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    &-mobile {
      display: none !important;
    }
  }
  @include media-breakpoint-up($desktop-breakpoint) {
    &-desktop {
      display: none !important;
    }
  }
}
.over-container {
  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    margin: 0 -15px;
  }
}
.rounded-container {
  @include media-breakpoint-up($desktop-breakpoint) {
    border-radius: 5px;
    box-shadow: 0 8px 30px rgba(#000, 0.1);
    background: $white;
    margin: 0 0 20px;
  }

  &.reset-btr {

    @include media-breakpoint-up($desktop-breakpoint) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.shadow-block {

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    background: $white;
    box-shadow: 0 1px 7px rgba(#000, 0.15);
    padding-top: 15px;

    &.videos {
      padding: 0;
    }
  }

  &_b-gap {

    &-sm {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        padding-bottom: 5px;
      }
    }

    &-md {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        padding-bottom: 15px;
      }
    }
  }

  &_desk {

    @include media-breakpoint-up($desktop-breakpoint) {
      background: $white;
      box-shadow: 0 1px 7px rgba(#000, 0.15);
    }
  }

  &_reset-pt {
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding-top: 0;
    }
  }

  &_section {

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-bottom: 20px;
    }
  }
}

.no-padding {
  padding: 0;
}

.empty-feed {
  text-align: center;
  color: $main-color;
  padding: 33px 0;
  font-size: 13px;

  @include media-breakpoint-up($desktop-breakpoint) {
    font-size: inherit;
  }

  span {
    opacity: 0.3;
  }
}
.border-top {

  @include media-breakpoint-up($desktop-breakpoint) {
    border-top: 1px solid rgba($gray, 0.2);
    padding-top: 24px;
  }

  &_bgap {

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-bottom: 24px;
    }
  }

  &_reset {

    &-pt {

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-top: 0;
      }
    }

    &-bt {

      &-desk {

        @include media-breakpoint-up($desktop-breakpoint) {
          border-top: none;
        }
      }
    }
  }

  &-mobile {
    border-top: 1px solid rgba($gray, 0.2);
    padding-top: 11px;
  }
}

.border-bottom {

  &-mobile {

    .avn-style & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        border-bottom: 1px solid rgba($gray, 0.2);
        padding-bottom: 11px;
      }
    }
  }
}

.text-enable-money {
  padding-top: 11px;
}

#content {

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    height: 100%;
    flex: 1;
    min-height: 100%;
  }

  .settings-page & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: flex;
      flex-direction: column;
    }
  }
}

.text-centered {
  text-align: center;

  .shadow-block + & {
    margin-top: 24px;
  }
}

[contenteditable]:empty:before {
  content: attr(placeholder);
  display: block;
  color: $main-color;
  opacity: 0.4;
}

.iframe {

  &-container {
    width: 100%;
    height: 100%;
    position: relative;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      -webkit-overflow-scrolling: touch;
      overflow-y: scroll;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      height: calc(100vh - 120px);
    }
  }

  &-wrapper {
    width: 400px;
    height: 200px;
    background: #fff;
  }
}

img,
video {
  outline: none;
  
  &.locked {
    opacity: 0.7;
    transform: scale(1.2);
  }
}

.locked-picture {
  overflow: hidden;
  position: relative;
  flex: 0 0 100%;

  &.icn-item {
    display: block;
  }

  &:after {
    content: "\E61B";
    font-size: 42px;
    opacity: 0.7;
    color: #fff;
    text-shadow: $shadow-light;
  }
}

.no-results-search,
.msg-no-content {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
  pointer-events: none;
  opacity: 0;
  justify-content: center;
  width: 80%;

  @include media-breakpoint-up($desktop-breakpoint) {
    position: relative;
    left: auto;
    top: auto;
    transform: translate(0, 0);
    width: auto;
  }

  &__text {
    flex: 0 0 100%;
    margin-bottom: 10px;
    opacity: 0.3;

    @include media-breakpoint-up($desktop-breakpoint) {
      white-space: nowrap;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}

.no-results-search {
  .searchAllTag {
    font-weight: 500;
    opacity: 0.5;
  }
}

.reasons {

  .form-title {
    margin-bottom: 0;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      font-size: 16px;
      font-weight: 500;
      padding-top: 16px;
      padding-bottom: 10px;
    }
  }

  .shadow-block {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      background-color: transparent;
      box-shadow: none;
      padding-bottom: 20px;
    }
  }

  .form-group {

    .btn {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        margin-left: 0;
      }
    }

    &.bottom-buttons {
      display: flex;

      & > * {
        flex-grow: 1;
      }

      .btn {
        padding: 0;

        &.saveChanges {
          margin-left: 20px;
        }
      }
    }

  }

  &__content {
    padding: 20px;
  }
}

.main-container {
  min-height: 100%;
  
  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 18.18px);  // 18.18px is a space for <div class="adsbox" />
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    height: 100%;
  }

  .explore-page & {

    @include media-breakpoint-up($desktop-breakpoint) {
      height: auto;
    }
  }

  .scroll-bottom & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding-top: 88px;
    }

    .not-authorized & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        padding-top: 44px;
      }
    }

    .reset-sticky-gap & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        padding-top: 0;
      }
    }
  }
}

.ps {

  &.ps--active-x {

    .ps__rail-x {
      height: 4px;
      background-color: transparent;
    }

    .ps__thumb-x {
      bottom: 0;
    }
  }

  &.ps--active-y {

    @include media-breakpoint-up($desktop-breakpoint) {

      .ps__rail-y {

        &:hover {
          background-color: transparent;

          > .ps__thumb-y {
            width: 4px;
          }
        }
      }
    }

    .ps__thumb-y {
      width: 4px;
    }
  }

  &__rail {

    &-y {
      z-index: 2;
    }
  }
}

.b-search-form {
  position: relative;
  width: 100%;

  &_flex-align {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: flex;
      align-content: center;
      align-items: center;
    }
  }

  input.sm {

    &.shifted {
      padding-right: 60px;
    }

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      height: 24px;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 10px;

      &:focus {
        &::-moz-placeholder {
          text-align: inherit;
        }
        &:-ms-input-placeholder {
          text-align: inherit;
        }
        &::-webkit-input-placeholder {
          text-align: inherit;
        }
      }
    }

    .main-header & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {

        &::-moz-placeholder {
          text-align: center;
        }

        &:-ms-input-placeholder {
          text-align: center;
        }

        &::-webkit-input-placeholder {
          text-align: center;
        }
      }
    }

    &::-ms-clear {
      display: none;
      width: 0;
      height: 0;
    }
    &::-ms-reveal {
      display: none;
      width: 0;
      height: 0;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }

  &__btn {
    width: 34px;
    background: none;
    border: none;
    padding: 0;
    transition: opacity 0.3s ease;
    opacity: 0.3;
    right: 0;
    top: 0;
    color: $main-color;
    position: absolute;

    .header-search & {
      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        top: 10px;
        right: 33px;
      }
    }
    .header-search.non-login-view & {
      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        top: 10px;
        right: 5px;
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      width: 37px;
      height: 30px;

      &:hover {
        opacity: 1;
      }
    }

    &.lg {
      width: 47px;
      height: 40px;

      @include media-breakpoint-up($desktop-breakpoint) {
        width: 47px;
        height: 40px;
      }

      &:before {
        line-height: 40px;
        font-size: 22px;
      }
    }

    &_mob {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        color: $secondary-color;
        width: 37px;
        opacity: 1;
      }

      &:before {

        .b-search-form & {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            font-size: 24px;
            line-height: 30px;
          }
        }
      }
    }

    &:after {
      display: block;
      content: "\E60C";
      font-size: 18px;
      line-height: 24px;

      @include media-breakpoint-up($desktop-breakpoint) {
        line-height: 30px;
      }
    }
  }
}

.semi-transparent {
  opacity: .5;
}

.badge {
  color: $white;
  font-size: 12px;
  line-height: 12px;
  min-width: 18px;
  display: inline-block;
  background-color: $primary-color;
  padding: 3px;
  border-radius: 1000px;
}

.timestamp {
  padding: 0;
  font-size: 13px;
  opacity: 0.5;
  font-weight: 400;

  a {
    color: inherit;
    transition: color 0.3s ease;

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {
        color: $primary-color;
      }
    }
  }

  &_unit {
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 4px;
    background-color: $main-color;
    color: $white;
    width: 40px;
    padding: 5px 7px;
    line-height: 12px;
    z-index: 1;
  }

  &_sm-size {
    font-size: 0.76em;
  }

  &__date {
    font-size: 19px;
    line-height: 19px;
  }
}

.wrap-name {
  font-size: 15px;
  display: flex;
  align-content: center;
  align-items: center;
  margin-bottom: 2px;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    font-size: 13px;
    margin-bottom: 3px;
  }

  &_center {
    justify-content: center;
  }

  a {
    display: inline-block;
    color: inherit;
    min-width: 0;
    max-width: 100%;

    &:hover {
      color: $primary-color;
    }
  }
}

.title-block {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;

  &_row {
    font-size: 17px;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    z-index: 0;

    + .postCollectionView {

      @include media-breakpoint-up($desktop-breakpoint) {
        border-top: 1px solid rgba(124, 139, 150, 0.2);
      }
    }
  }

  &__txt {
    position: relative;
    display: block;
    padding: 20px 16px;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-left: 20px;
      padding-right: 20px;
    }

    span {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        opacity: .5;
      }
    }
  }
}

.page-header-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: -7px;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    padding-left: 10px;
    padding-right: 10px;
  }

  .more-functions {

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-left: 10px;
    }

    &__btn {
      padding: 0;
    }
  }

  .col {
    display: flex;
    justify-content: space-between;
  }
}

.page-name {
  opacity: .5;
  font-size: 17px;

  @include media-breakpoint-up($desktop-breakpoint) {
    font-size: 21px;
  }
}

.bg-color {
  background-color: $white;
}

.bg-gradient {

  &_light {
    background-image: linear-gradient(
      30deg,
      $secondary-color-12 10%,
      $primary-color-12 90%
    );
  }

  &_standart {
    background-image: linear-gradient(
      30deg,
      $secondary-color-20 10%,
      $primary-color-20 90%
    );
  }

  &_pseudo {

    &:before {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        background: $light;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.3;
      }
    }

    &:after {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        background: $white
        linear-gradient(30deg, $secondary-color-06 10%, $primary-color-06 90%) fixed;
        content: "";
        position: absolute;
        top: 0;
        left: -10px;
        right: -10px;
        bottom: 0;
        z-index: -1;
      }
    }
  }


  &__shadow {

    &_mob {

      &:after {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          content: "";
          position: absolute;
          top: 0;
          left: -30px;
          right: -30px;
          bottom: 0;
          box-shadow: 0 1px 7px rgba(#000, 0.15) inset;
        }
      }
    }
  }
}

.text-right {
  text-align: right;
}

.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}

.jq-toast {

  &-loader {
    transition: width 2.5s ease-in;
    background-color: #9ec600;
  }

  &-wrap {
    top: 20px;
    left: 50%;
  }

  &-single {
    position: relative;
    left: -50%;
    transition: opacity 0.5s ease-in;
    opacity: 1;

    &.jq-toast-hide {
      opacity: 0;
    }
  }
}

.text2257 {
  font-size: 14px;

  p {
    padding-bottom: 15px;
  }

  strong {
    font-weight: 600;
  }
}

.selected-text {
  color: $primary-color;
}

.default-cursor {
  cursor: text;
}

.tooltip {

  &_error-field {

    &.tooltip {
      position: absolute;
      left: 50%;
      bottom: calc(100% + 4px);
      transform: translateX(-50%);

      .enabled-tooltip & {
        opacity: 1;
        visibility: visible;
      }

      .tooltip-inner {
        background: red;
        white-space: nowrap;
      }

      .tooltip-arrow {
        border-color: red;
      }
    }
  }
}

.pos-relative {
  position: relative;
}

.trunc-text {
  overflow: hidden;
}

.trunc-toggle-btn {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 8px;
}

.trunc-toggle-link {
  color: $secondary-color;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;

  &:focus {
    outline: none;
  }
}

.nowrap-text {
  white-space: nowrap;
}

.hint-text-sm {
  font-size: 13px;
  opacity: .5;

  .awards-form & {
    margin-bottom: 1rem;
  }
}

.z-index {
  &-200 {
    z-index: 200 !important;
  }
}