.no-site-header {

  &_all {

    #site_header {
      display: none;
    }
  }

  &_mob:not(.not-authorized) {

    #site_header {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }
    }


    .scroll-top {

      #site_header {

        + #content {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            //margin-top: 0;
          }
        }
      }
    }
  }
}

.special-site-header {

  body {

    &.modal-opened {

      .white-bg-block .bg-profile {

        @include media-breakpoint-up($desktop-breakpoint) {
          overflow: visible;
        }
      }
    }
  }

  &:not(.no-site-header_mob) {

    #site_header {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: block;
      }
    }
  }

  #site_header {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      position: fixed;
      left: 0; right: 0;
      top: 0;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      display: block;
      background: none;
      box-shadow: none;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      height: 0;
      margin: 0;
    }

    .header_container {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        background-color: transparent;
      }
    }

    .header-wrapper {
      background-color: transparent;
      box-shadow: none;
    }

    .btn.make-post-btn {
      background-color: #fff;
      color: $main;
      box-shadow: 0 2px 10px rgba(#000, 0.2);

      &:hover {
        background-color: $main;
        color: #fff;
      }
    }

    .btns-login-user {

      .login,
      > .register {
        --primary-color: #fff;
        --secondary-color: #fff;
      }
    }

    .header-wrapper {
      transform: translate3d(0, 0, 0);
    }
  }

  .header-avatar {

    @include media-breakpoint-up($desktop-breakpoint) {
      box-shadow: 0 2px 10px rgba(#000, 0.2);
    }
  }

  .header-search-submit {

    @include media-breakpoint-up($desktop-breakpoint) {
      color: $main;
    }
  }

  .header-search-input {

    @include media-breakpoint-up($desktop-breakpoint) {
      background-color: rgba(#fff, 0.6);
      box-shadow: 0 2px 10px rgba(#000, 0.06);
    }

    &::-moz-placeholder {

      @include media-breakpoint-up($desktop-breakpoint) {
        color: $main;
      }
    }

    &:-ms-input-placeholder {

      @include media-breakpoint-up($desktop-breakpoint) {
        color: $main;
      }
    }

    &::-webkit-input-placeholder {

      @include media-breakpoint-up($desktop-breakpoint) {
        color: $main;
      }
    }

    &:hover,
    &:focus {

      @include media-breakpoint-up($desktop-breakpoint) {
        background-color: #fff;
        box-shadow: 0 2px 10px rgba(#000, 0.2);
        color: $main;
      }
    }
  }

  .avn-style {

    .header-logo {

      svg {
        fill: #fff;
      }
    }
  }

  .header-logo {

    svg {
      filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
      fill: #fff;
    }

    .b, .e, .f, .c, .d {
      fill: #fff;
    }

    .e, .f {
      opacity: 1;
    }

    .cls-1 {
      fill: #fff;
    }

    .cls-2 {
      fill: #e12027;
    }
  }

  .header-nav {

    &__item {

      @include media-breakpoint-up($desktop-breakpoint) {
        color: #fff;
      }

      span {

        @include media-breakpoint-up($desktop-breakpoint) {
          opacity: 0.7;
          color: #fff;
        }
      }

      &:before {

        @include media-breakpoint-up($desktop-breakpoint) {
          opacity: 0.6;
          filter: drop-shadow(0 2px 2px rgba(#000, 0.2));
        }
      }

      &:hover {
        color: #fff;

        span,
        &:before {
          opacity: 1;
        }
      }

      &.unread:after {
        background-color: #fff;
      }

      &.active {
        border-color: rgba(255, 255, 255, 0.6);

        &:hover {
          border-color: rgba(255, 255, 255, 1);
        }
      }
    }
  }

  .post-types-tabs {

    .profile-actions__btn {

      @include media-breakpoint-up($desktop-breakpoint) {
        margin-left: 25px;
        height: 60px;
        white-space: nowrap;
        padding: 10px 0 8px;
      }

      > * {

        @include media-breakpoint-up($desktop-breakpoint) {
          flex: 0 0 auto;
          width: auto;
          height: 100%;
        }
      }

      &.more-functions {

        @include media-breakpoint-up($desktop-breakpoint) {
          margin-left: 8px;
        }
      }
    }
  }
}

.main-header {

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    position: -webkit-sticky;
    position: sticky;
    top: -44px;
    height: 44px;
    z-index: 10;
    background-clip: padding-box;
  }

  .scroll-top & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      transform: translate3d(0, -44px, 0);
    }

    .support-page & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        transform: translate3d(0, 0, 0);
      }
    }
  }

  .scroll-bottom & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      transform: translate3d(0, 0, 0);
      top: 0;
      position: fixed;
      left: 0;
      right: 0;
    }
  }

}

#site_header {
  width: 100%;
  background-clip: padding-box;

  @include media-breakpoint-up($desktop-breakpoint) {
    height: 50px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 12;
    margin: 0 0 25px;
    position: -webkit-sticky;
    position: sticky;
  }

  &:before {
    position: fixed;
    top: 0;
    height: 0;
    left: 0;
    width: 100%;
    background: rgba($gray, 0.4);
    z-index: 9;
    content: "";
    opacity: 0;
    transition: opacity 0.4s ease, height 0s linear 0.4s;

    @include media-breakpoint-up($desktop-breakpoint) {
      display: none;
    }
  }
  .dark & {
    background: $main-color;
  }

  .header-nav {
    background: none;
  }

  .sidebar-shown & {

    &:before {
      height: 100vh;
      opacity: 1;
      transition: opacity 0.4s ease;
    }
  }

  .login,
  .register {
    position: relative;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding: 0;
      height: auto;
      margin: 0 5px 0 10px;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      min-height: auto;
    }

    &:before {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }
    }

    &:hover {
      background: none;
      color: $primary-color;

      &.alt {
        color: $secondary-color;
      }
    }
  }

  .login {

    @include media-breakpoint-up($desktop-breakpoint) {
      width: 90px;
      padding: 6px 32px 6px 13px;
      margin-left: 15px;
    }

    &:after {
      content: "\E608";
      @include icon-font;
      position: absolute;
      right: 6px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
      display: none;

      @include media-breakpoint-up($desktop-breakpoint) {
        display: block;
      }
    }
  }

  .register {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: none;
    }
  }

  .header-search {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      width: 100%;
      margin-right: 0;
      align-items: center;
      align-content: center;
    }
  }
}

.header-wrapper {
  height: 44px;

  @include media-breakpoint-up($desktop-breakpoint) {
    box-shadow: 0 0 5px rgba(#000, 0.3);
    background-color: $white;
    height: 50px;
  }
}

.header-mobile {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  display: flex;
  align-items: center;
  z-index: 5;
  box-shadow: 0 0 5px rgba(#000, 0.3);

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    background-color: $white;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    display: none;
    background: var(--white);
  }


}

.header_container {
  display: flex;
  align-items: center;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    height: 44px;
    background: var(--white);
    width: 100%;
  }

  .static-page.dark-theme & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      background: transparent;
    }
  }
}

.header-logo {
  display: flex;
  height: 44px;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  position: relative;
  text-indent: -999em;

  @include media-breakpoint-up($desktop-breakpoint) {
    height: 50px;
  }

  .not-authorized & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-left: 0;
    }
  }

  &__text {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: -999em;
  }

  svg {
    width: 105px;
    height: 26px;

    @include media-breakpoint-up($desktop-breakpoint) {
      width: 125px;
      height: 30px;
    }

    .avn-style & {
      width: 45px;
      height: 34px;
      fill: $main-color;

      @include media-breakpoint-up($desktop-breakpoint) {
        width: 75px;
        height: 35px;
      }
    }
  }
}

.logo {

  a,
  svg {
    display: block;
  }

  .a {
    fill: none;
  }

  .b, .e, .f {
    fill: #ff4081;
  }

  .c {
    fill: #9466ff;
  }

  .d {
    fill: #2196f3;
  }

  .e {
    opacity: 0.5;
  }

  .f {
    opacity: 0.2;
  }

  .cls-1 {
    fill: #e12027;
  }

  .cls-2 {
    fill: #fff;
  }

  .cls-1 {
    fill: #e12027;
  }
}

.page-title {
  font: inherit;
  font-weight: 500;
  padding: 0 0 0 56px;
  margin: 0 auto 0 0;
  @include ellipsis;
  font-size: 15px;

  &_reset-gl {

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-left: 0;
    }
  }

  .not-authorized & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding-left: 0;
    }
  }

  .user-login {
    font-weight: 400;
    opacity: 1;
    .dark & {
      color: #fff;
    }
  }
}

.header-avatar {
  font-size: 24px;
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 10;
  transition: transform 0.4s ease;
  cursor: pointer;

  @include media-breakpoint-up($desktop-breakpoint) {
    position: relative;
    top: auto;
    left: auto;
    font-size: 30px;
    margin: 0 0 0 15px;
    z-index: 1;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &:after {
    position: absolute;
    z-index: 10;
    left: -15px;
    right: -15px;
    top: -10px;
    bottom: -10px;
    content: "";

    @include media-breakpoint-up($desktop-breakpoint) {
      display: none;
    }
  }

  .avatar__img {

    &:before {
      display: none;
    }

    &:empty {

      &:before {
        display: flex;
        box-shadow: none;
      }
    }
  }

  .sidebar & {
    transform: translate(15px, 10px);

    .sidebar-shown & {
      transform: translate(33px, 32px) scale(2.083333333);
    }
  }

  .sidebar-shown & {
    transform: translate(18px, 22px) scale(2.083333333);
    @include media-breakpoint-up($desktop-breakpoint) {
      transform: none;
    }
    &:after {
      opacity: 1;
    }
  }
  .sidebar & {
    transition: transform 0.4s ease;
    @include media-breakpoint-up($desktop-breakpoint) {
      display: none;
    }
  }
}

.triangle-arrow {
  display: none;

  @include media-breakpoint-up($desktop-breakpoint) {
    display: block;
    position: absolute;
    top: 32px;
    left: calc(50% - 15px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;
    transform: translate(0, 20px);
    z-index: 0;
    opacity: 0;
    width: 28px;
    height: 15px;
    overflow: hidden;
  }

  &:after {
    content: "";
    background-color: $white;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.04);
    width: 17px;
    height: 17px;
    transform: rotate(45deg);
    position: absolute;
    top: 7px;
    left: 5px;
  }

  .sidebar-shown & {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.header-search {

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    display: none;
    margin: 0 40px;
    padding: 10px 0;
    position: static;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    width: 170px;
    margin-left: 22px;
  }
}

.btn-clear-search {
  position: absolute;
  border: none;
  padding: 0;
  background: none;
  opacity: 0.2;
  font-size: 17px;
  right: 64px;
  top: 50%;
  transform: translate(0, -50%);
  color: $primary-color;
  transition: opacity 0.3s ease;

  @include media-breakpoint-up($desktop-breakpoint) {
    right: 32px;
  }
  &:hover {
    opacity: 1;
  }
  &:before {
    @include icon-font;
    content: "\E600";
  }
}

.SearchResultsPopupCollectionView {
  position: absolute;
  background: $white;
  padding: 17px 15px 22px;
  z-index: 10;

  &:before {
    content: "";
    position: absolute;
    top: 0;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      left: 15px;
      right: 15px;
      height: 1px;
      background: rgba($gray, 0.2);
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      position: absolute;
      content: "";
      right: auto;
      bottom: auto;
      top: -9px;
      left: 32px;
      background-color: $white;
      box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.04);
      width: 17px;
      height: 17px;
      transform: translate(0, 0) rotate(45deg);
      z-index: 0;
      pointer-events: none;
    }
  }

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    left: 0;
    right: 0;
    top: 44px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    height: calc(100vh - 44px);

    .scroll-top & {
      height: 100vh;
    }
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    left: -18px;
    top: 47px;
    width: 320px;
    box-shadow: 0 6px 30px rgba(#000, 0.15);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 17px;
  }

  .search-all-link {

    a {

      span {
        color: $main-color;
      }
    }
  }

  .close {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: none;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0.3;
      color: inherit;
      padding: 12px 18px;
      font-size: 24px;
      background: none;
      border: none;
      transition: opacity 0.3s ease;

      &:before {
        content: "\E605";
        @include icon-font;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.search-query {
  padding: 3px 0 20px;
  margin-bottom: 18px;
  border-bottom: 1px solid rgba($gray, 0.2);

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: $secondary-color;
  }
}

.SearchResultsPopupView {
  padding: 0 0 2px;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding-right: 20px;
  }

  &:empty {
    padding: 0;
  }

  .user {
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
    color: inherit;
    margin: 0 0 13px;

    .avatar {
      transition: transform 0.3s ease;
    }

    &:hover {

      .avatar {
        transform: scale(1.2);
      }
    }
  }
}

.user {

  &__name {
    display: flex;
    align-items: center;
    align-content: center;
  }
}

.make-post-btn {
  color: $secondary-color;

  &:hover {
    color: $secondary-color-darken;
  }

  &:before {
    content: "\E611";
    @include icon-font;

    @include media-breakpoint-up($desktop-breakpoint) {
      vertical-align: middle;
    }
  }

  &.btn {
    font-size: 0;
    line-height: 0;
    padding: 10px 15px;
    height: auto;

    @include media-breakpoint-up($desktop-breakpoint) {
      color: #fff;
      font-size: 15px;
      font-weight: 500;
      line-height: 1;
    }
  }

  &_header.btn {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      color: $primary-color;
    }

    &:hover {
      color: $primary-color;
      background: none;
    }

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      border-radius: 0;
      background: none;
      right: 0;
      top: 0;
      position: absolute;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      background: $primary-color;
      position: static;
      height: 30px;
      padding: 4px 14px;
      margin: 0 0 0 15px;
    }

    &:hover {
      background: none;

      @include media-breakpoint-up($desktop-breakpoint) {
        color: #fff;
        background: $primary-color-darken;
      }
    }

    &:before {

      @include media-breakpoint-up($desktop-breakpoint) {
        margin: 0 5px 0 -5px;
        //color: inherit;
      }
    }
  }
}

.header-nav {
  height: 44px;
  display: flex;
  z-index: 9;
  background: $white;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 0 5px rgba(#000, 0.3);
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    height: 50px;
  }

  .scroll-bottom & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      //transform: translate3d(0, 44px, 0);
      top: 44px;
      position: fixed;
      left: 0;
      right: 0;
    }
  }

  &__item {
    width: 25%;
    text-align: center;
    padding: 2px 0 0;
    color: inherit;
    font-size: 9px;
    border-bottom: 2px solid transparent;
    font-weight: 500;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      line-height: 11px;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 5px 0 0;
      margin: 0 5px 0 0;
      transition: color 0.3s ease, border-color 0.3s ease;
      width: 80px;
    }

    span {
      opacity: 0.4;
      transition: opacity 0.3s ease;
    }
    &:before {
      opacity: 0.3;
      font-size: 24px;
      line-height: 30px;
      display: block;
      margin: 0 0 -2px;
      @include icon-font;

      @include media-breakpoint-up($desktop-breakpoint) {
        transition: opacity 0.3s ease;
      }
    }

    &.active {
      border-color: $secondary-color;
    }

    &.active,
    &:hover {
      color: $primary-color;
      span,
      &:before {
        opacity: 1;
      }
    }
    &.unread {
      position: relative;
      &:after {
        background: $secondary-color;
        width: 6px;
        height: 6px;
        content: "";
        position: absolute;
        border-radius: 1000px;
        left: 50%;
        margin-left: 16px;
        top: 7px;
        @include media-breakpoint-up($desktop-breakpoint) {
          margin-left: 13px;
          top: 10px;
        }
      }
    }
  }

  + .page-header-title {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-top: 20px;
    }
  }
}

.menu-item-home {
  &:before {
    content: "\E612";
  }
}
.menu-item-explore {
  &:before {
    content: "\E613";
  }
}
.menu-item-notifications {
  &:before {
    content: "\E614";
  }
}
.menu-item-messages {
  &:before {
    content: "\E615";
  }
}

.sidebar-shown.disable-scroll-page {
  @include media-breakpoint-up($desktop-breakpoint) {
    overflow: auto;
  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
  width: calc(100vw - 55px);
  max-width: 320px;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    @media screen and (orientation: landscape) {
      max-width: 800px;
    }
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    right: calc(50% - 460px);
    left: auto;
    z-index: 10;
    bottom: auto;
    width: 280px;
    max-width: 100%;
    top: -10000px;
    transition: opacity 0.4s ease, transform 0.4s ease, top 0s linear 0.4s;
    overflow: visible;
  }

  &:before {
    content: "";
    position: fixed;
    left: 0;
    top: -70px;
    bottom: 0;
    background: $white;
    box-shadow: 0 0 30px rgba(#000, 0.4);
    z-index: -1;
    width: calc(100vw - 55px);
    max-width: 320px;
    transform: translate(-100%, 70px);
    transition: transform 0.4s ease;
    padding-bottom: 70px;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      @media screen and (orientation: landscape) {
        max-width: 800px;
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      display: none;
    }

    .sidebar-shown & {
      transform: translate(0, 0);
    }
  }

  &__header {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      @media screen and (orientation: landscape) {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;

        > div {
          flex: 0 0 50%;
          margin: 0;
          padding-bottom: 20px;
          position: relative;
          max-width: 50%;

          &:after {
            content: "";
            background-color: rgba($gray, 0.2);
            position: absolute;
            bottom: 0;
            top: 0;
            right: 0;
            width: 1px;
          }
        }
      }
    }
  }

  &__scroller {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: transform 0.4s ease;

    .sidebar-shown & {
      transform: translate(0, 0);
    }

    &::-webkit-scrollbar {
      display: none;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      max-height: calc(100vh - 70px);
      box-shadow: 0 6px 30px rgba(#000, 0.15);
      overflow-y: auto;
      transform: translate(0, 20px);
      bottom: auto;
      padding: 21px 0 0;
      border-radius: 4px;
      width: auto;
      background: $white;
    }
  }

  &__inside {
    transform: translate(-100%, 0);
    transition: transform 0.4s ease;
    padding: 81px 0 0;
    flex-direction: column;
    flex: 0 0 100%;
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      @media screen and (orientation: landscape) {
        padding-top: 24px;
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 0;
      width: auto;
      transform: translate(0, 0);
    }
  }

  &-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .sidebar-shown & {
    opacity: 1;
    pointer-events: auto;

    @include media-breakpoint-up($desktop-breakpoint) {
      top: 57px;
      transition: opacity 0.4s ease, transform 0.4s ease, top 0s linear;
    }

    .sidebar__inside {
      transform: translate(0, 0);
    }
  }

  .dark & {
    background: $main-color;
  }

  .header-avatar {
    position: relative;
    left: auto;
    top: auto;
    flex: 0 0 auto;
    margin-bottom: -24px;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      @media screen and (orientation: landscape) {
        position: absolute;
        left: 0;
        right: 0;
      }
    }
  }
}

.user-group-info {
  margin-bottom: 20px;

  @include media-breakpoint-up($desktop-breakpoint) {
    margin-bottom: 12px;
  }

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    @media screen and (orientation: landscape) {
      margin-bottom: 0;
      padding-left: 85px;
    }
  }
}

.user-menu {
  flex: 0 1 100%;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    @media screen and (orientation: landscape) {
      display: flex;
      flex-direction: row;
      flex: 1;
    }
  }

  &__col {
    padding-bottom: 9px;
    margin-bottom: 9px;
    position: relative;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      @media screen and (orientation: landscape) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-bottom: 12px;
      margin-bottom: 11px;
    }

    &:after {
      content: "";
      height: 1px;
      background-color: rgba($gray, 0.2);
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 0;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        @media screen and (orientation: landscape) {
          top: 0;
          left: auto;
          right: 0;
          height: auto;
          width: 1px;
        }
      }
    }

    &:last-child {
      @include media-breakpoint-up($desktop-breakpoint) {
        padding-bottom: 0;
        margin-bottom: 0;
      }

      &:after {
        display: none;
      }
    }
  }

  &-item {
    display: block;
    font-size: 17px;
    padding: 11px 0 12px 62px;
    position: relative;
    color: inherit;
    transition: color 0.3s ease;

    @include media-breakpoint-up($desktop-breakpoint) {
      font-size: inherit;
      padding-bottom: 10px;
      &:hover {
        &:before {
          transform: scale(1.3);
        }
      }
    }
    &:hover {
      color: $secondary-color;
    }
    &:before {
      @include icon-font;
      position: absolute;
      left: 20px;
      top: 50%;
      line-height: 0;
      font-size: 24px;
      opacity: 0.3;
      color: $main-color;
      @include media-breakpoint-up($desktop-breakpoint) {
        transition: transform 0.3s ease;
      }
    }
    &__profile {
      &:before {
        content: "\E63F";
      }
    }
    &__statistics {
      &:before {
        content: "\E639";
      }
    }
    &__payouts {
      &:before {
        content: "\E63C";
      }
    }
    &__payments {
      &:before {
        content: "\E63B";
      }
    }
    &__privacy {
      &:before {
        content: "\E62F";
      }
    }
    &__help {
      &:before {
        content: "\E640";
      }
    }
    &__logout {
      &:before {
        content: "\E63D";
      }
    }
  }
  hr {
    height: 1px;
    background: rgba($gray, 0.2);
    border: none;
    margin: 9px 20px 9px;
    @include media-breakpoint-up($desktop-breakpoint) {
      margin: 12px 20px 11px;
    }
  }
  &-name {
    padding: 0 20px 3px 20px;
    font-size: 17px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    align-content: center;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      @media screen and (orientation: landscape) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    a {
      color: inherit;
      font-weight: 400;
    }
  }
  &-login {
    padding: 0 20px;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      @media screen and (orientation: landscape) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &.user-login {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        min-width: 100%;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        flex: 0 0 100%;
      }
    }
  }
  &-counts {
    padding: 0 0 12px;
    margin: 0 20px 9px;
    border-bottom: 1px solid rgba($gray, 0.2);

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      @media screen and (orientation: landscape) {
        border-bottom: none;
        padding: 0 20px;
        margin: 0;
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-bottom: 11px;
    }

    &-item {
      padding: 0 17px 10px 0;
      color: inherit;
      display: inline-block;
      vertical-align: top;
      transition: color 0.3s;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        @media screen and (orientation: landscape) {
          margin-bottom: 0;
          margin-top: 10px;
        }
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-right: 25px;
      }
      &-count {
        font-weight: 500;
      }
      &-title {
        opacity: 0.5;
        @include media-breakpoint-up($desktop-breakpoint) {
          font-size: 11px;
        }
      }
    }
  }
  &-bottom-btns {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    flex: 0 0 auto;
    margin: auto 0 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 10px;
    }
  }
  &-bottom-btn {
    padding: 16px 20px;
    line-height: 26px;
    color: $primary-color;

    &:hover {
      color: $primary-color-darken;
    }
    &:before {
      @include icon-font;
    }
    &__skin-toggle {
      &:before {
        content: "\E636";
      }
      .dark-theme & {
        &:before {
          content: "\E637";
        }
      }
    }
    &__qr {
      &:before {
        content: "\E63A";
      }
    }
  }
  &-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 17px 20px;
    font-size: 24px;
    transition: transform 0.3s ease;
    color: $primary-color;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      @media screen and (orientation: landscape) {
        top: -14px;
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      display: none;
    }

    &:hover {
      color: $primary-color-darken;

      @include media-breakpoint-up($desktop-breakpoint) {
        transform: scale(1.5);
      }
    }
    &:before {
      @include icon-font;
      content: "\E605";
    }
  }
}
.header-return-btn {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  min-width: 54px;
  z-index: 5;
  cursor: pointer;
  border: none;
  background: none;
  color: $primary-color;

  &:before {
    font-size: 24px;
    content: "\E606";
    @include icon-font;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    display: none;
  }

  .not-authorized & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: none;
    }
  }

  &:hover {
    color: $primary-color;
  }

  &.go-back {
    padding: 7px 15px;
    height: 44px;
    display: flex;
    align-items: center;
    align-content: center;

    &:before {
      position: relative;
      transform: translateY(0);
      left: auto;
      top: auto;
      display: inline-block;
      vertical-align: middle;
      width: 1.1em;
    }

    &_arrow {

      &:before {
        content: "\E606";
      }
    }

    &_times {

      &:before {
        content: "\E605";
      }
    }
  }
}
.header-popup-menu-btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 44px;
  width: 54px;
  z-index: 5;
  cursor: pointer;
  &:before {
    content: "";
    @include position-center;
    height: 4px;
    width: 16px;
    background-image: radial-gradient(circle, #fff 50%, transparent 50%);
    background-size: 6px 4px;
    background-position: 5px 0;
  }
}

.not-authorized {

  &:not(.static-page) {

    .header-logo {

      @include media-breakpoint-up($desktop-breakpoint) {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &.special-site-header:not(.not-authorized) {

    .header-scrolled {

      #site_header {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          transform: translate3d(0, -44px, 0);
        }
      }
    }

    .sticky-header-controls {

      .header-return-btn,
      .profile-more-functions {
        display: none;
      }

      .profile-name__header {
        padding: 0 20px;
      }
    }

    #site_header {
      //display: none;
    }
  }

  #site_header {

    .login {
      filter: none;
    }
  }


}

.btns-login-user {
  margin-right: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  align-content: center;
}