.no-site-header {

  &_all {

    .main-header {
      display: none;
    }
  }

  &_mob:not(.not-authorized) {

    .main-header_top {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }
    }

  }
}

.special-site-header {

  body {

    &.modal-opened {

      .white-bg-block .bg-profile {

        @include media-breakpoint-up($desktop-breakpoint) {
          overflow: visible;
        }
      }
    }
  }

  &:not(.no-site-header_mob) {

    .main-header {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: block;
      }
    }
  }

  &.not-authorized {

    .main-header {
      box-shadow: none;
    }
  }

  .main-header_top {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      position: fixed;
      left: 0; right: 0;
      top: 0;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      background: none;
      box-shadow: none;
      position: fixed;
      height: 0;
      margin-bottom: 0;
    }

    .header_container {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        background-color: transparent;
      }
    }

    .header-wrapper {
      background-color: transparent;
      box-shadow: none;
    }

    .btns-login-user {

      .login,
      > .register {
        --primary-color: #fff;
        --secondary-color: #fff;
      }

      .login.login_colored {
        background-color: transparent;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          box-shadow: 0 0 0 2px inset;
          border-radius: 1000px;
        }
      }
    }

    .header-wrapper {
      transform: translate3d(0, 0, 0);
    }
  }

  .header-avatar {

    @include media-breakpoint-up($desktop-breakpoint) {
      box-shadow: 0 2px 10px rgba(#000, 0.2);
    }
  }

  .header-search-submit {

    @include media-breakpoint-up($desktop-breakpoint) {
      color: $main;
    }
  }

  .header-search-input {

    @include media-breakpoint-up($desktop-breakpoint) {
      background-color: rgba(#fff, 0.6);
      box-shadow: 0 2px 10px rgba(#000, 0.06);
    }

    &::-moz-placeholder {

      @include media-breakpoint-up($desktop-breakpoint) {
        color: $main;
      }
    }

    &:-ms-input-placeholder {

      @include media-breakpoint-up($desktop-breakpoint) {
        color: $main;
      }
    }

    &::-webkit-input-placeholder {

      @include media-breakpoint-up($desktop-breakpoint) {
        color: $main;
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover,
      &:focus {
        background-color: #fff;
        box-shadow: 0 2px 10px rgba(#000, 0.2);
        color: $main;
      }
    }
  }

  .avn-style {

    .header-logo {

      svg {
        fill: #fff;
      }
    }
  }

  .header-logo {

    svg {
      filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
      fill: #fff;
    }

    .b, .e, .f, .c, .d {
      fill: #fff;
    }

    .e, .f {
      opacity: 1;
    }

    .cls-1 {
      fill: #fff;
    }

    .cls-2 {
      fill: #e12027;
    }
  }

  .header-nav {

    &__item {

      @include media-breakpoint-up($desktop-breakpoint) {
        color: #fff;
      }

      span {

        @include media-breakpoint-up($desktop-breakpoint) {
          opacity: 0.7;
          color: #fff;
        }
      }

      &:before {

        @include media-breakpoint-up($desktop-breakpoint) {
          opacity: 0.6;
          filter: drop-shadow(0 2px 2px rgba(#000, 0.2));
        }
      }

      @include media-breakpoint-up($desktop-breakpoint) {

        &:hover {
          color: #fff;

          span,
          &:before {
            opacity: 1;
          }
        }
      }

      &.unread:after {
        background-color: #fff;
      }

      &.active {
        border-color: rgba(255, 255, 255, 0.6);

        @include media-breakpoint-up($desktop-breakpoint) {

          &:hover {
            border-color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }

  .post-types-tabs {

    .profile-actions__btn {

      @include media-breakpoint-up($desktop-breakpoint) {
        height: 60px;
        white-space: nowrap;
        padding-top: 10px;
        padding-bottom: 8px;
      }

      &:not(.profile-tip-btn) {
        margin-left: 18px;
      }

      &.more-functions {

        @include media-breakpoint-up($desktop-breakpoint) {
          margin-left: 8px;
        }
      }
    }
  }
}

.main-header {
  width: 100%;
  background-clip: padding-box;
  position: -webkit-sticky;
  position: sticky;
  display: block;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    top: -44px;
    height: 44px;
    z-index: 10;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    height: 50px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 12;
    margin-bottom: 25px;
  }

  .scroll-bottom & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      position: fixed;
      left: 0;
      right: 0;
    }
  }

  &.guest {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      top: 0;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
  }

  &:not(.guest) {

    &:before {
      position: fixed;
      top: 0;
      height: 0;
      left: 0;
      width: 100%;
      background: rgba($gray, 0.4);
      z-index: 19;
      content: "";
      opacity: 0;
      transition: opacity 0.4s ease, height 0s linear 0.4s;

      @include media-breakpoint-up($desktop-breakpoint) {
        display: none;
      }
    }

    .scroll-bottom &,
    .open-search-popup &,
    .scroll-top.open-search-popup & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        top: 0;
      }
    }
  }

  .header-nav {
    background: none;
  }

  .sidebar-shown & {

    &:before {
      height: 100vh;
      opacity: 1;
      transition: opacity 0.4s ease;
    }
  }

  .header-search {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      width: 100%;
      margin-right: 0;
      padding-right: 36px;
      align-items: center;
      align-content: center;
    }
  }

  .login,
  .register {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding: 0;
      height: auto;
      margin: 0 5px 0 10px;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      min-height: auto;
    }

    &:before {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }
    }
  }

  .login {

    @include media-breakpoint-up($desktop-breakpoint) {
      width: 90px;
      padding-left: 13px;
      margin-left: 15px;
    }
  }

  .special-site-header &,
  &:not(.main-header_top) {

    .login,
    .register {

      @include media-breakpoint-up($desktop-breakpoint) {

        &:hover {
          background: none;
          color: $primary-color;

          &.alt {
            color: $secondary-color;
          }
        }
      }
    }
  }
}

.header-wrapper {
  height: 44px;

  @include media-breakpoint-up($desktop-breakpoint) {
    box-shadow: 0 0 5px rgba(#000, 0.3);
    background-color: $white;
    height: 50px;
  }
}

.header-mobile {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  display: flex;
  align-items: center;
  z-index: 5;
  box-shadow: 0 0 5px rgba(#000, 0.3);

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    background-color: $white;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    display: none;
    background: var(--white);
  }


}

.header_container {
  display: flex;
  align-items: center;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    height: 44px;
    background: var(--white);
    width: 100%;
  }

  .static-page.dark-theme & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      background: transparent;
    }
  }
}

.header-logo {
  display: flex;
  height: 44px;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  position: relative;
  text-indent: -999em;

  .not-authorized & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-left: 0;
    }
  }

  &_size {

    @include media-breakpoint-up($desktop-breakpoint) {
      height: 50px;
    }

    svg {

      .avn-style & {
        width: 45px;
        height: 34px;
        fill: $main-color;

        @include media-breakpoint-up($desktop-breakpoint) {
          width: 75px;
          height: 35px;
        }
      }

      &.gay-logo {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          width: 70px;
        }
      }
    }
  }

  &_center.header-logo {

    .main-header & {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__text {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: -999em;
  }

  svg {
    width: 105px;
    height: 26px;

    @include media-breakpoint-up($desktop-breakpoint) {
      width: 125px;
      height: 30px;
    }
  }
}

.logo {

  a,
  svg {
    display: block;
  }

  .a {
    fill: none;
  }

  .b, .e, .f {
    fill: #ff4081;
  }

  .c {
    fill: #9466ff;
  }

  .d {
    fill: #2196f3;
  }

  .e {
    opacity: 0.5;
  }

  .f {
    opacity: 0.2;
  }

  .cls-1 {
    fill: #e12027;
  }

  .cls-2 {
    fill: #fff;
  }

  .cls-1 {
    fill: #e12027;
  }
}

.page-title {
  font: inherit;
  font-weight: 500;
  padding: 0 0 0 56px;
  margin: 0 auto 0 0;
  @include ellipsis;
  font-size: 15px;

  &_reset-gl {

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-left: 0;
    }
  }

  .not-authorized & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding-left: 0;
    }
  }

  .user-login {
    font-weight: 400;
    opacity: 1;
  }
}

.header-avatar {
  font-size: 24px;
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 10;
  transition: transform 0.4s ease;
  cursor: pointer;

  @include media-breakpoint-up($desktop-breakpoint) {
    position: relative;
    top: auto;
    left: auto;
    font-size: 30px;
    margin: 0 0 0 15px;
    z-index: 1;
    transition-duration: .3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &:after {
    position: absolute;
    z-index: 10;
    left: -15px;
    right: -15px;
    top: -10px;
    bottom: -10px;
    content: "";

    @include media-breakpoint-up($desktop-breakpoint) {
      display: none;
    }
  }

  .avatar__img {

    &:before {
      display: none;
    }

    &:empty {

      &:before {
        display: flex;
        box-shadow: none;
      }
    }
  }

  .sidebar & {
    transform: translate(15px, 10px);

    .sidebar-shown & {
      transform: translate(33px, 32px) scale(2.083333333);
    }
  }

  .sidebar-shown & {
    transform: translate(18px, 22px) scale(2.083333333);
    @include media-breakpoint-up($desktop-breakpoint) {
      transform: none;
    }
    &:after {
      opacity: 1;
    }
  }
  .sidebar & {
    transition: transform 0.4s ease;
    @include media-breakpoint-up($desktop-breakpoint) {
      display: none;
    }
  }
}

.triangle-arrow {
  display: none;

  @include media-breakpoint-up($desktop-breakpoint) {
    display: block;
    position: absolute;
    top: 32px;
    left: calc(50% - 15px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;
    transform: translate(0, 20px);
    z-index: 0;
    opacity: 0;
    width: 28px;
    height: 15px;
    overflow: hidden;
  }

  &:after {
    content: "";
    background-color: $white;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.04);
    width: 17px;
    height: 17px;
    transform: rotate(45deg);
    position: absolute;
    top: 7px;
    left: 5px;
  }

  .sidebar-shown & {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.triangle-arrow {
  display: none;

  @include media-breakpoint-up($desktop-breakpoint) {
    display: block;
    position: absolute;
    top: 32px;
    left: calc(50% - 15px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;
    transform: translate(0, 20px);
    z-index: 0;
    opacity: 0;
    width: 28px;
    height: 15px;
    overflow: hidden;
  }

  &:after {
    content: "";
    background-color: $white;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.04);
    width: 17px;
    height: 17px;
    transform: rotate(45deg);
    position: absolute;
    top: 7px;
    left: 5px;
  }

  .sidebar-shown & {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.header-search {

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    display: none;
    margin: 0 40px;
    padding: 10px 0;
    position: static;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    width: 170px;
    margin-left: 22px;
  }
}

.btn-clear-search {
  position: absolute;
  opacity: 0.2;
  top: 50%;
  transform: translate(0, -50%);
  width: 17px;
  height: 21px;
  outline: none;

  .awards & {
    right: 50px;

    @include media-breakpoint-up($desktop-breakpoint) {
      right: 35px;
    }
  }

  .main-header_top & {
    right: 90px;

    @include media-breakpoint-up($desktop-breakpoint) {
      right: 32px;
    }
  }

  &_lg {
    width: 30px;
    height: 30px;
    right: 52px;
    font-size: 20px;

    .no-results & {
      right: 16px;

      @include media-breakpoint-up($desktop-breakpoint) {
        right: 20px;
      }
    }
  }

  .dark-theme & {
    color: $main-color;
  }
}

.SearchResultsPopupCollectionView {
  position: absolute;
  background: $white;
  padding: 17px 15px 22px;
  z-index: 10;

  &:before {

    .main-header_top & {
      content: "";
      position: absolute;
      top: 0;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        left: 15px;
        right: 15px;
        height: 1px;
        background: rgba($gray, 0.2);
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        position: absolute;
        content: "";
        right: auto;
        bottom: auto;
        top: -9px;
        left: 32px;
        background-color: $white;
        box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.04);
        width: 17px;
        height: 17px;
        transform: translate(0, 0) rotate(45deg);
        z-index: 0;
        pointer-events: none;
      }
    }
  }

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    left: 0;
    right: 0;
    top: 34px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    left: -18px;
    top: 47px;
    width: 320px;
    box-shadow: 0 6px 30px rgba(#000, 0.15);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 17px;
  }

  .awards & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 300px;
    }
  }

  .main-header_top & {
    top: 44px;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      height: calc(100vh - 44px);

      .scroll-top & {
        height: 100vh;
      }
    }
  }

  .search-all-link {

    a {

      span {
        color: $main-color;
      }
    }
  }
}

.search-query {
  padding: 3px 0 20px;
  margin-bottom: 18px;
  border-bottom: 1px solid rgba($gray, 0.2);

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: $secondary-color;
  }
}

.SearchResultsPopupView {
  padding-bottom: 2px;

  &:empty {
    padding: 0;
  }

  .user {
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
    color: inherit;
    margin: 0 0 13px;

    .awards & {

      &:last-child {
        margin-bottom: 0;
      }
    }

    .avatar {
      transition: transform 0.3s ease;
    }

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {

        .avatar {
          transform: scale(1.2);
        }
      }
    }
  }
}

.user {

  &__name {
    display: flex;
    align-items: center;
    align-content: center;
  }
}

.make-post-btn {

  @include media-breakpoint-up($desktop-breakpoint) {
    color: #fff;
    font-weight: 500;
    line-height: 1;

    &:hover {
      color: $secondary-color-darken;
    }
  }

  .icn-post {
    height: 24px;
    line-height: 24px;

    @include media-breakpoint-up($desktop-breakpoint) {
      vertical-align: middle;
    }
  }

  &_header {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      color: $primary-color;
      right: 0;
      top: 0;
      position: absolute;
      line-height: 24px;
      height: 44px;
      padding: 10px 15px;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      background: $primary-color;
      position: static;
      height: 30px;
      padding: 4px 14px;
      margin-left: 15px;
      font-size: 15px;

      &:hover {
        background: none;
        color: #fff;
        background: $primary-color-darken;
      }
    }

    .special-site-header & {

      @include media-breakpoint-up($desktop-breakpoint) {
        background-color: white;
        color: $main;
      }
    }

    .icn-post {

      @include media-breakpoint-up($desktop-breakpoint) {
        margin: 0 5px 0 -5px;
        transform: translateY(-2px);
      }
    }
  }

  &_feed {
    margin: 5px auto 0;
    border: none;
    padding: 0;
    background: none;
    display: block;
    font: inherit;
    font-weight: 500;
    text-align: center;
    width: 60px;
    transition: color .3s ease;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-top: 12px;
      width: auto;

      &:hover {
        background: none;
      }
    }
  }

  &_color-sec {
    color: $secondary-color;
  }

  .profile-actions & {

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-left: 10px;
      line-height: 18px;
    }
  }
}

.header-nav {
  height: 44px;
  display: flex;
  z-index: 9;
  background: $white;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 0 5px rgba(#000, 0.3);
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    height: 50px;
  }

  .scroll-bottom & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      top: 44px;
      position: fixed;
      left: 0;
      right: 0;
    }
  }

  &__item {
    width: 25%;
    text-align: center;
    padding: 2px 0 0;
    color: inherit;
    font-size: 9px;
    border-bottom: 2px solid transparent;
    font-weight: 500;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      line-height: 11px;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 5px 0 0;
      margin: 0 5px 0 0;
      transition: color 0.3s ease, border-color 0.3s ease;
      width: 80px;
    }

    span {
      opacity: 0.4;
      transition: opacity 0.3s ease;
    }
    &:before {
      opacity: 0.3;
      font-size: 24px;
      line-height: 30px;
      display: block;
      margin: 0 0 -2px;
      @include icon-font;

      @include media-breakpoint-up($desktop-breakpoint) {
        transition: opacity 0.3s ease;
      }
    }

    &.active {
      border-color: $secondary-color;
    }

    &.active {
      color: $primary-color;

      span,
      &:before {
        opacity: 1;
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {
        color: $primary-color;

        span,
        &:before {
          opacity: 1;
        }
      }
    }

    &.unread {
      position: relative;

      &:after {
        background: $secondary-color;
        width: 6px;
        height: 6px;
        content: "";
        position: absolute;
        border-radius: 1000px;
        left: 50%;
        margin-left: 16px;
        top: 7px;
        @include media-breakpoint-up($desktop-breakpoint) {
          margin-left: 13px;
          top: 10px;
        }
      }
    }
  }

  + .page-header-title {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-top: 20px;
    }
  }
}

.menu-item-home {
  &:before {
    content: "\E612";
  }
}
.menu-item-explore {
  &:before {
    content: "\E613";
  }
}
.menu-item-notifications {
  &:before {
    content: "\E614";
  }
}
.menu-item-messages {
  &:before {
    content: "\E615";
  }
}

.sidebar-shown.disable-scroll-page {
  @include media-breakpoint-up($desktop-breakpoint) {
    overflow: auto;
  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
  width: calc(100vw - 55px);
  max-width: 320px;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    @media screen and (orientation: landscape) {
      max-width: 800px;
    }
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    right: calc(50% - 460px);
    left: auto;
    z-index: 10;
    bottom: auto;
    width: 300px;
    max-width: 100%;
    top: -10000px;
    transition: opacity 0.4s ease, transform 0.4s ease, top 0s linear 0.4s;
    overflow: visible;
  }

  &:before {
    content: "";
    position: fixed;
    left: 0;
    top: -70px;
    bottom: 0;
    background: $white;
    box-shadow: 0 0 30px rgba(#000, 0.4);
    z-index: -1;
    width: calc(100vw - 55px);
    max-width: 320px;
    transform: translate(-100%, 70px);
    transition: transform 0.4s ease;
    padding-bottom: 70px;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      @media screen and (orientation: landscape) {
        max-width: 800px;
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      display: none;
    }

    .sidebar-shown & {
      transform: translate(0, 0);
    }
  }

  &__wrap-close {
    width: calc(100vw - 55px);
    max-width: 320px;
    position: fixed;
    left: 0;
    top: 14px;
    transform: translate(-100%, 0);
    transition: transform 0.4s ease;
    z-index: 5;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      @media screen and (orientation: landscape) {
        max-width: 800px;
      }
    }

    .sidebar-shown & {
      transform: translate(0, 0);
    }
  }

  &__header {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      @media screen and (orientation: landscape) {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;

        > div {
          flex: 0 0 50%;
          margin: 0;
          padding-bottom: 20px;
          padding-right: 20px;
          position: relative;
          max-width: 50%;

          &:after {
            content: "";
            background-color: rgba($gray, 0.2);
            position: absolute;
            bottom: 0;
            top: 0;
            right: 0;
            width: 1px;
          }
        }
      }
    }
  }

  &__scroller {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: transform 0.4s ease;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    .sidebar-shown & {
      transform: translate(0, 0);
    }

    &::-webkit-scrollbar {
      display: none;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      max-height: calc(100vh - 70px);
      box-shadow: 0 6px 30px rgba(#000, 0.15);
      overflow-y: auto;
      transform: translate(0, 20px);
      bottom: auto;
      padding-top: 21px;
      border-radius: 4px;
      width: auto;
      background: $white;
    }

    .ps__rail-y {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  &__inside {
    transform: translate(-100%, 0);
    transition: transform 0.4s ease;
    padding-top: 81px;
    flex-direction: column;
    flex: 0 0 100%;
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      @media screen and (orientation: landscape) {
        padding-top: 24px;
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 0;
      width: auto;
      transform: translate(0, 0);
    }

    .sidebar-shown & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        transform: translate(0, 0);
      }
    }
  }

  &-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .sidebar-shown & {
    opacity: 1;
    pointer-events: auto;

    @include media-breakpoint-up($desktop-breakpoint) {
      top: 57px;
      transition: opacity 0.4s ease, transform 0.4s ease, top 0s linear;
    }
  }

  .header-avatar {
    position: relative;
    left: auto;
    top: auto;
    flex: 0 0 auto;
    margin-bottom: -24px;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      @media screen and (orientation: landscape) {
        position: absolute;
        left: 0;
        right: 0;
      }
    }
  }
}

.user-group-info {
  margin-bottom: 20px;

  @include media-breakpoint-up($desktop-breakpoint) {
    margin-bottom: 12px;
  }

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    @media screen and (orientation: landscape) {
      margin-bottom: 0;
      padding-left: 85px;
    }
  }
}

.user-menu {
  flex: 0 1 100%;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    @media screen and (orientation: landscape) {
      display: flex;
      flex-direction: row;
      flex: 1;
    }
  }

  &__col {
    padding-bottom: 9px;
    margin-bottom: 9px;
    position: relative;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      @media screen and (orientation: landscape) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-bottom: 12px;
      margin-bottom: 11px;
    }

    &:after {
      content: "";
      height: 1px;
      background-color: rgba($gray, 0.2);
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 0;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        @media screen and (orientation: landscape) {
          top: 0;
          left: auto;
          right: 0;
          height: auto;
          width: 1px;
        }
      }
    }

    &:last-child {
      @include media-breakpoint-up($desktop-breakpoint) {
        padding-bottom: 0;
        margin-bottom: 0;
      }

      &:after {
        display: none;
      }
    }
  }

  &-item {
    display: block;
    font-size: 16px;
    padding: 11px 0 12px 56px;
    position: relative;
    color: inherit;
    transition: color 0.3s ease;

    @include media-breakpoint-up($desktop-breakpoint) {
      font-size: inherit;
      padding-bottom: 10px;

      &:hover {
        color: $secondary-color;

        &:after {
          transform: scale(1.3);
        }
      }
    }

    &:after {
      position: absolute;
      left: 20px;
      top: 50%;
      line-height: 0;
      font-size: 24px;
      opacity: 0.3;
      color: $main-color;
      @include media-breakpoint-up($desktop-breakpoint) {
        transition: transform 0.3s ease;
      }
    }
    &__profile {
      &:after {
        content: "\E63F";
      }
    }
    &__award {

      &-avn {

        &:after {
          content: "\E675";
        }
      }

      &-gayvn {

        &:after {
          content: "\E679";
          left: 23px;
        }
      }
    }
    &__statistics {
      &:after {
        content: "\E639";
      }
    }
    &__payouts {
      &:after {
        content: "\E63C";
      }
    }
    &__payments {
      &:after {
        content: "\E63B";
      }
    }
    &__privacy {
      &:after {
        content: "\E62F";
      }
    }
    &__help {
      &:after {
        content: "\E640";
      }
    }
    &__logout {
      &:after {
        content: "\E63D";
      }
    }
    &__subscribers {
      &:after {
        content: "\E630"
      }
    }
  }
  hr {
    height: 1px;
    background: rgba($gray, 0.2);
    border: none;
    margin: 9px 20px 9px;
    @include media-breakpoint-up($desktop-breakpoint) {
      margin: 12px 20px 11px;
    }
  }
  &-name {
    padding: 0 20px 3px;
    font-size: 17px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    align-content: center;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      @media screen and (orientation: landscape) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    a {
      color: inherit;
    }
  }
  &-login {
    padding-left: 20px;
    padding-right: 20px;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      @media screen and (orientation: landscape) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &.user-login {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        min-width: 100%;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        flex: 0 0 100%;
      }
    }
  }
  &-counts {
    padding-bottom: 12px;
    margin: 0 20px 9px;
    border-bottom: 1px solid rgba($gray, 0.2);

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      @media screen and (orientation: landscape) {
        border-bottom: none;
        padding: 0 20px;
        margin: 0;
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-bottom: 11px;
    }

    &-item {
      padding-right: 17px;
      padding-bottom: 10px;
      color: inherit;
      display: inline-block;
      vertical-align: top;
      transition: color 0.3s;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        @media screen and (orientation: landscape) {
          margin-bottom: 0;
          margin-top: 10px;
        }
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-right: 25px;
      }
      &-count {
        font-weight: 500;
      }
      &-title {
        opacity: 0.5;
        @include media-breakpoint-up($desktop-breakpoint) {
          font-size: 11px;
        }
      }
    }
  }
  &-bottom-btns {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    flex: 0 0 auto;
    margin: auto 0 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 10px;
    }
  }
  &-bottom-btn {
    padding: 16px 20px;
    line-height: 26px;
    color: $primary-color;
    cursor: pointer;

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {
        color: $primary-color-darken;
      }
    }

    &:before {
      @include icon-font;
    }

    &__qr {
      &:before {
        content: "\E63A";
      }
    }
  }

  &-close {
    color: $primary-color;
    width: 36px;
    height: 36px;
    border-radius: 1000px;
    box-sizing: content-box;
    background-color: $white;
    position: absolute;
    right: 12px;
    top: 0;
  }
}
.header-return-btn {
  position: absolute;
  left: 0;
  top: 0;
  height: 44px;
  min-width: 54px;
  z-index: 5;
  cursor: pointer;
  border: none;
  background: none;
  color: $primary-color;

  &:before {
    font-size: 24px;
    @include icon-font;
  }

  &.go-back {

    .popup-title & {

      @include media-breakpoint-up($desktop-breakpoint) {
        display: none;
      }
    }
  }

  .not-authorized & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: none;
    }
  }

  @include media-breakpoint-up($desktop-breakpoint) {

    &:hover {
      color: $primary-color;
    }
  }

  &_icn-abs {

    &:before {
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.go-back {
    padding: 7px 15px;
    display: flex;
    align-items: center;
    align-content: center;

    &:before {
      display: inline-block;
      vertical-align: middle;
      width: 1.1em;
    }

    &_arrow {

      &:before {
        content: "\E606";
      }
    }

    &_times {

      &:before {
        content: "\E605";
      }
    }
  }

  .storyviewers-controls &{
    position: relative;
    left: auto;
    top: auto;
    margin: -4px 0 0 -17px;
  }
}
.header-popup-menu-btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 44px;
  width: 54px;
  z-index: 5;
  cursor: pointer;
  &:before {
    content: "";
    @include position-center;
    height: 4px;
    width: 16px;
    background-image: radial-gradient(circle, #fff 50%, transparent 50%);
    background-size: 6px 4px;
    background-position: 5px 0;
  }
}

.not-authorized {

  &:not(.static-page) {

    .header-logo {

      @include media-breakpoint-up($desktop-breakpoint) {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &.special-site-header:not(.not-authorized) {

    .header-scrolled {

      .main-header {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          transform: translate3d(0, -44px, 0);
        }
      }
    }

    .sticky-header-controls {

      .header-return-btn,
      .profile-more-functions {
        display: none;
      }

      .profile-name__header {
        padding: 0 20px;
      }
    }
  }

  .main-header {

    .login {
      filter: none;
    }
  }


}

.btns-login-user {
  margin-right: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  align-content: center;
}