.stream,
.storyOverlay {

  .category-name {
    color: #fff;
  }
}

.category-name {
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  margin: auto 0 auto 15px;
  color: $main-color;
  font-weight: 500;

  @include media-breakpoint-up($desktop-breakpoint) {
    margin-left: 38px;
  }
}

.mediasTop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;

  @include media-breakpoint-up($desktop-breakpoint) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  &:before,
  &:after {
    position: absolute;
    pointer-events: none;
    content: "";
    z-index: 1;
    opacity: .2;
    left: 0;
    right: 0;
  }

  &:before {
    top: 0;
    bottom: -15px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, transparent 100%);
  }

  &:after {
    bottom: 0;
    height: 1px;
    background: #fff;
    display: none;

    @include media-breakpoint-up($desktop-breakpoint) {
      height: 2px;
    }
  }

  .add-new-type {
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      position: relative;
      left: auto;
      right: auto;
      top: auto;
    }
  }

  &__header {
    padding: 13px 15px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    position: relative;

    @include media-breakpoint-up($desktop-breakpoint) {
      border-bottom-width: 2px;
      padding: 5px 4em 3px 1em;
    }

    &-underlined {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .addTextButton.btn {
      background-color: transparent;
      color: #fff;
      width: auto;
      height: auto;
      padding: 3px 5px;
      display: none;
    }

    .newStory {
      min-width: 72px;
    }

    .category-name {
      position: relative;

      @include media-breakpoint-up($desktop-breakpoint) {
        margin-left: 6px;
        padding: 15px 0 15px 30px;
        font-size: 17px;
      }

      &:after {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: none;

        @include media-breakpoint-up($desktop-breakpoint) {
          display: block;
        }
      }

      &_live {

        .stream_enabled & {
          opacity: 0;
          pointer-events: none;
        }

        &:after {
          content: "\e89a";
        }
      }

      &_story {

        &:after {
          content: "\e8c1";
        }
      }
    }
  }
}

.mediasHeaderControls {
  margin-left: auto;
  display: flex;
  justify-content: end;

  .btn {
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      width: 72px;
    }
  }

  .notifications {
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-top: -17px;
    }
    @include media-breakpoint-down($tablet-breakpoint-dcrs) {
      .menu {
        margin-top: -12px;
      }
    }

    @include media-breakpoint-up($desktop-breakpoint-dcrs) {
      margin-top: -3px;
      .menu {
        left: 20%;
        margin-right: 30px;
        margin-top: 6px;
      }
    }
  }
  @include media-breakpoint-up($desktop-breakpoint-dcrs) {
    #stop {
      display: none;
    }
  }
}

.stream-header {

  .close {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-right: 0;
      margin-left: auto;
    }
  }
}

.texteditor {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 104px 20px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 162px 40px;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
  }

  textarea {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 0;
    color: #fff;
    font-weight: 500;
    font-size: 21px;
    text-align: center;
    position: relative;
    z-index: 2;
    caret-color: $secondary-color;

    &:focus {
      outline: none;
      border: none;
      background-color: transparent;
    }
  }

  .mediasBottom {
    display: none;

    @include media-breakpoint-up($desktop-breakpoint) {
      display: block;
    }

    .addTextButton.btn {
      width: 162px;
      color: $main;
      background-color: rgba(255, 255, 255, 1);
      opacity: 0.7;
    }
  }
}

.mediasBottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3.3em;
  z-index: 2;

  @include media-breakpoint-up($desktop-breakpoint) {
    bottom: 4em;
  }

  .stream & {

    .stream_stop & {
      display: none;
    }
  }
}

.story-text-info {
  color: #fff;
  position: absolute;
  top: calc(100% + 15px);
  text-align: center;
  left: 0;
  right: 0;
  font-size: 13px;

  @include media-breakpoint-up($desktop-breakpoint) {
    top: calc(100% + 20px);
  }
}