@import "imports";

.icn {
  width: 1em;
  height: 1em;

  &-plus {
    fill: $secondary-color;

    .story-avatar & {
      fill: $primary-color;
    }
  }

  &-viewer,
  &-share,
  &-download {

    &:after {
      font-size: 26px;
      width: 26px;
      height: 26px;
    }
  }

  &-viewer {

    &:after {
      content: "\E633";
    }
  }

  &-remove {
    fill: $gray;
    transition: fill .3s;

    &:hover {
      fill: darken(rgba($gray, 0.5), 10%);
    }

    &:after {
      content: "\E648";
      font-size: 23px;
      width: 23px;
      height: 23px;
    }
  }

  &-share {
    height: 26px;
    line-height: 26px;

    &:after {
      content: "\E638";
    }
  }

  &-theme {

    &:after {
      content: "\E636";
    }

    .dark-theme & {

      &:after {
        content: "\E637";
      }
    }
  }

  &-download {

    &:after {
      content: "\E64C";
    }
  }

  &-media {

    .add-new-form.expanded & {
      margin-right: 4px;
    }

    &:after {
      content: "\E61A";
    }
  }


  &-file-pdf {
    padding: 3px;
    &:after {
      content: "\f1c1";
    }
    &.icn-size_lg:after {
      font-size: 18px;
    }
  }

  &-tips {

    &:after {
      content: "\E618";
    }
  }

  &-msg {

    &:after {
      content: "\E622";
    }
  }

  &-settings {
    &:after {
      content: "\E62F";
    }
  }

  &-clock {
    &:after {
      content: "\E620";
    }
  }

  &-camera {

    &:after {
      content: "\E635";
    }
  }

  &-photos {

    &:after {
      content: "\E634";
    }
  }

  &-live {

    &:after {
      content: "\E621";
    }
  }

  &-pinned {
    margin-left: auto;
    padding-left: 8px;

    &:after {
      content: "\E670";
      color: $secondary-color;
    }

    .lightbox-post & {

      .explore-page & {
        display: none;
      }
    }
  }

  &-pin {
    width: 20px;
    height: 20px;
    transform: translateY(-3px);

    &:after {
      content: "\E683";
    }
  }

  &-twitter {

    &:after {
      content: "\E61F";
    }
  }

  &-calendar {

    &:after {
      content: "\E667";
    }
  }

  &-replaced {

    &:after {
      content: "\E647";
      font-size: 22px;
    }
  }

  &-post {

    &:after {
      content: "\E611";
    }
  }

  &-link {

    &:after {
      content: "\E684";
    }
  }

  &-userp {

    &:after {
      content: "\E630";
    }
  }

  &-profile {

    &:after {
      content: "\E63F";
    }
  }

  &-price {

    &:after {
      content: "\E62E";
    }
  }

  &-item {
    display: inline-block;
    vertical-align: top;

    &:after {
      @include icon-font;
    }
  }

  &-size {

    &_md {

      &:after {
        font-size: 19px;
      }
    }

    &_lg {

      &:after {
        font-size: 24px;
      }
    }

    &_extralg {

      &:after {
        font-size: 34px;
      }
    }
  }

  &-locked {

    &:after {
      content: "\E61B";
    }
  }

  &-unlocked {

    &:after {
      content: "\E61C";
    }
  }

  &-radio {

    &-checked {
      &:after {
        content: "\E60D";
      }
    }

    &-unchecked {
      &:after {
        content: "\E60E";
      }
    }

  }

  &-pos {

    &_center {

      &:after {
        @include position-center;
      }
    }
  }

  &-web {

    &:after {
      content: "\E685";
    }
  }

  &-snapchat {

    &:after {
      content: "\E686";
    }
  }

  &-other {

    &:after {
      content: "\E687";
    }
  }

  &-read {

    &:after {
      content: "\E603";
    }
  }

  &-block {
    color: red;
    height: 22px;
    line-height: 22px;
    transition: color .3s;

    .btn-block & {
      color: $main-color;
      opacity: .3;
    }

    .btn-block.active & {
      color: red;
      opacity: 1;
    }

    &:after {
      content: "\E668";
      font-size: 18px;
      width: 18px;
      height: 18px;

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 20px;
        width: 20px;
        height: 20px;
      }
    }
  }

  &-kick{
    height: 22px;
    line-height: 22px;
    transition: color .3s;

    .btn-block & {
      color: $main-color;
      opacity: .3;
    }

    &:after {
      content: "\E64B";
      font-size: 18px;
      width: 18px;
      height: 18px;
    }
  }


  &-gender {

    &:after {
      display: block;
      font-size: 18px;
      line-height: 20px;
      z-index: 0;
    }

    &.trans:after {
      content: "\e671";
    }
    &.Gay:after {
      content: "\E676";
    }
    &.straight:after {
      content: "\E677";
    }
    &.everyone:after {
      content: "\E678";
    }
  }

  &-award {

    &:after {
      content: "\E675";
    }
  }

  &-avn {

    &:after {
      content: "\E675";
    }
  }

  &-gayvn {

    &:after {
      content: "\E679";
    }
  }

  &-retweet {

    &:after {
      content: "\E801";
    }
  }

  &-edit {

    &:after {
      content: "\E623";
    }
  }

  &-close {

    &:after {
      content: "\E605";
    }
  }

  &-google {
    &:after {
      content: "\F0d5";
    }
  }

  &-message {
    &:after {
      content: "\E615"
    }
  }

  &-coments {
    &:after {
      content: "\E617"
    }
  }

  &-th {
    &:after {
      content: '\e803';
    }
  }
  &-th-list {
    &:after {
      content: '\e804';
    }
  }


}
