@import "imports";

.icn {
  width: 1em;
  height: 1em;

  &-plus {
    fill: $secondary-color;

    .story-avatar & {
      fill: $primary-color;
    }
  }

  &-viewer,
  &-share,
  &-download {

    &:after {
      font-size: 26px;
      width: 26px;
      height: 26px;
    }
  }

  &-viewer {

    &:after {
      content: "\E633";
    }
  }

  &-remove {
    fill: $gray;
    transition: fill .3s;

    &:hover {
      fill: darken(rgba($gray, 0.5), 10%);
    }

    &:after {
      content: "\E648";
      font-size: 23px;
      width: 23px;
      height: 23px;
    }
  }

  &-share {
    height: 26px;
    line-height: 26px;

    &:after {
      content: "\E638";
    }
  }

  &-download {

    &:after {
      content: "\E64C";
    }
  }


  &-item {
    display: inline-block;
    vertical-align: top;

    &:after {
      @include icon-font;
    }
  }

  &-block {;
    color: red;
    height: 22px;
    line-height: 22px;
    transition: all .3s;

    .btn-block & {
      color: $main-color;
      opacity: .3;
    }

    .btn-block.active & {
      color: red;
      opacity: 1;
    }

    &:after {
      content: "\E668";
      font-size: 18px;
      width: 18px;
      height: 18px;

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 20px;
        width: 20px;
        height: 20px;
      }
    }
  }
}