@import "imports";

.icn {
  width: 1em;
  height: 1em;

  &-plus {
    fill: $secondary-color;

    .story-avatar & {
      fill: $primary-color;
    }
  }

  &-viewer,
  &-share,
  &-download {

    &:after {
      font-size: 26px;
      width: 26px;
      height: 26px;
    }
  }

  &-viewer {

    &:after {
      content: "\e8a5";
    }
  }

  &-remove {
    fill: $gray;
    transition: fill .3s;

    &:hover {
      fill: darken(rgba($gray, 0.5), 10%);
    }

    &:after {
      content: "\e8c3";
      font-size: 23px;
      width: 23px;
      height: 23px;
    }
  }

  &-share {
    height: 26px;
    line-height: 26px;

    &:after {
      content: "\e8b8";
    }
  }

  &-theme {

    &:after {
      content: "\e8a2";
    }

    .dark-theme & {

      &:after {
        content: "\e8a1";
      }
    }
  }

  &-download {

    &:after {
      content: "\e8c7";
    }
  }

  &-media {

    .add-new-form.expanded & {
      margin-right: 4px;
    }

    &:after {
      content: "\e8b5";
    }
  }

  &-file-pdf {
    padding: 3px;
    &:after {
      content: "\f1c1";
    }
    &.icn-size_lg:after {
      font-size: 18px;
    }
  }

  &-tips {

    &:after {
      content: "\e893";
    }
  }

  &-msg {

    &:after {
      content: "\e89b";
    }
  }

  &-settings {
    &:after {
      content: "\e8a9";
    }
  }

  &-clock {
    &:after {
      content: "\e8c1";
    }
  }

  &-camera {

    &:after {
      content: "\e8a3";
    }
  }

  &-photos {

    &:after {
      content: "\e8a4";
    }
  }

  &-live {

    &:after {
      content: "\e89a";
    }
  }

  &-pinned {
    margin-left: auto;
    padding-left: 8px;

    &:after {
      content: "\e8dd";
      color: $secondary-color;
    }

    .lightbox-post & {

      .explore-page & {
        display: none;
      }
    }
  }

  &-pin {
    width: 20px;
    height: 20px;
    transform: translateY(-3px);

    &:after {
      content: "\e8ea";
    }
  }

  &-twitter {

    &:after {
      content: "\e899";
    }
  }

  &-calendar {

    &:after {
      content: "\e8da";
    }
  }

  &-replaced {

    &:after {
      content: "\e8c2";
      font-size: 22px;
    }
  }

  &-post {

    &:after {
      content: "\e88c";
    }
  }

  &-link {

    &:after {
      content: "\e8eb";
    }
  }

  &-userp {

    &:after {
      content: "\e8a8";
    }
  }

  &-profile {

    &:after {
      content: "\e8bf";
    }
  }

  &-price {

    &:after {
      content: "\e8aa";
    }
  }

  &-item {
    display: inline-block;
    vertical-align: top;

    &:after {
      @include icon-font;
    }
  }

  &-size {

    &_md {

      &:after {
        font-size: 19px;
      }
    }

    &_lg {

      &:after {
        font-size: 24px;
      }
    }

    &_extralg {

      &:after {
        font-size: 34px;
      }
    }
  }

  &-locked {

    &:after {
      content: "\e895";
    }
  }

  &-unlocked {

    &:after {
      content: "\e896";
    }
  }

  &-radio {

    &-checked {
      &:after {
        content: "\e888";
      }
    }

    &-unchecked {
      &:after {
        content: "\e889";
      }
    }

  }

  &-pos {

    &_center {

      &:after {
        @include position-center;
      }
    }
  }

  &-web {

    &:after {
      content: "\e8ec";
    }
  }

  &-snapchat {

    &:after {
      content: "\e8ed";
    }
  }

  &-other {

    &:after {
      content: "\e8ee";
    }
  }

  &-read {

    &:after {
      content: "\e87f";
    }
  }

  &-block {
    color: red;
    height: 22px;
    line-height: 22px;
    transition: color .3s;

    .btn-block & {
      color: $main-color;
      opacity: .3;
    }

    .btn-block.active & {
      color: red;
      opacity: 1;
    }

    &:after {
      content: "\e8db";
      font-size: 18px;
      width: 18px;
      height: 18px;

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 20px;
        width: 20px;
        height: 20px;
      }
    }
  }

  &-kick{
    height: 22px;
    line-height: 22px;
    transition: color .3s;

    .btn-block & {
      color: $main-color;
      opacity: .3;
    }

    &:after {
      content: "\e8c6";
      font-size: 18px;
      width: 18px;
      height: 18px;
    }
  }


  &-gender {

    &:after {
      display: block;
      font-size: 18px;
      line-height: 20px;
      z-index: 0;
    }

    &.trans:after {
      content: "\e8de";
    }
    &.Gay:after {
      content: "\e8e3";
    }
    &.straight:after {
      content: "\e8e4";
    }
    &.everyone:after {
      content: "\e8e5";
    }
  }

  &-award {

    &:after {
      content: "\e8e2";
    }
  }

  &-avn {

    &:after {
      content: "\e8e2";
    }
  }

  &-gayvn {

    &:after {
      content: "\e8e6";
    }
  }

  &-retweet {

    &:after {
      content: "\E801";
    }
  }

  &-edit {

    &:after {
      content: "\e8c0";
    }
  }

  &-pencil {

    &:after {
      content: "\e806";
    }
  }

  &-close {

    &:after {
      content: "\e881";
    }
  }

  &-google {
    &:after {
      content: "\F0d5";
    }
  }

  &-message {
    &:after {
      content: "\e890"
    }
  }

  &-coments {
    &:after {
      content: "\e892"
    }
  }

  &-th {
    &:after {
      content: '\e803';
    }
  }
  &-th-list {
    &:after {
      content: '\e804';
    }
  }

  &-dollar {
    &:after {
      content: '\e805'; /* '\1f4b5' */
    }
  }

  &-microphone {
    &:after {
      content: "\e8af";
    }
  }

  &-stop {
    color: $primary-color;
    &:after {
      content: '\e808';
    }
  }


}
