

.loader-infinity {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

  .notifications & {

    @include media-breakpoint-up($desktop-breakpoint) {
      background-color: $white;
      margin-top: -5px;
      border-radius: 0 0 5px 5px;
    }
  }
}

.loader-content {
  height: 130px;
  text-align: center;

  .notifications-container &,
  .searchView & {

    @include media-breakpoint-up($desktop-breakpoint) {
      height: 92px;
    }
  }

  &_tgap {
    padding-top: 40px;
    height: 82px;
  }
}

.lds-dual-ring {
  display: inline-block;

  .loader-content & {
    background-color: transparent;
  }

  &.rounded {
    border-radius: 50%;
  }

  &.colored {
    background-color: $white;
  }

  &.transparent {
    background-color: transparent;

    .loader-text {
      color: $main-color;
    }
  }

  &.semitransparent {
    background-color: transparent;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $white;
      opacity: .4;
    }

    .loader-text {
      color: $main-color;
    }
  }

  &:not(.with-text) {

    &:after {
      content: " ";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: url(#{$assetPath}/img/loading.svg) no-repeat 0 0 / cover;
      animation: lds-dual-ring 1.2s linear infinite;

      @include media-breakpoint-up($desktop-breakpoint) {
        width: 66px;
        height: 66px;
      }
    }
  }

  &.with-text {

    &:not(.inline-loader) {

      .loader-text {

        &:after {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .loader-text {

      &:after {
        content: " ";
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: url(#{$assetPath}/img/loading.svg) no-repeat 0 0 / cover;
        animation: lds-dual-ring 1.2s linear infinite;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }

    &.small {

      .loader-text {
        padding-top: 44px;

        &:after {
          top: 20px;
        }
      }
    }

    &:not(.small) {

      .loader-text {
        padding-top: 70px;

        &:after {
          top: 33px;

          @include media-breakpoint-up($desktop-breakpoint) {
            width: 66px;
            height: 66px;
          }
        }
      }
    }
  }

  &:not(.not-fullscreen),
  &.not-fullscreen:not(.inline-loader) {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &:not(.not-fullscreen) {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;

    &.page-loader {
      background-color: $white;

      .loader-text {
        color: $main-color;
      }
    }
  }

  &.not-fullscreen {

    &:not(.inline-loader) {
      position: absolute;
      z-index: 11; //just beneath header
    }
  }

  &.not-fullscreen:not(.inline-loader) {

    &.with-text {

      .loader-text {

        .loader-content & {
          top: auto;
          bottom: 10px;
          transform: translate(-50%, 0);
        }

        &.lowered {
          top: 75%;
        }
      }
    }
  }

  &.text-dark {
    color: $main-color;
  }

  &.text-light {
    color: $white;
  }

  //&.inline {
  //  position: relative;
  //  width: 40px;
  //  height: 40px;
  //  vertical-align: middle;
  //  z-index: 0;
  //  margin-left: auto;
  //  margin-right: auto;
  //
  //  &:after {
  //    width: 20px;
  //    height: 20px;
  //    margin-top: 0;
  //  }
  //}

  &.small {

    .loader-text {

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 13px;
      }

      &:after {
        width: 40px;
        height: 40px;
      }
    }

    &.no-text {

      .loader-text {
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;

        &:after {
          margin-top: 0;
        }
      }
    }
  }

  &:not(.small) {

    .loader-text {

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 18px;
      }
    }
  }

  .loader-text {
    font-weight: 400;
    position: relative;
    text-align: center;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      font-size: 13px;
    }

    .loader-content & {
      color: $main-color;
    }
  }

  &.solid {
    background-color: $white;
  }
}

.loaderWrap {
  position: relative;
}

.processing-loader {
  display: block;
  pointer-events: none;

  .loader-text {
    text-align: center;
  }

  &.transparent {

    .loader-text {
      color: #fff;
      width: 100%;
    }
  }
}

.loader-container {
  position: relative;

  &_payouts {
    margin-bottom: 20px;

    .lds-dual-ring.with-text {

      .loader-text {
        transform: translate(-50%, -50%);

        &:after {
          margin-top: 0;
        }
      }
    }
  }

  .settings-page & {
    min-height: 60px;
  }

  .session-content & {
    min-height: 70px;
  }

  .payments & {
    min-height: 80px;
  }

  .searchView & {
    flex: 1;
  }


  .payments .payment-card & {
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      min-height: 20px;

      .lds-dual-ring {
        top: 40px;
      }
    }
  }

  &_center {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;

    .lds-dual-ring {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;

      .chatCollectionContent & {
        top: 48px;

        @include media-breakpoint-up($desktop-breakpoint) {
          top: 60px;
        }
      }
    }
  }
}

.loader-wrapper {
  text-align: center;

  .lds-dual-ring {
    margin-top: -24px;
  }
}

.loader-stories {
  height: 88px;
  position: relative;
  text-align: center;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    width: 50px;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    margin-top: 10px;
  }

  .lds-dual-ring {

    @include media-breakpoint-up($desktop-breakpoint) {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      height: 50px;
    }

    .loader-text {
      font-size: 11px;

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 13px;
        line-height: 18px;
        font-weight: 700;
        padding-left: 74px;
      }
    }

    &.with-text {

      &.small {

        .loader-text {
          padding-top: 65px;

          @include media-breakpoint-up($desktop-breakpoint) {
            padding-top: 0;
          }

          &:after {
            width: 50px;
            height: 50px;
            top: 33px;

            @include media-breakpoint-up($desktop-breakpoint) {
              transform: translate(0, -50%);
              left: 25px;
              top: 9px;
            }
          }
        }
      }
    }
  }
}