

.loader-content {
  height: 130px;
  text-align: center;

  &_tgap {
    padding-top: 40px;
    height: 82px;
  }
}

.lds-dual-ring {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;

  .loader-content & {
    background-color: transparent;
  }

  &.rounded {
    border-radius: 50%;
  }

  &.transparent {
    background-color: transparent;

    .loader-text {
      color: $main-color;
    }
  }

  &.semitransparent {
    background-color: transparent;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $white;
      opacity: .4;
    }

    .loader-text {
      color: $main-color;
    }
  }

  &.page-loader {
    background-color: $white;

    .loader-text {
      color: $main-color;
    }
  }

  &.with-text {

    &:after {
      display: none;
    }

    .loader-text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, calc(-50% + 30px));

      .loader-content & {
        top: auto;
        bottom: 10px;
        transform: translate(-50%, 0);
      }

      .notifications-container & {

        .popup & {

          @include media-breakpoint-up($desktop-breakpoint) {
            font-size: 13px;
            bottom: auto;
            top: 50%;
            transform: translate(-50%, calc(-50% + 22px));
          }

          &:after {

            @include media-breakpoint-up($desktop-breakpoint) {
              width: 36px;
              height: 36px;
              margin-top: -30px;
            }
          }
        }
      }

      &.lowered {
        top: 75%;
      }
    }
  }

  &.not-fullscreen {
    position: absolute;
    z-index: 11; //just beneath header
  }

  &.inline {
    position: relative;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;

    &:after {
      width: 20px;
      height: 20px;
      margin-top: 0;
    }
  }

  &.small {

    .loader-text {
      font-size: 13px;

      &:after {
          width: 40px;
          height: 40px;
          margin-top: -40px;
      }
    }

    &.no-text {

      .loader-text {
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;

        &:after {
          margin-top: 0;
        }
      }
    }
  }

  .loader-text {
    color: #fff;
    font-size: 13px;
    font-weight: 400;

    @include media-breakpoint-up($desktop-breakpoint) {
      font-size: 18px;
    }

    .loader-content & {
      color: $main-color;
    }

    &:after {
      margin-top: -50px;

      @include media-breakpoint-up($desktop-breakpoint) {
        margin-top: -60px;
      }
    }
  }

  &.solid {
    background-color: $white;
  }
}

.loaderWrap {
  position: relative;
}

.processing-loader {
  display: block;
  pointer-events: none;

  .loader-text {
    text-align: center;
  }

  &.transparent {

    .loader-text {
      color: #fff;
      width: 100%;
    }
  }
}

.lds-dual-ring,
.loader-text {

  &:after {
    content: " ";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url(#{$assetPath}/img/loading.svg) no-repeat 0 0 / cover;
    animation: lds-dual-ring 1.2s linear infinite;

    @include media-breakpoint-up($desktop-breakpoint) {
      width: 66px;
      height: 66px;
    }
  }
}

.loader-container {
  position: relative;

  &_payouts {
    margin-bottom: 20px;

    .lds-dual-ring.with-text {

      .loader-text {
        transform: translate(-50%, -50%);

        &:after {
          margin-top: 0;
        }
      }
    }
  }

  .settings-page & {
    min-height: 60px;
  }

  .session-content & {
    min-height: 70px;
  }

  .payments & {
    min-height: 80px;
  }


  .payments .payment-card & {
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      min-height: 20px;

      .lds-dual-ring {
        top: 40px;
      }
    }
  }

}

.loader-wrapper {
  text-align: center;

  .lds-dual-ring {
    margin-top: -24px;
  }
}
