
@keyframes lds-dual-ring {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loader-content {
  height: 120px;
}

.lds-dual-ring {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;

  .loader-content & {
    background-color: transparent;
  }

  &.transparent {
    background-color: transparent;

    .loader-text {
      color: $main-color;
    }
  }

  &.page-loader {
    background-color: $white;

    .loader-text {
      color: $main-color;
    }
  }

  &.with-text {

    &:after {
      display: none;
    }

    .loader-text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      .loader-content & {
        top: auto;
        bottom: 10px;
        transform: translate(-50%, 0);
      }

      &.lowered {
        top: 75%;
      }
    }
  }

  &.not-fullscreen {
    position: absolute;
    z-index: 11; //just beneath header
  }

  &.small {

    .loader-text {
      font-size: 13px;

      &:after {
          width: 40px;
          height: 40px;
          margin-top: -40px;
      }
    }
  }

  .loader-text {
    color: #fff;
    font-size: 13px;
    font-weight: 400;

    @include media-breakpoint-up($desktop-breakpoint) {
      font-size: 18px;
    }

    .loader-content & {
      color: $main-color;
    }

    &:after {
      margin-top: -50px;

      @include media-breakpoint-up($desktop-breakpoint) {
        margin-top: -60px;
      }
    }
  }
}

.loaderWrap {
  position: relative;
}

.lds-dual-ring,
.loader-text {

  &:after {
    content: " ";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url(#{$assetPath}/img/loading.svg) no-repeat 0 0 / cover;
    animation: lds-dual-ring 1.2s linear infinite;

    @include media-breakpoint-up($desktop-breakpoint) {
      width: 66px;
      height: 66px;
    }
  }
}

.loader-container {
  position: relative;

  .settings-page & {
    min-height: 60px;
  }

  .payments & {

    .lds-dual-ring {
      top: 70px;
    }
  }

  .payouts & {
    .lds-dual-ring {
      top: 100px;
    }
  }

  .payments .payment-card & {
    @include media-breakpoint-down($desktop-breakpoint) {
      min-height: 20px;

      .lds-dual-ring {
        top: 40px;
      }
    }
  }

}
