.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  -webkit-overflow-scrolling: touch;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 20px 30px;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, 0.4);

    @include media-breakpoint-up($desktop-breakpoint) {
      position: fixed;
    }

    .explore-page & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        background: rgba(#000, 0.85);
      }
    }
  }

  &.lightbox-post {
    overflow-y: hidden;
    &.scroll-post {
      overflow: auto;
    }

    .explore-page & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        overflow: visible;
      }
    }
  }

  &__header {
    padding: 20px 0;
    margin: 0 20px;
    font-weight: 500;
    font-size: 17px;
    width: calc(100% - 40px);

    &.m-underline-border {
      border-bottom: 1px solid rgba(124, 139, 150, 0.2);
      margin-bottom: 20px;
    }
    &.smallFontSize {
      font-size: 16px;
    }
  }

  &__content {
    margin: 0 20px 20px;
    width: calc(100% - 40px);
  }

  .content {
    width: 100%;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      overflow-y: auto;
    }

    &_relative {
      position: relative;
    }

    &_column-mob {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: flex;
        flex-direction: column;
      }

      .popup-body {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          flex: 1;
        }
      }
    }
  }

  & &-container {
    max-width: 100%;
    width: 100%;
    min-height: 100px;
    max-height: 100%;
    overflow: hidden;
    background-color: $white;
    z-index: 100;
    box-sizing: border-box;
    position: relative;
    margin: auto;

    @include media-breakpoint-up($desktop-breakpoint) {
      box-shadow: 0 2px 2px rgba(#000, 0.1);
      border-radius: 6px;
      max-width: 620px;
      max-height: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      justify-content: center;
    }

    &_block {
      display: block;
    }
  }

  & &-title {
    min-height: 60px;
    font: inherit;
    font-weight: 600;
    padding: 21px 60px 21px 20px;

    &_sticky-mob {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        position: sticky;
        top: 0;
        z-index: 10;
        box-shadow: 0 0 5px rgba(#000, 0.3);
        font-weight: 500;
        padding: 0 20px 0 0;
        min-height: 44px;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-top: 18px;
        padding-bottom: 18px;
      }
    }

    &_underlined {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      position: relative;

      &:after {
        content: "";
        background: rgba($gray, 0.2);
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 15px;
        right: 15px;
      }
    }
  }


  & .add-story-popup {
    width: 100%;
    height: 100%;
    max-width: 100%;
    top: 0;
    border-radius: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    .content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  .popup-container_hfluid {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      overflow-y: scroll;
      flex-direction: column;
      justify-content: stretch;
      position: relative;
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 0;
      left: 0;
      transform: none;
      background: $white
      linear-gradient(30deg, $secondary-color-06 10%, $primary-color-06 90%)
      fixed;

      &:before {
        background: $light;
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.3;
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      background: none;
      max-height: calc(100vh - 36px);
      top: 36px;
      box-shadow: none;
      max-width: 680px;
      border-radius: 5px 5px 0 0;
      padding-top: 60px;
      margin-top: 0;
      margin-bottom: 0;
      overflow: visible;
    }

    &.popup-addPost {

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-top: 0;
      }
    }

    > .content {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        overflow: visible;
        z-index: 1;
        position: relative;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        max-height: calc(100vh - 96px);
      }
    }
  }
}

.popup-container {

  &_hfluid {
    display: block;

    @include media-breakpoint-up($tablet-breakpoint) {
      margin-top: 0;
      margin-bottom: 0;
      align-self: flex-start;
      overflow: visible;
    }

    .popup-title {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        background-color: $white;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-left: 15px;
        box-shadow: 0 0 5px rgba(#000, 0.3);
        background: $white;
        z-index: 10;
        border-radius: 5px 5px 0 0;
        position: absolute;
        left: 30px;
        right: 30px;
        top: 0;
      }
    }

    .popup-container-scroll {

      @include media-breakpoint-up($desktop-breakpoint) {
        position: static;
        overflow: visible;
        box-shadow: none;
        border-radius: 0;
        max-width: 620px;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
      }
    }

    &:not(.popup-addPost) {

      .popup-container-scroll {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          min-height: calc(100vh - 254px);
        }
      }
    }

    &.popup-addPost {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        background-color: $white;
        background-image: none;
      }

      &:before {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          display: none;
        }
      }
    }
  }

  &.popup-addPost {

    &:not(.popup-container_hfluid) {
      overflow: visible;
    }
  }

  &.popup-payment {
    max-width: 800px;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {

      &,
      .content,
      .paymentView {
        height: 100%;
      }
    }
  }

  &.popup-alert,
  &.popup-reasons {

    @include media-breakpoint-down($tablet-breakpoint-dcrs) {
      max-width: 300px;
      box-shadow: 0 2px 2px rgba(#000, 0.1);
    }
  }

  &.popup-login,
  &.popup-alert,
  &.popup-reasons,
  &.popup-massmes {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 6px;
    }
  }

  &.popup-alert {
    max-width: 340px;
  }

  &.popup-massmes {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      position: relative;
      left: auto;
      top: auto;
      margin-left: 20px;
      margin-right: 20px;
      max-width: calc(100% - 40px);
      transform: none;
    }
  }

  &.popup-reasons {

    @include media-breakpoint-up($desktop-breakpoint) {
      max-width: 429px;
    }
  }

  &.popup-likers {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      height: 100%;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      max-width: 340px;
    }

    .content {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        height: 100%;
      }
    }
  }

  &.chat-popup {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: fixed;
      height: auto;
      border-radius: 0;
      max-width: 100%;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      max-width: 956px;
      height: calc(100% - 80px);
    }

    .content {
      height: 100%;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        overflow-y: hidden;
      }
    }

    .selectedChatHeader {

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-right: 40px;
        min-height: 60px;
      }
    }
  }

  &.popup-login {
    max-width: 344px;
    padding: 23px 20px;

    .content {
      overflow: visible;
    }

    .form-group {

      .btn {
        margin: 0;
      }
    }

    .site-footer {

      .container {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          padding-left: 0;
          padding-right: 0;
          margin-top: 22px;
        }
      }
    }

    .FooterNavCollectionView {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        padding-top: 15px;
        padding-bottom: 0;
      }
    }
  }

  &.popup-statistics {
    max-width: 100%;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      box-shadow: none;
      border-radius: 0;
      display: block;
    }
  }

  &.popup-storyviewers {
    max-width: 100%;
    box-shadow: none;
    border-radius: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    &:before,
    &:after {
      content: "";
      position: absolute;
    }

    &:before {
      height: 80px;
      left: 0;
      right: 0;
      pointer-events: none;
      z-index: 1;
      top: 0;
      background: linear-gradient(
        to bottom,
        rgba(#000, 0.1) 0%,
        transparent 100%
      );
    }

    &:after {
      left: -1px;
      right: -1px;
      top: -1px;
      bottom: -1px;
      background: linear-gradient(
        30deg,
        $secondary-color-12 10%,
        $primary-color-12 90%
      );
    }

    .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      z-index: 1;
    }
  }

  &.popup-image {
    background-color: transparent;
    border-radius: 0;
    padding: 20px 0;
    text-align: center;
    box-shadow: none;
    position: static;

    @include media-breakpoint-up($desktop-breakpoint) {
      max-width: none;
      width: auto;
      padding-left: 20px;
      padding-right: 20px;
    }

    img {
      display: block;
      max-width: 100%;
      max-height: calc(100vh - 40px);
      margin: auto;
      background-color: $white;

      @include media-breakpoint-up($desktop-breakpoint) {
        max-height: calc(100vh - 120px);
      }
    }

    .content {
      width: auto;
      display: inline-block;
      overflow: visible;

      &:before {
        position: absolute;
        pointer-events: none;
        top: 0;
        height: 50px;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, transparent 100%);
        opacity: 0.2;
        content: "";
        z-index: 1;
      }
    }

    .close {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &.post-popup {
    overflow: visible;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      border-radius: 0;
      position: fixed;
      right: 0;
      bottom: 0;
      top: 0;
      max-width: 100%;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      width: auto;
      max-width: 100%;
      box-shadow: none;
      background-color: transparent;
      padding-top: 38px;
      padding-bottom: 38px;
    }

    .lightbox-post & {

      .explore-page & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          padding-top: 45px;
          padding-bottom: 45px;
        }
      }
    }

    .explore-page & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        background-color: transparent;
      }
    }

    .content {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        border-radius: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        min-width: 620px;
      }

      .lightbox-post & {

        .explore-page & {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            overflow: visible;
          }
        }
      }
    }

    .post.postPage {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        width: 100%;
      }

      .lightbox-post & {

        .explore-page & {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            justify-content: center;
            flex-direction: column;
            overflow: visible;
          }
        }
      }
    }

    .close {
      position: fixed;
      color: #fff;
      font-size: 30px;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        right: auto;
        left: 0;
        width: 54px;
        height: 44px;
        padding: 0;
        z-index: 100;
        opacity: 0;
      }

      .lightbox-post & {

        .explore-page & {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            right: 0;
            left: auto;
            display: block;
            opacity: 1;

            @media screen and (orientation: landscape) {
              top: 5px;
            }
          }
        }
      }

      &:hover {

        &:after {
          opacity: 1;

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            opacity: 0;
          }
        }
      }

      &:after {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          @include position-center;
        }

        @include media-breakpoint-up($desktop-breakpoint) {
          opacity: .7;
        }

        .lightbox-post & {

          .explore-page & {
            @include media-breakpoint-down($desktop-breakpoint-dcrs) {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &.subscribe-popup {
    max-width: 400px;

    @include media-breakpoint-down($tablet-breakpoint-dcrs) {
      max-width: 100%;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      margin: 0;
    }
  }
}

.popup-container-scroll {

  .loader-infinity {
    background-color: $white;
    margin-top: -4px;

    @include media-breakpoint-up($desktop-breakpoint) {
      border-radius: 0 0 5px 5px;
    }
  }
}

.popup-addPost {

  &.popup-container {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      max-width: 100%;
    }
  }

  &__header {
    font-size: 17px;
    font-weight: 500;
    background-color: $white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 19px 20px 20px;
    position: relative;
    z-index: 1;

    .popup-container_hfluid & {
      margin-left: 11px;
      margin-right: 11px;
    }
  }

  .container-popup {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      overflow-y: auto;
    }
  }
}

.popup-alert {
  text-align: center;
  display: block;

  &__msg {
    font-weight: 500;
    padding: 20px;
    font-size: 17px;
  }

  &__btn {
    padding: 20px;
    border-top: 1px solid rgba($gray, 0.2);
  }

  &__title,
  &__body {
    overflow-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
    hyphens: auto;
    margin-bottom: 15px;
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 16px;
    border-top: 1px solid rgba($gray, 0.2);

    > * {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .content {
    text-align: center;
    padding: 16px;
    overflow: auto;
    min-height: 100px;
  }
}

.popup-stream-details {
  pointer-events: none;
  opacity: 0;
  transition: opacity .4s;
}


.stream_stop {

  .popup-stream-details {
    pointer-events: auto;
    opacity: 1;
  }

  .stream-video-container {

    video {
      opacity: 0;
    }
  }

  .mediasTop {
    opacity: 0;
  }
}

.container-popup {

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 642px;
    position: relative;
    width: 100%;
    min-height: calc(100% - 75px);
  }

  .popup-container_hfluid & {

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-left: 0;
      padding-right: 0;
      position: static;
      min-height: auto;
    }

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: block;
    }

    .site-footer {
      margin-top: 22px;

      @include media-breakpoint-up($desktop-breakpoint) {
        display: none;
      }
    }
  }
}

.popup-content-scroll {

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    padding: 1px 0 20px;
    background-color: $white;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    overflow-y: auto;
  }

  .popup-container_hfluid & {

    @include media-breakpoint-up($desktop-breakpoint) {
      max-height: calc(100vh - 116px);
      height: auto;
    }

    &:after {
      content: "";
      height: 60px;
      clear: both;
      display: none;

      @include media-breakpoint-up($desktop-breakpoint) {
        display: block;
        pointer-events: none;
      }
    }

    &.add-post-schedule {
      max-height: none;
      padding-top: 0;

      @include media-breakpoint-up($desktop-breakpoint) {
        max-height: calc(100vh - 352px);
      }
    }
  }

  &.ps {

    @include media-breakpoint-up($desktop-breakpoint) {

      .ps__rail-y {
        opacity: 0;

        &:hover {
          opacity: 0;
        }
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {

        .ps__rail-y {
          opacity: 0;
        }
      }
    }
  }
}

.confirm-modal {
  z-index: 1000;
}