.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, 0.4);
  z-index: 99;
  display: flex;
  justify-content: center;
  -webkit-overflow-scrolling: touch;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 60px 80px;
    align-items: center;
  }

  .explore-page & {

    @include media-breakpoint-down($desktop-breakpoint) {
      background: rgba(#000, 0.85);
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  & &-container {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    background: $white;
    z-index: 100;
    min-height: 100px;
    max-height: 100%;
    box-sizing: border-box;
    position: relative;

    @include media-breakpoint-up($tablet-breakpoint) {
      box-shadow: 0 2px 2px rgba(#000, 0.1);
      border-radius: 6px;
      max-width: 620px;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
    }

    .content {
      width: 100%;

      @include media-breakpoint-down($desktop-breakpoint) {
        overflow-y: auto;
      }
    }

    &_hfluid {
      display: block;

      @include media-breakpoint-up($tablet-breakpoint) {
        position: fixed;
        left: 50%;
        right: auto;
        top: 36px;
        transform: translate(-50%, 0);
      }

      .popup-title {

        @include media-breakpoint-down($desktop-breakpoint) {
          //margin-top: -60px;
          background-color: $white;
        }

        @include media-breakpoint-up($desktop-breakpoint) {
          padding-left: 15px;
          box-shadow: 0 0 5px rgba(#000, 0.3);
          background: $white;
          z-index: 10;
          border-radius: 5px 5px 0 0;
          position: absolute;
          left: 30px;
          right: 30px;
          top: 24px;
        }
      }

      .popup-container-scroll {

        @include media-breakpoint-down($desktop-breakpoint) {
          min-height: calc(100vh - 254px);
        }

        @include media-breakpoint-up($desktop-breakpoint) {
          position: static;
          overflow: visible;
          box-shadow: none;
          border-radius: 0;
          max-width: 620px;
          margin-left: auto;
          margin-right: auto;
          background-color: transparent;
        }
      }
    }

    &.popup-addPost {
      overflow: visible;

      .close {
        top: 6px;
      }
    }

    &.popup-payment {

      .close {
        color: $main;

        @include media-breakpoint-down($tablet-breakpoint) {
          display: block;
        }
      }
    }

    &.popup-alert {
      max-width: 340px;
      margin: auto;
      display: block;

      @include media-breakpoint-down($tablet-breakpoint) {
        max-width: 300px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 2px 2px rgba(#000, 0.1);
        border-radius: 6px;
      }
    }

    &.popup-reasons {
      max-width: 450px;
      margin: auto;
      display: block;

      @include media-breakpoint-down($tablet-breakpoint) {
        max-width: 300px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 2px 2px rgba(#000, 0.1);
        border-radius: 6px;
      }

      .close {

        @include media-breakpoint-down($desktop-breakpoint) {
          display: block;
        }
      }
    }

    &.popup-info {
      max-width: 480px;
    }

    &.chat-popup {

      @include media-breakpoint-down($desktop-breakpoint) {
        //max-width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        //transform: translate(0, 0);
        height: auto;
        border-radius: 0;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        //width: 100%;
        max-width: 956px;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        height: 81%;
        position: fixed;
      }

      &.chat-popup_new-msg {

        .content {

          @include media-breakpoint-down($desktop-breakpoint) {
            display: flex;
          }
        }
      }

      .header-nav {

        @include media-breakpoint-up($desktop-breakpoint) {
          display: none;
        }
      }

      .content {
        height: 100%;

        @include media-breakpoint-down($desktop-breakpoint) {
          overflow-y: hidden;

          display: flex;
          flex-direction: column;
        }
      }

      .selectedChatHeader {
        @include media-breakpoint-up($desktop-breakpoint) {
          //padding: 15px 40px 15px 15px;
          padding-right: 40px;
          min-height: 60px;
        }
      }

      .close {
        top: 6px;

        @include media-breakpoint-down($desktop-breakpoint) {
          display: none;
        }
      }

      .chatCollectionContent {

        @include media-breakpoint-up($desktop-breakpoint) {
          background-color: transparent;
          box-shadow: none;
          border-radius: 0;
          max-width: none;
          margin: 0;
          max-height: 100%;
          height: 100%;
        }

        .more-functions {
          //margin: auto 0.4em auto auto;

          @include media-breakpoint-down($desktop-breakpoint) {
            margin-right: -6px;
          }

          &__btn {
            //padding: 0;
            //width: 40px;
            //height: 30px;
          }

          &__dropdown {

            @include media-breakpoint-up($desktop-breakpoint) {
              right: -22px;
            }
          }
        }
      }
    }

    &.popup-login {
      max-width: 344px;
      padding: 52px 20px 23px;

      @include media-breakpoint-down($desktop-breakpoint) {
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        position: fixed;
        border-radius: 6px;
      }

      .content {
        overflow: visible;
        position: relative;
        z-index: 667;
      }
      
      .close {

        @include media-breakpoint-down($desktop-breakpoint) {
          display: block;
        }
      }

      .form-group {

        .btn {
          margin: 0;
        }
      }
    }

    &.statistics-popup {
      max-width: 100%;

      @include media-breakpoint-up($tablet-breakpoint) {

        @include media-breakpoint-down($desktop-breakpoint) {
          box-shadow: none;
          border-radius: 0;
          display: block;
        }
      }

      .close {
        top: 5px;

        @include media-breakpoint-down($desktop-breakpoint) {
          display: block;
        }
      }
    }

    &.storyviewers-popup {
      max-width: 100%;
      box-shadow: none;
      border-radius: 0;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      &:before {
        content: "";
        height: 80px;
        position: absolute;
        left: 0;
        right: 0;
        pointer-events: none;
        z-index: 1;
        top: 0;
        background: linear-gradient(
          to bottom,
          rgba(#000, 0.1) 0%,
          transparent 100%
        );
      }

      &:after {
        content: "";
        position: absolute;
        left: -1px;
        right: -1px;
        top: -1px;
        bottom: -1px;
        background: linear-gradient(
          30deg,
          $secondary-color-12 10%,
          $primary-color-12 90%
        );
      }

      .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
      }

      .close {
        filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
        color: #fff;

        &:before {
          opacity: 1;
        }
      }
    }
  }

  & &-payment {
    width: 100%;
    max-width: 800px;

    @include media-breakpoint-down($desktop-breakpoint) {
      &,
      .content,
      .paymentView {
        height: 100%;
      }
    }
  }

  & .subscribe-popup {
    max-width: 400px;
    width: 100%;
    padding-bottom: 25px;
  }

  & &-title {
    min-height: 60px;
    font: inherit;
    font-weight: 600;
    padding: 21px 60px 21px 20px;

    &_sticky-mob {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;

      @include media-breakpoint-down($desktop-breakpoint) {
        position: sticky;
        top: 0;
        z-index: 10;
        box-shadow: 0 0 5px rgba(#000, 0.3);
        font-weight: 500;
        padding: 0 20px 0 0;
        min-height: 44px;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-top: 18px;
        padding-bottom: 18px;
      }
    }

    &_underlined {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      position: relative;

      &:after {
        content: "";
        background: rgba($gray, 0.2);
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 15px;
        right: 15px;
      }
    }
  }

  & &-body {

  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    z-index: 666;
    color: $main-color;
    display: none;
    cursor: pointer;
    width: 54px;
    height: 50px;
    transition: font-size .3s;

    @include media-breakpoint-up($desktop-breakpoint) {
      display: block;
    }

    &:before {
      content: "\E605";
      @include icon-font;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.5;
    }

    &:hover {

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 30px;
      }

      &:before {
        opacity: 1;
      }
    }
  }
  .next,
  .previous {
    color: #fff;
    cursor: pointer;
    position: fixed;
    opacity: 0.7;
    left: 0;
    text-align: center;
    font-size: 48px;
    transition: opacity 0.3s ease;
    right: 0;

    .explore-page & {

      @include media-breakpoint-down($desktop-breakpoint) {
        font-size: 24px;
        line-height: 44px;
      }
    }

    &:hover {
      opacity: 1;
    }

    &:before {
      @include icon-font;
    }
  }
  .next {
    bottom: 0;
    &:before {
      content: "\E646";
    }
  }
  .previous {
    top: 0;
    &:before {
      content: "\E644";
    }
  }


  & .add-story-popup {
    width: 100%;
    height: 100%;
    max-width: 100%;
    top: 0;
    border-radius: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    .content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  .popup-container_hfluid {

    @include media-breakpoint-down($desktop-breakpoint) {
      overflow-y: scroll;
      flex-direction: column;
      justify-content: stretch;
      position: relative;
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 0;
      left: 0;
      transform: none;
      background: $white
      linear-gradient(30deg, $secondary-color-06 10%, $primary-color-06 90%)
      fixed;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      background: none;
      max-height: calc(100vh - 36px);
      top: 36px;
      box-shadow: none;
      max-width: 680px;
      border-radius: 5px 5px 0 0;
      padding: 84px 0 0;
    }

    @include media-breakpoint-down($desktop-breakpoint) {
      &:before {
        background: $light;
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.3;
      }
    }

    &.popup-addPost {

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-top: 0;
      }
    }

    .close {
      
      @include media-breakpoint-up($desktop-breakpoint) {
        z-index: 10;
        right: 30px;
        top: 29px;
      }
    }

    > .content {

      @include media-breakpoint-down($desktop-breakpoint) {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        overflow: visible;
        z-index: 1;
        position: relative;
      }
    }
  }
}

.popup-container-scroll {

  .loaderWrap {
    margin-top: -5px;
    background-color: $white;

    @include media-breakpoint-up($desktop-breakpoint) {
      border-radius: 0 0 5px 5px;
    }
  }
}

.popup-addPost {

  &__header {
    //position: absolute;
    //left: 20px;
    //top: 20px;
    font-size: 17px;
    font-weight: 500;
    background-color: $white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 19px 20px 20px;

    .popup-container_hfluid & {
      margin-left: 11px;
      margin-right: 11px;
    }
  }

  .container-popup {

    @include media-breakpoint-down($desktop-breakpoint) {
      overflow-y: auto;
    }
  }
}

.tips,
.btn-selected-all,
.back,
.addNewNav__item,
.chatSelectedView,
.ps-container {
  will-change: opacity;
}

.popup-alert {
  text-align: center;
  display: block;

  &__msg {
    font-weight: 500;
    padding: 20px;
    font-size: 17px;
  }

  &__btn {
    padding: 20px;
    border-top: 1px solid rgba($gray, 0.2);
  }

  &__title {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 16px;
    padding: 0 30px;
  }

  &__body {
    padding-bottom: 15px;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 16px;
    border-top: 1px solid rgba($gray, 0.2);

    > * {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .content {
    text-align: center;
    padding: 16px;
  }
  
  &_show-close {
    
    .close {

      @include media-breakpoint-down($desktop-breakpoint) {
        display: block;
      }
    }
  }
}

.popup-stream-details {
  pointer-events: none;
  opacity: 0;
  transition: opacity .4s;
}


.stream_stop {

  .popup-stream-details {
    pointer-events: auto;
    opacity: 1;
  }

  .stream-video-container {

    video {
      opacity: 0;
    }
  }

  .mediasTop {
    opacity: 0;
  }
}

.container-popup {

  @include media-breakpoint-down($desktop-breakpoint) {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 0 10px;
    margin: 0 auto;
    max-width: 642px;
    position: relative;
    width: 100%;
    min-height: calc(100% - 75px);
  }

  .popup-container_hfluid & {

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 0;
      margin: 0 auto 20px;
      position: static;
      min-height: auto;
    }

    @include media-breakpoint-down($desktop-breakpoint) {
      display: block;
    }

    .site-footer {
      margin-top: 22px;

      @include media-breakpoint-up($desktop-breakpoint) {
        display: none;
      }
    }
  }
}

.popup-content-scroll {

  @include media-breakpoint-down($desktop-breakpoint) {
    padding: 1px 0 20px;
    background-color: $white;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    overflow-y: auto;
  }

  .popup-container_hfluid & {

    @include media-breakpoint-up($desktop-breakpoint) {
      max-height: calc(100vh - 120px);
      height: auto;
    }

    &:after {
      content: "";
      height: 60px;
      clear: both;
      display: none;

      @include media-breakpoint-up($desktop-breakpoint) {
        display: block;
      }
    }

    &.add-post-schedule {
      max-height: calc(100vh - 216px);

      @include media-breakpoint-up($desktop-breakpoint) {
        max-height: calc(100vh - 250px);
      }
    }
  }

  &.ps {

    &:hover {

      > .ps__scrollbar-y-rail {
        opacity: 0;

        &:hover {
          opacity: 0;
        }
      }
    }
  }
}