.table {
  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 0 10px;
    margin: 0 0 30px;
  }

  &:empty {
    padding: 0;
    margin: 0;

    + .empty-table-info {
      display: block;
    }
  }

  &__cell {
    &_selected {
      font-weight: 500;
      background: rgba($gray, 0.05);
    }

    &_align {
      display: flex;

      &-vert {
        &-c {
          align-items: center;
          align-content: center;
        }
      }

      &-hor {
        &-c {
          text-align: center;
          justify-content: center;
        }
      }
    }
  }

  .item,
  &-header {
    display: flex;
    justify-content: flex-start;

    &.finished,
    &.fail {
      & > * {
        opacity: 0.5;

        &.status {
          opacity: 1;
        }

        &.amount {
          background: rgba($gray, 0.1);
        }
      }
    }

    > * {
      padding: 9px 0;
    }
  }

  &-header {

    .ReferralsBlockCollectionView & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        justify-content: space-between;
      }
    }
  }

  > * {
    border-bottom: 1px solid rgba($gray, 0.2);

    &:last-child {
      .table-wrapper & {
        border-bottom: none;
      }

      .table__cell_selected {
        .table-wrapper & {
          border-radius: 0 0 5px 5px;
        }
      }
    }
  }

  &-header {
    padding: 18px 0 0;
    position: relative;
    font-size: 13px;

    @include media-breakpoint-up($desktop-breakpoint) {
      border-bottom: 1px solid rgba($gray, 0.2);
      padding-top: 15px;
      justify-content: space-between;
    }

    .SubscribersBlockCollectionView & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }
    }

    .table__cell {
      opacity: 0.5;
      padding-top: 6px;
      padding-bottom: 6px;

      &_selected {
        opacity: 1;
        border-radius: 5px 5px 0 0;
      }
    }

    &.referrals-table-header {
      @include media-breakpoint-up($desktop-breakpoint) {
        padding-top: 24px;
      }
    }

    &-title {

      &_sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1;

        @include media-breakpoint-up($desktop-breakpoint) {
          background-color: $white;
        }

        .EarningsBlockCollectionView &,
        .SubscribersBlockCollectionView & {

          @include media-breakpoint-up($desktop-breakpoint) {
            background-color: transparent;
          }
        }
      }
    }
  }

  .paymentsStatementsView & {
    > * {
      &:last-child {
        > *:not(.item),
        > .item > * {
          padding-top: 9px;
          padding-bottom: 5px;

          @include media-breakpoint-up($desktop-breakpoint) {
            padding-top: 6px;
            padding-bottom: 7px;
          }
        }
      }

      &:first-child {
        > *:not(.item),
        > .item > * {
          padding-top: 13px;
          padding-bottom: 6px;

          @include media-breakpoint-up($desktop-breakpoint) {
            padding-top: 11px;
            padding-bottom: 9px;
          }
        }
      }
    }

    .item {
      > * {
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }

    &__cell {
      &.date {
        flex: 0 1 15%;
        padding-left: 4px;
        max-width: 15%;

        @include media-breakpoint-up($desktop-breakpoint) {
          flex: 0 1 19%;
          padding-left: 20px;
          max-width: 19%;
        }

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          font-size: 13px;
          white-space: nowrap;
        }
      }

      &.amount {
        flex: 0 1 20%;
        max-width: 20%;
        margin-left: auto;

        @include media-breakpoint-up($desktop-breakpoint) {
          flex: 0 1 20.5%;
          max-width: 20.5%;
        }
      }

      &.user {
        flex: 0 1 calc(63% - 33px);
        padding-left: 15px;
        max-width: calc(63% - 33px);

        @include media-breakpoint-up($desktop-breakpoint) {
          flex: 0 1 calc(60.5% - 58px);
          max-width: calc(60.5% - 58px);
          padding-left: 42px;
        }

        &_purchases {
          flex: 0 1 calc(63% - 80px);
          padding-left: 15px;
          max-width: calc(63% - 80px);

          @include media-breakpoint-up($desktop-breakpoint) {
            flex: 0 1 calc(60.5% - 120px);
            max-width: calc(60.5% - 120px);
            padding-left: 42px;
          }
        }
      }

      &.status {
        justify-content: flex-end;
        margin-right: 5px;
        margin-left: auto;
        flex: 0 0 28px;
        max-width: 28px;

        @include media-breakpoint-up($desktop-breakpoint) {
          margin-right: 20px;
        }
      }

      &.product {
        justify-content: center;
        margin-right: 5px;
        flex: 0 0 84px;
        max-width: 84px;

        @include media-breakpoint-up($desktop-breakpoint) {
          margin-right: 20px;
        }
      }
    }

    .success,
    .fail {
      @include media-breakpoint-up($desktop-breakpoint) {
        margin-right: 10px;
      }
    }

    .userview-block {
      margin-left: 0;
    }
  }

  .EarningsBlockCollectionView &,
  .SubscribersBlockCollectionView & {

    .item {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        padding: 13px 15px;

        &:nth-child(even) {
          background-color: rgba($gray, .05);
        }

        > * {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  }

  .SubscribersBlockCollectionView & {

    &__cell {

      &.snapchatUsername {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          font-size: 12px;
          word-break: break-all;
        }

        br {

          @include media-breakpoint-up($desktop-breakpoint) {
            display: none;
          }
        }
      }

      &.snapchatUsername,
      &.user {
        flex: 0 1 57%;
        max-width: 57%;

        @include media-breakpoint-up($desktop-breakpoint) {
          flex: 0 1 30%;
          max-width: 30%;
        }
      }

      &.snapchatUsername {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          order: 5;
        }
      }

      &.amount,
      &.status,
      &.joined,
      &.canceled {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          font-size: 12px;
          flex-wrap: wrap;
          text-align: right;
          justify-content: flex-end;
          align-items: flex-start;
          align-content: flex-start;

          &:before {
            content: attr(data-title);
            flex: 0 0 100%;
            opacity: .5;
            text-align: right;
            font-weight: 400;
          }
        }

        @include media-breakpoint-up($desktop-breakpoint) {
          flex: 0 1 10%;
          max-width: 10%;
        }
      }

      &.amount {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          background-color: transparent;
        }
      }

      &.joined {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          order: 6;
        }
      }

      &.canceled {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          order: 7;
        }
      }

      &.amount,
      &.joined {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          flex: 0 1 18%;
          max-width: 18%;
        }
      }

      &.status,
      &.canceled {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          flex: 0 1 25%;
          max-width: 25%;
        }
      }

      &.snapchatUsername,
      &.joined,
      &.canceled {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          border-top: 1px solid rgba($gray, 0.2);
          margin-top: 13px;
          padding-top: 9px;
        }
      }
    }
  }

  .EarningsBlockCollectionView & {

    &__cell {

      &.index {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          display: none;
        }

        @include media-breakpoint-up($desktop-breakpoint) {
          flex: 0 1 4%;
          max-width: 4%;
        }
      }

      &.user {
        flex: 0 1 50%;
        max-width: 50%;

        @include media-breakpoint-up($desktop-breakpoint) {
          flex: 0 1 68%;
          max-width: 68%;
        }
      }

      &.signed,
      &.spend {
        flex: 0 1 25%;
        max-width: 25%;

        @include media-breakpoint-up($desktop-breakpoint) {
          flex: 0 1 14%;
          max-width: 14%;
        }
      }

      &.signed,
      &.spend {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          font-size: 12px;
          flex-wrap: wrap;
          text-align: right;
          justify-content: flex-end;
          align-items: flex-start;
          align-content: flex-start;

          &:before {
            content: attr(data-title);
            flex: 0 0 100%;
            opacity: .5;
            text-align: right;
            font-weight: 400;
          }
        }
      }

      &.spend {

        &.m-row-end {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            border-top: 1px solid rgba($gray, 0.2);
            margin-top: 13px;
            padding-top: 9px;
            flex: 0 1 33%;
            max-width: 33%;
          }
        }
      }
    }
  }

  .trialsSectionCollection & {

    &__cell {
      flex: 1;

      &_user {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          min-width: 130px;
        }
      }

      &_date {
        flex-wrap: wrap;

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          font-size: 13px;
        }
      }

      &_selected {
        flex: 0 1 76px;
        max-width: 76px;

        @include media-breakpoint-up($desktop-breakpoint) {
          flex: 0 1 116px;
          max-width: 116px;
        }
      }

      &_date,
      &_status {
        flex: 0 1 86px;
        max-width: 86px;

        @include media-breakpoint-up($desktop-breakpoint) {
          flex: 0 1 116px;
          max-width: 116px;
        }
      }

      &_remove {
        flex: 0 1 46px;
        max-width: 46px;
      }

      &.user {
        text-align: left;
        padding-left: 5px;

        @include media-breakpoint-up($desktop-breakpoint) {
          padding-left: 22px;
        }
      }
    }
  }

  .BlockedUsersCollectionView & {
    > * {
      &:last-child {
        border: none;

        > *:not(.item),
        > .item > * {
          padding-top: 9px;
          padding-bottom: 7px;
        }
      }

      &:first-child {
        > *:not(.item),
        > .item > * {
          padding-top: 14px;
          padding-bottom: 8px;
        }
      }
    }

    &__cell {
      flex: 0 0 58%;
      max-width: 58%;

      @include media-breakpoint-up($desktop-breakpoint) {
        flex: 0 0 62%;
        max-width: 62%;
      }

      &_selected {
        flex: 0 1 24%;
        max-width: 24%;

        @include media-breakpoint-up($desktop-breakpoint) {
          flex: 0 1 20%;
          max-width: 20%;
        }
      }

      &.user {
        text-align: left;
        padding-left: 5px;

        @include media-breakpoint-up($desktop-breakpoint) {
          padding-left: 22px;
        }
      }

      &.actions {
        flex: 0 1 13%;
        margin-left: 5%;
        max-width: 13%;
      }
    }

    .item {
      > *:not(.table__cell) {
        padding: 0;
      }

      &:last-child {
        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          padding-bottom: 7px;
        }
      }
    }

    time {
      font-weight: 400;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        font-size: 13px;
      }
    }
  }

  .ReferralsBlockCollectionView & {
    > * {
      &:last-child {
        border: none;

        > *:not(.item),
        > .item > * {
          padding-top: 9px;
          padding-bottom: 6px;
        }
      }

      &:first-child {
        > *:not(.item),
        > .item > * {
          padding-top: 13px;
          padding-bottom: 6px;
        }

        + .item:last-child {
          > * {
            padding-top: 7px;
            padding-bottom: 6px;
          }
        }
      }
    }

    .item {
      & > * {
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }

    &__cell {
      &.user {
        padding-left: 5px;
        flex: 0 1 calc(59% - 15px);
        max-width: calc(59% - 15px);

        @include media-breakpoint-up($desktop-breakpoint) {
          padding-left: 22px;
          flex: 0 1 63%;
          max-width: 63%;
        }
      }

      &.amount {
        flex: 0 1 27%;
        max-width: 27%;

        @include media-breakpoint-up($desktop-breakpoint) {
          flex: 0 1 19.5%;
          max-width: 19.5%;
        }
      }

      &.joined {
        margin-left: 15px;
        flex: 0 1 14%;
        max-width: 14%;

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          font-size: 13px;
          text-align: right;
        }

        @include media-breakpoint-up($desktop-breakpoint) {
          flex: 0 1 17.5%;
          margin-left: 0;
          padding-left: 24px;
          max-width: 17.5%;
        }
      }
    }
  }

  .userview-block {
    margin-left: 0;
    margin-top: auto;
  }

  .PayoutsRequestsCollectionView &,
  .PayoutsTransactionsCollectionView & {
    > * {
      &:last-child {
        border: none;

        > *:not(.item),
        > .item > * {
          padding-top: 9px;
          padding-bottom: 10px;
        }
      }

      &:first-child {
        > *:not(.item),
        > .item > * {
          padding-top: 14px;
          padding-bottom: 9px;
        }
      }
    }

    .item,
    .table-header {
      justify-content: space-between;
    }

    &__cell {
      &.date {
        flex: 0 1 calc((100% - 118px) / 2);
        max-width: calc((100% - 118px) / 2);
        text-align: center;
        justify-content: center;

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          flex: 0 1 calc((100% - 160px) / 2);
          max-width: calc((100% - 160px) / 2);
          text-align: left;
          justify-content: flex-start;
          padding-left: 6px;
          font-size: 13px;
        }
      }

      &.amount {
        flex: 0 1 118px;
        max-width: 118px;

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          flex: 0 1 88px;
          max-width: 88px;
        }
      }

      &.expected {
        flex: 0 1 calc((100% - 118px) / 2);
        max-width: calc((100% - 118px) / 2);
        text-align: center;
        justify-content: center;
        padding-left: 4px;

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          flex: 0 1 calc((100% - 20px) / 2);
          max-width: calc((100% - 20px) / 2);
          justify-content: flex-end;
          padding-right: 4px;
          font-size: 13px;
        }
      }
    }
  }

  .PayoutsTransactionsCollectionView.settings-wrapper & {

    &__cell {

      &.expected {
        
        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          justify-content: center;
        }
      }
    }
  }


  &_dotts-line {
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    &:last-child {
      margin-bottom: 10px;
      padding-bottom: 0;
    }

    th {
      font-size: 11px;
      font-weight: 400;
      padding-top: 7px;
      padding-bottom: 7px;

      span {
        opacity: .5;
      }
    }

    td {
      padding-top: 7px;
      padding-bottom: 5px;

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-bottom: 3px;
      }

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        font-size: 13px;
      }
    }

    th, td {
      position: relative;
      text-align: center;
      padding-left: 3px;
      padding-right: 3px;
      vertical-align: middle;

      &:first-child {
        text-align: left;
        padding-left: 18px;
      }

      &:last-child {
        text-align: right;
        padding-right: 18px;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0; right: 0;
        top: -2px;
        height: 2px;
        background-image: linear-gradient(to right, $main-color 40%, rgba(255, 255, 255, 0) 0%);
        background-position: top;
        background-size: 5px 2px;
        background-repeat: repeat-x;
        opacity: .2;
      }
    }
  }
}

.table-wrapper {
  .shadow-block & {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 14px;
    position: relative;
    z-index: 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 28px;
    }

    .EarningsBlockCollectionView &,
    .SubscribersBlockCollectionView & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        padding-bottom: 0;
      }
    }

    .table {
      margin-bottom: 0;
    }

    .empty-table-info {
      margin-left: -15px;
      margin-right: -15px;

      @include media-breakpoint-up($desktop-breakpoint) {
        margin-left: -10px;
        margin-right: -10px;
      }
    }
  }

  .BlockedUsersCollectionView & {
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding-bottom: 8px;
    }
  }

  .success,
  .fail {
    font-size: 18px;
  }

  .success {
    color: $secondary-color;

    &:after {
      content: "\E604";
    }
  }

  .fail {
    color: $primary-color;

    &:after {
      content: "\E605";
    }
  }
}

.table-value {
  
  &__date {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: block;
      flex: 0 0 100%;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-right: 8px;
    }
  }
  
  &__time {
    
  }
}  

.userview-block {
  position: relative;
  padding: 0 10px 0 40px;
  margin-right: auto;
  margin-left: 4px;
  font-size: 13px;
  margin-top: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: left;

  @include media-breakpoint-up($desktop-breakpoint) {
    margin-left: 23px;
  }

  .avatar {
    position: absolute;
    left: 0;
    top: 0;
  }

  .name,
  .user-login {
    flex: 0 0 100%;
  }

  .name {
    color: $main-color;
    margin-top: -2px;
  }
}

.btn-unblock {
  border: none;
  background: none;
  padding: 0;
  color: $red;
  font-size: 18px;
}

.table-empty {

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    display: flex;
    flex-direction: column;
  }

  .table-wrapper {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding-bottom: 0;
    }
  }

  .empty-table-info {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

.arr-inverse,
.arr-reverse {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 10px;
  height: 6px;
  margin-top: 4px;
  margin-left: 4px;

  &:after {
    position: absolute;
    left: -4px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 17px;
  }
}

.arr-inverse {

  &:after {
    content: "\E608";
    color: red;
  }
}

.arr-reverse {

  &:after {
    content: "\E60B";
    color: green
  }
}


