.verified-user {
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
  color: $gray;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 18px;
  &.fullyMonetized {
    color: $secondary-color;
  }
  &:after {
    content: "\E61E";
  }
}
.name {
  font-weight: 700;
  margin: 0;
  color: inherit;
  min-width: 0;
  @include ellipsis;
  transition: color 0.3s ease;

  &_break-text {
    white-space: normal;
    word-break: break-word;
  }

  a {
    color: $main-color;
  }

  a & {

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {
        color: $primary-color-darken;
      }
    }
  }
}
.user-login {
  opacity: .5;
  margin-left: 7px;
  min-width: 50px;
  @include ellipsis;

  @include media-breakpoint-up($desktop-breakpoint) {
    font-size: 13px;
  }

  &.reset-ml {
    margin-left: 0;
  }

  &_st {
    opacity: 1;
  }

  a &,
  a,
  .username {
    color: $main-color;
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
    @include ellipsis;

    &:not(:empty):before {
      content: "@";
    }
  }
}
.avatar {
  border-radius: 50%;
  flex: 0 0 1em;
  width: 1em;
  height: 1em;
  position: relative;
  z-index: 2;
  display: block;

  &.online-state {

    &:after {
      box-sizing: border-box;
    }
  }

  &_ex-sm {
    font-size: 24px;

    &.online-state {

      &:after {
        @include onlineIndicator(10px, 10px, -2px, -2px);
      }
    }
  }

  &_sm {
    font-size: 30px;
    flex: 0 0 30px;
    width: 30px;
    height: 30px;

    &.online-state {

      &:after {
        @include onlineIndicator(10px, 10px, -2px, -2px);
      }
    }
  }

  &_md {
    font-size: 40px;
    flex: 0 0 40px;
    width: 40px;
    height: 40px;

    &.online-state {

      &:after {
        @include onlineIndicator(12px, 12px, 0, 0);
      }
    }

    &-desk {

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 80px;
        flex: 0 0 80px;
        width: 80px;
        height: 80px;
      }

      &.online-state {

        &:after {

          @include media-breakpoint-up($desktop-breakpoint) {
            @include onlineIndicator(16px, 16px, 5px, 2px);
          }
        }
      }
    }
  }

  &_lg {
    font-size: 50px;
    flex: 0 0 50px;
    width: 50px;
    height: 50px;

    &.online-state {

      &:after {
        right: 0;
        bottom: 0;
        width: 12px;
        height: 12px;
        @include onlineIndicator(12px, 12px, 1px, 1px);
      }
    }

    &-tab {
      font-size: 56px;
      flex: 0 0 56px;
      width: 56px;
      height: 56px;

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 55px;
        flex: 0 0 55px;
        width: 55px;
        height: 55px;
      }

      &.online-state {

        &:after {
          @include onlineIndicator(14px, 14px, 0, 0);
        }
      }
    }

    &-desk {

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 70px;
        flex: 0 0 70px;
        width: 70px;
        height: 70px;
      }

      &.online-state {

        &:after {

          @include media-breakpoint-up($desktop-breakpoint) {
            @include onlineIndicator(14px, 14px, 3px, 3px);
          }
        }
      }
    }
  }

  &_ex-lg {
    font-size: 18.67vw;

    @include media-breakpoint-up($desktop-breakpoint) {
      font-size: 100px;
    }

    &.online-state {

      &:after {
        @include onlineIndicator(14px, 14px, 4px, 2px);

        @include media-breakpoint-up($desktop-breakpoint) {
          @include onlineIndicator(16px, 16px, 7px, 5px);
        }
      }
    }
  }

  &_mex-lg {
    font-size: 100px;
    width: 108px;
    height: 108px;

    &.online-state {

      &:after {
        right: 4px;
        bottom: 4px;
        width: 18px;
        height: 18px;
        @include onlineIndicator(18px, 18px, 4px, 4px);
      }
    }
  }

  &_gap {

    &-r {

      &-sm {
        margin-right: 10px;
      }

      &-md {
        margin-right: 15px;

        &_reset {

          &-mob {

            @include media-breakpoint-down($desktop-breakpoint-dcrs) {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  &_not-shadow {

    .avatar__img {

      &:before {
        box-shadow: none;
      }
    }
  }

  &.online-state {

    &:after {
      position: absolute;
    }
  }

  .stream-online-label {
    top: auto;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid $white;
    font-size: 9px;
    width: 36px;
    line-height: 14px;

    @include media-breakpoint-up($desktop-breakpoint) {
      line-height: 16px;
      bottom: -7px;
    }
  }

  &__slider {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
  }

  &__slide {
    position: absolute;
    left: 50%;
    top: 50%;
    transition: opacity .7s ease-in-out, transform .7s ease-in-out;
    z-index: 0;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;

    &.active {
      transform: translate(-50%, -50%) scale(0.55);
      opacity: 1;
      z-index: 2;

      &.active-next {
        transform: translate(-50%, -50%) scale(1);
      }
    }

    &.active-next {
      opacity: 1;
    }
  }

  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: relative;
    object-fit: cover;
    background: $default-avatar-bg;
    display: block;
    z-index: 2;
  }

  &__img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;

    &:empty {

      &:before {
        @include default-avatar;
      }
    }

    &:before {
      box-shadow: 0 0 0 3px $white;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      border-radius: 50%;
      background: $white;
      content: "";
      z-index: 1;
    }
  }
}

.with-story {

  &:after {
    z-index: -1;
    background: linear-gradient(
      to top,
      #9466ff 0%,
      $default-secondary-color 100%
    )
    100% no-repeat,
    linear-gradient(to bottom, $default-primary-color 0%, #9466ff 100%) 0
    no-repeat;
    background-size: 50% 100%;
    content: "";
    position: absolute;
    border-radius: 50%;
    left: -5px;
    right: -5px;
    bottom: -5px;
    top: -5px;
    transform: rotate(60deg);
    transition: left 0.3s, right 0.3s, top 0.3s, bottom 0.3s;

    .profile-images & {

      @include media-breakpoint-up($desktop-breakpoint) {
        left: calc(-0.045em - (200px - 1em) * 0.02);
        right: calc(-0.045em - (200px - 1em) * 0.02);
        bottom: calc(-0.045em - (200px - 1em) * 0.02);
        top: calc(-0.045em - (200px - 1em) * 0.02);
      }
    }
  }
}

.round-add {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  border-radius: 50%;
  border: 1px solid $main-color;
  opacity: .4;
  color: $main-color;
  font-size: 36px;
  line-height: 36px;

  &:after {
    content: "\E601";
    margin: auto;
  }
}

.btn-subscribe {

  &.alt {

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {
        background: $default-primary-color;
      }
    }
  }
}
