.play-button {
  margin: auto;
  position: relative;
  opacity: 0.75;
  color: #fff;
  cursor: pointer;
  transition: opacity .3s;

  @include media-breakpoint-up($desktop-breakpoint) {

    &:hover {
      opacity: 1;
    }
  }

  &:after {
    content: "\e8d6";
    @include icon-font;
    font-size: 6em;
  }

  &-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
