
.accordion-section {
  margin-bottom: 20px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgba(124, 139, 150, 0.2);
    opacity: 0;
    transition: opacity .3s;
  }

  &.opened:not(:last-child) {

    &:after {
      opacity: 1;
    }
  }

  &__title {
    font-size: 17px;
    position: relative;
    padding-left: 25px;
    cursor: pointer;

    @include media-breakpoint-up($desktop-breakpoint) {
      font-size: 20px;
    }

    &:after {
      content: "\e8bb";
      position: absolute;
      left: 0;
      font-size: 24px;
      top: 50%;
      transform: translate(0, -50%);
      color: $secondary-color;
      transition: transform .3s;

      .opened > & {
        transform: translate(0, -50%) rotate(-90deg);
      }
    }
  }

  &__body {
    overflow: hidden;
    max-height: 0;
    transition: max-height .4s;

    .opened > & {
      max-height: 3000px;
    }

    &-inside {
      padding: 10px 0 0 25px;

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-top: 20px;
      }
    }
  }
}