@import "components/imports";

@keyframes splash {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.addstory-page {

  html {

    @include media-breakpoint-down($desktop-breakpoint) {
      height: 100%;
    }
  }

  body {

    @include media-breakpoint-down($desktop-breakpoint) {
      min-height: 100%;
    }
  }
}

.storyOptions {
  display: none; /*remove line when do buttons on add story page*/
  /*display: flex; */ /*this line uncomment when do buttons on add story page*/
  z-index: 2;
  justify-content: space-around;
  width: 100%;
}

.addStoryView {
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}

.storyOverlay {
  position: absolute;
  z-index: 1;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;

  &:after {

    .stream_enabled & {
      content: none;
    }
  }

  .storyBottom {
    position: absolute;
    bottom: 1em;
    width: 100%;
    text-align: center;

    > span {
      max-width: 20em;
      min-width: 10em;
      width: 50%;
      display: block;
      margin: 0 auto;
    }
  }
}

.storyPlaceholder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 21px;
  color: #fff;
  opacity: 0.3;

  > label {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;

    > span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 250px;
      width: 100%;
    }
  }
}

.storyPreview {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  z-index: 0;

  &__img {
    max-width: 100%;
    max-height: calc(100% - 220px);
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 2;

    @include media-breakpoint-up($desktop-breakpoint) {
      max-height: calc(100% - 150px);
    }
  }

  &__video {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
  }
}

.story-block-fill {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  filter: opacity(50%) blur(10px);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.font-style {
  + .options {
    margin-bottom: 0;
  }

  &__strong {
    font-size: 21px;
    font-weight: 700;
  }

  &__modern {
    font-size: 21px;
    font-family: "Lato", sans-serif;
  }

  &__type {
    font-size: 24px;
    font-family: "Cutive Mono", monospace;
  }

  &__soft {
    font-size: 24px;
    font-family: "Courgette", cursive;
  }

  ul {
    list-style: none;
    padding: 10px 30px 0;
    margin: 0;

    li {
      text-align: center;
      border-bottom: 1px solid rgba($gray, 0.2);

      &:last-child {
        border-bottom: none;
      }

      a {
        display: block;
        color: $main-color;
        opacity: 0.5;
        transition: all 0.3s;

        &.font-style__strong,
        &.font-style__modern {
          padding: 12px 0;
        }

        &.font-style__soft,
        &.font-style__type {
          padding: 9px 0;
        }

        &:hover {
          animation: splash 0.3s normal forwards ease-in-out;
          opacity: 0.8;
        }
      }
    }
  }
}

.addStoryButton.btn {
  background-color: rgba(255, 255, 255, 1);
  color: $main;
  opacity: 0.7;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  height: 40px;
  padding-top: 11px;
  padding-bottom: 11px;

  @include media-breakpoint-down($desktop-breakpoint) {
    color: #fff;
    background-color: rgba(255, 255, 255, .15);
  }

  &:not([disabled]) {
    opacity: 0.7;
  }

  &:hover {

    @include media-breakpoint-up($desktop-breakpoint) {
      opacity: 1;
      background-color: rgba(255, 255, 255, 1);
    }
  }
}
