@import "components/imports";

.addPost-page {

  @include media-breakpoint-down($desktop-breakpoint) {
    background: $white;
  }

  &:before {

    @include media-breakpoint-down($desktop-breakpoint) {
      display: none;
    }
  }

  #site_header {

    @include media-breakpoint-down($desktop-breakpoint) {
      display: none;
    }
  }

  .site-footer {

    @include media-breakpoint-down($desktop-breakpoint) {
      display: none;
    }
  }

  #content {

    @include media-breakpoint-down($desktop-breakpoint) {
      position: relative;
      z-index: 11;
    }
  }

  .addPost {

    @include media-breakpoint-down($desktop-breakpoint) {
      position: inherit;
    }
  }
}

.addPostPage {

  @include media-breakpoint-up($desktop-breakpoint) {
    min-height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.addPost {

  @include media-breakpoint-down($desktop-breakpoint) {
    height: 100%;
    background: $white;
    position: relative;
    z-index: 20;

    #content > & {
      transition: none;
    }

    .feed & {
      display: none;
    }
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    width: 100%;
    max-width: $width-wrapper;
    margin: 0 auto;
    padding: 0 10px;

    .popup &,
    .feed & {
      padding: 0;
      max-width: none;
      margin: 0;
    }
  }

  &.loaderWrap {

    .popup & {

      .lds-dual-ring {
        top: -60px;
      }
    }

    .loader-text {

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-top: 44px;
      }

      &:after {

        @include media-breakpoint-up($desktop-breakpoint) {
          margin-top: 0;
          top: 0;
        }
      }
    }
  }

  &-header {

    @include media-breakpoint-up($desktop-breakpoint) {
      display: none;
    }

    @include media-breakpoint-down($desktop-breakpoint) {
      display: flex;
      height: 44px;
      align-items: center;
      padding: 0 15px 0 0;
      position: relative;
      z-index: 2;
      background: inherit;
      box-shadow: 0 0 5px rgba(#000, 0.3);
    }
  }
}

.tweet-new-post {
  display: none;
  margin: 0 15px 0 0;

  @include media-breakpoint-down($desktop-breakpoint) {
    position: absolute;
    top: 7px;
    right: 86px;
    z-index: 2;
  }

  &:hover {

    .icon {

      @include media-breakpoint-up($desktop-breakpoint) {
        color: $secondary-color;
        opacity: 1;
      }
    }
  }

  .add-new-form.expanded & {
    display: block;
  }

  input {
    display: none;

    &:checked {

      + .icon {
        color: $secondary-color;
        opacity: 1;
      }
    }
  }

  .icon {
    color: $main-color;
    opacity: 0.3;
    transition: color 0.3s ease, opacity 0.3s ease;

    &:before {
      font-weight: 400;
      @include icon-font;
      font-size: 24px;
      width: 1.6em;
      content: "\E61F";
    }
  }
}

.add-new-form {
  position: relative;
  z-index: 1;

  @include media-breakpoint-up($desktop-breakpoint) {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 8px 30px rgba(#000, 0.1);
  }

  &:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    background: $light;
    opacity: 0.3;
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 2;
  }

  .popup & {
    border-radius: 0;

    @include media-breakpoint-down($desktop-breakpoint) {
      height: 100vh;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      overflow: visible;
      margin-top: 60px;
      box-shadow: none;
    }
  }

  .feed & {
    border-radius: 5px 5px 0 0;
    box-shadow: none;

    @include media-breakpoint-down($desktop-breakpoint) {
      display: none;
    }
  }

  .addFileCollectionView {
    margin: 0 8px;
    position: relative;

    @include media-breakpoint-down($desktop-breakpoint) {
      position: absolute;
      left: 0;
      right: 0;
      top: 180px;
    }

    &:before {
      position: absolute;
      top: 0;
      content: "";
      height: 1px;
      left: 8px;
      right: 8px;
      background: rgba($gray, 0.2);
      display: none;

      @include media-breakpoint-up($desktop-breakpoint) {
        display: block;
      }
    }

    .addFileView {
      margin: 12px 8px 15px;

      @include media-breakpoint-up($desktop-breakpoint) {
        margin: 14px 8px 15px;
      }
    }
  }

  .text-media-container {
    transition: height 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    flex: 1;

    @include media-breakpoint-down($desktop-breakpoint) {
      position: relative;
      overflow: visible;

      &:before {
        position: absolute;
        bottom: -1px;
        content: "";
        height: 1px;
        left: 15px;
        right: 15px;
        background: rgba($gray, 0.2);
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      border-radius: 15px;
      background-color: $white;
    }
  }

  textarea {
    background-color: transparent;
    caret-color: $secondary-color;

    @include media-breakpoint-down($desktop-breakpoint) {
      font-size: 17px;
      padding: 21px 15px;
      height: 137px;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      height: 30px;
      min-height: 30px;
      overflow: hidden;
    }

    &:focus {
      background-color: transparent;
    }
  }

  &:not(.expanded) {

    .actions {
      align-items: center;
      align-content: center;
      margin-right: -15px;
    }

    .add-new-type {

      .addNewNav {

        &__item {

          &:after {
            display: none;
          }
        }
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
  }

  .add-media-input {
    color: $secondary-color;
    transition: color 0.3s ease;

    @include media-breakpoint-up($desktop-breakpoint) {
      position: absolute;
      top: 0;
      right: 170px;
    }

    &:hover {
      color: $secondary-color-darken;
    }

    &:before {
      @include icon-font;
      font-size: 24px;
      width: 2em;
      content: "\E61A";
      display: block;
    }
  }

  .submit {

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-left: 21px;
      padding-right: 21px;
      display: none;
    }
  }

  .voting-block-toggle-btn {
    display: none;
    transition: color 0.3s ease;
    cursor: pointer;
    color: $secondary-color;

    &:hover,
    &.active {
      color: $secondary-color-darken;
    }

    &:before {
      @include icon-font;
      font-size: 24px;
      width: 1.5em;
      display: block;
      content: "\E624";
    }
  }

  &.expanded {

    @include media-breakpoint-up($desktop-breakpoint) {

      .text-media-container {
        border-radius: 6px;
        box-shadow: 0 0 0 2px $secondary-color-20;
        flex: 0 0 calc(100% - 45px); // 45px = 30px width of avatar + 15px right gap
      }
    }

    .popup & {

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-bottom: 15px;
      }
    }

    textarea {
      overflow: auto;
      max-height: 200px;

      @include media-breakpoint-down($desktop-breakpoint) {
        height: 137px;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        height: 80px;
        min-height: 80px;
      }

      .popup & {

        @include media-breakpoint-up($desktop-breakpoint) {
          height: 80px;
        }
      }
    }

    .add-media-input {
      position: static;
      margin-right: 7px;

      &:before {
        width: 1.8em;

        @include media-breakpoint-up($desktop-breakpoint) {
          width: 1.1em;
        }
      }
      &.disabled {
        opacity: .5;
        pointer-events: none;
      }
    }

    .add-new-type {
      margin-left: auto;
      margin-right: auto;
      display: none;

      @include media-breakpoint-up($desktop-breakpoint) {
        margin-top: -3px;
        transform: translateX(7px);
      }

      .addNewNav {

        &__item {

          &:before {
            @include media-breakpoint-up($desktop-breakpoint) {
              width: 1.8em;
            }
          }

          &.active {

            @include media-breakpoint-up($desktop-breakpoint) {

              &:before {
                @include media-breakpoint-up($desktop-breakpoint) {
                  width: 54px;
                }
              }
            }
          }
        }
      }

      .popup & {
        @include media-breakpoint-up($desktop-breakpoint) {
          margin-top: 0;
          transform: translateX(0);
        }
        .addNewNav {

          &__item {

            &:before {
              @include media-breakpoint-up($desktop-breakpoint) {
                width: auto;
              }
            }
          }
        }
      }
    }

    .tweet-new-post {
      .popup & {
        margin-left: auto;
      }
    }

    .submit {
      display: block;

      @include media-breakpoint-down($desktop-breakpoint) {
        margin: auto 0 auto auto;
      }
    }

    .actions {
      padding: 12px 5px 0;

      @include media-breakpoint-up($desktop-breakpoint) {
        padding: 15px 0 0;
        flex: 0 0 calc(100% - 45px); // 45px = 30px width of avatar + 15px right gap
        margin-left: auto;
      }
    }

    .voting-block-toggle-btn {
      display: block;
    }
  }
}

.actions-controls {
  display: flex;
  align-content: center;
  align-items: center;
}

.b-check-state {
  font-size: 13px;
  line-height: 30px;
  margin-right: 7px;

  @include media-breakpoint-up($desktop-breakpoint) {
    margin-left: 8px;
  }

  .add-new-form:not(.expanded) & {
    display: none;
  }

  input[type="checkbox"] {
    position: absolute;
    left: -999em;
    top: 0;
    visibility: hidden;
    opacity: 0;

    &:checked {

      + .b-check-state__icon {
        opacity: 1;

        &:before {
          color: $secondary-color;
        }

        &:after {
          opacity: 1;
          color: $secondary-color;
        }

        + .b-check-state__text {
          opacity: 1;
        }
      }
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    margin-right: 12px;
    position: relative;
    opacity: 0.5;

    &:before {
      @include icon-font;
      width: 18px;
      height: 18px;
      line-height: 15px;
      text-align: center;
      position: absolute;
      left: 0;
      top: 2px;
      font-size: 24px;
      transition: opacity 0.3s;
    }

    &:before {
      opacity: 0.5;
      color: $main-color;

      .b-check-state_post & {
        content: "\E610";
      }
    }

    .b-check-state_post & {

      &:after {
        content: "\E60F";
        @include icon-font;
        width: 18px;
        height: 18px;
        line-height: 15px;
        text-align: center;
        position: absolute;
        left: 0;
        top: 2px;
        font-size: 24px;
        opacity: 0;
        transition: opacity .3s;
      }
    }
  }

  &__text {
    opacity: 0.5;
    white-space: nowrap;
    transition: opacity .3s, color .3s;
  }

  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: center;
  }

  &_post {

    .b-check-state__icon {

      &:before,
      &:after {
        top: 0;
        left: -3px;
        line-height: 18px;
      }
    }

    input[type="checkbox"] {

      &:checked {

        + .b-check-state__icon {
          opacity: 1;

          &:before {
            color: $secondary-color;
            opacity: 0;
          }

          &:after {
            opacity: 1;
          }
        }
      }
    }
  }

  &_live {
    margin-right: auto;
    color: $primary-color;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 15px;
    margin-left: 8px;
    font-weight: 500;

    &:hover {
      color: $primary-color-darken;
    }

    &.disabled {
      color: $main-color;
      opacity: .5;
      pointer-events: none;

      &:before {
        opacity: .5;
      }
    }

    &:before {
      content: "\E621";
      @include icon-font;
      width: 18px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      font-size: 24px;
      transition: opacity 0.3s, color 0.3s;
      margin-right: 11px;
    }
  }
}