@import "components/imports";

.blocked-search {

  @include media-breakpoint-up($desktop-breakpoint) {
    width: 220px;
  }
}

.BlockedView {
  .BlockedUsersCollectionView {
    .table-header-title {
      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        padding-top: 19px;
      }
    }

    .table-header {
      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        padding-top: 14px;
      }

      &_reset-pt {
        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          padding-top: 0;
        }
      }
    }
  }
}

.BlockedUsersCollectionView {
  @include media-breakpoint-up($desktop-breakpoint) {
    overflow: auto;
  }

  .semi-transparent {
    .subtext {
      margin-top: 6px;

      @include media-breakpoint-up($desktop-breakpoint) {
        margin-top: 2px;
      }
    }
  }

  .SettingsStoryView & {

    .form-title {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        padding-top: 5px;
      }
    }
  }

  .SettingsPrivacyView & {

    .form-title {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        padding-bottom: 11px;
      }
    }
  }

  .SettingsPrivacyView &,
  .SettingsStoryView & {

    .bg-gradient {

      &_pseudo {

        &:before,
        &:after {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            display: none;
          }
        }
      }

      &__shadow {

        &_mob {

          &:after {

            @include media-breakpoint-down($desktop-breakpoint-dcrs) {
              display: none;
            }
          }
        }
      }
    }
  }
}

.private-story {

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    padding-bottom: 0;
  }
}
