@import "components/imports";

.blocked-search {

  @include media-breakpoint-up($desktop-breakpoint) {
    width: 220px;
  }
}

.BlockedView {
  .BlockedUsersCollectionView {
    .table-header-title {
      @include media-breakpoint-down($desktop-breakpoint) {
        padding-top: 19px;
      }
    }

    .table-header {
      @include media-breakpoint-down($desktop-breakpoint) {
        padding-top: 14px;
      }

      &_reset-pt {
        @include media-breakpoint-down($desktop-breakpoint) {
          padding-top: 0;
        }
      }
    }
  }
}

.BlockedUsersCollectionView {
  @include media-breakpoint-up($desktop-breakpoint) {
    overflow: auto;
  }

  .settings-nav__wrapper {
    @include media-breakpoint-down($desktop-breakpoint) {
      margin-top: 11px;
    }
  }

  .semi-transparent {
    .subtext {
      margin-top: 6px;

      @include media-breakpoint-up($desktop-breakpoint) {
        margin-top: 2px;
      }
    }
  }
}

.private-story {

  @include media-breakpoint-down($desktop-breakpoint) {
    padding-bottom: 0;
  }
}
