@import "components/imports";

.chatCreateNewView {

  .nextStep {
    width: auto !important;
    padding: 3px 18px;
    font-weight: 400;
    height: 24px;
  }
}

.searchContact {
  .selectedContacts {
    padding-right: 40px;
  }
}

.chatSelectedView {
  margin: 0 6px 6px 0;
  padding: 6px 7px 6px 13px;
  display: inline-block;
  font-size: 0;
  position: relative;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid $primary-color;
    border-radius: 999px;
    opacity: 0.3;
    z-index: -1;
    transition: opacity 0.3s ease;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }

  .chatSelectedName,
  .remove {
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
  }

  .chatSelectedName {
    font-weight: 500;
    line-height: 17px;
    max-width: 10em;
    @include ellipsis;
  }

  .remove {
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.3s ease;
    width: 16px;
    height: 16px;
    position: relative;
    margin-left: 7px;

    &:before {
      display: inline-block;
      vertical-align: middle;
      @include icon-font;
      font-size: 1.3em;
      margin: -2px 0 0;
      font-weight: 400;
      content: "\E600";
      color: $primary-color;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
    &:hover {
      opacity: 1;
    }
  }
}

.all-contacts-found {
  flex: 1;
  position: relative;
  z-index: 2;
}

.btn-selected-all {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  cursor: pointer;

  &:before {
    display: inline-block;
    @include icon-font;
    font-size: 24px;
    margin: 0 4px 0 0;
    width: 1.1em;
    font-weight: 400;
    content: "\E603";
  }

  &.visible {
    visibility: visible;
    opacity: 0.3;
  }

  &.active {
    color: $secondary-color;
    opacity: 1;
  }

  &:hover {
    color: $secondary-color;
    opacity: 1;
  }
}
