@import "components/imports";

.chatMessagesCollectionView {
  display: flex;
  flex-direction: column;
  width: 100%;

  .notVisible {
    visibility: hidden;
    width: 1px;
    height: 1px;
    position: absolute;
    left: -9999999px;
  }

  .time {
    color: rgba($main, 0.5);
    font-size: 0.76em;

    .status {
      display: none;
    }
  }

  .media {
    margin: 0 0 1px;
    font-size: 0;

    &-item {
      display: inline-block;
      vertical-align: top;
      max-width: 100%;
      max-height: 60vh;
      position: relative;
      overflow: hidden;

      @include media-breakpoint-up($tablet-breakpoint) {
        max-height: calc(81vh - 180px);
      }

      .postLink {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        overflow: hidden;
        border-radius: 0 20px 20px 0;
      }

      img,
      video {
        border-radius: 20px;
        max-height: 60vh;
        max-width: 100%;
        width: auto;
        //height: auto;
        //background: #fff;
        //display: block;

        @include media-breakpoint-up($tablet-breakpoint) {
          max-height: calc(81vh - 180px);
          margin-left: 0;
          margin-right: 0;
        }
      }
    }

    a {
      display: inline-block;
    }

    .media-slider {

      .media-item {
        display: none;

        &.active {
          display: block;
        }
      }

      &-pagination {
        position: absolute;
        bottom: 6px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;

        @include media-breakpoint-up($desktop-breakpoint) {
          bottom: 10px;
        }

        .item {
          width: 6px;
          height: 6px;
          margin: 0 3px;
          border-radius: 1000px;
          background: #fff;
          opacity: 0.5;
          transition: opacity 0.3s ease;
          cursor: pointer;
          position: relative;
          box-shadow: 2px 2px 5px rgba(#000, 0.1);
          &:before {
            position: absolute;
            left: -3px;
            right: -3px;
            top: -3px;
            bottom: -3px;
            content: "";
          }
          &.active,
          &:hover {
            opacity: 1;
          }
        }
      }

      &-navigation {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          display: none;
        }

        .btn-prev,
        .btn-next {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 45px;
          color: #fff;
          font-size: 36px;
          cursor: pointer;
          opacity: 0.7;
          transition: opacity 0.3s ease;
          filter: drop-shadow(2px 2px 5px rgba(#000, 0.4));
          &:before {
            @include icon-font;
            @include position-center;
          }
          &:hover {
            opacity: 1;
          }
        }

        .btn-prev {
          left: 0;

          &:before {
            content: "\E645";
          }
        }
        .btn-next {
          right: 0;

          &:before {
            content: "\E643";
          }
        }
      }
    }

    .gif-player {
      position: relative;
      .gif-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        background: #000;
      }
    }
  }
}

.chat-section {
  position: relative;
  flex: 1;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    display: flex;
    flex-direction: column;
  }

  &_loading {
    flex: 1;

    .chat-page_new & {
      position: static;
    }

    + .chat-section {
      flex: 0 0 auto;
      opacity: 0;
    }

    .lds-dual-ring {
      bottom: 0;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        top: -44px;
      }
    }
  }

  > .chatContent {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-top: auto;
      margin-bottom: 0;
    }
  }


}

.chatContent {
  padding: 6px 14px;
  margin-top: 6px;
  margin-bottom: 6px;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 0 20px;
    height: calc(100% - 4px);
    position: absolute;
    left: 0;
    top: 4px;
    right: 0;
    bottom: 0;
    margin: 0;
  }
}

.chatMessage {
  margin-bottom: 1px;
  max-width: 83%;

  &:not(:first-child) {
    .chatMessageWrapper,
    .message,
    .messageWrapper {
      margin-top: 0;
    }
  }

  .chatMessageWrapper,
  .message,
  .messageWrapper {
    margin-bottom: 0;
  }

  + .chatMessage {
    &.withTime {
      .chatMessageWrapper {
        margin-top: 0;
      }
    }
  }

  .chatMessageWrapper {
    display: flex;
    flex-direction: row;
  }

  &.withTime {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .time {
      display: block;
    }

    .chatMessageWrapper {
      margin: 0.25em 0;
    }

    .messageWrapper {
      margin-bottom: 2px;
    }
  }

  .messageWrapper {
    position: relative;

    .message {
      padding: 0.5em 1em;
      margin-bottom: 1px;
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
      word-wrap: break-word;
      hyphens: auto;
      text-align: left;

      &:not(:last-child) {
        border-bottom-left-radius: 0;
      }
    }
  }

  &.notAuthorMessage {

    .messageWrapper {

      .message {
        background-color: rgba(124, 139, 150, 0.2);
        border-radius: 0 20px 20px 0;

        + .media {

          .media-item {

            img,
            video {
              border-radius: 0 20px 20px 0;
            }
          }
        }
      }
    }

    &.firstMessageInGroup {

      .messageWrapper {

        .message {
          border-top-left-radius: 20px;
        }
      }
    }

    .tipsMessage,
    .unlockedMessage,
    .lockedMessage {

      .message {

        &:before {
          top: 50%;
          right: -30px;
          color: $secondary-color;
          transform: translateY(-50%);
        }
      }
    }

    &.withTime {

      .avatar {
        opacity: 1;
        pointer-events: visible;
        margin-bottom: 16px;
      }
    }

    .avatar {
      opacity: 0;
      pointer-events: none;
      margin-top: auto;
    }
  }

  &.authorMessage {
    text-align: right;
    margin-left: auto;
    margin-right: 0;

    .messageWrapper {

      &.lockedMessage {
        opacity: 0.5;
      }

      .message {
        color: white;
        background-color: $primary-color;
        border-radius: 20px 0 0 20px;

        &:before {
          color: var(--primary-color);
        }

        + .media {

          .media-item {
            justify-content: flex-end;

            img,
            video {
              border-radius: 20px 0 0 20px;
            }
          }
        }
      }
    }

    .tipsMessage,
    .unlockedMessage,
    .lockedMessage {
      .message {
        &:before {
          left: -30px;
          right: auto;
          color: $primary-color;
        }
      }
    }

    &.firstMessageInGroup {
      .messageWrapper {
        .message {
          border-radius: 20px 20px 0 20px;
        }
      }
    }

    .avatar {
      display: none;
    }

    .time {
      text-align: right;

      .status {
        display: initial;
      }
    }

    .media {
      &-item {
        img,
        video {
          border-radius: 20px 0 0 20px;
        }

        .postLink {
          justify-content: flex-end;
          border-radius: 20px 0 0 20px;
          overflow: hidden;
        }
      }
    }
  }
}

.messageContent {
  z-index: 1;
  display: inline-block;
  width: 100%;
}

.messageWrapper {
  .message {
    position: relative;
    display: inline-block;

    &:empty {
      display: none;
    }
  }

  &.lockedMessage {
    .message {
      color: $secondary-color;
    }

    &.messageTypeText {
      .message {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        max-height: 200px;

        @include media-breakpoint-up($desktop-breakpoint) {
          max-height: 400px;
        }
      }
    }

    &.messageTypePhoto,
    &.messageTypeVideo {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      min-width: 140px;
      min-height: 32px;

      .message {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
      }

      .media {
        flex: 1;
        height: 100%;
        display: flex;
        overflow: hidden;
        border-radius: 0 20px 20px 0;
        opacity: 0.5;

        &-item {
          flex: 1;
          height: 100%;
          display: flex;
        }
      }

      .locked-picture {
        flex: 1;
        width: 100%;

        .locked {
          width: 100%;
          height: 100%;
          opacity: 1;
        }
      }

      .condition-unlock {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 8px 16px;
        border-radius: 1000px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
      }
    }

    &.messageTypePhoto {
      .locked-picture {
        &:after {
          display: none;
        }
      }
    }

    &.messageTypeVideo {
      .locked-picture {
        &:after {
          content: "\E661";
          @include icon-font;
          position: absolute;
          left: 15px;
          bottom: 10px;
          font-size: 40px;
          color: #fff;
          opacity: 0.8;
          transition: all 0.3s;
          top: auto;
          transform: translate(0, 0);
        }
      }
    }
  }
}

.tipsMessage {
  .message {
    &:before {
      @include icon-font;
      font-size: 24px;
      content: "\E618";
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: 2px;
    }
  }
}

.unlockedMessage {
  .message {
    &:before {
      @include icon-font;
      font-size: 24px;
      content: "\E61C";
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: 2px;
    }
  }
}

.lockedMessage {
  .message {
    cursor: pointer;

    &:before {
      @include icon-font;
      font-size: 24px;
      content: "\E61B";
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: 2px;
    }
  }
  &.mine {
    .message {
      cursor: default;
    }
  }
}
