@import "components/imports";

.chatMessagesCollectionView {
  display: flex;
  flex-direction: column;
  width: 100%;

  .media {
    margin: 0 0 1px;
    font-size: 0;

    &-item {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      max-width: 440px;
      position: relative;
      overflow: hidden;

      @include media-breakpoint-up($tablet-breakpoint) {
        max-width: 380px;
      }

      .postLink {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        overflow: hidden;
        border-radius: 0 20px 20px 0;
      }
    }

    &-content {
      max-width: 100%;
      width: auto;
      object-fit: cover;
      object-position: left top;
      display: block;

      @include media-breakpoint-up($tablet-breakpoint) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    a {
      display: inline-block;
    }

    .gif-player {

      .gif-img {
        background: #000;
      }
    }
  }


  &.no-selected-conversation {

    .msg-no-chat {
      opacity: 1;
      pointer-events: auto;
    }

    .addChatMessage {
      transform: translateY(100%);
    }
  }
}

.chat-section {
  position: relative;
  z-index: 0;
  flex: 1;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    display: flex;
    flex-direction: column;
  }

  .no-selected-conversation & {

    @include media-breakpoint-up($desktop-breakpoint) {
      min-height: 100%;
    }
  }

  &_loading {
    flex: 1;

    .chat-page_new & {
      position: static;
    }

    + .chat-section {
      flex: 0 0 auto;
      opacity: 0;
    }

    .lds-dual-ring {
      bottom: 0;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        top: -44px;
      }
    }
  }

  > .chatContent {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-top: auto;
      margin-bottom: 0;
    }
  }
}

.chatContent {
  padding: 6px 14px;
  margin-top: 6px;
  margin-bottom: 6px;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 0 20px;
    height: calc(100% - 4px);
    position: absolute;
    left: 0;
    top: 4px;
    right: 0;
    bottom: 0;
    margin: 0;
  }

  &_new-chat {

    @include media-breakpoint-up($desktop-breakpoint) {
      display: flex;
    }
  }
}

.chatMessage {
  margin-bottom: 1px;
  width: 100%;
  max-width: 71%;

  &:not(:first-child) {

    .chatMessageWrapper,
    .message,
    .messageWrapper {
      margin-top: 0;
    }
  }

  .chatMessageWrapper,
  .message,
  .messageWrapper {
    margin-bottom: 0;
  }

  + .chatMessage {

    &.withTime {

      .chatMessageWrapper {
        margin-top: 0;
      }
    }
  }

  .chatMessageWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &.withTime {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .chatMessageWrapper {
      margin: 0.25em 0;
    }

    .messageWrapper {
      margin-bottom: 2px;
    }
  }

  .messageWrapper {
    position: relative;
  }

  .message {
    padding: 0.5em 1em;
    margin-bottom: 1px;
    overflow-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
    text-align: left;
    position: relative;
    display: inline-block;

    &:empty {
      display: none;
    }

    &:not(:last-child) {
      border-bottom-left-radius: 0;
    }

    span.emoji-inner {
      vertical-align: top;
    }
  }

  &.notAuthorMessage {

    .rounded-corners {
      border-radius: 0 20px 20px 0;
    }

    .message {
      background-color: rgba(124, 139, 150, 0.2);
    }

    &.firstMessageInGroup {

      .message {

        &.rounded-corners {
          border-top-left-radius: 20px;
        }
      }
    }

    &:not(.withTime) {

      .messageContent {
        margin-left: 45px;
      }
    }

    &.withTime {

      .avatar {
        margin-bottom: 16px;
        margin-top: auto;
      }
    }
  }

  &.authorMessage {
    text-align: right;
    margin-left: auto;
    margin-right: 0;

    .rounded-corners {
      border-radius: 20px 0 0 20px;
    }

    .message {
      background-color: $primary-color;

      &:before {
        color: var(--primary-color);
      }

      &__text {
        color: white;
      }

      + .media {

        .media-item {
          justify-content: flex-end;
        }
      }
    }

    .messageWrapper {

      &.lockedMessage {
        opacity: 0.5;
      }
    }

    &.firstMessageInGroup {

      .message {

        &.rounded-corners {
          border-top-right-radius: 20px;
        }
      }
    }

    .media {

      &-content {
        margin-right: 0;
      }

      &-item {

        .postLink {
          justify-content: flex-end;
          border-radius: 20px 0 0 20px;
        }
      }
    }
  }

  .media-item {

    .postLink {
      width: 100%;
      padding-top: 100%;
      max-width: 440px;
      background-color: rgba($gray, 0.2);
      max-height: 60vh;

      @include media-breakpoint-up($tablet-breakpoint) {
        max-height: calc(81vh - 180px);
      }

      .media-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &.m-cover-size {
          width: 100%;
          height: 100%;
          object-position: center;
        }
      }
    }
  }

  .story {
    img {
      max-width: 50px;
      border-radius: 5px;
    }
  }
}

.messageContent {
  z-index: 1;
  display: inline-block;
  width: calc(100% - 46px);
  flex: 1;
}

.messageWrapper {

  .video-placeholder {
    overflow: hidden;
    background-color: rgba($gray, 0.2);

    .media-content {
      transition: opacity .3s;
    }
  }

  &.lockedMessage {

    .notAuthorMessage & {

      .media {
        border-radius: 0 20px 20px 0;
        overflow: hidden;
      }
    }
  }
}

.message-locked {

  .lockedMessage:not(.mine) & {
    min-width: 108px;

    .message__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
      color: $secondary-color;
    }
  }

  &__text {
    color: transparent;
    pointer-events: none;
    user-select: none;
  }
}

.message-icon {

  .media,
  .message,
  .video-placeholder {

    &:before {
      @include icon-font;
      font-size: 24px;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: 2px;
    }

    .authorMessage & {

      &:before {
        left: -30px;
        //color: $primary-color;
      }
    }

    .notAuthorMessage & {

      &:before {
        top: 50%;
        right: -30px;
        color: $secondary-color;
        transform: translateY(-50%);
      }
    }
  }
}

.tipsMessage,
.snapchatMessage {
  color: $secondary-color;

  .message {

    &:before {
      content: "\E618";
    }
  }
}

.unlockedMessage {

  .message {

    &:before {
      content: "\E61C";
    }
  }
}

.lockedMessage {

  .media,
  .video-placeholder {

    .notAuthorMessage & {
      cursor: pointer;
    }

    &:before {

      .notAuthorMessage & {
        font-size: 42px;
        right: auto;
        bottom: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.7;
        color: #fff;
        text-shadow: $shadow-light;
        z-index: 1;
      }
    }
  }

  .media {

    &-content {
      width: auto;
    }
  }

  .media,
  .message,
  .video-placeholder {

    &:before {
      content: "\E61B";
    }
  }

  &:not(.mine) {

    .message {
      cursor: pointer;
    }
  }
}

.chatFlatLoader {
  height: 6px;
  background: repeating-linear-gradient(to right, rgba(255, 64, 129, 1) 0%, rgba(33, 150, 243, 1) 50%, rgba(255, 64, 129, 1) 100%);
  background-size: 200% auto;
  background-position: 0 100%;
  animation: gradient 2s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  font-size: 0;

  .bulk-message & {
    margin-bottom: -6px;
  }

  .chat-section & {
    margin-left: -16px;
    margin-right: -16px;

    @include media-breakpoint-up($tablet-breakpoint) {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  .chatCollectionContentWrapper & {
    width: 100%;
  }

  &.past-messages {

    .chat-section & {
      margin-top: -3px;
      margin-bottom: 5px;
    }
  }

  &.new-messages {
    margin-top: 5px;
  }
}