@import "components/imports";

.chatMessagesCollectionView {
  display: flex;
  flex-direction: column;
  width: 100%;

  .notVisible {
    visibility: hidden;
    width: 1px;
    height: 1px;
    position: absolute;
    left: -9999999px;
  }

  .media {
    margin: 0 0 1px;
    font-size: 0;

    &-item {
      display: inline-block;
      vertical-align: top;
      max-width: 100%;
      max-height: 60vh;
      position: relative;
      overflow: hidden;

      @include media-breakpoint-up($tablet-breakpoint) {
        max-height: calc(81vh - 180px);
      }

      .postLink {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        overflow: hidden;
        border-radius: 0 20px 20px 0;
      }

      img,
      video {
        border-radius: 20px;
        max-height: 60vh;
        max-width: 100%;
        width: auto;
        object-fit: cover;
        object-position: left;

        @include media-breakpoint-up($tablet-breakpoint) {
          max-height: calc(81vh - 180px);
          margin-left: 0;
          margin-right: 0;
        }
      }
    }

    a {
      display: inline-block;
    }

    .gif-player {
      position: relative;
      .gif-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        background: #000;
      }
    }
  }
}

.chat-section {
  position: relative;
  z-index: 0;
  flex: 1;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    display: flex;
    flex-direction: column;
  }

  .no-selected-conversation & {

    @include media-breakpoint-up($desktop-breakpoint) {
      min-height: 100%;
    }
  }

  &_loading {
    flex: 1;

    .chat-page_new & {
      position: static;
    }

    + .chat-section {
      flex: 0 0 auto;
      opacity: 0;
    }

    .lds-dual-ring {
      bottom: 0;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        top: -44px;
      }
    }
  }

  > .chatContent {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-top: auto;
      margin-bottom: 0;
    }
  }


}

.chatContent {
  padding: 6px 14px;
  margin-top: 6px;
  margin-bottom: 6px;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 0 20px;
    height: calc(100% - 4px);
    position: absolute;
    left: 0;
    top: 4px;
    right: 0;
    bottom: 0;
    margin: 0;
  }
}

.chatMessage {
  margin-bottom: 1px;
  max-width: 83%;

  &:not(:first-child) {
    .chatMessageWrapper,
    .message,
    .messageWrapper {
      margin-top: 0;
    }
  }

  .chatMessageWrapper,
  .message,
  .messageWrapper {
    margin-bottom: 0;
  }

  + .chatMessage {
    &.withTime {
      .chatMessageWrapper {
        margin-top: 0;
      }
    }
  }

  .chatMessageWrapper {
    display: flex;
    flex-direction: row;
  }

  &.withTime {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .chatMessageWrapper {
      margin: 0.25em 0;
    }

    .messageWrapper {
      margin-bottom: 2px;
    }
  }

  .messageWrapper {
    position: relative;
  }

  .message {
    padding: 0.5em 1em;
    margin-bottom: 1px;
    -ms-word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
    hyphens: auto;
    text-align: left;
    position: relative;
    display: inline-block;

    &:empty {
      display: none;
    }

    &:not(:last-child) {
      border-bottom-left-radius: 0;
    }
  }

  &.notAuthorMessage {

    .message {
      background-color: rgba(124, 139, 150, 0.2);
      border-radius: 0 20px 20px 0;

      + .media {

        .media-item {

          img,
          video,
          .video-placeholder {
            border-radius: 0 20px 20px 0;
          }
        }
      }
    }

    .messageWrapper {

      .media {

        &-item {

          img,
          video,
          .video-placeholder {
            border-radius: 0 20px 20px 0;
          }
        }

        img,
        video {
          margin: 0;
        }

        .no-media-text {
          border-radius: 0 20px 20px 0;
        }
      }

      //&.lockedMessage {
      //  cursor: pointer;
      //
      //  .media {
      //
      //    &:after {
      //      content: "\E61B";
      //      @include icon-font;
      //      font-size: 42px;
      //      position: absolute;
      //      left: 50%;
      //      top: 50%;
      //      transform: translate(-50%, -50%);
      //      opacity: 0.7;
      //      color: #fff;
      //      text-shadow: $shadow-light;
      //    }
      //  }
      //}
    }

    &.firstMessageInGroup {

      .message {
        border-top-left-radius: 20px;
      }
    }

    &:not(.withTime) {

      .messageContent {
        margin-left: 45px;
      }
    }

    &.withTime {

      .avatar {
        margin-bottom: 16px;
        margin-top: auto;
      }
    }
  }

  &.authorMessage {
    text-align: right;
    margin-left: auto;
    margin-right: 0;

    .message {
      background-color: $primary-color;
      border-radius: 20px 0 0 20px;

      &:before {
        color: var(--primary-color);
      }

      &__text {
        color: white;
      }

      + .media {

        .media-item {
          justify-content: flex-end;

          img,
          video,
          .video-placeholder {
            border-radius: 20px 0 0 20px;
          }
        }
      }
    }

    .messageWrapper {

      &.lockedMessage {
        opacity: 0.5;
      }

      .media {

        &-item {

          img,
          video,
          .video-placeholder {
            border-radius: 20px 0 0 20px;
          }
        }
      }
    }

    &.firstMessageInGroup {

      .message {
        border-top-right-radius: 20px;
      }
    }

    .media {
      &-item {
        img,
        video {
          border-radius: 20px 0 0 20px;
          margin-right: 0;
        }

        .postLink {
          justify-content: flex-end;
          border-radius: 20px 0 0 20px;
          overflow: hidden;
        }
      }
    }
  }
}

.messageContent {
  z-index: 1;
  display: inline-block;
  width: 100%;
}

.messageWrapper {

  .video-placeholder {
    overflow: hidden;
  }

  &.lockedMessage {

    //.message {
    //  color: $secondary-color;
    //}

    &.messageTypeText {
      .message {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        max-height: 200px;

        @include media-breakpoint-up($desktop-breakpoint) {
          max-height: 400px;
        }
      }
    }

    &.messageTypePhoto,
    &.messageTypeVideo {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      min-width: 140px;
      min-height: 32px;

      .message {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
      }

      .media {
        flex: 1;
        height: 100%;
        display: flex;
        overflow: hidden;
        border-radius: 0 20px 20px 0;
        opacity: 0.5;

        &-item {
          flex: 1;
          height: 100%;
          display: flex;
        }
      }

      .locked-picture {
        flex: 1;
        width: 100%;

        .locked {
          width: 100%;
          height: 100%;
          opacity: 1;
        }
      }

      .condition-unlock {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 8px 16px;
        border-radius: 1000px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
      }
    }

    &.messageTypePhoto {
      .locked-picture {
        &:after {
          display: none;
        }
      }
    }

    &.messageTypeVideo {
      .locked-picture {
        &:after {
          content: "\E661";
          @include icon-font;
          position: absolute;
          left: 15px;
          bottom: 10px;
          font-size: 40px;
          color: #fff;
          opacity: 0.8;
          transition: all 0.3s;
          top: auto;
          transform: translate(0, 0);
        }
      }
    }
  }
}

.message-locked {

  .lockedMessage:not(.mine) & {
    min-width: 108px;

    .message__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
      color: $secondary-color;
    }
  }

  &__text {
    color: transparent;
    pointer-events: none;
    user-select: none;
  }
}

.message-icon {

  .media,
  .message {

    &:before {
      @include icon-font;
      font-size: 24px;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: 2px;
    }

    .authorMessage & {

      &:before {
        left: -30px;
        //color: $primary-color;
      }
    }

    .notAuthorMessage & {

      &:before {
        top: 50%;
        right: -30px;
        color: $secondary-color;
        transform: translateY(-50%);
      }
    }
  }
}

.tipsMessage {

  .message {

    &:before {
      content: "\E618";
    }
  }
}

.unlockedMessage {

  .message {

    &:before {
      content: "\E61C";
    }
  }
}

.lockedMessage {

  .media {

    .notAuthorMessage & {
      cursor: pointer;
    }

    &:before {

      .notAuthorMessage & {
        font-size: 42px;
        right: auto;
        bottom: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.7;
        color: #fff;
        text-shadow: $shadow-light;
        z-index: 1;
      }
    }
  }

  .media,
  .message {

    &:before {
      content: "\E61B";
    }
  }

  &:not(.mine) {

    .message {
      cursor: pointer;
    }
  }
}

.chatMessageSending {
  text-align: right;
  font-size: 13px;
}