@include media-breakpoint-up($desktop-breakpoint) {
  .popup-container.popup-contest-voting {
    max-width: 429px;
  }
}

.popup-contest-voting {
  .content {
    max-height: 75vh;
    overflow-y: auto;
  }
  .ok-btn {
    margin-right: 15px;
  }
  .bottom-buttons {
    margin-top: 15px;
  }
}

.contest {
  &-links {
    display: flex;
    flex-flow: row wrap;
    @include media-breakpoint-down($desktop-breakpoint) {
      flex-flow: column nowrap;
    }
    a {
      margin: 3px 20px;
      &.selected {
        opacity: 0.5;
      }
    }
    span {
      @include media-breakpoint-down($desktop-breakpoint) {
        display: none;
      }
      opacity: 0.5;
      &:last-child {
        display: none;
      }
    }
  }
  &-title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .userView {
    margin-bottom: 20px;
    @include media-breakpoint-down($desktop-breakpoint) {
      width: 286px;
      margin-left: auto;
      margin-right: auto;
    }
    &.active {
      border: 2px solid rgba($default-secondary-color, 0.5);
    }
    .bg {
      height: 278px;
      background-size: cover;
      background-position: center;
      background-color: rgba($gray, 0.1);
      background-repeat: no-repeat;
    }
    .profile-text {
      margin-bottom: 15px;
      margin-top: 10px;
      font-size: 12px;
    }
    .more-functions {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      &__btn {
        @include media-breakpoint-down($desktop-breakpoint) {
          white-space: nowrap;
          padding-top: 10px;
          padding-bottom: 8px;
          margin: 0;
        }
        &:before {
          @include media-breakpoint-down($desktop-breakpoint) {
            margin: 11px auto;
            position: relative;
            left: auto;
            right: auto;
            top: auto;
            bottom: auto;
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
          }
        }
      }
    }
    .user-container {
      flex: auto;
      z-index: auto;
      // height: 222px;
    }
    .top-votes-container {
      height: 75px;
    }
  }
  .awards-title {
    select {
      width: auto;
      display: inline-block;
    }
  }
  .form-group_with-label {
    &.contest-select {
      padding: 0;
      .form-group-inner {
        .label {
          flex: 1 1 50%;
          margin-right: 10px;
        }
        .row {
          flex: 0 0 100%;
          margin-left: 10px;
          @include media-breakpoint-down($desktop-breakpoint) {
            flex: 1 1 100%;
          }
          .row-select {
            @include media-breakpoint-down($desktop-breakpoint) {
              flex: 1 1 100%;
            }
          }
        }
      }
      &-group {
        flex: 0 0 50%;
        margin-right: auto;
        @include media-breakpoint-down($desktop-breakpoint) {
          flex: 1 1 100%;
        }
        label {
          white-space: nowrap;
        }
      }
      &-groupItem {
        @include media-breakpoint-down($desktop-breakpoint) {
          flex: 1 1 100%;
        }
      }
    }
  }
  .contest-select-wrapper {
    margin: 5px 13px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-down($desktop-breakpoint) {
      flex-flow: row wrap;
    }
  }
}
.contest-header {
  margin: 0 0 20px;
  img {
    width: 100%;
  }
}
