@import "components/imports";

.error404View {

  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 26px 0 0;
  }

  h1 {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-bottom: 2px;
    }
  }

  &.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
    }
  }

  .resetPasswordLink {
    margin: 10px auto;
    padding-bottom: 10px;
  }
}


.error404View,
.EmailConfirmedView,
.PasswordConfirmedView {
  text-align: center;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    > .container {
      max-width: 290px;
    }
  }
}

.EmailConfirmedView,
.PasswordConfirmedView {

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    p {
      padding: 0;
    }
  }
}

.error404 {

  &__title {
    margin-bottom: 23px;
  }

  &__img {
    margin-bottom: 10px;
    transform: translateX(-4px);
  }

  &__text {
    padding-bottom: 18px;
  }
}
