@import "components/imports";

.error404View {

  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 26px 0 0;
  }

  h1 {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-bottom: 2px;
    }
  }
}


.error404View,
.EmailConfirmedView,
.PasswordConfirmedView {
  text-align: center;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    > .container {
      max-width: 290px;
    }
    p {
      padding: 0;
    }
  }
}
