@import "components/imports";

.group-controls {
  display: flex;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    justify-content: space-around;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
  }

  .stream_stop & {
    display: none;
  }
}

.btn-media-event {
  @include media-breakpoint-up($tablet-breakpoint) {
    position: relative;
  }

  &:last-child {
    .menu {
      @include media-breakpoint-up($desktop-breakpoint) {
        left: auto;
        transform: translate(0, 0);
        right: -20px;
      }
    }
  }

  &.has-dropdown {
    .root-btn {
      &:empty {
        &:before {
          margin-right: 5px;
        }
      }

      &__inside {
        &:after {
          display: inline-block;
        }
      }
    }
  }

  &.shown {

    .menu {
      display: block;

      &-overlay {
        pointer-events: auto;
      }
    }

    &.has-dropdown {
      .root-btn {
        &:after {
          display: inline-block;
        }
      }
    }
  }

  .menu {
    position: absolute;
    display: none;
    background: #fff;
    left: 18px;
    right: 18px;
    top: 100%;
    margin-top: 0;
    border-radius: 5px;
    padding: 4px 0 6px;
    z-index: 1;

    @include media-breakpoint-up($mobile-breakpoint) {
      left: 68px;
      right: 68px;
    }

    @include media-breakpoint-up($tablet-breakpoint) {
      left: 50%;
      width: 240px;
      transform: translate(-50%, 0);
    }

    &-overlay {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 0;
      pointer-events: none;

      @include media-breakpoint-up($tablet-breakpoint) {
        display: none;
      }
    }

    .options-wrapper {
      margin: -4px 0 -6px;
      color: $main;
    }

    .item {
      border: none;
      padding: 16px 45px 16px 20px;
      background: none;
      font-weight: 500;
      display: block;
      width: 100%;
      text-align: left;
      position: relative;

      &[disabled] {
        opacity: 1;
      }

      .value {
        opacity: 0.5;
        transition: opacity 0.3s ease;
      }

      &.active {

        .value {
          opacity: 1;
        }
      }

      @include media-breakpoint-up($desktop-breakpoint) {

        &:hover {

          .value {
            opacity: 1;
          }
        }
      }

      &:active {
        color: $main-color;
      }

      & + .item {
        &:before {
          content: "";
          height: 1px;
          background: $gray;
          opacity: 0.2;
          left: 20px;
          right: 20px;
          top: 0;
          position: absolute;
        }
      }

      &.active {
        &:after {
          position: absolute;
          content: "\e880";
          @include icon-font;
          right: 20px;
          font-size: 24px;
          top: 50%;
          line-height: 0;
          color: $secondary-color;
        }
      }
    }
  }

  &.picture {
    .root-btn__inside {
      &:before {
        content: "\e8b5";
      }
    }
  }

  &.fullscreen {
    .root-btn__inside {
      &:before {
        content: "\e8d7";
      }
    }
  }

  &.layers {
    .root-btn__inside {
      &:before {
        content: "\e8c8";
      }
    }

    .options-wrapper {
      .options-wrap {
        padding-bottom: 7px;
      }
    }
  }

  &.letters-color {
    .root-btn__inside {
      &:before {
        content: "\e8d8";
      }
    }
  }

  &.letters-bg {
    .root-btn__inside {
      &:before {
        content: "\e8d9";
      }
    }
  }

  &.camera {
    .root-btn__inside {
      &:before {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          content: "\e8c2";
        }

        @include media-breakpoint-up($desktop-breakpoint) {
          content: "\e89d";
        }
      }
    }

    &.device-disabled {
      .root-btn__inside {
        &:before {
          content: "\e8b0";
        }
      }
    }
  }

  &.camera-switcher {

    .root-btn__inside {

      &:before {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          content: "\e8c2";
        }
      }
    }
  }

  &.microphone {
    .root-btn__inside {
      &:before {
        content: "\e8af";
      }
    }

    &.device-disabled {
      .root-btn__inside {
        &:before {
          content: "\e8ae";
        }
      }
    }
  }

  &.stream-visibility {
    .root-btn__inside {
      &:before {
        margin-right: 10px;
      }
    }

    &.public {
      .root-btn__inside {
        &:before {
          content: "\e8b9";
        }
      }
    }

    &.followers {
      .root-btn__inside {
        &:before {
          content: "\e8bf";
        }
      }
    }

    &.subscribers {
      .root-btn__inside {
        &:before {
          content: "\e89c";
        }
      }
    }
  }
}

.root-btn {
  background: none;
  border: none;
  color: #fff;
  font-weight: 500;
  position: relative;
  z-index: 2;

  &:after {
    position: absolute;
    content: "";
    border-bottom: 12px solid #fff;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    bottom: -1px;
    left: 50%;
    margin-left: -12px;
    display: none;

    @include media-breakpoint-up($desktop-breakpoint) {
      bottom: -6px;
    }
  }

  &__inside {
    padding: 13px 15px;
    height: 60px;
    display: flex;
    align-items: center;
    align-content: center;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-left: 23.5px;
      padding-right: 23.5px;
      height: 50px;
    }

    &:before,
    &:after {
      @include icon-font;
      font-size: 24px;
      vertical-align: middle;
    }

    &:before {
      font-weight: 400;
      display: inline-block;
    }

    &:after {
      width: 24px;
      height: 24px;
      line-height: 24px;
      content: "\e884";
      display: none;
    }
  }

  &:empty {

    .root-btn__inside {

      &:before {
        margin-right: 2px;
      }
    }
  }

  &__text {
    overflow: hidden;
    width: 0;
    white-space: nowrap;
  }
}