@import "components/imports";

.exploreAllStoriesCollectionView {
  display: flex;

  @include media-breakpoint-down($desktop-breakpoint) {
    margin: 0 15px;
    border-top: 1px solid rgba($gray, 0.2);
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    margin: -5px 0 16px;
  }

  .explore-stories {
    display: flex;
    overflow: hidden;
    position: relative;

    @include media-breakpoint-down($desktop-breakpoint) {
      width: auto;
      margin-left: -15px;
      margin-right: -15px;
      padding-left: 15px;
      padding-right: 15px;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 0 5px;
    }

    .ps__scrollbar-y-rail {
      opacity: 0;
      visibility: hidden;
    }

    &:empty {
      display: none;
    }
  }

  .exploreAllStoriesView {
    width: 60px;
    min-width: 60px;
    margin-right: 23px;
    margin-top: 15px;

    @include media-breakpoint-up($desktop-breakpoint) {
      width: 82px;
      min-width: 82px;
      margin-right: 24px;
      margin-top: 5px;
    }

    + .explore-stories {

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-left: 0;
      }
    }

    .avatar {
      margin: 0 auto;
      font-size: 50px;

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 70px;
      }
    }
    .name {
      text-align: center;
      font-size: 13px;
      margin: 10px 0 8px;
      font-weight: 400;
      display: block;

      @include media-breakpoint-up($desktop-breakpoint) {
        margin: 13px 0 5px;
      }
    }
  }
}
