@import "components/imports";

.explore-page {

  &:not(.not-authorized) {

    .header-logo,
    .make-post-btn {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }
    }
  }

  #content {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      min-height: calc(100% - 44px);
      height: auto;
      display: flex;
      flex-direction: row;
      align-content: stretch;
      align-items: stretch;
    }
  }

  .btn {

    &.make-post-btn {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }
    }
  }

  .b-search-form_flex-align {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: flex;
      position: relative;
    }
  }
}

.content-nav {
  display: flex;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    line-height: 4em;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    font-size: 17px;
    margin-top: -4px;
    margin-bottom: 24px;
    padding: 0 5px 8px;
    border-bottom: 1px solid rgba($gray, 0.2);
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-start;
  }

  .explore-page & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      justify-content: space-around;
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .searchView & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      background: $white;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      line-height: 3em;
      font-weight: 500;
    }

    .scroll-bottom & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        //transform: translate3d(0, 44px, 0);
        position: fixed;
        left: 0;
        right: 0;
      }
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      box-shadow: 0 0 5px rgba(#000, 0.3);
      z-index: -1;

      @include media-breakpoint-up($desktop-breakpoint) {
        display: none;
      }
    }
  }

  &__item {
    color: $secondary-color;
    display: inline-block;
    margin-right: 1.7em;
    transition: color 0.3s ease;
    position: relative;
    text-align: center;
    font-weight: 400;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-right: 0;
      white-space: nowrap;
    }

    .searchView & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        flex: 1;
        height: 44px;
        background-color: $white;
      }
    }

    &.active {
      color: $main-color;
    }

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {
        color: $main-color;
      }
    }

    &.active {
      font-weight: 500;

      &:after {

        .searchView & {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            background: $secondary-color;
            content: "";
          }
        }
      }
    }

    &.disabled {
      color: $main-color;
      opacity: .3;
    }
  }
}

.exploreView {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up($desktop-breakpoint) {
    min-height: calc(100vh - 75px);
  }

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: stretch;
  }

  .container {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: row;
    }
  }

  .over-container {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      width: calc(100% + 30px);
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: stretch;
    }
  }
}

.explore {

  @include media-breakpoint-up($desktop-breakpoint) {
    margin-bottom: 14px;
  }

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    min-height: calc(100% - 60px);
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    box-shadow: 0 0 5px rgba(#000, 0.3);
  }

  .not-authorized & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      min-height: calc(100% - 106px);
    }
  }

  > div {

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-left: -10px;
      margin-right: -10px;
    }

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      background: $light;
      flex: 1;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: stretch;
      align-items: stretch;
      align-content: stretch;
      position: relative;
    }


    &.row-btn {
      
      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        flex: 0 0 auto;
      }
    }

    &.row-btn,
    &.userCollectionView {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        background: $white;
      }
    }
  }

  &-wrapper {
    display: grid;
    grid-gap: 30px;
    align-items: stretch;
    align-content: stretch;
    padding: 0 10px 10px;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      position: relative;
      align-items: start;
      align-content: start;
      grid-gap: 3px;
      overflow: hidden;
      padding: 3px 0;
    }

    .profile-page & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    &:not(.photos) {

      .searchView & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          min-height: 100%;
          padding: 0;
          grid-gap: 0;
          z-index: 0;
        }
      }
    }

    &.all {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &.stories {
      grid-template-columns: 1fr 1fr 1fr;

      @include media-breakpoint-up($desktop-breakpoint) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0 -10px;
      }
    }

    &.videos {
      grid-template-columns: 1fr;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        grid-gap: 0;
        padding-top: 0;
        padding-bottom: 0;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      .post {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          background-color: $white;
          position: relative;
          max-width: 100vw;

          &:last-child {

            .post--details {
              border-bottom: none;
            }
          }
        }

        &-details {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            padding-bottom: 8px;
            border-bottom: 1px solid rgba($gray, 0.2);
          }
        }

        &:not(.open-dropdown-inside) {
          z-index: 0;
        }
      }
    }

    &.listViewItem {
      @include media-breakpoint-up($desktop-breakpoint) {
        grid-template-columns: 1fr;
      }

      .post {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          background-color: $white;
          position: relative;
          max-width: 100vw;

          &:last-child {

            .post--details {
              border-bottom: none;
            }
          }
        }

        &-details {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            padding-bottom: 8px;
            border-bottom: 1px solid rgba($gray, 0.2);
          }
        }

        &:not(.open-dropdown-inside) {
          z-index: 0;
        }
      }
    }

    &.photos {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &.store {
      @include media-breakpoint-up($desktop-breakpoint-dcrs) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        & > div {
          padding-bottom: 15px;
          border-bottom: 1px solid rgba(124, 139, 150, 0.2);
        }
      }
    }
    &.clips {
      @include media-breakpoint-up($desktop-breakpoint-dcrs) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        & > div {
          padding-bottom: 15px;
          border-bottom: 1px solid rgba(124, 139, 150, 0.2);
        }
      }
    }

    &.lives {
      grid-template-columns: 1fr 1fr 1fr;

      @include media-breakpoint-up($desktop-breakpoint) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(350px, auto);
      }
    }

    &.highlights {
      grid-template-columns: 1fr 1fr 1fr;

      @include media-breakpoint-up($desktop-breakpoint) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 3px;
      }

      .popup-container_hfluid & {
        background-color: $white;

        @include media-breakpoint-up($desktop-breakpoint) {
          padding-top: 10px;
          padding-bottom: 10px;
          border-radius: 0 0 5px 5px;
        }
      }
    }

    &.users {
      grid-template-columns: 1fr;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        grid-gap: 0;
        padding-top: 0;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      &:empty {

        + .msg-no-content {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
    
    &.posts {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: block;
      }
    }

    .special-container & {

      &:empty {
        display: none;
      }
    }
  }

  &-item {
    position: relative;
    overflow: hidden;

    &_col {

      &:first-child {
        order: -1;
      }

      &:after {
        padding-top: 100%;
      }

      .overlay {
        display: flex;
      }
    }

    &_live {
      height: 100%;
    }

    &_double {
      grid-column: 1/3;
      margin: 0;
      grid-row-end: span 2;
      grid-column-start: auto;
      grid-column-end: span 2;
      order: -1;

      @include media-breakpoint-up($desktop-breakpoint) {
        grid-row-end: span 1;
      }

      &:after {
        padding-top: 100%;

        @include media-breakpoint-up($desktop-breakpoint) {
          padding-top: 47.5%;
        }
      }

      .explore-media {

        &:before {
          display: none;
        }

        .video-placeholder {
          display: block;

          &:after {

            @include media-breakpoint-up($desktop-breakpoint) {
              left: 11px;
              bottom: 11px;
            }
          }
        }
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {

        .overlay {
          opacity: 1;
          transform: scale(1);
        }

        .explore-media {

          &__counter {
            opacity: 1;

            &_likes {
              transform: translate(-66px, -50%) scale(1);
            }

            &_comments {
              transform: translate(28px, -50%) scale(1);
            }
            
            &_price {
              transform: translate(28px, -50%) scale(1);
            }
          }

          &:before {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }

    &:after {
      content: "";
      display: block;
    }

    .postLink {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 0;

      @include media-breakpoint-up($desktop-breakpoint) {

        &:not(.locked-wrapper):hover {

          .item-length {

            .value {
              opacity: 1;
            }
          }
        }
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
    }

    .locked-picture {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    &_radio {

      &:after {
        content: "\E60E";
        position: absolute;
        right: 10px;
        bottom: 10px;
        font-size: 24px;
        line-height: 24px;
        color: #fff;
        filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
        padding-top: 0;
      }

      &.selected {

        &:after {
          content: "\E60D";
        }

        .explore-media {

          &:before {
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }
  }

  &-media {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;

    &:after {
      pointer-events: none;
      content: "";
      display: block;
      padding-top: 100%;
      height: 0;
    }

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: rgba(#000, 0.4);
      opacity: 0;
      transform: scale(0);
      z-index: 1;
      content: "";
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    &_avatar {

      &:before {
        @include default-avatar;
        opacity: 1;
        transform: scale(1);
        z-index: -1;
        font-size: calc(100vw / 4);

        @include media-breakpoint-up($desktop-breakpoint) {
          font-size: 150px;
        }
      }
    }

    &_processing {

      .explore-media {

        &:before {
          opacity: 1;
          transform: scale(1);
          background: rgba(#000, 0.7);
        }
      }
    }

    &__counter {
      display: inline-flex;
      align-content: center;
      align-items: center;
      position: absolute;
      left: 50%;
      top: 50%;
      color: #fff;
      z-index: 2;
      transition: opacity 0.3s ease, transform 0.3s ease;
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);

      .liveView & {
        margin-bottom: 8px;

        @include media-breakpoint-up($desktop-breakpoint) {
          margin-bottom: 4px;
        }
      }

      &_comments {
        pointer-events: none;
      }
    }

    &__name {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      color: #fff;
      padding: 8px 12px;
      background: rgba(#000, 0.4);
      display: flex;
      align-content: center;
      align-items: center;

      @include media-breakpoint-up($desktop-breakpoint) {
        padding: 15px 25px;
      }

      &.online-state {

        &:after {
          flex: 0 0 10px;
          margin-left: 5px;
          @include onlineIndicator(10px, 10px);
        }
      }

      &:hover {
        color: #fff;

        .name {
          color: #fff;
        }
      }
    }

    .item-length {
      position: absolute;
      right: 5px;
      top: 3px;
      color: #fff;
      filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
      opacity: 0.7;
      pointer-events: none;
      display: inline-flex;
      align-items: center;
      z-index: 2;

      @include media-breakpoint-up($desktop-breakpoint) {
        right: 15px;
        top: 12px;
      }

      .value {
        font-weight: 500;
        opacity: 0;
        transition: opacity 0.3s ease;
        margin: 0 5px 0 0;
      }

      .icn-item {

        &:after {
          font-size: 18px;

          @include media-breakpoint-up($desktop-breakpoint) {
            font-size: 24px;
          }
        }
      }
    }

    .overlay {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      transform: scale(5);
      transition: opacity 0.3s ease, transform 0.3s ease;
      pointer-events: none;
      align-items: center;
      justify-content: space-around;
      color: #fff;
      font-weight: 500;
      padding: 0 18%;
      z-index: 1;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }
    }

    .video-placeholder {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: none;

      &:before {
        content: "";
        opacity: .15;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 70px;
        background: linear-gradient(
          90deg,
          #000 10%,
          #000 100%
        );

        @include media-breakpoint-up($desktop-breakpoint) {
          height: 80px;
        }
      }
    }
  }

  .all,
  .stories,
  .videos,
  .photos,
  .lives {

    &:empty {

      + .msg-no-content {
        pointer-events: auto;
        opacity: 1;
      }
    }
  }
}

.highlights-form {
  padding: 20px 10px 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  @include media-breakpoint-up($desktop-breakpoint) {
    border-radius: 0 0 5px 5px;
    background-color: $white;
    position: relative;
    min-height: 140px;
  }

  .avatar-block {
    position: relative;
    margin-bottom: 20px;
  }

  .avatar {
    font-size: 100px;

    @include media-breakpoint-up($desktop-breakpoint) {
      font-size: 80px;
    }
  }

  .form-group {
    width: 80%;
    margin-bottom: 20px;

    @include media-breakpoint-up($desktop-breakpoint) {
      width: 50%;
    }
  }

  .msg-no-content {
    padding-bottom: 20px;
    min-height: 120px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

    &__text {
      flex: 0 0 100%;
    }
  }
}

.list-cover-variation {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: auto;
  max-width: 100%;
}

.highlight-unit {
  margin: 0 10px 20px;
  width: 80px;
  flex: 0 0 80px;

  @include media-breakpoint-up($desktop-breakpoint) {
    width: 100px;
    flex-basis: 100px;
  }
}

.cover-highlight {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  width: 80px;
  height: 80px;
  flex: 0 0 80px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background-color: $default-avatar-bg;

  @include media-breakpoint-up($desktop-breakpoint) {
    width: 100px;
    height: 100px;
    flex: 0 0 100px;
  }

  &.selected {

    &:after {
      opacity: 1;
    }
  }

  &:after {
    content: "\E604";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: opacity .3s;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
    font-size: 40px;
    color: #fff;
    text-align: center;
    line-height: 80px;

    @include media-breakpoint-up($desktop-breakpoint) {
      line-height: 100px;
    }
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.name-highlight {
  opacity: .5;
  @include ellipsis;
  text-align: center;
  margin-top: 10px;
}

.btns-highlights {

  .btn {
    width: 66px;
  }
}

.offer-create-story {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  @include media-breakpoint-up($desktop-breakpoint) {
    background-color: $white;
    border-radius: 0 0 5px 5px;
  }

  .avatar-block {
    position: relative;
  }

  .avatar {
    margin: 0 auto 10px;
  }
}

.text-create-story {
  opacity: .5;
}