@import "components/imports";

.explore-page {

  &:not(.not-authorized) {

    #site_header {

      .header-logo,
      .make-post-btn {

        @include media-breakpoint-down($desktop-breakpoint) {
          display: none;
        }
      }
    }
  }

  &.not-authorized {

    #site_header {

      @include media-breakpoint-down($desktop-breakpoint) {
        box-shadow: 0 0 5px rgba(#000, 0.3);
      }
    }
  }

  #content {

    @include media-breakpoint-down($desktop-breakpoint) {
      min-height: calc(100% - 44px);
      height: auto;
      display: flex;
      flex-direction: row;
      align-content: stretch;
      align-items: stretch;
    }
  }

  .btn {

    &.make-post-btn {

      @include media-breakpoint-down($desktop-breakpoint) {
        display: none;
      }
    }
  }

  .b-search-form_flex-align {

    @include media-breakpoint-down($desktop-breakpoint) {
      display: flex;
    }
  }
}

.content-nav {
  display: flex;

  @include media-breakpoint-down($desktop-breakpoint) {
    line-height: 4em;
    justify-content: space-around;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    font-size: 17px;
    margin: -4px 0 24px;
    padding: 0 5px 8px;
    border-bottom: 1px solid rgba($gray, 0.2);
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-start;
  }

  .searchView & {

    @include media-breakpoint-down($desktop-breakpoint) {
      background: $white;
      position: -webkit-sticky;
      position: sticky;
      top: 44px;
      line-height: 3em;
      font-weight: 500;
      //z-index: 9;
      transition: all 0.2s ease-in-out 0s;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 10px;
      bottom: 0;
      box-shadow: 0 0 5px rgba(#000, 0.3);
      z-index: -1;

      @include media-breakpoint-up($desktop-breakpoint) {
        display: none;
      }
    }

    .scroll-top & {

      @include media-breakpoint-down($desktop-breakpoint) {
        transform: translate3d(0, -44px, 0);
      }
    }
  }

  &__item {
    color: $secondary-color;
    display: inline-block;
    margin: 0 1.7em 0 0;
    transition: color 0.3s ease;
    position: relative;
    text-align: center;
    font-weight: 400;

    @include media-breakpoint-down($desktop-breakpoint) {
      margin: 0;
    }

    .searchView & {

      @include media-breakpoint-down($desktop-breakpoint) {
        flex: 1;
        height: 44px;
        background-color: $white;
      }
    }

    &.active,
    &:hover {
      color: $main-color;
    }

    &.active {
      font-weight: 500;

      &:after {

        .searchView & {

          @include media-breakpoint-down($desktop-breakpoint) {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            background: $secondary-color;
            content: "";
          }
        }
      }
    }
  }
}

.exploreView {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up($desktop-breakpoint) {
    min-height: calc(100vh - 75px);
  }

  @include media-breakpoint-down($desktop-breakpoint) {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: stretch;
  }

  .container {

    @include media-breakpoint-down($desktop-breakpoint) {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: row;
    }
  }

  .over-container {

    @include media-breakpoint-down($desktop-breakpoint) {
      width: calc(100% + 30px);
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: stretch;
    }
  }
}

.explore {

  @include media-breakpoint-up($desktop-breakpoint) {
    margin-bottom: 14px;
  }

  @include media-breakpoint-down($desktop-breakpoint) {
    min-height: calc(100% - 60px);
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    box-shadow: 0 0 5px rgba(#000, 0.3);
  }

  > div {

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-left: -10px;
      margin-right: -10px;
    }

    @include media-breakpoint-down($desktop-breakpoint) {
      background: $light;
      flex: 1;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: stretch;
      align-items: stretch;
      align-content: stretch;
      position: relative;
    }
  }

  &-wrapper {
    display: grid;
    grid-gap: 30px;
    align-items: stretch;
    align-content: stretch;
    padding: 0 10px 10px;

    @include media-breakpoint-down($desktop-breakpoint) {
      //min-height: calc(100% - 60px);
      position: relative;
      align-items: start;
      align-content: start;
      grid-gap: 3px;
      overflow: hidden;
      padding: 3px 0 0;
    }

    &:not(.photos) {

      .searchView & {

        @include media-breakpoint-down($desktop-breakpoint) {
          min-height: 100%;
          padding: 0;
          grid-gap: 0;
        }
      }
    }

    &.all {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &.stories {
      grid-template-columns: 1fr 1fr 1fr;

      @include media-breakpoint-up($desktop-breakpoint) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0 -10px;
      }
    }

    &.videos {
      grid-template-columns: 1fr;

      @include media-breakpoint-down($desktop-breakpoint) {
        grid-gap: 0;
        padding-top: 0;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      .post {

        @include media-breakpoint-down($desktop-breakpoint) {
          border-bottom: 1px solid rgba($gray, 0.2);
          padding-bottom: 8px;
          background-color: $white;
        }
      }
    }

    &.photos {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &.lives {
      grid-template-columns: 1fr 1fr 1fr;

      @include media-breakpoint-up($desktop-breakpoint) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }

    &.highlights {
      grid-template-columns: 1fr 1fr 1fr;

      @include media-breakpoint-up($desktop-breakpoint) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 3px;
      }

      .popup-container_hfluid & {
        background-color: $white;
        border-radius: 0 0 5px 5px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    &.users {
      grid-template-columns: 1fr;

      @include media-breakpoint-down($desktop-breakpoint) {
        grid-gap: 0;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      &:empty {

        + .msg-no-content {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }

    .profile & {

      &:empty {
        display: none;
      }
    }
  }

  &-item {
    position: relative;
    overflow: hidden;

    &_col {

      &:first-child {
        order: -1;
      }

      &:after {
        padding-top: 100%;
      }

      .overlay {
        display: flex;
      }
    }

    &_double {
      grid-column: 1/3;
      margin: 0;
      grid-row-end: span 2;
      grid-column-start: auto;
      grid-column-end: span 2;
      order: -1;

      @include media-breakpoint-up($desktop-breakpoint) {
        grid-row-end: span 1;
      }

      &:after {
        padding-top: 100%;

        @include media-breakpoint-up($desktop-breakpoint) {
          padding-top: 50%;
        }
      }

      .explore-media {

        &:before {
          display: none;
        }

        .video-placeholder {
          display: block;

          &:after {

            @include media-breakpoint-up($desktop-breakpoint) {
              left: 11px;
              bottom: 11px;
            }
          }
        }
      }

      .overlay {
        display: none;
      }

      .video-placeholder {
        
        &:after {
          color: #fff;
        }
      }
    }

    &:after {
      content: "";
      display: block;
    }

    .postLink {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 0;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
    }

    .locked-picture {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    &_radio {

      &:after {
        content: "\E60E";
        @include icon-font;
        position: absolute;
        right: 10px;
        bottom: 10px;
        font-size: 24px;
        line-height: 24px;
        color: #fff;
        filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
        padding-top: 0;
      }

      &.selected {

        &:after {
          content: "\E60D";
        }
      }
    }
  }

  &-media {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;

    &:after {
      pointer-events: none;
      content: "";
      display: block;
      padding-top: 100%;
      height: 0;
    }

    &:before {

      @include media-breakpoint-up($desktop-breakpoint) {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: rgba(#000, 0.4);
        opacity: 0;
        transform: scale(0);
        z-index: 1;
        content: "";
        transition: opacity 0.3s ease, transform 0.3s ease;
      }
    }

    &:not(.locked-wrapper):hover {

      .item-length {

        .value {
          opacity: 1;
        }
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        &:before,
        .overlay {
          opacity: 1;
          transform: scale(1);
        }
      }
    }

    .item-length {
      position: absolute;
      right: 5px;
      top: 3px;
      color: #fff;
      opacity: 0.7;
      pointer-events: none;
      display: inline-flex;
      align-items: center;
      z-index: 2;

      @include media-breakpoint-up($desktop-breakpoint) {
        right: 15px;
        top: 12px;
      }

      &:after {
        font-size: 18px;
        @include icon-font;

        @include media-breakpoint-up($desktop-breakpoint) {
          font-size: 24px;
        }
      }

      &_video {

        &:after {
          content: "\E635";
        }
      }

      &_live {

        &:after {
          content: "\E621";
        }
      }

      &_photo {

        &:after {
          content: "\E634";
        }
      }

      .value {
        font-weight: 500;
        opacity: 0;
        transition: opacity 0.3s ease;
        margin: 0 5px 0 0;
      }
    }

    .overlay {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      transform: scale(5);
      transition: opacity 0.3s ease, transform 0.3s ease;
      pointer-events: none;
      align-items: center;
      justify-content: space-around;
      color: #fff;
      font-weight: 500;
      padding: 0 18%;
      z-index: 1;

      @include media-breakpoint-down($desktop-breakpoint) {
        display: none;
      }
    }

    .video-placeholder {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: none;

      &:before {
        content: "";
        opacity: .15;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 70px;
        background: linear-gradient(
                        90deg,
                        #000 10%,
                        #000 100%
        );

        @include media-breakpoint-up($desktop-breakpoint) {
          height: 80px;
        }
      }
    }
  }

  .all,
  .stories,
  .videos,
  .photos,
  .lives {

    &:empty {

      + .msg-no-content {
        pointer-events: auto;
        opacity: 1;
      }
    }
  }
}
