@import "components/imports";

.following-page {

  body {

    &.modal-opened {

      .white-bg-block .bg {

        @include media-breakpoint-up($desktop-breakpoint) {
          overflow: visible;
        }
      }
    }
  }

  .sticky-header-controls {

    @include media-breakpoint-down($desktop-breakpoint) {
      position: -webkit-sticky;
      position: sticky;
    }

    &:not(.header-mobile) {

      @include media-breakpoint-down($desktop-breakpoint) {
        display: none;
      }
    }
  }

  .profile,
  .myProfile {

    &:before {

      @include media-breakpoint-down($desktop-breakpoint) {
        display: none;
      }
    }

    .white-bg-block {

      > .bg,
      .profile-images,
      .profile-header,
      .post-types-tabs {

        @include media-breakpoint-down($desktop-breakpoint) {
          display: none;
        }
      }
    }
  }

  .white-bg-block {

    > .container {
      position: relative;

      @include media-breakpoint-up($desktop-breakpoint) {
        z-index: 0;
      }
    }
  }
}