@import "components/imports";

.following-page {

  body {

    &.modal-opened {

      .white-bg-block .bg {

        @include media-breakpoint-up($desktop-breakpoint) {
          overflow: visible;
        }
      }
    }
  }

  .sticky-header-controls {

    @include media-breakpoint-down($desktop-breakpoint) {
      position: -webkit-sticky;
      position: sticky;
    }

    &:not(.header-mobile) {

      @include media-breakpoint-down($desktop-breakpoint) {
        display: none;
      }
    }
  }

  .profile {

    @include media-breakpoint-down($desktop-breakpoint) {
      background-color: $white;
      min-height: 100%;
      position: relative;
    }

    &:before {

      @include media-breakpoint-down($desktop-breakpoint) {
        display: none;
      }
    }

    .white-bg-block {

      .profile-sticky-header {

        @include media-breakpoint-down($desktop-breakpoint) {
          display: none;
        }
      }
    }
  }

  .white-bg-block {

    > .container {

      @include media-breakpoint-up($desktop-breakpoint) {
        z-index: 0;
        position: relative;
      }
    }
  }

  .content-nav {

    @include media-breakpoint-up($desktop-breakpoint) {
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .profile-name {
    margin-right: 30px;
    padding: 0;
  }

  .explore {

    @include media-breakpoint-down($desktop-breakpoint) {
      box-shadow: none;
    }
  }

  .posts-container {

    .userCollectionView {

      @include media-breakpoint-down($desktop-breakpoint) {
        position: static;
      }
    }
  }
}