@import "components/imports";

.site-footer {
  margin-top: auto;
  flex: 0 0 100%;

  .aside-col_with-footer & {
    flex: 0 0 auto;
    display: none;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-top: 73px;
      position: relative;
      display: block;

      @media screen and (min-height: 400px) and (max-height: 600px) {
        margin-top: 23px;
      }
    }

    &:before {
      content: "";
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      position: absolute;
      background: linear-gradient(
        to right,
        rgba($gray, 0.2) 0%,
        transparent 100%
      );
      display: none;

      @include media-breakpoint-up($desktop-breakpoint) {
        display: block;
      }
    }

    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &_sidebar {

    .FooterNavCollectionView {

      &:before {
        background: linear-gradient(
          to right,
          rgba($gray, 0.2) 0%,
          transparent 30%,
          transparent 70%,
          rgba($gray, 0.2) 100%
        );

        @include media-breakpoint-down($desktop-breakpoint) {
          display: none;
        }
      }
    }
  }

  &_main {

    .FooterNavCollectionView {

      &:before {
        background: rgba($gray, 0.2);
      }
    }
  }

  .FooterNavCollectionView {
    position: relative;
    padding: 22px 0;

    .chat-page .chatCollectionContent:not(.no-chats) & {

      @include media-breakpoint-down($desktop-breakpoint) {
        padding-top: 0;
      }
    }

    .settings-page & {

      @include media-breakpoint-down($desktop-breakpoint) {
        padding: 0;
      }
    }

    &:before {
      content: "";
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      position: absolute;

      .aside-col_with-footer & {
        display: none;
      }

      .chatCollectionContent.no-chats & {

        @include media-breakpoint-down($desktop-breakpoint) {
          background-color: rgba($gray, 0.2);
        }
      }
    }
  }

  &_sticky-bottom {

    @include media-breakpoint-up($desktop-breakpoint) {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
