@import "components/imports";

.footer-nav {
  display: flex;
  font-size: 13px;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 0;
    margin-right: auto;
  }

  .settings-aside & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding: 23px 0 17px;
    }
  }

  .login & {

    @include media-breakpoint-up($desktop-breakpoint) {
      text-align: left;
      justify-content: flex-start;
    }
  }

  a {
    color: inherit;
    opacity: 0.3;
    transition: opacity 0.3s ease;

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {
        opacity: 1;
      }
    }
  }

  .FooterNavView {
    margin: 0 14px 4px;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-right: 8px;
      margin-left: 8px;
    }

    &:first-child {

      .login & {

        @include media-breakpoint-up($desktop-breakpoint) {
          margin-left: 0;
        }
      }
    }
  }
}

.aside-col {

  .footer-nav {

    .FooterNavView {

      &:last-child,
      &.settings-onmyteam-link {

        @include media-breakpoint-up($desktop-breakpoint) {
          margin: 10px auto 0;
          flex: 0 0 100%;
        }
      }
    }
  }
}
