@import "components/imports";

.forgot {

  h1 {
    margin: 0 0 20px;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin: 0 0 34px;
    }
  }

  h2 {
    font-weight: 400;
    margin: 0 0 42px;

    @include media-breakpoint-down($desktop-breakpoint) {
      font: inherit;
      margin: 0 0 23px;
    }
  }

  #content {

    @include media-breakpoint-down($desktop-breakpoint) {
      height: auto;
    }
  }
}

.OtpView {
  @include media-breakpoint-up($desktop-breakpoint) {
    min-height: 100vh;
    background-color: $white;
    background-image: linear-gradient(
      30deg,
      rgba($default-secondary-color, 0.06) 10%,
      rgba($default-primary-color, 0.06) 90%
    );
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 43.4% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before {
      position: absolute;
      right: 0;
      width: 43.4%;
      top: 0;
      bottom: 0;
      background: $light;
      opacity: 0.3;
      content: "";
    }
    #content > & {
      transition: none;
    }
  }
}

.forgot,
.OtpView {
  position: relative;

  .forgot-wrapper {
    padding: 1.3em;
    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 0;
      display: flex;
      width: 75%;
      position: relative;
      justify-content: space-between;
      .forgot-caption-col {
        flex: 0 1 50%;
        padding: 20px 0 20px 20px;
        display: flex;
        flex-direction: column;
        max-height: 100vh;
        position: -webkit-sticky;
        position: sticky;
        min-height: 270px;
        top: 0;
        & > * {
          width: 100%;
        }
      }
      .forgot-form-col {
        flex: 0 1 31.5%;
        padding: 20px 0;
      }
    }
  }
  .forgot-caption {
    margin-bottom: 1.5em;
    padding: 1.5em;
    @include media-breakpoint-down($desktop-breakpoint) {
      text-align: center;
    }
    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 0;
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-bottom: 7.5em;
    }
    .logo {
      @include media-breakpoint-down($desktop-breakpoint) {
        margin-bottom: 0.6em;
      }
      img,
      svg {
        height: 3.2em;
        @include media-breakpoint-up($desktop-breakpoint) {
          height: 5.1em;
          transform: translate(-5px, -12px);
        }
      }
    }
    .promotion {
      font-size: 21px;
      font-weight: 300;
      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 2.4em;
        flex: 1 0 auto;
        display: flex;
        align-items: center;
      }
    }
    .description {
      margin-top: 2em;
    }
  }
  form {
    > input {
      margin-bottom: 1.7em;
    }
    .error {
      color: red;
      text-align: left;
    }

    .info {
      text-align: center;
    }

    .error,
    .info {
      margin-bottom: 1.4em;
      line-height: 1;
      font-size: 0.86em;
    }
    .g-recaptcha {
      margin: 0 0 1.4em;
      display: flex;
      justify-content: center;

      &:empty {
        margin: 0;
      }
    }
  }
  .forgot-or {
    margin: 0.4em 1.4em;
    position: relative;
    text-align: center;
    color: $main-color;
    opacity: 0.3;
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      width: calc(50% - 17px);
      height: 1px;
      background: rgba($gray, 0.666666667);
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
  .signUp {
    text-align: center;
    margin-top: 3.3em;
    font-weight: 500;
    h3 {
      font-weight: 300;
      font-size: 21px;
      margin: 0 0 7px;
    }
    a.register {
      color: $default-secondary-color;

      &:hover {
        color: $default-primary-color;
      }
    }
    .forgot {
      margin: 2.75em 0 0;
    }
  }
  .twitter {
    background: #1da1f3;
    &:before {
      font-weight: 400;
      @include icon-font;
      font-size: 24px;
      line-height: 0;
      vertical-align: middle;
      content: "\E61F";
      margin-right: 0.25em;
    }
  }
  .forgot-footer {
    justify-content: space-between;
    margin: 4.4em 0 0;
    padding: 1.4em 0 0;
    display: flex;
    &.second-footer {
      margin: 0;
      justify-content: center;
      text-align: center;
    }
    @include media-breakpoint-down($desktop-breakpoint) {
      &:not(.second-footer) {
        border-top: 1px solid rgba($gray, 0.2);
      }
      justify-content: space-around;
      a {
        font-size: 0.86em;
      }
    }
    &:not(.second-footer) {
      @include media-breakpoint-up($desktop-breakpoint) {
        margin-top: 0;
        position: relative;
        &:before {
          content: "";
          top: 0;
          left: 0;
          right: 0;
          height: 1px;
          position: absolute;
          background: linear-gradient(
            to right,
            rgba($gray, 0.2) 0%,
            transparent 100%
          );
        }
      }
    }
    a {
      color: inherit;
      opacity: 0.5;
      transition: opacity 0.3s ease;
      @include media-breakpoint-up($desktop-breakpoint) {
        margin: 0 5px;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  .text {
    max-width: 960px;
    margin: 0 auto;
  }
}

.forgot-password-form {
  margin: 0;

  @include media-breakpoint-up($desktop-breakpoint) {
    max-width: 64.7%;
  }

  > input {
    margin-bottom: 1.7em;
  }

  .btn.lg {
    padding-left: 39px;
    padding-right: 39px;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-left: 41px;
      padding-right: 41px;
    }
  }
}
