@import "components/imports";

.forgot {

  h1 {
    margin: 0 0 20px;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin: 0 0 34px;
    }
  }

  h2 {
    font-weight: 400;
    margin: 0 0 42px;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      font: inherit;
      margin: 0 0 23px;
    }
  }

  #content {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      height: auto;
    }
  }
}

.OtpView {

  &:before {

    @include media-breakpoint-up($desktop-breakpoint) {
      position: absolute;
      right: 0;
      width: 43.4%;
      top: 0;
      bottom: 0;
      background: $light;
      opacity: 0.3;
      content: "";
    }
  }
}

.forgot,
.OtpView {

  form {

    .error {
      text-align: left;
    }

    .info {
      //text-align: center;
      margin-bottom: 1.4em;
      line-height: 1;
      font-size: 0.86em;
    }
  }
}

.forgot-password-form {
  margin: 0;

  @include media-breakpoint-up($desktop-breakpoint) {
    max-width: 78.7%;
  }

  .btn.lg {
    padding-left: 39px;
    padding-right: 39px;
    margin: 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-left: 41px;
      padding-right: 41px;
    }
  }

  input.rounded {
    border-radius: 20px;
  }
}
