
.links-editor {

  &__footer {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding-bottom: 15px;
    }
  }

  &__body {
    flex: 0 0 100%;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding-top: 15px;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-bottom: 14px;
    }
  }

  &__controls {

    .btn {
      margin-left: 15px;
      min-width: 80px;
    }
  }

  &__delete {
    flex: 0 0 100%;
    text-align: center;
    margin-top: 10px;
  }
}

.btn-pin {
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;

  input[type="checkbox"] {
    position: absolute;
    left: -999em;
    top: 0;

    &:checked {

      + .icn-item {
        color: $secondary-color;
        opacity: 1;

        + .btn-pin__text {
          color: $secondary-color;
          opacity: 1;
        }
      }
    }
  }

  .icn-item,
  &__text {
    opacity: .3;
    transition: color .3s, opacity .3s;
  }
}

.url-route {
  display: flex;
  justify-content: flex-end;
  margin-top: 6px;

  &__item {
    opacity: .3;
    margin-left: 20px;
    font-size: 13px;
    line-height: 18px;
    display: inline-flex;
    align-items: center;
    align-content: center;

    &.selected {
      opacity: 1;
      color: $primary-color;
    }
  }

  .icn-item {
    width: 18px;
    height: 18px;
    margin-right: 7px;

    &:after {
      font-size: 17px;
    }
  }
}

.links-content {

  @include media-breakpoint-up($desktop-breakpoint) {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .content {

    @include media-breakpoint-up($desktop-breakpoint) {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &_filled {
    background-color: $white;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .1);

    .content {

      @include media-breakpoint-up($desktop-breakpoint) {
        justify-content: flex-start;
      }
    }

    .links-add-new {
      margin: auto;
      padding-top: 25px;
      padding-bottom: 25px;

      .make-post-btn_feed {

        @include media-breakpoint-up($desktop-breakpoint) {
          margin-top: 0;
        }
      }
    }
  }

  .empty-feed {
    padding-bottom: 0;
  }
}

.link-row {
  border-bottom: 1px solid rgba($gray, 0.2);
  padding: 15px 19px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;

  &__info {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
  }

  &__logo {
    flex: 0 0 40px;
    height: 40px;
    margin-right: 15px;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center;
    }
  }

  &__controls {
    margin-right: 0;
    margin-left: auto;
    flex: 0 0 80px;
    
    .btn {
      width: 100%;
      display: block;
    }
  }

  &__title {
    font-weight: 500;
    color: $main-color;
  }

  .icn-pin {
    color: $main-color;
    opacity: .3;
    margin-right: 10px;
  }
}

.links-add-new {

  @include media-breakpoint-up($desktop-breakpoint) {
    padding-bottom: 33px;
  }

  .make-post-btn_feed {
    width: auto;

    .icn-item {

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 18px;
        margin-bottom: 10px;
      }
    }
  }
}