
.links-editor {

  &__footer {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }

  &__body {
    flex: 0 0 100%;
    margin-bottom: 14px;
  }

  &__controls {

    .btn {
      margin-left: 15px;
    }
  }
}

.btn-pin {
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;

  input[type="checkbox"] {
    position: absolute;
    left: -999em;
    top: 0;

    &:checked {

      + .icn-item {
        color: $secondary-color;
        opacity: 1;

        + .btn-pin__text {
          color: $secondary-color;
          opacity: 1;
        }
      }
    }
  }

  .icn-item,
  &__text {
    opacity: .3;
    transition: color .3s, opacity .3s;
  }
}

.url-route {
  display: flex;
  justify-content: flex-end;
  margin-top: 6px;

  &__item {
    opacity: .3;
    margin-left: 20px;
    font-size: 13px;
    line-height: 18px;
    display: inline-flex;
    align-items: center;
    align-content: center;

    &.selected {
      opacity: 1;
      color: $primary-color;
    }
  }

  .icn-item {
    width: 18px;
    height: 18px;
    margin-right: 7px;

    &:after {
      font-size: 17px;
    }
  }
}

.links-content {
  background-color: $white;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .1);

  @include media-breakpoint-up($desktop-breakpoint) {
    min-height: 100%;
  }
}

.link-row {
  border-bottom: 1px solid rgba($gray, 0.2);
  padding: 15px 16px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;

  &__info {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;

    img {
      margin-right: 12px;
    }
  }

  &__controls {
    margin-right: 0;
    margin-left: auto;
  }
}