
.links-editor {

  &__footer {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }

  &__body {
    flex: 0 0 100%;
    margin-bottom: 14px;
  }

  &__controls {

    .btn {
      margin-left: 15px;
    }
  }
}

.btn-pin {
  position: relative;
  opacity: .3;
  display: flex;
  align-content: center;
  align-items: center;

  input[type="checkbox"] {
    position: absolute;
    left: -999em;
    top: 0;
  }
}

.url-route {
  display: flex;
  justify-content: flex-end;
  margin-top: 6px;

  &__item {
    opacity: .3;
    margin-left: 20px;
    font-size: 13px;
    line-height: 18px;
    display: inline-flex;
    align-items: center;
    align-content: center;

    &.selected {
      opacity: 1;
      color: $primary-color;
    }
  }

  .icn-item {
    width: 18px;
    height: 18px;
    margin-right: 7px;

    &:after {
      font-size: 17px;
    }
  }
}