@import "components/imports";

.liveView {
  padding-top: 178%;
  height: 0;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding-top: 165%;
  }

  .name {

    .verified-user {
      color: inherit;
    }
  }
  @include media-breakpoint-up($desktop-breakpoint) {
    &:hover {

      .live-short-info .looking {
        opacity: 0;
      }
    }
  }
}

.live-short-info {
  position: absolute;
  z-index: 3;
  bottom: 20px;
  left: 10px;
  right: 10px;
  text-align: center;
  color: #fff;
  pointer-events: none;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    font-size: 11px;
    bottom: 9px;
  }

  .looking {
    transition: opacity .3s;
    display: block;
    height: 25px;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      font-size: 13px;
    }

    &:after {
      font-size: 18px;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        font-size: 13px;
        margin-right: 3px;
      }
    }
  }

  .verified-user {
    color: #fff;
  }
}
