@import "components/imports";

.login-page {
  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    background: $white;
  }

  body {
    overflow-y: auto;
  }

  &.static-page {
    .site-footer {
      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        border-top: none;
      }

      &:before {
        @include media-breakpoint-up($desktop-breakpoint) {
          display: none;
        }
      }
    }

    .forgot {
      .site-footer {
        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          margin-top: auto;
        }

        .FooterNavCollectionView {
          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            padding-bottom: 22px;
          }
        }
      }
    }
  }

  .site-footer {
    position: relative;
    margin-bottom: 15px;

    &:before {
      content: "";
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      position: absolute;
      background: linear-gradient(
        to right,
        rgba($gray, 0.2) 0%,
        transparent 100%
      );
      display: none;

      @include media-breakpoint-up($desktop-breakpoint) {
        display: block;
      }
    }

    .container {
      @include media-breakpoint-up($desktop-breakpoint) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .FooterNavCollectionView {
      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        padding-bottom: 0;
      }
    }
  }

  #content {
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      position: relative;
    }
  }
}

.login:not(.login_colored),
.OtpView {
  @include media-breakpoint-up($desktop-breakpoint) {
    background-color: $white;
  }
}

.login,
.OtpView {
  @include media-breakpoint-up($desktop-breakpoint) {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:not(.btn) {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 94%;
      left: 0;
      background: url(#{$assetPath}/img/bg-login-page.png) no-repeat 100% 13% /
        100% 100%;
      z-index: 0;

      @include media-breakpoint-up($desktop-breakpoint) {
        background-position: 100% 16%;
        background-size: 100% auto;
        width: 57%;
      }
    }
  }
}

.login {
  .login-wrapper {
    &.promotion-models {
      @include media-breakpoint-up($desktop-breakpoint) {
        width: 100%;
        max-width: 1100px;
        padding-right: 40px;
      }

      .login-caption-col {
        .login-caption {
          @include media-breakpoint-up($desktop-breakpoint) {
            margin-bottom: 6.5em;
          }
        }
      }
    }
  }

  &-wrapper {
    .footer-nav {
      .FooterNavView {
        @include media-breakpoint-up($desktop-breakpoint) {
          font-size: 15px;
        }

        &:last-child {
          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            margin-top: 21px;
            flex: 0 0 100%;
          }
        }
      }

      a {
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.forgot,
.login,
.OtpView {
  @include media-breakpoint-up($desktop-breakpoint) {
    position: relative;
  }

  .login-wrapper {
    padding: 1.3em;
    position: relative;
    z-index: 1;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 0;
      display: flex;
      width: 75%;
      position: relative;
      justify-content: space-between;
      align-items: center;

      .login-caption-col {
        flex: 0 1 50%;
        padding: 20px 0 20px 80px;
        display: flex;
        flex-direction: column;
        max-height: 100vh;
        position: -webkit-sticky;
        position: sticky;
        min-height: 530px;
        top: 0;

        & > * {
          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            width: 100%;
          }
        }
      }
      .login-form-col {
        flex: 0 1 32%;
        padding: 20px 0;
        max-width: 320px;
        align-self: stretch;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .login-caption {
    margin-bottom: 10px;
    padding: 22px 15px 26px;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      text-align: center;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 0;
      flex: 1;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      margin-bottom: 15.3em;
    }
    .logo {
      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        margin-bottom: 7px;
      }

      .avn-style & {
        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          margin-bottom: 12px;
        }

        @include media-breakpoint-up($desktop-breakpoint) {
          margin-bottom: 0;
          margin-right: 50px;
        }
      }

      svg {
        height: 3.2em;
        margin-left: auto;
        margin-right: auto;

        @include media-breakpoint-up($desktop-breakpoint) {
          height: 5.1em;
          transform: translate(-5px, -12px);
          margin-left: 0;
          margin-right: 0;
        }

        .avn-style & {
          height: 5.2em;

          @include media-breakpoint-up($desktop-breakpoint) {
            height: 7.8em;
            transform: translate(0, 0);
          }
        }

        .dark-theme & {
          fill: #fff;
        }
      }
    }
    .promotion {
      font-size: 21px;
      font-weight: 300;
      padding: 0;
      font-style: italic;

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 2.4em;
        display: flex;
        align-items: center;
      }

      .avn-style & {
        font-size: 20px;

        @include media-breakpoint-up($desktop-breakpoint) {
          font-size: 3.2em;
          text-transform: capitalize;
        }

        &.for-models {
          display: block;

          @include media-breakpoint-up($desktop-breakpoint) {
            font-size: 1.6em;
          }

          p {
            margin-bottom: 10px;
          }

          @include media-breakpoint-down($desktop-breakpoint) {
            font-size: 1.2em;
            margin-top: 45px;

            p {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .text {
    max-width: 960px;
    margin: 0 auto;
  }
}

.alt-font {
  @include media-breakpoint-up($desktop-breakpoint) {
    font-family: $add-font;
  }
}

.login-form {
  @include media-breakpoint-up($desktop-breakpoint) {
    margin-top: 60px;
  }

  .form-field {
    .login-page & {
      position: relative;
    }

    &:after {
      .login-page & {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(124, 139, 150, 1);
        opacity: 0.08;
        border-radius: 20px;
        z-index: 0;
      }
    }
  }

  input,
  textarea {
    .login-page & {
      background: none;
      position: relative;
      z-index: 1;
    }

    &:-webkit-autofill {
      .login-page & {
        -webkit-box-shadow: none;
      }
    }
  }
}

.auth-header-block {
  position: relative;
}

.auth-block-dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  width: 352px;
  transition: opacity 0.4s ease, transform 0.4s ease;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);

  &:after {
    position: absolute;
    content: "";
    top: 8px;
    right: 31px;
    background-color: $white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    width: 17px;
    height: 17px;
    transform: rotate(45deg);
    z-index: 1;
  }

  &__inside {
    margin: 16px 10px 0 0;
    box-shadow: 0 6px 30px rgba(#000, 0.15);
    border-radius: 6px;
    background-color: $white;
  }

  .show & {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  .site-footer {
    position: relative;
    z-index: 12;
    background-color: $white;
    margin-top: -5px;
    border-radius: 0 0 6px 6px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .auth-logo {
    padding-top: 20px;
    margin-bottom: 0;
  }
}

.auth-block {
  .auth-header-block & {
    background-color: $white;
    border-radius: 6px;
    padding: 10px 20px 30px;
    position: relative;
    z-index: 11;
  }

  &-disabled {
    opacity: .5;
    pointer-events: none;
  }

  &__title {
    text-align: center;
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 20px;
  }

  .login-or {
    margin: 0.5em 1.4em;
    position: relative;
    text-align: center;
    color: $main-color;
    opacity: 0.3;
    font-size: 13px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      width: calc(50% - 17px);
      height: 1px;
      background: rgba($gray, 0.666666667);
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }

  .signUp {
    text-align: center;
    margin-top: 56px;
    font-weight: 500;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-top: 50px;
    }

    &__body {
      margin: auto;
    }

    h3 {
      font-weight: 300;
      font-size: 20px;
      margin: 0 0 8px;
      font-style: italic;

      a {
        font-weight: 400;
        font-size: 21px;
      }
    }

    a.register {
      color: $secondary-color;

      @include media-breakpoint-up($desktop-breakpoint) {
        &:hover {
          color: $secondary-color-darken;
        }
      }
    }

    p {
      padding-bottom: 0;

      &:not(.forgot) {
        font-weight: 400;
      }

      &.forgot {
        font-weight: 500;
      }
    }

    p.forgot {
      padding: 41px 0 0;
    }
    p.agree {
      font-size: 10px;
      padding: 10px 0 0;
      font-weight: 300;
    }
  }

  form {
    .error {
      text-align: center;
    }
  }

  .g-recaptcha {
    margin: 0 0 1.4em;
    display: flex;
    justify-content: center;
    position: relative;
    height: 78px;

    > div {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }

    &:empty {
      margin: 0;
      height: auto;
    }
  }

  .form-group {
    margin-bottom: 20px;
  }

  &_sm-size {
    .signUp {
      margin-top: 22px;

      h3 {
        font-size: 17px;
        margin-bottom: 2px;

        a {
          font-size: 18px;
        }
      }

      a.switch-link,
      a.register {
        font-size: 13px;
      }

      p.forgot {
        margin-top: 10px;
        padding-top: 20px;
        font-size: 13px;
      }
    }

    .login-or {
      font-size: 11px;
      padding-top: 0.4em;
      padding-bottom: 0.4em;
    }

    .btn {
      font-weight: 400;
      font-size: 13px;
    }

    input {
      font-size: 13px;
    }
  }
}

.auth-logo {
  height: auto;
  text-align: center;
  margin-bottom: 10px;

  a {
    display: inline-block;
  }
}

.login-form-col {
  &.auth-block {
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    > div:not(.site-footer) {
      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      @include media-breakpoint-down($mobile-breakpoint-dcrs) {
        display: block;
      }
    }

    .signUp {
      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        flex: 0 0 auto;
      }
    }

    .site-footer {
      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        margin-top: 70px;
        border-top: 1px solid rgba($gray, 0.2);
      }
    }
  }
}
