@import "components/imports";

.notifications-page {

  #content {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      height: auto;
      min-height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}

.notifications-header {

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    display: flex;
    align-items: center;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    display: none;
  }
}

.btn-settings {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%);
  transition: color 0.3s ease;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    color: $secondary-color;
  }

  &:after {
    content: "\e8a9";
  }
}

.NotificationsCollectionView {

  .all {

    &:after {
      content: "\e8a6";
    }
  }

  .followed {

    &:after {
      content: "\e8a8";
    }
  }

  .favorited {

    &:after {
      content: "\e891";
    }
  }

  .subscribed,
  .price_changed {

    &:after {
      content: "\e8aa";
    }
  }

  .message,
  .replied,
  .commented {

    &:after {
      content: "\e892";
    }
  }

  .tip {

    &:after {
      content: "\e893";
    }
  }

  .approved {

    &:after {
      content: "\e87f";
    }
  }

  .rejected {

    &:after {
      content: "\e8c4";
    }
  }

  .mentioned {

    &:after {
      content: "\e8a7";
    }
  }

  .system {

    &:after {
      content: "\e894";
    }
  }

  .purchase {
    &:after {
      content: '\e805';
    }
  }
}



.notifications-container {
  position: relative;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
    background-color: $white;
    min-height: calc(100% - 148px);
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    overflow: hidden;
    box-shadow: 0 6px 30px rgba(#000, 0.15);
    border-radius: 5px;
    background-color: $white;
    min-height: calc(100vh - 162px);
  }

  .no-notifications & {

    .notifications-popup & {

      @include media-breakpoint-up($desktop-breakpoint) {
        background-color: $white;
        padding: 39px 0 40px;
        border-radius: 0 0 5px 5px;
        min-height: calc(100vh - 188px);
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
      }
    }
  }

  .msg-no-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .notifications-popup & {

      @include media-breakpoint-up($desktop-breakpoint) {
        position: relative;
        left: auto;
        top: auto;
        transform: translate(0, 0);
      }
    }
  }

  + .site-footer {

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-top: 22px;
    }
  }
}

.unread-box {
  z-index: 10;
  left: 0;
  right: 0;


  &.new-post-toast {

    .notifications-container & {
      position: fixed;
      top: auto;
      bottom: -1px;

      @include media-breakpoint-up($desktop-breakpoint) {
        position: absolute;
        left: 30px;
        right: 30px;
        bottom: 0;
        width: auto;
      }
    }
  }

  &.new-post-toast {
    cursor: default;
    top: auto;
    bottom: 0;
    width: 100%;

    @include media-breakpoint-up($desktop-breakpoint) {
      position: absolute;
    }

    + .contactsListContent.ps {

      .popup .chatCollectionContentWrapper & {
        
        @include media-breakpoint-up($desktop-breakpoint) {
          bottom: 30px;
          height: auto;
        }
      }
    }

    span, a {
      display: inline-block;
    }
  }

  span {
    color: $main-color;
    opacity: .5;
  }

  a {
    margin-left: 20px;

    &[disabled] {
      color: $main-color;
      opacity: 0.3;
      cursor: default;
    }
  }
}

.notifications {

  .no-notifications & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: none;
    }

    .notifications-popup & {

      @include media-breakpoint-up($desktop-breakpoint) {
        display: none;
      }
    }
  }

  .notifications-popup & {

    @include media-breakpoint-up($desktop-breakpoint) {
      min-height: calc(100vh - 188px);
    }
  }

  &:before {

    .notifications-popup & {

      @include media-breakpoint-up($desktop-breakpoint) {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        min-height: calc(100vh - 188px);
        background-color: $white;
        border-radius: 0 0 5px 5px;
        z-index: -1;
      }
    }
  }
}



.NotificationsView {
  border-bottom: 1px solid rgba($gray, 0.2);
  background: $white;
  position: relative;
  padding: 14px 20px 14px 54px;
  display: block;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding-left: 65px;
  }

  &.last-child {
    border-bottom: none;
    border-radius: 0 0 5px 5px;

    @include media-breakpoint-up($desktop-breakpoint) {
      min-height: 88px;
    }
  }

  &:after {
    position: absolute;
    left: 15px;
    top: 11px;

    @include media-breakpoint-up($desktop-breakpoint) {
      left: 20px;
    }
  }

  &.unread {

    &:after {
      opacity: 1;
      color: $primary-color;
    }

    .timestamp {
      opacity: 1;
      color: $secondary-color;
    }
  }

  .content {
    padding-top: 4px;
    overflow: visible;
    overflow-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }

  .name {
    margin-right: 4px;
  }
}

.avatars-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.avatars-group {
  display: flex;
  flex-wrap: wrap;

  .avatar {
    margin-right: 10px;
    margin-bottom: 5px;
  }
}

.notifications-filter {
  display: flex;
  position: relative;
  padding-left: 8px;
  padding-right: 8px;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    margin-top: -60px;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 0 5px rgba(#000, 0.3);
    background: $white;
    z-index: 2;
  }

  .notifications-popup & {

    @include media-breakpoint-up($desktop-breakpoint) {
      z-index: 10;
      border-radius: 5px 5px 0 0;
      position: absolute;
      left: 30px;
      right: 30px;
      top: 0;
    }
  }

  &__btn {
    padding: 15px 5px;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 0;
    font-weight: 500;
    color: inherit;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      flex: 1;
      justify-content: center;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-right: 10px;
    }

    &-text {
      order: 2;
    }

    &:after {
      font-weight: 400;
      transition: opacity 0.3s ease, color 0.3s ease;
      order: 1;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        color: $secondary-color;
      }
    }

    &.active {

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 17px;

        &:before {
          position: absolute;
          height: 2px;
          background: $secondary-color;
          left: 0;
          right: 0;
          bottom: 0;
          content: "";
        }
      }

      &:after {
        opacity: 1;
        color: $primary-color;

        @include media-breakpoint-up($desktop-breakpoint) {
          margin: 0 8px 0 0;
        }
      }

      .notifications-filter > & {

        &:after {

          @include media-breakpoint-up($desktop-breakpoint) {
            margin: 0;
          }
        }
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {

        &:after {
          color: $primary-color;
          opacity: 1;
        }
      }
    }
  }

  .btn-settings {
    position: absolute;
    right: 5px;

    .notifications-popup & {

      @include media-breakpoint-up($desktop-breakpoint) {
        right: 45px;
      }
    }
  }
}

.notificationsFilterList {
  display: flex;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    width: 100%;
  }
}

.notifications-filter__btn,
.NotificationsView {

  &:after {
    opacity: .3;
  }
}

.notification-summary {
  overflow-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
  hyphens: auto;
  display: inline;

  a {
    color: $secondary-color;
    transition: color 0.3s ease;

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {
        color: $secondary-color-darken;
      }
    }
  }
}