.obs-page {

  &:before {
    background-color: #000;
    opacity: 1;
  }

  .popup {
    z-index: 1000;
  }

}

.obs {

  .btn-logout {
    z-index: 3;
    color: $secondary-color;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      width: auto;
      height: auto;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      top: 10px;
      right: 4px;
      position: absolute;
      font-size: 0;
    }

    &:after {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        margin-left: 8px;
      }
    }
  }

  .btn-media-event {
    display: inline-block;

    &:last-child {

      .menu {

        @include media-breakpoint-up($desktop-breakpoint) {
          right: auto;
          left: 10px;
        }
      }
    }
  }

  .root-btn {

    &:after {

      @include media-breakpoint-up($desktop-breakpoint) {
        left: 35px;
      }
    }
  }

  .mediasTop {

    &__header {

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-left: 0;
      }
    }
  }

  .form-comments {
    bottom: 20px;
  }
}

.obs-filter {
  position: relative;
}