.obs-page {

  &:before {
    background-color: #000;
    opacity: 1;
  }
}

.obs {

  .btn-logout {
    z-index: 3;
    color: $secondary-color;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      width: auto;
      height: auto;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      top: 10px;
      right: 4px;
      position: absolute;
      font-size: 0;
    }

    &:after {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        margin-left: 8px;
      }
    }
  }

  .btn-media-event {
    display: inline-block;

    &:last-child {

      .menu {

        @include media-breakpoint-up($desktop-breakpoint) {
          right: auto;
          left: 10px;
        }
      }
    }
  }

  .root-btn {

    &:after {

      @include media-breakpoint-up($desktop-breakpoint) {
        left: 35px;
      }
    }
  }

  .mediasTop {

    &__header {

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-left: 0;
        min-height: 60px;
        padding-right: 28px;
      }

      .btn {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  .refresh-block {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;

    div {
      font-size: 20px;
    }

    button {
      margin-top: 20px;
    }
  }

  .likesContainer {
    position: absolute;
    left: 0;
    right: 0;

    .like {
      bottom: -7px;
      left: 73px;
    }
  }
}

.text-obs-settings {

  @include media-breakpoint-up($desktop-breakpoint) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.obs-filter {
  position: relative;
}

.download-apps {
  display: flex;
  justify-content: center;
}

.download-app {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  color: $main-color;

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40px;
    height: 40px;
    margin: 0 auto 6px;
    
    img,
    svg {
      display: block;
      opacity: .5;
      fill: $main-color;
      transition: fill .3s;
    }
  }

  &__title {
    opacity: .5;
    transition: opacity .3s;
  }

  &:hover {

    svg {
      fill: $primary-color;
      opacity: 1;
    }

    .download-app__title {
      opacity: 1;
    }
  }
}

.SettingsObsView {

  @include media-breakpoint-up($desktop-breakpoint) {

    .form-group_with-label {
      padding-right: 10px;
    }

    .btn {
      margin-left: 20px;
    }
  }
}