@import "components/imports";
.photos {

  .posts-container & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      box-shadow: none;
    }
  }
}

.photoCollectionView {

  .container > & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin: 0 -15px;
    }
  }
}

.video-recommendations-text {
  text-transform: uppercase;
  font-size: 12px;
  opacity: .8;
  color: #fff;
  font-weight: 500;
  position: absolute;
  left: 66px;
  bottom: 15px;
  height: 36px;
  display: flex;
  align-content: center;
  align-items: center;
  z-index: 2;
  filter: drop-shadow(0 2px 7px rgba(0, 0, 0, 0.5));

  @include media-breakpoint-up($desktop-breakpoint) {
    left: 80px;
    bottom: 11px;
    font-size: 21px;
    height: 60px;
  }
}
