@import "components/imports";
.photos {
  display: flex;
  flex-wrap: wrap;
  margin-left: -3px;
  align-content: flex-start;
  align-items: flex-start;

  @include media-breakpoint-down($desktop-breakpoint) {
    overflow: hidden;

    .posts-container & {
      box-shadow: none;
    }
  }
  @include media-breakpoint-up($desktop-breakpoint) {
    margin-left: -30px;
  }
}
.photoCollectionView {
  .container > & {
    @include media-breakpoint-down($desktop-breakpoint) {
      margin: 0 -15px;
    }
  }
}

.explore-item {
  margin: 0 0 3px 3px;
  position: relative;
  overflow: hidden;

  @include media-breakpoint-up($desktop-breakpoint) {
    margin: 0 0 30px 30px;
  }

  &_col {
    width: calc(33.33% - 3px);

    @include media-breakpoint-up($desktop-breakpoint) {
      width: calc(33.33% - 30px);
    }

    .all & {
      width: auto;
      margin: 0;
    }

    &:after {
      padding-top: 100%;
    }

    .overlay {
      display: flex;
    }
  }

  &_double {
    grid-column: 1/3;
    grid-row: 1/3;
    margin: 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      grid-row: 1;
    }

    &:after {
      padding-top: 100%;

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-top: 50%;
      }
    }

    .explore-media {

      &:before {
        display: none;
      }

      .video-placeholder {
        display: block;

        &:after {

          @include media-breakpoint-up($desktop-breakpoint) {
            left: 11px;
            bottom: 11px;
          }
        }
      }
    }

    .overlay {
      display: none;
    }
  }

  &:after {
    content: "";
    display: block;
  }

  .postLink {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }

  .locked-picture {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.explore-media {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;

  &:after {
    pointer-events: none;
    content: "";
    display: block;
    padding-top: 100%;
    height: 0;
  }

  &:before {

    @include media-breakpoint-up($desktop-breakpoint) {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: rgba(#000, 0.4);
      opacity: 0;
      transform: scale(0);
      z-index: 1;
      content: "";
      transition: opacity 0.3s ease, transform 0.3s ease;
    }
  }

  &:not(.locked-wrapper):hover {

    .item-length {

      .value {
        opacity: 1;
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      &:before,
      .overlay {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  .item-length {
    position: absolute;
    right: 5px;
    top: 3px;
    color: #fff;
    opacity: 0.7;
    pointer-events: none;
    display: inline-flex;
    align-items: center;
    z-index: 2;

    @include media-breakpoint-up($desktop-breakpoint) {
      right: 15px;
      top: 12px;
    }

    &:after {
      font-size: 18px;
      @include icon-font;

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 24px;
      }
    }

    &_video {

      &:after {
        content: "\E635";
      }
    }

    &_photo {

      &:after {
        content: "\E634";
      }
    }

    .value {
      font-weight: 500;
      opacity: 0;
      transition: opacity 0.3s ease;
      margin: 0 5px 0 0;
    }
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transform: scale(5);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-weight: 500;
    padding: 0 18%;
    z-index: 1;

    @include media-breakpoint-down($desktop-breakpoint) {
      display: none;
    }
  }

  .video-placeholder {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;

    &:before {
      content: "";
      opacity: .15;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 70px;
      background: linear-gradient(
        90deg,
        #000 10%,
        #000 100%
      );

      @include media-breakpoint-up($desktop-breakpoint) {
        height: 80px;
      }
    }

    &:after {
      filter: drop-shadow(0 2px 7px rgba(0, 0, 0, 0.5));
    }
  }
}

.video-recommendations-text {
  text-transform: uppercase;
  font-size: 12px;
  opacity: .8;
  color: #fff;
  font-weight: 500;
  position: absolute;
  left: 66px;
  bottom: 15px;
  height: 36px;
  display: flex;
  align-content: center;
  align-items: center;
  z-index: 2;
  filter: drop-shadow(0 2px 7px rgba(0, 0, 0, 0.5));

  @include media-breakpoint-up($desktop-breakpoint) {
    left: 80px;
    bottom: 11px;
    font-size: 21px;
    height: 60px;
  }
}
