@import "components/imports";

.popup {

  &:not(.lightbox-post) {

    .postPage-content {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        background-color: $white;
      }
    }
  }
}

.postPage-content {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    flex: 1;
    position: relative;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    background: $white;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex-wrap: wrap;
    border-radius: 5px;
    min-height: calc(100vh - 160px);
  }

  .lightbox-post & {

    .explore-page & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__inside {
    flex: 1;

    &.has-media {
      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        position: static;
        overflow-y: auto;
      }
    }

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow-y: auto;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      max-width: 100%;
      display: flex;
      flex-direction: row;
    }

    .lightbox-post & {

      .explore-page & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          overflow: hidden;
          position: relative;
          top: auto;
          bottom: auto;
          left: auto;
          right: auto;
          margin: auto 0;
          flex: 0 0 auto;

          display: flex;
          flex-direction: column;
          flex: 1;
          justify-content: center;
        }
      }
    }

    &:not(.has-media) {

      @include media-breakpoint-up($desktop-breakpoint) {
        flex-direction: column;
      }
    }
  }

  .post-popup & {
    margin-bottom: 0;
    position: relative;
  }

  .lightbox-post & {

    .explore-page & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        overflow: hidden;
      }
    }
  }

  .header-mobile {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      flex: 0 0 44px;
    }

    .not-authorized & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .lightbox-post & {

      .explore-page & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          display: none;
        }
      }
    }

    .btn.alt {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }

      .not-authorized & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          display: block;
        }
      }
    }
  }
}

.postPageWrapper {
  display: flex;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    min-height: 100%;
    width: 100%;
    flex: 1;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    flex-wrap: wrap;
    flex-direction: column;
  }

  &_in-page {

    @include media-breakpoint-up($desktop-breakpoint) {
      min-height: calc(100vh - 75px);
    }

    .media {

      @include media-breakpoint-up($desktop-breakpoint) {
        flex: 1;
        min-width: 360px;
        max-width: calc(100% - 360px);
      }
    }

    &.mediaPage {
      .media {
        @include media-breakpoint-up($desktop-breakpoint) {
          flex: 1;
          min-width: 360px;
          max-width: 100%;
        }
      }
    }
  }

  &_in-popup {
    min-height: 100%;

    @include media-breakpoint-up($desktop-breakpoint) {
      min-height: auto;
    }

    .media {

      @include media-breakpoint-up($desktop-breakpoint) {
        flex: 0 0 calc(100% - 360px);
        width: calc(100% - 360px);
      }
    }
  }

  .popup & {

    .site-footer {
      display: none;
    }
  }

  .lightbox-post & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      position: relative;
    }
  }

  .site-footer {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: none;
    }
  }

  .stream-events {
    position: absolute;
    bottom: 15px;
    left: 15px;


    .comments-list-scrolling {
      color: #fff;
      text-shadow: 0 0 5px #000;
      font-size: 14px;
    }

    .avatar {
      z-index: 0;
    }

    .likesContainer {
      position: absolute;
      top: 10px;
      left: 0;
      right: 0;

      .like {
        bottom: -7px;
        left: 73px;
      }
    }
  }
}

.post.postPage {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    min-height: 100%;
    position: relative;
    background: $white;
    width: 100%;
    flex-direction: column;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    max-width: $width-wrapper;
    width: 100%;
    flex: 1;
    margin-bottom: 20px;
  }

  .more-functions {

    &__dropdown {

      @include media-breakpoint-up($desktop-breakpoint) {
        right: -5px;
      }

      &-inside {

        &:after {

          @include media-breakpoint-up($desktop-breakpoint) {
            right: 18px;
          }
        }
      }
    }
  }

  .popup-container.post-popup & {
    margin: 0;
    max-width: inherit;
    border-radius: 0;
    background: none;
    box-shadow: none;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow-y: auto;
      flex-direction: column;
    }
  }

  .actions {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding-top: 10px;
      padding-bottom: 18px;
      border-bottom: 1px solid rgba($gray, 0.2);
      margin: 0 0 12px;
      min-height: 59px;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 0;
      padding-bottom: 16px;
      margin-top: auto;
    }

    &__btn {

      @include media-breakpoint-up($desktop-breakpoint) {
        min-width: 41px;
      }

      &.tips {
        margin-right: 10px;
      }
    }
  }

  .lightbox-post & {

    .actions {

      .explore-page & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          border-bottom: none;
          margin-bottom: 0;
          color: #fff;
          position: relative;
          padding-bottom: 0;
          min-height: 40px;
        }
      }

      &__btn {

        .explore-page & {

          @include media-breakpoint-down($mobile-breakpoint-dcrs) {
            opacity: .7;
            flex: 0 0 28%;
          }
        }
      }

      .date {

        .explore-page & {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            position: absolute;
            right: 15px;
            top: 4px;
            opacity: 1;
          }
        }
      }
    }

    .text {

      .explore-page & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          display: none;
        }
      }
    }

    .more-functions {

      .explore-page & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          right: 7px;
          top: auto;
          bottom: -5px;
        }
      }
    }

    .right-col {

      .explore-page & {

        @include media-breakpoint-down($mobile-breakpoint-dcrs) {
          flex: 0 0 auto;
          width: 100%;

          display: none;
        }
      }
    }
  }

  .comment-form {

    .comment-btn {
      flex: 0 1 auto;
      width: auto;
    }
  }
}

.comment-form {

  &_clear-btn {
    padding-right: 34px;
  }

  .v-tribute {
    flex: 1;
    margin: 0 15px 0 0;
    position: relative;
  }

  .btn-clear-search {
    right: 8px;
  }
}

.right-col {
  display: flex;
  flex-direction: column;
  flex: 1;

  @include media-breakpoint-up($desktop-breakpoint) {
    width: 100%;
    background: $white;
  }

  .lightbox-post & {

    .explore-page & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        margin-bottom: 0;
      }
    }
  }

  .popup & {

    @include media-breakpoint-up($desktop-breakpoint) {
      max-width: 620px;
    }
  }

  .postPage & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      flex: 0 0 auto;
    }
  }
}

.post-capability {
  width: 100%;
  margin-top: auto;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    box-shadow: 0 -3px 2px rgba(#000, 0.05);
    backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
    padding-top: 7px;
    padding-bottom: 20px;
    z-index: 21;
    background-color: $white;
    transition: margin-bottom .3s;
  }

  .dropdawnOpened & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-bottom: -100%;
    }
  }

  .lightbox-post & {

    .explore-page & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }
    }
  }
}

.post-no-comments {
  min-height: 62px;
  position: relative;
  pointer-events: none;
  margin-bottom: 12px;

  @include media-breakpoint-up($desktop-breakpoint) {
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
  }
}

.postComments {
  flex: 1;
  position: relative;

  @include media-breakpoint-up($desktop-breakpoint) {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .lightbox-post & {

    .explore-page & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }
    }
  }

  .msg-no-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.subscribe-view-post {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}