@import "components/imports";

.popup {

  &:not(.lightbox-post) {

    .postPage-content {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        background-color: $white;
      }
    }
  }
}

.postPage-content {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up($desktop-breakpoint) {
    background: $white;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5px;
    min-height: 440px;
  }

  .post-popup & {
    margin-bottom: 0;
    position: relative;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      overflow-y: auto;
    }
  }

  .lightbox-post & {

    .explore-page & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        overflow: hidden;
      }
    }
  }

  .header-mobile {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      flex: 0 0 44px;
    }

    .not-authorized & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .lightbox-post & {

      .explore-page & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          display: none;
        }
      }
    }

    .btn.alt {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }

      .not-authorized & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          display: block;
        }
      }
    }
  }
}

.postPageWrapper {

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    min-height: 100%;
    display: flex;
    width: 100%;
    flex: 1;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    min-height: calc(100vh - 75px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .popup & {
    display: flex;
    min-height: 100%;

    @include media-breakpoint-up($desktop-breakpoint) {
      min-height: auto;
    }

    .site-footer {
      display: none;
    }
  }

  .postPage-content {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-bottom: 0;
      display: block;
    }
  }

  .site-footer {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: none;
    }
  }
}

.post.postPage {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    min-height: 100%;
    position: relative;
    background: $white;
    width: 100%;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    max-width: $width-wrapper;
    width: 100%;
    flex: 1;
    margin-bottom: 20px;
  }

  .more-functions {

    &__dropdown {

      @include media-breakpoint-up($desktop-breakpoint) {
        right: -5px;
      }

      &-inside {

        &:after {

          @include media-breakpoint-up($desktop-breakpoint) {
            right: 18px;
          }
        }
      }
    }
  }

  .popup-container.post-popup & {
    margin: 0;
    max-width: inherit;
    border-radius: 0;
    background: none;
    box-shadow: none;

    @include media-breakpoint-up($desktop-breakpoint) {
      max-height: calc(100vh - 120px);
      min-height: 440px;
    }
  }

  .actions {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      order: -2;
      padding-top: 10px;
      padding-bottom: 18px;
      border-bottom: 1px solid rgba($gray, 0.2);
      margin: 0 0 12px;
      min-height: 59px;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 0;
      padding-bottom: 16px;
      margin-top: auto;
    }

    &__btn {

      @include media-breakpoint-up($desktop-breakpoint) {
        min-width: 41px;
      }

      &.tips {
        margin-right: 10px;
      }
    }
  }

  .lightbox-post & {

    .actions {

      .explore-page & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          border-bottom: none;
          margin-bottom: 0;
          color: #fff;
          min-height: auto;
          position: static;
        }
      }

      &__btn {

        .explore-page & {

          @include media-breakpoint-down($mobile-breakpoint-dcrs) {
            opacity: .7;
            flex: 0 0 28%;
          }
        }
      }

      .date {

        .explore-page & {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            position: absolute;
            right: 15px;
            top: 4px;
            opacity: 1;
          }
        }
      }
    }

    .text {

      .explore-page & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          display: none;
        }
      }
    }

    .more-functions {

      .explore-page & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          right: 7px;
          top: auto;
          bottom: 8px;
        }
      }
    }

    .right-col {

      .explore-page & {

        @include media-breakpoint-down($mobile-breakpoint-dcrs) {
          flex: 0 0 auto;
          width: 100%;
        }
      }
    }
  }

  .comment-form {

    .comment-btn {
      flex: 0 1 auto;
      width: auto;
    }
  }
}

.right-col {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    flex: 1;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    width: 100%;
    background: $white;
  }

  .lightbox-post & {

    .explore-page & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        min-height: 50px;
        margin-bottom: 0;
      }
    }
  }

  .popup & {

    @include media-breakpoint-up($desktop-breakpoint) {
      max-width: 620px;
    }
  }

  .postPage & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-bottom: 70px;
      flex: 0 0 auto;
    }
  }
}

.post-no-comments {
  min-height: 62px;
  position: relative;
  pointer-events: none;

  @include media-breakpoint-up($desktop-breakpoint) {
    margin-bottom: 0;
    height: 100%;
  }
}

.postComments {
  flex: 1;
  position: relative;

  @include media-breakpoint-up($desktop-breakpoint) {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .popup &,
  .postPage & {

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-bottom: 66px;
    }
  }

  .lightbox-post & {

    .explore-page & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }
    }
  }

  .msg-no-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}