@import "components/imports";

.post-page {

  #content {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: flex;
    }
  }

  &.not-authorized {

    .main-header {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }
    }
  }
}

.post {

  &-wrapper {

    .posts & {
      padding-bottom: 12px;
      border-bottom: 1px solid rgba($gray, 0.2);
    }
    .clipLinks {
      // display: flex;
  
    }
  }

  .posts & {
    position: relative;
    z-index: 0;

    &.open-dropdown-inside {
      z-index: 2;
      position: inherit;
    }

    &:last-child {
      border-bottom: none;
    }

    .postComments {
      margin-bottom: 0;
      display: block;
    }

    .popup-addPost & {
      padding-bottom: 0;
    }

    .explore & {
      background-color: $white;
    }
  }

  &_preparation.post {


    .innerPost_wrapper {
      .media {
        .loader-container {
          display: none;
        }
      }
    }
    .media {

      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #000;
        opacity: .4;
        z-index: 0;
        pointer-events: none;
      }

      .loader-container {
        display: block;
      }
    }
  }

  .media {

    .loader-container {
      display: none;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    position: relative;
    &.wrap {
      flex-wrap: wrap;
    }

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding: 15px 38px 8px 15px;
      max-width: 100vw;

      @media screen and (orientation: landscape) {
        min-height: 54px;
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 14px 50px 10px 15px;
      z-index: 2;
    }

    .post_preparation & {

      @include media-breakpoint-up($desktop-breakpoint) {
        z-index: 5;
      }
    }

    .lightbox-post & {

      .explore-page & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          width: 100%;
          color: #fff;
          position: static;
          min-height: 48px;
          padding-right: 15px;
          padding-top: 0;
        }

        .more-functions {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            display: none;
          }
        }
      }
    }

    .postPage & {

      @include media-breakpoint-up($desktop-breakpoint) {
        margin-bottom: 10px;
        padding-bottom: 16px;

        &:after {
          content: "";
          background: rgba($gray, 0.2);
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 15px;
          right: 15px;
        }
      }
    }

    .user-login {
      margin-left: 5px;

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 15px;
      }

      .lightbox-post & {

        .explore-page & {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            font-size: 13px;
            display: none;
          }
        }
      }

      a {

        .lightbox-post & {

          .explore-page & {

            @include media-breakpoint-down($desktop-breakpoint-dcrs) {
              color: #fff;
            }
          }
        }
      }
    }

    .avatar {

      &_sm {

        .lightbox-post & {

          .explore-page & {

            @include media-breakpoint-down($desktop-breakpoint-dcrs) {
              width: 24px;
              height: 24px;
              font-size: 24px;
              flex: 0 0 24px;
            }
          }
        }
      }

      &__img {

        &:before {

          .lightbox-post & {

            .explore-page & {

              @include media-breakpoint-down($desktop-breakpoint-dcrs) {
                box-shadow: none;
              }
            }
          }
        }
      }
    }

    .name {

      .lightbox-post & {

        .explore-page & {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            font-size: 13px;
          }
        }
      }
    }

    .timestamp {
      display: none;

      .lightbox-post & {

        .explore-page & {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            margin-left: auto;
            opacity: 1;
            display: block;
            white-space: nowrap;
            padding-left: 12px;
          }
        }
      }
    }
  }

  &-option {
    border: none;
    background: none;
    padding: 0;
    opacity: .5;
    transition: color 0.3s ease, opacity 0.3s ease;
    margin-right: 20px;

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {
        opacity: 1;
        color: $secondary-color;

        .dark-theme & {
          color: $main-color;
          opacity: 1;
        }
      }
    }

    &.btn-remove:not([disabled]) {
      opacity: 1;
    }

    &[disabled] {
      color: $main-color;
    }
  }

  .text {
    padding: 0 15px 4px;
    max-width: 100%;
    word-break: break-word;
    // max-height: auto;
    // height: auto;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-bottom: 2px;
    }

    .postPageWrapper & {
      padding-bottom: 7px;
    }

    &_posttime {
      text-align: right;
      padding-top: 7px;
    }

    &.trunc-text {
      max-height: calc((1.25em * 4) - 0px);
    }

    &:empty {
      display: none;
    }

    a {
      word-break: break-all;
      display: inline-block;
    }
  }

  .actions {
    padding: 10px 15px 0;
    position: relative;
    font-weight: 500;
    display: flex;
    align-items: center;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 13px;
      padding-bottom: 8px;
    }

    &__btn {
      display: flex;
      align-items: center;
      margin-right: 25px;
      min-width: 54px;
      transition: color 0.3s ease, opacity 0.3s ease;
      cursor: pointer;

      @include media-breakpoint-down($mobile-breakpoint-dcrs) {
        margin: 0 10px 0 0;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        min-width: 58px;

        &:hover {
          color: $primary-color;

          .btn-icon {
            opacity: 1;
          }
        }
      }

      .btn-icon {
        transition: none;
        opacity: 0.3;
      }

      &.open,
      &.active {
        color: $primary-color;

        .btn-icon {
          opacity: 1;
        }
      }

      &.retweet_btn {

        &.more-functions {
          position: relative;
          right: 0;
          top: 0;
          display: block;

          img {
            display: block;
          }
        }

        .more-functions {

          &__dropdown {
            right: 6px;
          }
        }
      }
    }

    .more-functions {
      display: none;

      .lightbox-post & {

        .explore-page & {
          display: block;    
        }
      }
    }

    .timestamp {
      margin-left: auto;

      .lightbox-post & {

        .explore-page & {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            display: none;
          }
        }
      }
    }
  }

  .right-col {

    .comments-btn {

      &:not(.clickable-state.active) {
        cursor: auto;

        .btn-icon {
          cursor: auto;
        }

        @include media-breakpoint-up($desktop-breakpoint) {

          &:hover {
            opacity: .3;
            color: $main-color;

            .btn-icon {
              color: $main-color;
            }
          }
        }
      }
    }
  }

  .more-functions {
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      right: 7px;
      top: 9px;
    }

    &.open {
      z-index: auto;
    }

    &__btn {
      width: 40px;
      height: 40px;
      z-index: 0;
    }

    &__dropdown {

      @include media-breakpoint-up($desktop-breakpoint) {
        right: -22px;
      }

      .popup-content-scroll & {

        @include media-breakpoint-up($desktop-breakpoint) {
          right: -4px;
        }
      }
    }
  }

  .report {
    transition: color 0.3s ease;
  }

  &-secret {
    position: relative;
    min-height: 250px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 18px;
    background: $default-avatar-bg;

    .dark-theme & {
      color: $white;
    }

    &_no-avatar {

      &:after {
        @include default-avatar;
        font-size: 200px;
        filter: opacity(30%) blur(10px);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
      }
    }

    &__img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: opacity(30%) blur(7px);
      z-index: 0;
    }

    &__text {
      position: relative;
      z-index: 2;
    }
  }
}

.btn-copy-link {
  transition: color 0.3s ease;

  &.copied {
    color: $primary-color;

    .more-functions__option {
      opacity: 1;
    }
  }
}

.post-time {
  text-align: right;
}

.btn-icon {
  margin-right: 5px;
  opacity: 1;

  &.icn-block,
  &.icn-kick {
    color: #fff;
    margin-left: 5px;

    &:after {
      width: 17px;
      height: 17px;
      font-size: 17px;
    }
  }
}

.follow-link {
  cursor: pointer;
  color: $secondary-color;
  display: flex;
  align-content: center;
  align-items: center;
  margin-left: 6px;
  transition: color .3s;

  .lightbox-post & {

    .explore-page & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        font-size: 13px;
        color: #fff;
      }
    }
  }

  @include media-breakpoint-up($desktop-breakpoint) {

    &:hover {
      color: $secondary-color-darken;
    }
  }

  &:before {
    content: "\00B7";
    font-size: 24px;
    line-height: 15px;
    margin-right: 5px;
    color: $main-color;
  }
}

.load-more-comments {
  opacity: 0.5;
  display: inline-block;
  cursor: pointer;
  margin: 8px 15px 0;
  transition: color .3s, opacity .3s;

  @include media-breakpoint-up($desktop-breakpoint) {
    margin-top: 0;
    margin-bottom: 8px;
  }

  &:hover {
    opacity: 1;
    color: $secondary-color;
  }

  .postPage & {
    font-size: 13px;
    margin-top: 0;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-bottom: 10px;
    }
  }

  & + .comments-list_in-col {

    @include media-breakpoint-up($desktop-breakpoint) {
      top: 24px;
    }
  }
}

.media {
  margin-top: 7px;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;

  .container & {

    img {
      max-height: calc(100vh - 130px);
      object-fit: contain;
    }
  }

  .container & {

    .special-site-header & {

      img {
        max-height: calc(100vh - 180px);
      }
    }
  }

  .postPage & {
    background-color: #000;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-top: 4px;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .lightbox-post & {

      .explore-page & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          display: flex;
        }
      }
    }
  }

  .searchView & {

    @include media-breakpoint-up($desktop-breakpoint) {
      z-index: 1;
    }
  }

  .lightbox-post & {

    .explore-page & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {

        @media screen and (orientation: landscape) {
          flex-direction: column;
          max-height: calc(100vh - 104px);
        }
      }
    }
  }

  &-wrapper {
    width: 100%;
  }

  &-info-laoder {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }

  video,
  img {

    .postPage & {

      @include media-breakpoint-up($desktop-breakpoint) {
        width: auto;
        height: auto;
        max-width: 100%;
        display: block;
      }

      @media (min-height: 560px) and (min-width: 768px) {
        max-height: calc(100vh - 120px);
      }

      .popup & {

        @include media-breakpoint-up($desktop-breakpoint) {
          max-height: calc(100vh - 114px);
        }
      }
    }

    .lightbox-post & {

      .explore-page & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          height: 100%;

          @media screen and (orientation: landscape) {
            width: auto;
          }
        }
      }
    }
  }

  img {
    height: auto;
    display: block;
    margin: 0 auto;
    background: #fff;
    width: 100%;

    .lightbox-post & {

      .explore-page & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          background: none;

          @media screen and (orientation: landscape) {
            object-fit: contain;
            max-height: 100%;
          }
        }
      }
    }

    .post & {
      background: none;
    }

    &.locked {

      .postPage & {
        height: 50vh;

        @include media-breakpoint-up($desktop-breakpoint) {
          width: 440px;
        }
      }
    }

    .postPage & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        object-fit: contain;
      }
    }
  }

  video {
    width: 100%;
    max-height: calc(100vh - 200px);
    display: block;

    .lightbox-post & {

      .explore-page & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  &-slider {

    .lightbox-post & {

      .explore-page & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {

          @media screen and (orientation: landscape) {
            width: 100vw;
          }
        }
      }
    }

    &-pagination {
      position: absolute;
      bottom: 6px;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;

      @include media-breakpoint-up($desktop-breakpoint) {
        bottom: 10px;
      }

      .postPage & {
        bottom: 7px;

        @include media-breakpoint-up($tablet-breakpoint) {
          bottom: 24px;
        }
      }

      .item {
        width: 6px;
        height: 6px;
        margin: 0 3px;
        border-radius: 1000px;
        background: #fff;
        opacity: 0.5;
        transition: opacity 0.3s ease;
        cursor: pointer;
        position: relative;
        box-shadow: 2px 2px 5px rgba(#000, 0.1);

        .postPage & {

          @include media-breakpoint-up($tablet-breakpoint) {
            width: 8px;
            height: 8px;
            margin: 0 5px;
          }
        }

        &.active {
          opacity: 1;
        }

        @include media-breakpoint-up($desktop-breakpoint) {

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    &-navigation {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }
    }

    .swiper-slide {

      .lightbox-post & {

        .explore-page & {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {

            @media screen and (orientation: landscape) {
              width: 100vw !important;
              height: 100% !important;
            }
          }
        }
      }
    }

    .postLink {

      .lightbox-post & {

        .explore-page & {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {

            @media screen and (orientation: landscape) {
              height: 100%;
            }
          }
        }
      }

      img {

        .lightbox-post & {

          .explore-page & {

            @include media-breakpoint-down($desktop-breakpoint-dcrs) {

              @media screen and (orientation: landscape) {
                width: auto;
                max-width: 100%;
                height: auto;
                max-height: 100%;
              }
            }
          }
        }
      }
    }
  }

  &-item {
    display: none;
    text-align: center;

    .lightbox-post & {

      .explore-page & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {

          @media screen and (orientation: landscape) {
            flex-direction: column;
          }
        }
      }
    }

    .postLink {
      display: block;
      position: relative;
      vertical-align: top;
      flex: 0 0 100%;

      .lightbox-post & {

        .explore-page & {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {

            @media screen and (orientation: landscape) {
              display: flex;
              flex-direction: row;
              flex: 1;
            }
          }
        }
      }

      .postPage & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          flex: 1;
          max-height: 100%;
        }
      }
    }

    &.active {
      display: block;

      .postPage & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          display: flex;
          flex: 1;
        }
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0;
      }
    }

    .video-placeholder {
      display: block;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .1);
      }
    }
  }

  & + .right-col {

    &,
    .popup & {

      @include media-breakpoint-up($desktop-breakpoint) {
        flex: 0 1 360px;
        width: 360px;
        margin-left: auto;
        max-width: 360px;
      }
    }
  }

  .locked-picture {
    position: static;
  }
}

.gif-player {
  position: relative;

  .gif-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: $white;
  }
}

.comments-list {
  padding: 0 15px 8px;

  .post & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding-top: 10px;
    }
  }

  &:empty {
    padding: 0;
    display: none;
  }

  &_in-col {

    @include media-breakpoint-up($desktop-breakpoint) {
      position: absolute;
      left: 15px;
      right: 10px;
      top: 0;
      bottom: 10px;
      padding: 0;
    }

    .ps {

      @include media-breakpoint-up($desktop-breakpoint) {
        left: 0;
        right: -6px;
        top: 0;
        bottom: 0;
        padding-right: 12px;
      }
    }
  }

  &_main {

    @include media-breakpoint-up($desktop-breakpoint) {
      flex: 1;
      overflow: hidden;
      position: relative;
    }

    .ps {

      @include media-breakpoint-up($desktop-breakpoint) {
        left: 15px;
        right: 15px;
        top: 0;
        bottom: 9px;
      }
    }
  }

  .ps {

    @include media-breakpoint-up($desktop-breakpoint) {
      position: absolute;
    }
  }

  .name {
    padding-right: 4px;
    display: inline;
    vertical-align: top;
    white-space: normal;
  }
}

.comment {
  padding: 8px 0 0;
  position: relative;
  display: flex;

  &:first-child {
    padding-top: 0;
  }

  &-content {
    flex: 1;
    max-width: 100%;
  }

  &-answer {
    padding-left: 20px;
  }

  &-text {
    display: inline;

    a {
      word-break: break-word;
      display: inline-block;
    }

    .icn-size_md {
      line-height: 19px;

      &.likes {
        color: red;
      }
    }
  }

  &-body {
    margin-bottom: 3px;
    overflow: visible;
    overflow-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
    hyphens: auto;
    padding-right: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-footer {
    font-size: 11px;
    display: flex;
    padding-top: 2px;
    padding-bottom: 3px;

    .timestamp {
      font: inherit;
      margin-right: 20px;
    }

    .likes-count {
      opacity: .5;
      margin-right: 20px;
    }
  }

  &-form {
    display: flex;
    padding: 10px 15px;
    position: relative;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 5px;
      padding-bottom: 20px;
    }

    .post & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        padding-bottom: 0;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-bottom: 8px;
      }
    }
  }

  &-btn {

    @include media-breakpoint-up($desktop-breakpoint) {
      width: 80px;
      flex: 0 0 80px;
    }
  }

  &-input {
    height: 30px;
    overflow: auto;
    resize: none;
  }

  .postPage & {

    .comment {
      margin: 6px 0;
      width: auto;
      padding-left: 30px;

      @include media-breakpoint-up($desktop-breakpoint) {
        margin: 0 0 2px;
      }
    }
  }

  &_reply {
    padding-left: 30px;
    margin-left: 40px;
  }
}

.new-post-toast {
  display: block;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  color: $primary-color;
  position: sticky;
  z-index: 10;
  overflow: hidden;
  transition: transform .2s, opacity .2s;
  top: 88px;
  background-color: $white;

  @include media-breakpoint-up($desktop-breakpoint) {
    top: 50px;
  }

  &:not(.unread-box) {

    .profile-page & {
      top: 94px;

      @include media-breakpoint-up($desktop-breakpoint) {
        top: 140px;
      }
    }
    
    html:not(.profile-page) .scroll-top & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        transform: translateY(-44px);
      }
    }
  }

  &:not(.show) {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
  }

  span {
    position: relative;
    display: block;
    padding: 12px 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }

}

.guest-comments-form {
  padding-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding-bottom: 18px;
  }

  .not-authorized & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      border-top: none;
    }
  }

  .btn {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.video-placeholder {
  display: inline-block;
  position: relative;

  @include media-breakpoint-up($desktop-breakpoint) {

    &:hover {

      &:after,
      .video-recommendations-text {
        opacity: 1;
      }
    }
  }

  &:after {
    content: "\e897";
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: #fff;
    font-size: 40px;
    width: 40px;
    line-height: 40px;
    opacity: .7;
    transition: opacity .3s;
    filter: drop-shadow(0 2px 7px rgba(0, 0, 0, 0.5));

    @include media-breakpoint-up($desktop-breakpoint) {
      font-size: 60px;
      width: 60px;
      line-height: 60px;
    }
  }

  &.show-player {

    &:after {
      display: none;
    }
  }

  &.processing {
    pointer-events: none;
    cursor: default;
  }

  video {

    .popup & {
      max-width: 100%;
      max-height: calc(100vh - 60px);
      display: block;
    }
  }
}

.comment-form-wrapper {
  position: relative;

  @include media-breakpoint-up($desktop-breakpoint) {
    width: 100%;
    min-height: 54px;
    padding-top: 15px;
    padding-bottom: 9px;
  }

  &:after {
    content: "";
    background: rgba($gray, 0.2);
    height: 1px;
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    display: none;

    @include media-breakpoint-up($desktop-breakpoint) {
      display: block;
    }
  }
  .not-authorized & {

    @include media-breakpoint-up($desktop-breakpoint) {
      bottom: 0;
      height: auto;
    }
  }

  .comment-form,
  .tip-form_post {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.new-user {

  .rounded-container {

    @include media-breakpoint-up($desktop-breakpoint) {
      display: flex;
      flex-direction: column;
    }
  }
}

.start-feed-page {
  text-align: center;
  padding: 33px 20px 40px;

  @include media-breakpoint-up($desktop-breakpoint) {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
  }

  &__title {
    font-style: italic;
    font-size: 29px;
    font-weight: 300;
    margin-bottom: 30px;
  }

  &__logo {
    width: 80px;
    height: 80px;
    margin: 0 auto;

    svg {
      fill: $main-color
    }
  }

  &__text {
    margin-bottom: 30px;
    font-size: 18px;

    @include media-breakpoint-up($desktop-breakpoint) {
      font-size: 22px;
    }

    a {
      color: $secondary-color;
    }
  }
}

.media-slider-pagination {
  z-index: 20;
}

// .chatImageSwiper {
//   width: auto !important;
// }