@import "components/imports";

@keyframes copy-link {
  0% {
    color: transparent;
  }
  100% {
    color: inherit;
  }
}

.post-page {

  #content {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: flex;
    }
  }

  &.not-authorized {

    #site_header {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }
    }
  }
}

.post {

  .posts & {
    padding: 0 0 12px;
    border-bottom: 1px solid rgba($gray, 0.2);
    position: relative;
    z-index: 0;

    &.open-dropdown-inside {
      z-index: 2;
      position: inherit;
    }

    &:last-child {
      border-bottom: none;
    }

    .postComments {
      margin-bottom: 0;
    }

    .popup-addPost & {
      padding-bottom: 0;
    }
  }

  &_preparation.post {

    .media {

      .lds-dual-ring {
        display: block;
        pointer-events: none;

        .loader-text {
          color: #fff;
          text-align: center;
        }
      }

      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #000;
        opacity: .4;
        z-index: 0;
        pointer-events: none;
      }
    }
  }

  .media {

    .lds-dual-ring {
      display: none;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    position: relative;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding: 15px 38px 8px 15px;
      max-width: 100vw;

      @media screen and (orientation: landscape) {
        min-height: 54px;
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 14px 50px 10px 15px;
      z-index: 2;
    }

    .lightbox-post & {

      .explore-page & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          width: 100%;
          color: #fff;
          position: static;
          min-height: 48px;
          padding-right: 15px;
        }
      }
    }

    .postPage & {

      @include media-breakpoint-up($desktop-breakpoint) {
        margin-bottom: 10px;
        padding-bottom: 16px;

        &:after {
          content: "";
          background: rgba($gray, 0.2);
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 15px;
          right: 15px;
        }
      }
    }

    .user-login {
      margin-left: 5px;

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 15px;
      }

      .lightbox-post & {

        .explore-page & {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            font-size: 13px;
            display: none;
          }
        }
      }

      a {

        .lightbox-post & {

          .explore-page & {

            @include media-breakpoint-down($desktop-breakpoint-dcrs) {
              color: #fff;
            }
          }
        }
      }
    }

    .avatar {

      &_sm {

        .lightbox-post & {

          .explore-page & {

            @include media-breakpoint-down($desktop-breakpoint-dcrs) {
              width: 24px;
              height: 24px;
              font-size: 24px;
              flex: 0 0 24px;
            }
          }
        }
      }

      &__img {

        &:before {

          .lightbox-post & {

            .explore-page & {

              @include media-breakpoint-down($desktop-breakpoint-dcrs) {
                box-shadow: none;
              }
            }
          }
        }
      }
    }

    .name {

      .lightbox-post & {

        .explore-page & {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            font-size: 13px;
          }
        }
      }
    }

    .timestamp {
      display: none;

      .lightbox-post & {

        .explore-page & {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            margin-left: auto;
            opacity: 1;
            display: block;
            white-space: nowrap;
            padding-left: 12px;

            @media screen and (orientation: landscape) {
              margin-right: 36px;
            }
          }
        }
      }
    }
  }

  .text {
    padding: 0 15px 4px;
    max-width: 100%;
    word-break: break-word;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-bottom: 2px;
    }

    .postPageWrapper & {
      padding-bottom: 7px;
    }

    &:empty {
      display: none;
    }
  }

  .actions {
    padding: 10px 15px 0;
    position: relative;
    font-weight: 500;
    display: flex;
    align-items: center;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 13px;
      padding-bottom: 8px;
    }

    &__btn {
      opacity: 0.3;
      display: flex;
      align-items: center;
      margin: 0 25px 0 0;
      min-width: 54px;
      transition: color 0.3s ease, opacity 0.3s ease;
      cursor: pointer;

      @include media-breakpoint-up($desktop-breakpoint) {
        min-width: 58px;
      }

      @include media-breakpoint-down($mobile-breakpoint-dcrs) {
        margin: 0 10px 0 0;
      }

      &:hover {

        @include media-breakpoint-up($desktop-breakpoint) {
          opacity: 1;
          color: $primary-color;
        }
      }

      &.active {
        opacity: 1;
        color: $primary-color;
      }
    }

    .report {
      opacity: 0.15;
      &,
      &:empty {
        margin: 0 0 0 auto;
      }
      &:before {
        content: "\E619";
      }
    }

    .timestamp {
      margin-left: auto;

      .lightbox-post & {

        .explore-page & {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            display: none;
          }
        }
      }
    }
  }

  .right-col {

    .comments {

      &:not(.clickable-state) {
        cursor: auto;

        &:hover {

          @include media-breakpoint-up($desktop-breakpoint) {
            opacity: .3;
            color: $main-color;
          }
        }
      }
    }
  }

  .more-functions {
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      right: 7px;
      top: 9px;
    }

    &.open {
      z-index: auto;
    }

    &__btn {
      width: 40px;
      height: 40px;
      z-index: 0;
    }

    &__dropdown {

      @include media-breakpoint-up($desktop-breakpoint) {
        right: -22px;
      }

      .popup-content-scroll & {

        @include media-breakpoint-up($desktop-breakpoint) {
          right: -4px;
        }
      }
    }
  }

  .btn-copy-link {
    animation: copy-link 0.5s;
    transition: color 0.3s ease;
    &.copied {
      animation: none;
    }
  }

  .report {
    transition: color 0.3s ease;
  }
}

.load-more-comments {
  opacity: 0.5;
  display: block;
  cursor: pointer;
  margin: 8px 15px 0;

  @include media-breakpoint-up($desktop-breakpoint) {
    margin-top: 0;
    margin-bottom: 8px;
  }

  .postPage & {
    font-size: 13px;
    margin-top: 0;
  }

  & + .comments-list_in-col {

    @include media-breakpoint-up($desktop-breakpoint) {
      top: 24px;
    }
  }
}

.media {
  margin: 7px 0 0;
  position: relative;
  overflow: hidden;

  .container & {

    img {
      max-height: calc(100vh - 130px);
      object-fit: cover;
    }
  }

  .container & {

    .special-site-header & {

      img {
        max-height: calc(100vh - 180px);
      }
    }
  }

  .postPage & {
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-top: 4px;

      max-height: calc(100vh - 210px);
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      flex: 1;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 360px;
      max-width: calc(100% - 360px);
    }

    .popup & {

      @include media-breakpoint-up($desktop-breakpoint) {
        flex: 0 0 calc(100% - 360px);
        width: calc(100% - 360px);
      }
    }
  }

  .searchView & {

    @include media-breakpoint-up($desktop-breakpoint) {
      z-index: 1;
    }
  }

  .lightbox-post & {

    .explore-page & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {

        @media screen and (orientation: landscape) {
          display: flex;
          flex-direction: column;
          max-height: calc(100vh - 104px);
        }
      }
    }
  }

  &-info-laoder {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }

  video,
  img {

    .postPage & {

      @include media-breakpoint-down($desktop-breakpoint) {
        max-height: calc(100vh - 210px);
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        width: auto;
        height: auto;
        max-width: 100%;
        display: block;
      }

      @media (min-height: 560px) and (min-width: 768px) {
        max-height: calc(100vh - 120px);
      }
    }

    .lightbox-post & {

      .explore-page & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {

          @media screen and (orientation: landscape) {
            object-fit: contain;
          }
        }
      }
    }
  }

  img {
    height: auto;
    display: block;
    margin: 0 auto;
    background: #fff;
    width: 100%;

    .lightbox-post & {

      .explore-page & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          background: none;
        }
      }
    }

    &.locked {

      .postPage & {
        height: 50vh;

        @include media-breakpoint-up($desktop-breakpoint) {
          width: 440px;
        }
      }
    }

    .postPage & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        object-fit: contain;
        background: none;
      }
    }
  }

  video {
    width: 100%;
    max-height: calc(100vh - 200px);
    display: block;
  }

  &-slider {

    .lightbox-post & {

      .explore-page & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {

          @media screen and (orientation: landscape) {
            width: 100vw;
          }
        }
      }
    }

    &-pagination {
      position: absolute;
      bottom: 6px;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;

      @include media-breakpoint-up($desktop-breakpoint) {
        bottom: 10px;
      }

      .postPage & {
        bottom: 7px;

        @include media-breakpoint-up($tablet-breakpoint) {
          bottom: 24px;
        }
      }

      .item {
        width: 6px;
        height: 6px;
        margin: 0 3px;
        border-radius: 1000px;
        background: #fff;
        opacity: 0.5;
        transition: opacity 0.3s ease;
        cursor: pointer;
        position: relative;
        box-shadow: 2px 2px 5px rgba(#000, 0.1);

        .postPage & {

          @include media-breakpoint-up($tablet-breakpoint) {
            width: 8px;
            height: 8px;
            margin: 0 5px;
          }
        }

        &:before {
          position: absolute;
          left: -3px;
          right: -3px;
          top: -3px;
          bottom: -3px;
          content: "";
        }

        &.active,
        &:hover {
          opacity: 1;
        }
      }
    }

    &-navigation {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }

      .btn-prev,
      .btn-next {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 45px;
        color: #fff;
        font-size: 36px;
        cursor: pointer;
        opacity: 0.7;
        transition: opacity 0.3s ease;
        filter: drop-shadow(2px 2px 5px rgba(#000, 0.4));

        .postPage & {
          width: 56px;
          font-size: 44px;
        }

        &:before {
          @include icon-font;
          @include position-center;
        }

        &:hover {
          opacity: 1;
        }
      }

      .btn-prev {
        left: 0;
        &:before {
          content: "\E645";
        }
      }
      .btn-next {
        right: 0;
        &:before {
          content: "\E643";
        }
      }
    }

    .swiper-slide {

      .lightbox-post & {

        .explore-page & {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {

            @media screen and (orientation: landscape) {
              width: 100vw !important;
              height: 100% !important;
            }
          }
        }
      }
    }

    .postLink {

      .lightbox-post & {

        .explore-page & {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {

            @media screen and (orientation: landscape) {
              height: 100%;
            }
          }
        }
      }

      img {

        .lightbox-post & {

          .explore-page & {

            @include media-breakpoint-down($desktop-breakpoint-dcrs) {

              @media screen and (orientation: landscape) {
                width: auto;
                max-width: 100%;
                height: auto;
                max-height: 100%;
              }
            }
          }
        }
      }
    }
  }

  &-item {
    display: none;
    text-align: center;

    .lightbox-post & {

      .explore-page & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {

          @media screen and (orientation: landscape) {
            flex: 1;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }

    .postLink {
      display: block;
      position: relative;
      vertical-align: top;
      flex: 0 0 100%;

      .lightbox-post & {

        .explore-page & {

          @include media-breakpoint-down($desktop-breakpoint-dcrs) {

            @media screen and (orientation: landscape) {
              display: flex;
              flex-direction: row;
              flex: 1;
            }
          }
        }
      }

      .postPage & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          flex: 1;
          max-height: 100%;
        }
      }
    }

    &.active {
      display: block;

      .postPage & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          display: flex;
          flex: 1;
        }
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0;
      }
    }

    .video-placeholder {
      display: block;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .1);
      }
    }
  }

  .gif-player {
    position: relative;
    .gif-img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      background: #fff;
    }
  }

  & + .right-col {

    &,
    .popup & {

      @include media-breakpoint-up($desktop-breakpoint) {
        flex: 0 1 360px;
        width: 360px;
        margin-left: auto;
        max-width: 360px;
      }
    }
  }

  .locked-picture {
    position: static;
  }
}

.comments-list {
  padding: 0 15px 8px;

  .post & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding-top: 10px;
    }
  }

  &:empty {
    padding: 0;
    display: none;
  }

  &_in-col {

    @include media-breakpoint-up($desktop-breakpoint) {
      position: absolute;
      left: 15px;
      right: 10px;
      top: 0;
      bottom: 0;
      padding: 0;
    }

    .ps {

      @include media-breakpoint-up($desktop-breakpoint) {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding-right: 5px;
      }

      > .ps__scrollbar-x-rail,
      > .ps__scrollbar-y-rail {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          display: none;
        }
      }
    }
  }

  &_main {

    @include media-breakpoint-up($desktop-breakpoint) {
      flex: 1;
      overflow: hidden;
      position: relative;
    }

    .ps {

      @include media-breakpoint-up($desktop-breakpoint) {
        left: 15px;
        right: 15px;
        top: 0;
        bottom: 9px;
      }
    }
  }

  .ps {

    @include media-breakpoint-up($desktop-breakpoint) {
      position: absolute;
    }
  }

  .name {
    padding: 0 4px 0 0;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
  }
}

.comment {
  padding: 8px 0 0;
  position: relative;
  display: flex;

  &:first-child {
    padding-top: 0;
  }

  &-content {
    flex: 1;
    max-width: 100%;

    .post-popup & {
      padding-right: 24px;

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-right: 35px;
      }
    }
  }

  &-answer {
    padding-left: 20px;
  }

  &-text {
    display: inline;
    word-break: break-word;
  }

  &-body {
    margin-bottom: 3px;
    word-break: break-word;
    padding-right: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-footer {
    font-size: 11px;
    display: flex;
    padding-top: 2px;
    padding-bottom: 3px;

    .timestamp {
      font: inherit;
      margin-right: 20px;
    }

    .likes-count {
      opacity: .5;
      margin-right: 20px;
    }
  }

  &-form {
    display: flex;
    padding: 10px 15px;
    position: relative;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 5px;
      padding-bottom: 20px;
    }

    .post & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        padding-bottom: 0;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-bottom: 8px;
      }
    }
  }

  &-btn {

    @include media-breakpoint-up($desktop-breakpoint) {
      width: 80px;
      flex: 0 0 80px;
    }
  }

  &-input {
    margin: 0 15px 0 0;
    height: 30px;
    overflow: auto;
    resize: none;
  }

  .postPage & {

    .comment {
      margin: 6px 0;
      width: auto;
      padding-left: 30px;

      @include media-breakpoint-up($desktop-breakpoint) {
        margin: 0 0 2px;
      }
    }
  }

  &_reply {
    padding-left: 30px;
    margin-left: 40px;
  }
}

.new-post-toast {
  display: block;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  color: $primary-color;
  position: sticky;
  z-index: 10;
  overflow: hidden;
  transition: all .2s;
  top: 88px;
  background-color: #fff;

  @include media-breakpoint-up($desktop-breakpoint) {
    top: 50px;
  }

  .profile-page & {
    top: 94px;

    @include media-breakpoint-up($desktop-breakpoint) {
      top: 140px;
    }
  }

  html:not(.profile-page) .scroll-top & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      transform: translateY(-44px);
    }
  }

  &:not(.show) {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
  }

  span {
    position: relative;
    display: block;
    padding: 12px 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 7px 0;
    }
  }

}

.guest-comments-form {
  padding-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding-bottom: 18px;
  }

  .not-authorized & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      border-top: none;
    }
  }

  p {
    padding-bottom: 4px;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-bottom: 0;
    }
  }

  .date {
    @include media-breakpoint-up($desktop-breakpoint) {
      white-space: nowrap;
    }
  }
}

.video-placeholder {
  display: inline-block;
  position: relative;

  &:hover {

    &:after {
      opacity: 1;
    }

    .video-recommendations-text {
      opacity: 1;
    }
  }

  &:after {
    content: "\E61D";
    @include icon-font;
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: $white;
    font-size: 40px;
    width: 40px;
    line-height: 40px;
    opacity: .7;
    transition: opacity .3s;
    filter: drop-shadow(0 2px 7px rgba(0, 0, 0, 0.5));

    @include media-breakpoint-up($desktop-breakpoint) {
      font-size: 60px;
      width: 60px;
      line-height: 60px;
    }
  }

  &.show-player,
  &.processing {

    &:after {
      display: none;
    }
  }
}

.comment-form-wrapper {
  position: relative;

  @include media-breakpoint-up($desktop-breakpoint) {
    width: 100%;
    min-height: 54px;
    padding-top: 15px;
    padding-bottom: 9px;
  }

  &:after {
    content: "";
    background: rgba($gray, 0.2);
    height: 1px;
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    display: none;

    @include media-breakpoint-up($desktop-breakpoint) {
      display: block;
    }
  }
  .not-authorized & {

    @include media-breakpoint-up($desktop-breakpoint) {
      bottom: 0;
      height: auto;
    }
  }

  .comment-form,
  .tip-form_post {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.new-user {

  .rounded-container {

    @include media-breakpoint-up($desktop-breakpoint) {
      display: flex;
      flex-direction: column;
    }
  }
}

.start-feed-page {
  text-align: center;
  padding: 33px 20px 40px;

  @include media-breakpoint-up($desktop-breakpoint) {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
  }

  &__title {
    font-style: italic;
    font-size: 29px;
    font-weight: 300;
    margin-bottom: 30px;
  }

  &__logo {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }

  &__text {
    margin-bottom: 30px;
    font-size: 18px;

    @include media-breakpoint-up($desktop-breakpoint) {
      font-size: 22px;
    }

    a {
      color: $secondary-color;
    }
  }
}