@import "components/imports";

.popup-container.post-popup {
  //top: 0;
  //left: 0;
  //transform: none;
  //width: auto;
  overflow: visible;

  @include media-breakpoint-up($desktop-breakpoint) {
    //background: none;
    //position: relative;
    max-width: 100%;
  }

  @include media-breakpoint-down($desktop-breakpoint) {
    border-radius: 0;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
  }

  .content {
    //overflow: auto;
    border-radius: 5px;
    padding: 0;
    text-align: left;

    @include media-breakpoint-down($desktop-breakpoint) {
      display: flex;
      flex-direction: column;
      border-radius: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      .post.postPage {
        width: 100%;
      }
    }
  }

  .close {
    position: fixed;
    color: #fff;
    opacity: 0.7;
    font-size: 30px;
    padding: 7px 10px;

    @include media-breakpoint-down($desktop-breakpoint) {
      right: auto;
      left: 0;
      width: 54px;
      height: 44px;
      padding: 0;
      z-index: 15;
      opacity: 0;
    }

    &:hover {
      opacity: 1;

      @include media-breakpoint-down($desktop-breakpoint) {
        opacity: 0;
      }
    }

    &:before {
      opacity: 1;

      @include media-breakpoint-down($desktop-breakpoint) {
        @include position-center;
      }
    }
  }

  .next,
  .previous {
    @include media-breakpoint-down($desktop-breakpoint) {
      display: none;
    }
  }
}

.postPage-content {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up($desktop-breakpoint) {
    background: $white;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5px;
    margin-bottom: 20px;
    min-height: 440px;
  }

  .post-popup & {
    margin-bottom: 0;

    @include media-breakpoint-down($desktop-breakpoint) {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      overflow-y: auto;
    }
  }

  .header-mobile {

    @include media-breakpoint-down($desktop-breakpoint) {
      flex: 0 0 44px;
    }
  }
}

.postPageWrapper {

  @include media-breakpoint-down($desktop-breakpoint) {
    min-height: 100%;
    display: flex;
    width: 100%;
    flex: 1;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    min-height: calc(100vh - 75px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .popup & {
    display: flex;
    min-height: 100%;

    @include media-breakpoint-up($desktop-breakpoint) {
      min-height: auto;
    }

    .site-footer {
      display: none;
    }
  }

  .postPage-content {

    @include media-breakpoint-down($desktop-breakpoint) {
      margin-bottom: 0;
    }
  }

  .site-footer {

    @include media-breakpoint-down($desktop-breakpoint) {
      display: none;
    }
  }
}

.post.postPage {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  @include media-breakpoint-down($desktop-breakpoint) {
    min-height: 100%;
    position: relative;
    background: $white;
    width: 100%;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    max-width: 940px;
    width: 100%;
    flex: 1;
  }

  .more-functions {

    &__dropdown {

      @include media-breakpoint-up($desktop-breakpoint) {
        right: -5px;
      }

      &-inside {

        &:after {

          @include media-breakpoint-up($desktop-breakpoint) {
            right: 18px;
          }
        }
      }
    }
  }

  .popup-container.post-popup & {
    margin: 0;
    max-width: inherit;
    border-radius: 0;
    background: none;
    box-shadow: none;

    @include media-breakpoint-up($desktop-breakpoint) {
      max-height: calc(100vh - 120px);
      min-height: 440px;
    }
  }

  .right-col {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down($desktop-breakpoint) {
      flex: 1;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      width: 100%;
      background: $white;
    }

    .popup & {

      @include media-breakpoint-up($desktop-breakpoint) {
        width: 620px;
      }
    }
  }

  .post-no-comments {
    margin-bottom: 56px;
    min-height: 80px;
    height: calc(100% - 56px);
    position: relative;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-bottom: 0;
      height: 100%;
    }
  }

  .actions {

    @include media-breakpoint-down($desktop-breakpoint) {
      order: -2;
      padding-top: 10px;
      padding-bottom: 18px;
      border-bottom: 1px solid rgba($gray, 0.2);
      margin: 0 0 12px;
      min-height: 59px;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 0;
      padding-bottom: 16px;
    }

    &__btn {

      @include media-breakpoint-up($desktop-breakpoint) {
        min-width: 41px;
      }
    }
  }
  .tip-form {
    @include media-breakpoint-down($desktop-breakpoint) {
      order: -1;
      padding-top: 0;
      padding-bottom: 10px;
    }
    @include media-breakpoint-up($desktop-breakpoint) {
      .btn {
        width: 95px;
        flex: 0 0 95px;
      }
      .tip-amount-input {
        min-width: 0;
      }
    }
  }

  .comment-form {

    @include media-breakpoint-up($desktop-breakpoint) {
      &:after {
        content: "";
        background: rgba($gray, 0.2);
        height: 1px;
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
      }
    }
    .comment-btn {
      flex: 0 1 auto;
      width: auto;
    }
  }

  .load-more-comments {
    font-size: 13px;
  }

  .comments-list {

    .comment {

      @include media-breakpoint-up($desktop-breakpoint) {
        //width: 590px;
      }
    }
  }
}

.postComments {
  flex: 1;
  position: relative;

  @include media-breakpoint-up($desktop-breakpoint) {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .msg-no-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}