@import "components/imports";

.profile-page {

  @include media-breakpoint-up($desktop-breakpoint) {
    height: 100%;
  }

  body {
    overflow-x: hidden;

    @include media-breakpoint-up($desktop-breakpoint) {
      height: 100%;
    }
  }

  #content {

    @include media-breakpoint-up($desktop-breakpoint) {
      min-height: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  .special-container {

    @include media-breakpoint-up($desktop-breakpoint) {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      min-height: 100%;
      display: flex;
      flex-direction: column;
    }

    .header-return-btn {
      color: #fff;
    }
  }

  .white-bg-block {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: flex;
      flex-direction: column;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    > .container {
      flex: 1;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        background: $white
        linear-gradient(30deg, $secondary-color-06 10%, $primary-color-06 90%) fixed;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .post-types-tabs {

    .more-functions__btn {

      @include media-breakpoint-up($desktop-breakpoint) {
        flex: 0 0 58px;
        width: 58px;
        padding: 0;
      }
    }
  }

  .posts {

    .post {
      background-color: $white;
    }
  }

  .site-footer {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      flex: 0 0 auto;
      width: 100%;
    }

    &.hidden-footer {

      &:not(.page-width) {

        @include media-breakpoint-up($desktop-breakpoint) {
          display: none;
        }
      }
    }
  }

  .header-scrolled {

    .white-bg-block {

      > .container {

        @include media-breakpoint-up($desktop-breakpoint) {
          min-height: calc(100vh - 152px);
        }
      }
    }
  }

  .addPost-btn-float {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      z-index: 7;
    }
  }
}

.profile-header {

  @include media-breakpoint-up($desktop-breakpoint) {
    box-shadow: none;
    height: 0;
    position: sticky;
    top: 12px;
    width: 100%;
    max-width: $width-wrapper;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
  }

  .header-popup-menu-btn {

    @include media-breakpoint-up($desktop-breakpoint) {
      top: 295px;
      right: 50%;
      margin-right: -470px;
      height: 40px;
      width: 40px;
      border-radius: 1000px;
      background-color: rgba($gray, 0.5);
      transition: background-color 0.3s ease, box-shadow 0.3s ease;
      box-shadow: 0 2px 10px rgba(#000, 0.1);
    }

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {
        background-color: $gray;
        box-shadow: 0 2px 10px rgba(#000, 0.2);
      }
    }
  }
}

.profile-images {
  position: relative;
  z-index: 5;
  width: 139px;

  @include media-breakpoint-up($desktop-breakpoint) {
    width: 100%;
    position: sticky;
    top: 79px;
    transform: translateY(86px);
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__inner {
    font-size: 100px;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%, 0);

    @include media-breakpoint-up($desktop-breakpoint) {
      left: 23px;
      bottom: 34px;
      transform: translate(-2%, -3.5%);
      font-size: 200px;
    }
  }

  .avatar {
    background-color: $white;
    font-size: inherit;

    &.online-state {

      &:after {;
        transform: translate(7px, -.05em);
        min-width: 12px;
        min-height: 12px;
        @include onlineIndicator(.1em, .1em, .16em, .001em);
      }
    }

    &__img {

      &:before {

        @include media-breakpoint-up($desktop-breakpoint) {
          box-shadow: 0 0 0 calc(0.025em + (200px - 1em) * 0.0125) $white;
        }
      }
    }
  }

  .stream-online-label {

    @include media-breakpoint-up($desktop-breakpoint) {
      bottom: -0.6em;
      line-height: 1.42em;
      width: 3.5em;
      font-size: calc(0.055em + 7px);
      top: auto;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
  }
}

.profile-name {
  padding: 16px 10px 15px 139px;
  transition: opacity 0.3s;

  .profile-header & {

    @include media-breakpoint-up($desktop-breakpoint) {
      max-width: calc(33.35% - 30px);
      width: 100%;
      padding: 0;
      opacity: 1;
    }

    .header-scrolled & {

      @include media-breakpoint-up($desktop-breakpoint) {
        max-width: calc(33.35% - 80px);
      }
    }
  }

  .header-scrolled & {

    @include media-breakpoint-up($desktop-breakpoint) {
      opacity: 1;
    }
  }

  &_base {

    .profile-name {

      &__main {
        font-size: 17px;

        @include media-breakpoint-up($desktop-breakpoint) {
          font-size: 21px;
          transition: font-size .3s;
        }

        .header-scrolled & {

          @include media-breakpoint-up($desktop-breakpoint) {
            font-size: 17px;
          }
        }
      }
    }

    .user-login {

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 17px;
      }

      .header-scrolled & {

        @include media-breakpoint-up($desktop-breakpoint) {
          font-size: 15px;
        }
      }
    }
  }

  &__main {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 6px;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-bottom: 3px;
    }
  }

  .user-login {
    max-width: 100%;
    display: block;
    margin-top: -4px;
    &-container {
     position: relative;
     overflow: initial;
     display: flex;
     align-items: center;
     justify-content: space-between;
    }
    &-rating {
      opacity: .8;
      font-size: 22px;
      line-height: 22px;
      .icn-size_sm {
        font-size: 16px;
        vertical-align: center;
        &.locked {
          color: red;
        }
      }
    }


    a {

      .header-scrolled & {

        @include media-breakpoint-up($desktop-breakpoint) {
          font-size: inherit;
        }
      }
    }
  }

  &__header {
    font: inherit;
    padding: 0 54px;
    color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    white-space: nowrap;
    display: flex;
    max-width: 100%;
    align-items: center;

    .support-page & {
      padding-left: 20px;
    }

    .not-authorized & {
      padding-right: 20px;
      padding-left: 20px;
    }

    .verified-user {
      color: inherit;
    }

    .user-login {

      a {
        color: inherit;
      }
    }

    .header-scrolled & {

      .special-site-header:not(.not-authorized) & {
        opacity: 1;
        pointer-events: unset;
      }
    }

    .scroll-top & {

      .special-site-header.not-authorized & {
        opacity: 1;
        pointer-events: unset;
      }
    }

    &.no-owner {
      padding-right: 20px;
    }
  }

  .icn-block {

    .header-scrolled & {
      height: 20px;
      line-height: 20px;
    }

    &:after {

      .header-scrolled & {
        width: 18px;
        height: 18px;
        font-size: 18px;
      }
    }
  }
}

.profile-desc {
  padding: 0 15px;

  @include media-breakpoint-up($desktop-breakpoint) {
    margin-top: 136px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 456px);
    position: relative;
    overflow-y: auto;
    padding-right: 10px;
    max-width: 310px;
  }

  .header-scrolled & {

    @include media-breakpoint-up($desktop-breakpoint) {
      height: calc(100vh - 148px);
    }
  }

  .site-footer {

    @include media-breakpoint-up($desktop-breakpoint) {
      flex: 0 0 auto;
      margin-top: auto;
      width: auto;
      margin-right: 14px;
    }

    .container {

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.profile-text {
  padding: 0;
  margin-bottom: 7px;
  overflow: visible;
  overflow-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
  hyphens: auto;

  &:empty {
    display: none;
  }
}

.collapse-text {
  display: block;
  margin-top: 5px;
}

.profile-offer {
  padding-top: 12px;

  .user-login {
    opacity: 1;
  }

  &__chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex: 0 0 100%;
    margin-top: 10px;

    input {
      margin-right: 10px;
    }
  }
}

.profile-data {
  display: flex;
  flex-wrap: wrap;
  padding-top: 12px;
  padding-bottom: 12px;

  @include media-breakpoint-up($desktop-breakpoint) {
    flex: 0 0 44px;
  }

  .item {
    padding-right: 20px;
    padding-bottom: 10px;
  }

  a {
    color: inherit;
    transition: color .3s ease;

    .icn-locked {
      opacity: .5;
      &.locked {
        color: red;
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {

        .data-label {
          color: $primary-color-darken;
          opacity: 1;
        }
      }
    }
  }

  .data-value {
    font-weight: 500;
    margin-right: 4px;
  }

  .data-label {
    opacity: .5;
    font-size: 13px;
    transition: color .3s ease, opacity .3s ease;
  }
}

.profile-actions {
  display: flex;
  justify-content: space-between;
  padding: 0 0 22px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid rgba($gray, 0.2);
  flex: 0 0 calc(100% - 30px);
  order: 1;
  font-weight: 500;
  position: relative;

  @include media-breakpoint-up($desktop-breakpoint) {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    z-index: 5;
    justify-content: flex-end;
    order: 2;
    flex: 1;
    border-bottom: none;
  }

  &:before,
  &:after {
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      content: "";
    }
  }

  .subscribePaidView {

    &:empty {
      display: none;
    }
  }
}

.subscribeView {
  cursor: pointer;

  &:empty {
    display: none;
  }

  button {
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    border: none;
  }

  &.selected {

    .btn-subscribe {
      color: $primary-color;
      opacity: 1;
    }
  }

  .btn-subscribe[disabled] {
    opacity: 0.2;
    color: $main-color;
  }
}

.post-types-tabs {
  display: flex;
  background: $white;
  box-shadow: 0 2px 1px rgba(#000, 0.1);
  z-index: 5;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    position: -webkit-sticky;
    position: sticky;
    top: -22px;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    z-index: 3;
    display: block;
    padding: 0;
    margin-bottom: 25px;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
  }

  .container {
    position: relative;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      width: 100%;
      display: none;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      display: flex;
      justify-content: flex-end;
    }
  }

  .container > span,
  & > span {
    flex: 0 1 100%;
    text-align: center;
    padding: 0 0 8px;
    border-bottom: 2px solid transparent;
    color: inherit;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 12px 0 3px;
      flex-shrink: 0;
      flex-basis: 76px;
    }
  }
}

.profile-actions-mob {
  position: -webkit-sticky;
  position: sticky;
  top: -24px;
  z-index: 1;
  box-shadow: 0 2px 1px rgba(#000, 0.1);
  background-color: $white;

  @include media-breakpoint-up($desktop-breakpoint) {
    display: none;
  }

  > .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.profile-twitter-link {
  color: $secondary-color;
  transition: color 0.3s ease;
  font-size: 13px;

  @include media-breakpoint-up($desktop-breakpoint) {

    &:hover {
      color: $secondary-color-darken;
    }
  }

  .searchView & {
    display: block;
    margin-top: 4px;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-top: auto;
    }
  }
}

.profile-actions-tip-form {
  display: flex;
  justify-content: center;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 14px;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: none;
  z-index: 5;
  background-color: $white;
  transition: opacity 0.4s;

  @include media-breakpoint-up($desktop-breakpoint) {
    bottom: 0;
  }

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.price-amount-field,
.tip-amount-field {
  margin: 0 15px;
  position: relative;

  input {
    text-align: center;

    &.error {
      box-shadow: 0 0 0 1px $red inset;
    }
  }

  &.field-invalid,
  &.field-valid {

    input {
      padding-right: 10px;
    }
  }

  .chatTip & {
    flex: 1;
  }
}

.profile-picture-btns {
  flex-direction: row;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $white;
  z-index: 2;
  padding-top: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
  display: flex;

  .settings-aside & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      top: auto;
    }
  }

  &.show {
    opacity: 1;
    pointer-events: auto;

    .header-scrolled & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  .btn {

    .bg-profile & {
      padding-left: 19px;
      padding-right: 19px;
    }
  }

  .controls-select-picture & {
    background-color: transparent;
    text-align: right;
    justify-content: flex-end;
    padding-top: 0;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}

.btn-cancel-changes {
  width: 30px;
  height: 30px;
  flex: 0 0 30px;
  border-radius: 50%;
  border: none;
  background-color: rgba(124, 139, 150, 0.5);
  transition: background-color 0.3s;
  margin-right: 14px;

  @include media-breakpoint-up($desktop-breakpoint) {

    &:hover {
      background-color: rgba(124, 139, 150, 0.7);
    }
  }

  &:after {
    content: "\E64F";
    color: #fff;
  }
}

.special-container {
  width: 100%;

  .row {

    @include media-breakpoint-up($desktop-breakpoint) {
      width: calc(100% + 20px);
      flex: 1;
    }
  }
}

.sticky-header-controls {
  z-index: 7;
  width: 100%;

  @include media-breakpoint-up($desktop-breakpoint) {
    display: none;
  }

  &:not(.header-mobile) {
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    height: 44px;

    .header-scrolled & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15);
      }
    }
  }

  .container > & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-left: -15px;
      margin-right: -15px;
      width: auto;
    }
  }

  .support-page &,
  .profile-page & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      position: fixed;
      background-color: transparent;
    }
  }

  .header-scrolled.scroll-bottom & {

    .support-page & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        opacity: 0;
      }
    }
  }

  .profile-name__header {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  }

  .header-return-btn {

    &:before {
      @include media-breakpoint-up($desktop-breakpoint) {
        text-shadow: $shadow-light;
      }
    }
  }

  .more-functions {
    position: absolute;
    right: 0;
    top: 0;

    .not-authorized & {
      display: none;
    }

    &__btn {
      font-size: 0;
      width: 56px;
      height: 30px;
      position: relative;
      margin-top: 8px;
      opacity: 1;

      &:before {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          @include color-settings-dots(#fff, 1);
          filter: drop-shadow(0 2px 7px rgba(0, 0, 0, 0.5));
        }
      }
    }
  }
}

.bg-profile {
  overflow: hidden;
  z-index: 2;

  &_sticky {
    position: -webkit-sticky;
    position: sticky;
    will-change: scroll-position;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      top: calc(44px - 32vw);
    }

    &-default {

      @include media-breakpoint-up($desktop-breakpoint) {
        top: -240px;
      }
    }

    &-lg {

      @include media-breakpoint-up($desktop-breakpoint) {
        top: -268px;
      }
    }
  }

  &_height {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      height: 32vw;
    }

    &-extrasm {
      height: 80px;
    }

    &-sm {

      @include media-breakpoint-up($desktop-breakpoint) {
        height: 96px;
      }
    }

    &-lg {
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: cover;

      @include media-breakpoint-up($desktop-breakpoint) {
        height: 320px;
      }
    }

    &-exlg {

      @include media-breakpoint-down($tablet-breakpoint-dcrs) {
        height: 62vw;
        top: calc(44px - 62vw);
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        height: 320px;
      }
    }
  }

  &:before,
  &:after {
    pointer-events: none;
    content: "";
    left: 0;
    right: 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      height: 80px;
    }

    .settings-profile-images & {
      display: none;
    }
  }

  &:before {
    position: fixed;
    top: 0;
    background: linear-gradient(
      to bottom,
      rgba(#000, 0.2) 0%,
      rgba(#000, 0.2) 33.33%,
      rgba(#000, 0.1) 66.67%,
      transparent 100%
    );
    z-index: 7;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      height: 44px;
    }
  }

  &:after {
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(
      to top,
      rgba(#000, 0.05) 0%,
      transparent 100%
    );

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      height: 12px;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      background: linear-gradient(
        to top,
        rgba(#000, 0.1) 0%,
        transparent 100%
      );
    }
  }

  &:not(.subscribe-popup__header):not(.settings-page) {

    .header-scrolled & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        z-index: 6;
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  .container {
    width: 100%;
    height: 100%;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header-scrolled & {

      @include media-breakpoint-up($desktop-breakpoint) {
        transform: translateY(-240px);
      }
    }
  }
}

.bg-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up($desktop-breakpoint) {
    right: -20px;
  }
}

.white-bg-block {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up($desktop-breakpoint) {
    z-index: 1;
  }

  .settings-aside & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      background-color: $white;
    }
  }

  > .content-wrapper {

    .posts-container {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        box-shadow: 0 1px 7px rgba(0,0,0,.15);
      }
    }
  }

  .profile-header {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      background-color: $white;
    }
  }

  &.loader-wrap {
    overflow: hidden;
  }
}

.profile-name-sticky {
  position: absolute;
  left: 1.17em;
  bottom: .4em;
  transform: translate(7px, 13px);
  transition: transform .3s;
  max-width: 420px;

  &.profile-position {
    transform: translate(0, 0);
    left: 4px;
    bottom: -80px;
    transition: left .3s, bottom .3s;
    width: 286px;
    max-width: none;

    .header-scrolled & {
      left: 54px;
      bottom: 3px;
    }

    .profile-name {

      &__main,
      .user-login a {
        text-shadow: none;
        color: $main-color;
      }
    }
  }

  &:not(.profile-position) {

    .profile-name {

      &__main,
      .user-login a {
        color: #fff;
        text-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
      }

      .verified-user,
      .icn-block {
        color: #fff;
      }
    }
  }

  .profile-name {
    opacity: 1;
    padding: 0;
    margin: 0;
  }

  .header-scrolled & {

    .profile-name {
      margin: 0;
      width: 250px;

      &__main,
      .user-login a {
        color: $main-color;
        text-shadow: none;
      }

      .verified-user {
        &.fullyMonetized {
          color: $secondary-color;
        }
      }

      .icn-block {
        color: red;
      }
    }
  }
}

.profile-btns-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include media-breakpoint-up($desktop-breakpoint) {
    justify-content: space-between;
  }
}

.btns-user-activity {
  display: flex;
  justify-content: space-between;
  width: 100%;
  order: 2;

  @include media-breakpoint-up($desktop-breakpoint) {
    width: auto;
    order: 1;
  }

  .value {
    font-weight: 500;
    display: block;
    margin-bottom: 3px;
    opacity: .5;
    transition: opacity 0.3s ease;

    @include media-breakpoint-up($desktop-breakpoint) {
      font-size: 17px;
      margin-bottom: 4px;
    }
  }

  .label {
    opacity: 0.5;
    font-size: 13px;
    line-height: 1;
    display: block;
    font-weight: 400;
    transition: opacity .3s ease, color .3s ease;
  }
}

.btn-user-activity {
  flex: 0 1 100%;
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  color: inherit;
  transition: border-color 0.3s ease;

  @include media-breakpoint-up($desktop-breakpoint) {
    flex-shrink: 1;
    flex-basis: 58px;
    width: 58px;
    padding-top: 12px;
  }

  &:hover,
  &.active {
    .value {
      opacity: 1;
    }

    .label {
      color: $primary-color;
      opacity: 1;
    }
  }

  &.active {
    border-color: $secondary-color;
  }

  .special-container & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding-top: 10px;
      background-color: $white;
    }
  }
}

.subscribe-coast {

  @include media-breakpoint-up($desktop-breakpoint) {
    height: 100%;
  }

  &.disable-state {
    color: $main-color;
    opacity: 0.4;
  }

  &__value {
    font-size: 13px;
    margin-bottom: 4px;
    margin-top: 2px;

    span {
      font-size: 21px;
      line-height: 21px;

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 19px;
        line-height: 19px;
      }
    }
  }

  &__label {
    position: relative;
  }
}

.special-container {

  .subscribe-cost {
    transition: color 0.3s ease, opacity 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .profile-actions {

    .more-functions {

      &__btn {

        &:before {
          margin: 9px auto 12px;
        }
      }
    }
  }
}

.select-user-image {
  color: #fff;
  text-shadow: $shadow-light;
  transition: opacity .3s;
  font-weight: 500;
  display: flex;

  &__text {
    white-space: nowrap;
    font-size: 13px;
  }

  &_avatar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
    padding: 0 18px 10px;

    &.single-btn {
      justify-content: center;
    }

    .icn-media {

      &:after {

        @include media-breakpoint-up($desktop-breakpoint) {
          font-size: 18px;
        }
      }
    }
  }

  &_cover {
    z-index: 3;

    &-sm {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      justify-content: flex-end;
      align-items: flex-end;
      align-content: flex-end;
      padding: 0 53px 12px 0;

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-right: 44px;
      }

      &.single-btn {
        padding-right: 15px;
      }

      .select-user-image__text {
        margin-bottom: 7px;
        margin-right: 7px;

        @include media-breakpoint-up($desktop-breakpoint) {
          margin-bottom: 3px;
        }
      }
    }

    &-lg {
      align-items: center;

      .header-scrolled & {
        opacity: 0;
        pointer-events: none;
      }

      .select-user-image__text {

        @include media-breakpoint-up($desktop-breakpoint) {
          font-size: 17px;
        }
      }

      .icn-media {

        &:after {
          margin-left: 11px;
          display: block;
          transition: transform .3s;
        }
      }

      @include media-breakpoint-up($desktop-breakpoint) {

        &:hover {

          .icn-media {

            &:after {
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }

  &.hide {
    visibility: hidden;
    opacity: 0;
  }
}

.controls-select-picture {
  position: absolute;
  right: 21px;
  bottom: 17px;
}

.profile-user-details {
  position: absolute;
  left: 0;
  bottom: 10px;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    display: none;
  }

  .header-scrolled & {
    bottom: 4px;
    left: 3px;
  }
}

.has-page-footer {

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    height: 100%;
  }

  body {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      height: 100%;
    }
  }

  &.chat-page_new {

    .site-footer {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }
    }
  }

  &.special-site-header {

    #content {

      @include media-breakpoint-up($desktop-breakpoint) {
        min-height: 100vh;
      }
    }
  }

  #content {

    .site-footer {
      flex: 0 0 auto;
      width: 100%;

      .container {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          margin-top: 22px;
        }
      }
    }
  }

  .fl-height-content {

    @include media-breakpoint-up($desktop-breakpoint) {
      flex: 1;
      min-height: calc(100% - 75px);
      display: flex;
      flex-direction: column;
    }
  }

  #content {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up($desktop-breakpoint) {
      min-height: calc(100vh - 75px);
      position: relative;
      z-index: 0;
    }


    > div:not(.chatCollectionContent) {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        flex: 1;
        min-height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .special-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.block-indicator {
  margin-left: 7px;
  display: flex;
  align-content: center;
  align-items: center;
}

.mark-line {
  height: 1px;
}

.highlights-popup {

  &.popup-container_hfluid {

    .popup-container-scroll {

      .popup & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          min-height: calc(100vh - 44px);
          background-color: $white;
        }
      }
    }
  }
}

.subscribers-filters {
  border-top: 1px solid rgba(124, 139, 150, 0.2);
  padding-top: 24px;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
}

.wrapper-vote-btn {
  margin-bottom: 12px;
}