@import "components/imports";

.search-page {

  #content {

    @include media-breakpoint-down($desktop-breakpoint) {
      height: calc(100% - 44px);
    }
  }
}

.searchView {

  .posts {
    @include media-breakpoint-up($desktop-breakpoint) {
      column-gap: 30px;
      column-count: 2;
      padding: 30px 0 0;
      margin-top: -30px;
      column-fill: auto;
    }

    .post {
      background-color: $white;

      .postCollectionView & {
        padding-bottom: 0;
        border-bottom: none;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        box-shadow: 0 8px 30px rgba(#000, 0.1);
        border-bottom: none;
        width: 100%;
        display: inline-block;
        vertical-align: top;
        break-inside: avoid;
        margin: 0 0 30px;
      }

      &.open-dropdown-inside {

        .post-header {
          z-index: auto;
        }
      }

      &-header {
        z-index: 3;
      }

      &-details {

        @include media-breakpoint-up($desktop-breakpoint) {
          transform: translateZ(0);
          background-color: $white;
          position: relative;
        }

        /*
        &:after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 0;
        }
        */

      }

      .actions {
        z-index: 2;

        @include media-breakpoint-up($desktop-breakpoint) {
          padding-bottom: 16px;
          z-index: 1;
        }
      }

      .text {
        transform: rotateX(0);
      }
    }
  }
}

.searchView {

  @include media-breakpoint-down($desktop-breakpoint) {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: stretch;
    align-content: stretch;
  }

  .explore {

    @include media-breakpoint-down($desktop-breakpoint) {
      position: relative;
      width: 100%;
      min-height: calc(100% - 152px);
      //z-index: 10;
    }
  }

  .container,
  .over-container {
    @include media-breakpoint-down($desktop-breakpoint) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }

  .container {
    @include media-breakpoint-down($desktop-breakpoint) {
      flex: 0 0 100%;
      align-items: stretch;
      align-content: stretch;
      max-width: 100%;
      padding: 0;
    }
  }

  .over-container {
    position: relative;

    @include media-breakpoint-down($desktop-breakpoint) {
      flex: 1;
      max-width: 100%;
      width: 100%;
      margin: 0;
      //z-index: 9;
    }
  }

  .content-nav {

    @include media-breakpoint-down($desktop-breakpoint) {
      width: 100%;
      z-index: 3;
    }
  }

  .posts,
  .users,
  .photos,
  .videos {
    &:empty {
      + .no-results-search {
        opacity: 1;
        pointer-events: none;
      }
    }
  }
}

.header-search-page {
  //position: relative;
  //background-color: $white;
  padding: 16px;
  width: 100%;

  @include media-breakpoint-up($desktop-breakpoint) {
    border-bottom: none;
    background-color: transparent;
    padding: 0;
    width: 170px;
    position: absolute;
    right: 0;
    top: -10px;
  }

  @include media-breakpoint-down($desktop-breakpoint) {
    transition: margin .2s;
  }

  .field {

    @include media-breakpoint-down($desktop-breakpoint) {
      position: relative;
      z-index: 1;
    }
  }

  input[type="text"] {

    @include media-breakpoint-down($desktop-breakpoint) {
      border-radius: 15px;
    }
  }
}