@import "components/imports";

.searchView {

  .posts {
    @include media-breakpoint-up($desktop-breakpoint) {
      column-gap: 30px;
      column-count: 2;
      padding: 30px 0 0;
      margin-top: -30px;
      column-fill: auto;
    }
  }

  .post {

    &:not(.videoView) {
      background-color: $white;

      @include media-breakpoint-up($desktop-breakpoint) {
        background-color: transparent;
        width: 100%;
        display: inline-block;
        vertical-align: top;
        break-inside: avoid;
        margin: 0 0 30px;
        padding-bottom: 0;
        border-bottom: none;

        .postComments,
        .tip-form,
        .comment-form,
        .actions .report {
          display: none;
        }
      }

      .more-functions {
        z-index: 10;
      }
    }

    .postCollectionView & {
      padding-bottom: 0;
      border-bottom: none;
    }

    &-details {

      @include media-breakpoint-up($desktop-breakpoint) {
        background-color: $white;
        position: relative;
        transform: translateZ(0);
      }

      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        box-shadow: 0 8px 30px rgba(#000, 0.1);
        z-index: 0;
        display: none;

        @include media-breakpoint-up($desktop-breakpoint) {
          display: block;
        }
      }

    }

    .actions {
      z-index: 2;
    }

    .actions {

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-bottom: 16px;
      }
    }

    .text {
      transform: rotateX(0);
    }
  }
}

.searchView {
  @include media-breakpoint-down($desktop-breakpoint) {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: stretch;
    align-content: stretch;
  }

  .explore {
    @include media-breakpoint-down($desktop-breakpoint) {
      position: relative;
      width: 100%;
    }
  }

  .container,
  .over-container {
    @include media-breakpoint-down($desktop-breakpoint) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }

  .container {
    @include media-breakpoint-down($desktop-breakpoint) {
      flex: 0 0 100%;
      align-items: stretch;
      align-content: stretch;
      max-width: 100%;
      padding: 0;
    }
  }

  .over-container {
    @include media-breakpoint-down($desktop-breakpoint) {
      flex: 1;
      max-width: 100%;
      width: 100%;
      margin: 0;
    }
  }

  .explore-nav {
    @include media-breakpoint-down($desktop-breakpoint) {
      width: 100%;
    }
  }

  .posts,
  .users,
  .photos,
  .videos {
    &:empty {
      + .no-results-search {
        opacity: 1;
        pointer-events: none;
      }
    }
  }
}
