@import "components/imports";

.search-page {

  #content {

    @include media-breakpoint-down($desktop-breakpoint) {
      height: calc(100% - 44px);
    }
  }

  #content {

    @include media-breakpoint-up($desktop-breakpoint) {
      min-height: calc(100% - 75px);
      display: flex;
      flex-direction: column;
    }
  }
}

.searchView {

  @include media-breakpoint-down($desktop-breakpoint) {
    //min-height: 100%;
    //width: 100%;
    //align-items: stretch;
    //align-content: stretch;
    //flex-wrap: wrap;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .posts {

    @include media-breakpoint-up($desktop-breakpoint) {
      display: flex;
      justify-content: space-between;
    }
  }

  .post {
    background-color: $white;

    @include media-breakpoint-up($desktop-breakpoint) {
      box-shadow: 0 8px 30px rgba(#000, 0.1);
      border-bottom: none;
      width: 100%;
      margin: 0 0 30px;
      //padding-bottom: 0;
    }

    &:last-child {

      @include media-breakpoint-down($desktop-breakpoint) {
        border-bottom: 1px solid rgba($gray, 0.2);
      }
    }

    .postCollectionView & {
      padding-bottom: 0;
      border-bottom: none;
    }

    &.open-dropdown-inside {

      .post-header {
        z-index: auto;
      }
    }

    &-column {

      @include media-breakpoint-up($desktop-breakpoint) {
        flex: 0 0 calc(50% - 15px);
        width: calc(50% - 15px);
        margin: 0 15px;
      }

      &:first-child {

        @include media-breakpoint-up($desktop-breakpoint) {
          margin-left: 0;
        }
      }

      &:last-child {

        @include media-breakpoint-up($desktop-breakpoint) {
          margin-right: 0;
        }
      }
    }

    &-header {
      z-index: 3;
    }

    .actions {
      z-index: 2;

      @include media-breakpoint-up($desktop-breakpoint) {
        z-index: 1;
      }
    }
  }

  .explore {

    @include media-breakpoint-down($desktop-breakpoint) {
      position: relative;
      z-index: 1;
      width: 100%;
      min-height: calc(100% - 152px);
    }

    > div {

      @include media-breakpoint-down($desktop-breakpoint) {
        background-color: $white;
      }
    }
  }

  .container,
  .over-container {
    @include media-breakpoint-down($desktop-breakpoint) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }

  > .container {

    @include media-breakpoint-down($desktop-breakpoint) {
      flex: 1;
      align-items: stretch;
      align-content: stretch;
      max-width: 100%;
      padding: 0;
    }
  }

  .over-container {
    position: relative;

    @include media-breakpoint-down($desktop-breakpoint) {
      flex: 1;
      max-width: 100%;
      width: 100%;
      margin: 0;
      flex-wrap: nowrap;
      //z-index: 9;
    }
  }

  .content-nav {

    @include media-breakpoint-down($desktop-breakpoint) {
      width: 100%;
      z-index: 3;
    }
  }

  .posts,
  .users,
  .photos,
  .videos {

    &:empty {
      + .no-results-search {
        opacity: 1;
        pointer-events: none;
      }
    }
  }
}
