@import "components/imports";
.searchChatContacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 0 16px 15px;
  align-items: flex-start;
  align-content: flex-start;
  flex: 1;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 0 20px;
  }

  > .searchResult {
    flex: 0 0 100%;
    width: calc(100% - 32px);
    padding-right: 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      left: 20px;
      right: 20px;
      top: 0;
      bottom: 0;
    }
  }

  .no-results-search {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.searchResult {
  max-width: 100%;

  .chatView__header {
    justify-content: flex-start;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-bottom: 1px;
    }
  }
}

.searchChatContactsView {
  max-width: 100%;
  border-bottom: 1px solid rgba(124, 139, 150, 0.2);
  padding: 11px 0;
  position: relative;
  cursor: pointer;
  display: flex;

  .user-login {
    font-size: 13px;

    @include media-breakpoint-up($desktop-breakpoint) {
      font-size: 15px;
    }
  }

  .avatar {
    margin-top: auto;
    margin-bottom: auto;
  }

  .username-group {
    max-width: calc(100% - 40px);
  }

  .check {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    height: 2em;
    width: 2em;
    right: 0;
    top: 1em;
    color: $secondary-color;
    text-align: right;

    @include media-breakpoint-up($desktop-breakpoint) {
      right: -4px;
    }

    &:after {
      font-size: 24px;
      margin: 0 4px 0 0;
      width: 1.1em;
      content: "\E604";
    }
    /*TODO add check mark*/
  }

  &.active {
    .check {
      visibility: visible;
      opacity: 1;
    }

    .name,
    .user-login {
      max-width: 80%;
    }
  }

  @include media-breakpoint-up($desktop-breakpoint) {

    &:hover {
      .name {
        color: $primary-color;
      }
    }
  }
}

.searchContact {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: max-height .3s;

  .contacts-top & {
    max-height: calc(50% - 30px);

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  &.user-selected + .searchWrapper {

    &:before {
      content: "";
      background-color: rgba(124, 139, 150, 0.2);
      height: 1px;
      top: 0;
      left: 16px;
      right: 16px;
      position: absolute;

      @include media-breakpoint-up($desktop-breakpoint) {
        left: 20px;
        right: 20px;
      }

      .chatCollectionContentWrapper:not(.contacts-top) & {
        display: none;
      }
    }
  }
}

.searchWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding: 14px 16px 17px 20px;
  position: relative;
  min-height: 61px;

  &.select-all {
    min-height: 118px;
    align-content: start;

    .sendTo {
      margin-top: 6px;
    }
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &:after {
    content: "";
    background-color: rgba(124, 139, 150, 0.2);
    height: 1px;
    bottom: 0;
    left: 16px;
    right: 16px;
    position: absolute;

    @include media-breakpoint-up($desktop-breakpoint) {
      left: 20px;
      right: 20px;
    }
  }
}

.sendTo {
  font-weight: 500;
}

.searchInput {
  flex: 1;
  border-radius: 0;
  background-color: transparent;
  border: none;
  outline: none;
  padding-right: 30px;

  .search-text & {
    padding-right: 70px;
  }

  &:focus {
    border: none;
    outline: none;
    background-color: transparent;
  }
}

.username-group {
  flex: 1;
  max-width: 100%;

  .SearchResultsPopupCollectionView & {
    max-width: calc(100% - 40px);

    .DiscountUsersCollectionView & {
      font-size: 14px;
    }
  }
}
