@import "components/imports";

.settings-title {
  display: none;
  font-weight: 500;
  font-size: 21px;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-bottom: 0;
  flex: 0 0 auto;

  @include media-breakpoint-up($desktop-breakpoint) {
    display: block;
  }
}

.settings {

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    min-height: 100%;
    max-width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    .container {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .row {
      flex: 1;
    }

    .aside-col {
      order: 1;
      position: relative;
      flex: 1;
    }

    .content-col {
      order: 2;
      display: flex;
      flex-direction: column;
    }

    .rounded-container {
      flex: 1;
      display: flex;
      flex-direction: column;

      > * {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
    }
  }

  @include media-breakpoint-up($desktop-breakpoint) {

    .aside-col {
      order: 1;
      padding-left: 10px;
    }

    .content-col {
      order: 2;

      .rounded-container {
        min-height: calc(100vh - 185px);
      }
    }
  }

  &-header {
    background: $white;
    width: 100%;
    background-clip: padding-box;
    position: -webkit-sticky;
    position: sticky;
    z-index: 10;
    top: 0;
    box-shadow: 0 1px 7px rgba(#000, .15);
    height: 44px;
    display: flex;
    align-items: center;

    @include media-breakpoint-up($desktop-breakpoint) {
      display: none;
    }
    .header-apply-btn {
      margin: 0 15px;
    }

    .page-title {
      margin-right: 14px;
      flex: 1;

      @include media-breakpoint-up($desktop-breakpoint) {
        margin-right: 54px;
      }
    }
  }
}

.subscription {
  position: relative;

  &-desc {
    font-size: 13px;
  }

  .label {
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      color: lighten($gray, 20%);
    }
  }

  &__per-month {
    position: absolute;
    font-weight: 400;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: lighten($gray, 20%);
    pointer-events: none;
  }

  &__field {
    display: block;

    @include media-breakpoint-up($desktop-breakpoint) {
      flex: 1;
    }
  }
}

.AccountAllView {

  .form-title {

    .TwitterView & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }
    }

    .GoogleView & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }
    }

    .btn-logout {

      &:after {
        display: none;
      }
    }
  }

  .password-form {
    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 9px;
    }

    .form-title {
      @include media-breakpoint-up($desktop-breakpoint) {
        padding-top: 25px;
      }

      .semi-transparent {
        @include media-breakpoint-up($desktop-breakpoint) {
          font-size: 17px;
        }
      }
    }
  }
}

.rounded-container {

  &_fluid-height {
    @include media-breakpoint-up($desktop-breakpoint) {
      .content-col & {
        height: auto;
      }
    }
  }
}

.SettingsPrivacyView,
.SettingsStoryView {
  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    .blocked-search,
    .blocked-table-header,
    .table,
    .table-wrapper {
      display: none;
    }
    .BlockedView & {
      .blocked-search,
      .table,
      .table-wrapper {
        display: block;
      }
      .blocked-table-header {
        display: flex;
      }
      .semi-transparent,
      .settings-nav,
      form {
        display: none;
      }
    }
    .BlockedPostsView & {
      .blocked-search,
      .table,
      .table-wrapper {
        display: block;
      }
      .blocked-table-header {
        display: flex;
      }
      .semi-transparent,
      .settings-nav,
      form {
        display: none;
      }
    }
  }
}

.SettingsStoryView {

  .btn_fix-width {
    margin-top: 3px;
  }

  .form-title {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding-bottom: 11px;
    }
  }
}

.delete-account-block {
  @include media-breakpoint-up($desktop-breakpoint) {
    padding-top: 27px;
    padding-bottom: 4px;
  }
}

.EmailView {
  > .AccountAllView {
    > .form-title {
      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }
    }
  }
}

.TwitterBlockView {
  .form-group-title {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.PasswordView {
  > .AccountAllView {
    > .form-title {
      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: none;
      }
    }
  }
}

.option-earn-money {
  @include media-breakpoint-up($desktop-breakpoint) {
    padding-bottom: 20px;
  }

  .semi-transparent {
    font-weight: 500;
  }
}

.empty-table-info {
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  display: none;
  
  &.show {
    display: block;
  }
  
  span {
    opacity: 0.5;
  }
}

.add-options-blur {

  @include media-breakpoint-up($desktop-breakpoint) {
    border-bottom: 1px solid rgba($gray, 0.2);
  }

  + .border-top-mobile {
    border-top: none;
  }
}

.balance-info {
  right: 20px;
  position: absolute;
  border: none;
  padding: 0;
  background: none;
  font-size: 15px;
  top: 50%;
  transform: translate(0, -50%);
  color: $secondary-color;
  transition: color .3s;
}

button.balance-info {
  
  &:hover {
    color: $secondary-color-darken;
  }
}

.buttons-row {
  padding-bottom: 15px;
  text-align: center;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding-bottom: 30px;
  }
}

.link-profile {
  color: $main-color;
  display: block;
}

.notification-setting-row {

  &:last-child {

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-bottom: 30px;
    }
  }

  .select-wrapper {
    margin-left: auto;
  }

  .form-group-inner {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      padding-bottom: 0;
    }
  }

  &.form-group {

    .label {
      flex: 0 0 50%;
      justify-content: flex-start;
      padding-bottom: 0;
    }
  }
}

.notification-checkbox-switcher {

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    margin-bottom: 20px;
  }

  .checkbox-wrapper {
    flex: 0 0 100%;

    .label {
      font-weight: 500;
      position: static;
      margin-right: 3%;
      padding: 0 3px;

      @include media-breakpoint-up($desktop-breakpoint) {
        flex: 0 0 50%;
        padding-left: 7px;
        padding-right: 7px;
      }

      &:after {
        left: auto;
        right: 154px;

        @include media-breakpoint-up($desktop-breakpoint) {
          right: 160px;
        }
      }
    }
  }
}