
.boxes {
  width: 100%;
  max-width: $width-wrapper;
  margin: 20px auto;

  @include media-breakpoint-down($desktop-breakpoint) {
    overflow: hidden;
  }

  .cols {
    display: flex;
    margin: 0 -10px;
    max-width: none;

    @include media-breakpoint-down($desktop-breakpoint) {
      margin-left: 0;
      margin-right: 0;
      flex-wrap: wrap;
    }

    > .col {
      display: flex;
    }
  }

  .box {
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(124, 139, 150, 0.2) inset;
    border-radius: 6px;
    margin: 0 0 18px;
    position: relative;
    width: 100%;
  }

  .box-title {
    font-size: 13px;
    font-weight: 500;
    color: inherit;
    padding: 13px 0;
    margin: 0 15px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid rgba(124, 139, 150, 0.2);
  }

  .chart_period {
    position: absolute;
    right: 0;
    top: 14px;
    font-weight: 400;
    font-size: 11px;
    color: #7c8b96;
  }
}

.charts-data {
  display: flex;
  justify-content: space-between;
  padding: 14px 15px 12px;
  font-size: 10px;

  > span {

    &:before {
      display: none;
    }

    &.comments,
    &.followers,
    &.earn_referral {

      span {
        color: #3abfd3;
      }
    }

    &.likes,
    &.subscribed,
    &.paid_chat_messages {

      span {
        color: #67cc2e;
      }
    }

    &.posts,
    &.uploaded,
    &.unsubscribed,
    &.paid_subscriptions {

      span {
        color: #FF335A;
      }
    }

    &.views {

      span {
        color: #ff9501;
      }
    }

    span {
      display: block;
      font-size: 21px;
    }
  }
}

.charts-wrapper {

  &_followers {
    height: 75px;
  }

  &_subscribed {
    height: 60px;
    margin-top: 15px;
    margin-bottom: 2px;
  }

  &_posts,
  &_stories {
    height: 152px;
  }

  &-outer {
    position: relative;

    .popup & {
      padding: 8px 10px 2px 24px;
    }

    .charts-wrapper {
      height: 66px;
      overflow: hidden;
      text-align: left;

      &:not(:empty) {

        &:after {
          position: absolute;
          bottom: 0;
          height: 1px;
          right: 30px;
          background: #7c8b96;
          opacity: .1;
          left: 30px;
          content: '';
        }
      }
    }

    &__visitors {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      @include media-breakpoint-down($desktop-breakpoint) {
        flex-direction: column;
        overflow: hidden;
      }
    }

    &__story_added,
    &__new_post,
    &__paid_subscriptions {

      .charts-counter {

        .count {
          color: #FF335A;
        }
      }

      input[type="checkbox"]:checked {

        + span {
          background: linear-gradient(to top, #FF3E33 0%, #FE3F8C 100%);
        }
      }
    }

    &__story_view,
    &__view_post,
    &__tips {

      .charts-counter {

        .count {
          color: #ff9500;
        }
      }

      input[type="checkbox"]:checked {

        + span {
          background: linear-gradient(to top, #ff9500 0%, #ffcc00 100%);
        }
      }
    }

    &__post_like,
    &__paid_chat_messages {

      .charts-counter {

        .count {
          color: #67cc2e;
        }
      }

      input[type="checkbox"]:checked {

        + span {
          background: linear-gradient(to top, #67cc2e 0%, #b3f43a 100%);
        }
      }
    }

    &__story_comment_added,
    &__post_comment_added,
    &__earn_referral {

      .charts-counter {

        .count {
          color: #3abfd3;
        }
      }

      input[type="checkbox"]:checked {

        + span {
          background: linear-gradient(to top, #3abfd3 0%, #49eeca 100%);
        }
      }
    }
  }
}

.statistics-chart-scale {
  display: flex;
  font-size: 10px;
  color: #7c8b96;
  //padding: 13px 0 19px;
  padding: 11px 10px 19px 24px;

  &__item {
    flex: 0 1 100%;
    text-align: center;
  }
}

.amcharts-main-div {
  position: relative;
}

.statistics-view-toggle-label {
  position: absolute;
  right: 30px;
  top: 11px;
  cursor: pointer;
  padding: 0;

  input[type="checkbox"] {
    display: none;

    &:checked {

      + span {
        border: none;
      }
    }

    + span {
      width: 20px;
      height: 20px;
      min-width: 20px;
      border-radius: 3px;
      border: 1px solid #7c8b96;
      position: relative;
      color: #fff;
      font-size: 9px;
      display: block;

      &:before {
        content: '\E604';
        @include icon-font;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 15px;
      }
    }
  }
}

.charts-counter {
  padding-left: 3px;

  .count {
    font-size: 21px;
    padding-right: 4px;
  }
}

#visitors_map {
  flex: 1;
  height: 230px;
}

.visitors-donuts-wrapper-outer {
  padding: 20px 0 7px 25px;

  @include media-breakpoint-down($desktop-breakpoint) {
    padding: 10px;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    max-width: 400px;
    width: 100%;
  }
}

.visitors-donuts-wrapper {
  display: flex;
  align-items: center;
  font-size: 11px;
  color: #7c8b96;
  white-space: nowrap;
  margin: 0 0 23px;

  @include media-breakpoint-down($desktop-breakpoint) {
    padding: 10px;
    flex: 0 0 33%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-bottom: 0;
  }

  .visitors_data {
    padding: 0 0 0 19px;

    @include media-breakpoint-down($desktop-breakpoint) {
      padding: 10px 0 0;
    }

    div {
      padding: 1px 0;
    }
  }
}

.visitors_data {

  .visitors_today,
  .visitors_mobile {

    span {
      color: #FF335A;
    }
  }

  .visitors_week,
  .visitors_last_week {

    span {
      color: #3dbdd6;
    }
  }

  .visitors_total,
  .visitors_all,
  .visitors_desktop {

    span {
      color: #67cc2e;
    }
  }

  .visitors_users {

    span {
      color: #ff9501;
    }
  }

  .visitors_guests {

    span {
      color: #3bbdd3;
    }
  }
}

[id*=visitors_donut],
[id*=visitors_platform_donut],
[id*=visitors_users_donut] {
  width: 60px;
  height: 60px;
}

.amcharts-chart-div {
  cursor: inherit !important;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.box-body {
  padding: 13px 15px;
}

.user-statistics {
  margin-top: 13px;
  display: flex;
  align-content: center;
  align-items: center;
  color: $main-color;
}