@import "components/imports";

.static-page {

  &:before {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: none;
    }
  }

  &:not(.login-page),
  &.reset-page {
    background: $white;
  }

  .scroll-top {

    .main-header {
      top: 0;
    }

    .header-wrapper {
      transform: translate3d(0, 0, 0);
    }
  }

  .main-header {
    box-shadow: none;
    position: relative;
    top: 0;

    .header-wrapper {
      box-shadow: none;
      position: relative;
    }

    .header-nav,
    .header-search {
      display: none;
    }
    .header-logo {

      @include media-breakpoint-up($desktop-breakpoint) {
        margin-left: 0;
      }
    }
  }

  #content {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      height: auto;
    }
  }

  .header-wrapper {
    background-color: transparent;
    box-shadow: none;
  }

  .text {
    padding: 25px 0 70px;
    font-size: 13px;
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      text-align: justify;
      padding: 25px 0 45px;
    }
    p + h2 {
      padding-top: 24px;
    }
    ol {
      margin: 0 0 0 14px;
      li {
        padding: 0 0 9px 3px;
      }
    }
  }

  .main-container {

    &.avn-style {

      .main-header {

        .header-logo {

          @include media-breakpoint-up($desktop-breakpoint) {
            margin-right: auto;
          }
        }
      }
    }
  }
}

.error404View,
.staticPage,
.EmailConfirmedView,
.PasswordConfirmedView {
  display: flex;
  flex-direction: column;
  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    padding: 32px 5px 0;
    min-height: calc(100vh - 44px);
  }
  @include media-breakpoint-up($desktop-breakpoint) {
    min-height: calc(100vh - 75px);
  }
}
