@import "components/imports";

.static-page {

  &:not(.login-page),
  &.reset-page {
    background: $white;
  }

  #site_header {
    box-shadow: none;
    position: relative;

    .header-wrapper {
      box-shadow: none;
      position: relative;

      .scroll-top & {
        transform: translate3d(0, 0, 0);
      }
    }

    .header-nav,
    .header-search {
      display: none;
    }
    .header-logo {
      @include media-breakpoint-up($desktop-breakpoint) {
        margin-left: 0;
      }
    }

    .scroll-top & {
      top: 0;
    }
  }

  .header-wrapper {
    background-color: transparent;
    box-shadow: none;
  }

  .text {
    padding: 25px 0 70px;
    font-size: 13px;
    @include media-breakpoint-down($desktop-breakpoint) {
      text-align: justify;
      padding: 25px 0 45px;
    }
    p + h2 {
      padding-top: 24px;
    }
    ol {
      margin: 0 0 0 14px;
      li {
        padding: 0 0 9px 3px;
      }
    }
  }
}

.error404View,
.staticPage,
.EmailConfirmedView,
.PasswordConfirmedView {
  display: flex;
  flex-direction: column;
  @include media-breakpoint-down($desktop-breakpoint) {
    padding: 32px 5px 0;
    min-height: calc(100vh - 44px);
  }
  @include media-breakpoint-up($desktop-breakpoint) {
    min-height: calc(100vh - 75px);
  }

  > .container {
    @include media-breakpoint-up($desktop-breakpoint) {
      max-width: 640px;
      width: 100%;
    }
  }
}
