@import "components/imports";

.create-story-button {
  cursor: pointer;
  .user-login {
    a {
      &:before {
        display: none;
      }
    }
  }

  input[type="file"] {
    pointer-events: none;
  }
}

.btn-add {
  position: absolute;
  right: -2px;
  bottom: -5px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid $white;
  z-index: 2;
  font-size: 14px;
}

.stories-wrapper {
  position: relative;
  z-index: 0;

  @include media-breakpoint-up($desktop-breakpoint) {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
  }
}

.stories-group {

  @include media-breakpoint-up($desktop-breakpoint) {

    @media screen and (min-height: 400px) {
      position: absolute;
      left: 0;
      right: -10px;
      top: 0;
      bottom: 0;
    }
  }

  &__outer {
    position: relative;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-bottom: 5px;
      margin-top: 10px;
      flex: 1;
      min-height: 70px;
    }
  }
  &__inner {

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-left: 5px;
      min-height: 70px;
    }

    &.scrolly-viewport {

      @include media-breakpoint-down($desktop-breakpoint) {
        display: flex;
        padding: 9px 15px 6px;
        margin: 0 -15px;
        position: relative;
        width: auto;
      }
    }
  }
}

.storyCollectionView {
  padding: 3px 0 0;
  position: relative;
  margin: 8px 15px 0;

  @include media-breakpoint-up($desktop-breakpoint) {
    margin: 0 15px 0 0;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .explore & {
    padding: 0;
    margin: 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin: 0;
      max-height: none;
      display: block;
    }
  }

  .stories {

    @include media-breakpoint-down($desktop-breakpoint) {
      display: flex;
      min-height: auto;

      .story {
        margin-right: 23px;
        width: 56px;
      }
    }

    &.explore-wrapper {

      .storyView {
        background: $white;
        margin: 0 0 2px 3px;
        position: relative;
        cursor: pointer;
        text-align: center;
        box-shadow: none;
        transition: box-shadow 0.3s ease;
        width: calc(33.3% - 3px);

        @include media-breakpoint-up($desktop-breakpoint) {
          width: calc(25% - 30px);
          margin: 0 15px 33px;
          box-shadow: 0 3px 6px rgba(#000, 0.1);
        }

        a {
          display: block;
          padding: 0 0 8%;
          margin: 0;
          width: 100%;
          color: $main-color;

          @include media-breakpoint-up($desktop-breakpoint) {
            padding: 0 0 19px;
          }
        }

        .story {

          .avatar {
            font-size: 18.67vw;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 50%);

            @include media-breakpoint-up($desktop-breakpoint) {
              font-size: 100px;
              bottom: -2px;
            }

            &:not(:empty) {
              &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                border-radius: 1000px;
                background: $white;
              }
            }
          }

          .name {
            max-width: 80%;
            font-weight: 500;
            @include ellipsis;

            @include media-breakpoint-down($desktop-breakpoint) {
              font-size: 11px;
            }
          }

          .user-login {
            display: block;
            padding: 0 6px;
            font-size: 15px;
            margin-left: 0;

            @include media-breakpoint-down($desktop-breakpoint) {
              font-size: 11px;
            }
          }
        }
      }
    }
  }

  .storyView {

    @include media-breakpoint-down($desktop-breakpoint) {
      display: flex;
      margin-top: 0;
    }

    &.create-story-button {
      @include media-breakpoint-down($desktop-breakpoint) {
        margin: 0;
      }

      .user-login {
        a {
          transition: color 0.3s ease;

          &:hover {
            color: $primary-color-darken;
          }
        }
      }
    }
  }

  .story {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 0;

    @include media-breakpoint-down($desktop-breakpoint) {
      margin: 0 23px 0 0;
      flex-direction: column;
      padding: 0;
    }

    .aside-col & {
      padding-right: 0;
    }

    &-header {

      .aside-col & {
        display: flex;
        align-items: center;
        margin: 0 0 3px;
      }

      .verified-user {

        .aside-col & {

          @include media-breakpoint-down($desktop-breakpoint) {
            display: none;
          }
        }
      }
    }

    &-avatar {
      position: relative;
    }

    .avatar {
      position: relative;
      font-size: 50px;
      flex: none;
    }

    &-info {
      width: 100%;
      margin-left: 15px;
      @include ellipsis;

      @include media-breakpoint-down($desktop-breakpoint) {
        margin-left: 0;
        max-width: 65px;
        text-align: center;
      }
    }

    .name {

      .aside-col & {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;

        @include media-breakpoint-down($desktop-breakpoint) {
          width: 100%;
          font-size: 11px;
          margin-top: 10px;
        }
      }
    }

    &-timestamp {
      font-size: 13px;
      opacity: 0.5;
      padding-left: 20px;
      margin-left: auto;

      @include media-breakpoint-down($desktop-breakpoint) {
        display: none;
      }
    }

    .user-login {
      display: flex;
      align-content: center;
      align-items: center;
      margin-left: 0;

      @include media-breakpoint-down($desktop-breakpoint) {
        display: none;
      }

      a {
        font-size: 12px;
      }
    }
  }

  .followme {
    background: rgba(124, 139, 150, 0.08);
    border-radius: 1000px;
    font-size: 9px;
    line-height: 12px;
    padding: 0 5px;
    margin: 2px 0 0 4px;
    display: inline-block;
    vertical-align: top;

    &__txt {
      opacity: 0.5;
    }
  }

  .story-preview {
    position: relative;
    margin: 0 0 77px;
    padding-top: 100%;
    height: 0;

    @include media-breakpoint-down($desktop-breakpoint) {
      margin-bottom: 42%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .story-header {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 4px;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-bottom: 8px;
    }

    .verified-user {

      @include media-breakpoint-down($desktop-breakpoint) {
        width: 12px;
        height: 12px;
        line-height: 12px;
        font-size: 12px;
        margin-top: -1px;
        margin-left: 3px;
      }
    }
  }
}

.stories-collection {
  flex: 0 0 100%;
  max-width: 100%;
  background: $white
  linear-gradient(30deg, $secondary-color-06 10%, $primary-color-06 90%) fixed;
  position: relative;
  overflow: hidden;
  display: none;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding-left: 15px;
    padding-right: 15px;
    background: none;
  }

  &:after {
    content: "";
    position: absolute;
    left: -7px;
    right: -7px;
    top: -7px;
    bottom: 0;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15) inset;
    z-index: 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      display: none;
    }
  }

  .storyCollectionView {
    position: relative;
    z-index: 2;

    .stories {
      margin-left: auto;
      margin-right: auto;

      .story {
        margin-left: 12px;
        margin-right: 12px;

        @include media-breakpoint-up($desktop-breakpoint) {
          margin-left: 0;
          margin-right: 0;
        }
      }

      .name {
        @include media-breakpoint-down($desktop-breakpoint) {
          font-size: 12px;
        }

        @include media-breakpoint-up($desktop-breakpoint) {
          font-weight: 500;
        }
      }
    }
  }

  .stories-group {
    @include media-breakpoint-down($desktop-breakpoint) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .amount-items {
    @include media-breakpoint-down($desktop-breakpoint) {
      display: none;
    }
  }
}

.amount-items {
  opacity: 0.5;
  font-size: 13px;
}

.stories {

  &.explore-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -3px;

    @include media-breakpoint-down($desktop-breakpoint) {
      //background: $light;
      //overflow: hidden;
      //padding: 3px 0 0;
      //min-height: calc(100vh - 148px);
      align-items: flex-start;
      align-content: flex-start;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      margin: 0 -10px;
    }
  }
}

.stories-all {

  @include media-breakpoint-down($desktop-breakpoint) {
    margin-top: -2px;
  }

  + .explore {

    @include media-breakpoint-down($desktop-breakpoint) {
      min-height: calc(100% - 160px);
    }
  }
}