@import "components/imports";

.create-story-button {
  cursor: pointer;
  .user-login {
    a {
      &:before {
        display: none;
      }
    }
  }

  input[type="file"] {
    pointer-events: none;
  }
}

.btn-add {
  position: absolute;
  right: -2px;
  bottom: -5px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid $white;
  z-index: 2;
  font-size: 14px;
}

.stories-wrapper {
  position: relative;
  z-index: 0;

  @include media-breakpoint-up($desktop-breakpoint) {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
  }
}

.stories-group {

  .stories-collection & {

    @include media-breakpoint-up($desktop-breakpoint) {

      @media screen and (min-height: 400px) {
        overflow-y: auto;
        padding: 3px;
        flex: 1;
      }
    }
  }

  &__outer {
    position: relative;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-bottom: 5px;
      margin-top: 10px;
      flex: 1;
      min-height: 70px;
    }
  }
  &__inner {

    @include media-breakpoint-down($desktop-breakpoint) {
      display: flex;
      //padding: 9px 15px 6px;
      padding: 9px 0 6px;
      margin: 0 -15px;
      position: relative;
      width: auto;
      height: 96px;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-left: 5px;
      padding-right: 5px;
      min-height: 70px;

      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .stories {

      @include media-breakpoint-down($desktop-breakpoint) {
        white-space: nowrap;
      }
    }
  }
}

.storyCollectionView {
  padding: 3px 0 0;
  position: relative;
  margin: 8px 15px 5px;

  @include media-breakpoint-up($desktop-breakpoint) {
    margin: 0 15px 0 0;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0;
  }

  //.explore & {
  //  padding: 0;
  //  margin: 0;
  //
  //  @include media-breakpoint-up($desktop-breakpoint) {
  //    margin: 0;
  //    max-height: none;
  //    display: block;
  //  }
  //}

  .stories {

    .story {

      @include media-breakpoint-down($desktop-breakpoint) {
        margin-left: 12px;
        margin-right: 12px;
        width: 56px;
      }
    }

    &.explore-wrapper {

      .storyView {
        background: $white;
        position: relative;
        cursor: pointer;
        text-align: center;
        box-shadow: none;
        transition: box-shadow 0.3s ease;

        @include media-breakpoint-up($desktop-breakpoint) {
          box-shadow: 0 3px 6px rgba(#000, 0.1);
        }

        a {
          display: block;
          padding: 0 0 8%;
          margin: 0;
          width: 100%;
          color: $main-color;

          @include media-breakpoint-up($desktop-breakpoint) {
            padding: 0 0 19px;
          }
        }

        .story {

          .avatar {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 50%);

            @include media-breakpoint-up($desktop-breakpoint) {
              bottom: -2px;
            }
          }

          .name {
            max-width: 80%;

            @include media-breakpoint-down($desktop-breakpoint) {
              font-size: 11px;
            }
          }

          .user-login {
            display: block;
            padding: 0 6px;
            font-size: 15px;
            margin-left: 0;

            @include media-breakpoint-down($desktop-breakpoint) {
              font-size: 11px;
            }
          }
        }
      }
    }
  }

  .storyView {

    @include media-breakpoint-down($desktop-breakpoint) {
      display: inline-flex;
      margin-top: 0;
    }

    &.create-story-button {
      @include media-breakpoint-down($desktop-breakpoint) {
        margin: 0;
      }

      .user-login {
        a {
          transition: color 0.3s ease;

          &:hover {
            color: $primary-color-darken;
          }
        }
      }
    }
  }

  .story {
    display: flex;
    align-items: center;

    @include media-breakpoint-down($desktop-breakpoint) {
      margin: 0 23px 0 0;
      flex-direction: column;
      padding: 0;
    }

    .aside-col & {

      @include media-breakpoint-up($desktop-breakpoint) {
        padding: 10px 20px 10px 0;
      }
    }

    &-header {

      .explore & {
        justify-content: center;
      }

      .aside-col & {
        display: flex;
        align-items: center;
        margin: 0 0 3px;
      }

      .verified-user {

        .aside-col & {

          @include media-breakpoint-down($desktop-breakpoint) {
            display: none;
          }
        }
      }
    }

    &-avatar {
      position: relative;
    }

    &-info {
      width: 100%;
      @include ellipsis;

      @include media-breakpoint-down($desktop-breakpoint) {
        margin-left: 0;
        max-width: 65px;
        text-align: center;
      }
    }

    .name {

      .aside-col & {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;

        @include media-breakpoint-down($desktop-breakpoint) {
          width: 100%;
          font-size: 11px;
          margin-top: 10px;
        }
      }
    }

    &-timestamp {
      font-size: 13px;
      opacity: 0.5;
      padding-left: 20px;
      margin-left: auto;

      @include media-breakpoint-down($desktop-breakpoint) {
        display: none;
      }
    }

    .user-login {
      display: flex;
      align-content: center;
      align-items: center;
      margin-left: 0;

      @include media-breakpoint-down($desktop-breakpoint) {
        display: none;
      }

      a {
        font-size: 12px;
      }
    }
  }

  .followme {
    background: rgba(124, 139, 150, 0.08);
    border-radius: 1000px;
    font-size: 9px;
    line-height: 12px;
    padding: 0 5px;
    margin: 2px 0 0 4px;
    display: inline-block;
    vertical-align: top;

    &__txt {
      opacity: 0.5;
    }
  }

  .story-preview {
    position: relative;
    margin: 0 0 77px;
    padding-top: 100%;
    height: 0;

    @include media-breakpoint-down($desktop-breakpoint) {
      margin-bottom: 42%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .story-header {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 4px;

    @include media-breakpoint-up($desktop-breakpoint) {
      justify-content: flex-start;
    }

    .verified-user {

      @include media-breakpoint-down($desktop-breakpoint) {
        width: 12px;
        height: 12px;
        line-height: 12px;
        font-size: 12px;
        margin-top: -1px;
        margin-left: 3px;
      }
    }
  }
}

.stories-collection {
  background: $white
  linear-gradient(30deg, $secondary-color-06 10%, $primary-color-06 90%) fixed;
  position: relative;
  overflow: hidden;

  @include media-breakpoint-up($desktop-breakpoint) {
    background: none;
    //margin-bottom: 130px;
    margin-bottom: 10px;
    overflow: visible;
  }

  &:before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    position: absolute;
    background: linear-gradient(
      to right,
      rgba($gray, 0.2) 0%,
      transparent 100%
    );
    display: none;

    @include media-breakpoint-up($desktop-breakpoint) {
      display: block;
    }
  }

  &:after {
    content: "";
    position: absolute;
    left: -7px;
    right: -7px;
    top: -7px;
    bottom: 0;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.15) inset;
    z-index: 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      display: none;
    }
  }

  &__header {
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-up($desktop-breakpoint) {
      //position: absolute;
      //left: 0;
      //right: 0;
      //top: 22px;
      padding-top: 22px;
      margin-bottom: 22px;
    }
  }

  .storyCollectionView {
    position: static;
    z-index: 2;
  }

  .stories {
    display: inline-flex;

    @include media-breakpoint-up($desktop-breakpoint) {
      display: flex;
      flex-direction: column;
    }

    .name {
      font-size: 12px;

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 13px;
      }
    }
  }

  .avatar {

    @include media-breakpoint-down($desktop-breakpoint) {
      margin-bottom: 7px;
    }
  }

  .story {

    @include media-breakpoint-up($desktop-breakpoint) {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .stories-group {

    @include media-breakpoint-down($desktop-breakpoint) {
      text-align: center;
      overflow-x: auto;
      margin-left: -15px;
      margin-right: -15px;
      padding-top: 3px;
    }
  }

  .amount-items {

    @include media-breakpoint-down($desktop-breakpoint) {
      display: none;
    }
  }
}

.amount-items {
  opacity: 0.5;
  font-size: 13px;
}

.stories-all {

  @include media-breakpoint-down($desktop-breakpoint) {
    margin-top: -2px;
  }

  + .explore {

    @include media-breakpoint-down($desktop-breakpoint) {
      min-height: calc(100% - 160px);
    }
  }
}


.container-story-details {
  width: 100%;
  max-width: 620px;
  flex: 0 0 50%;
  height: 50%;
  margin: auto auto 0;
  display: flex;
  flex-direction: column;
}

.header-story-details {
  border-radius: 6px 6px 0 0;
  background-color: $white;
  position: relative;
  z-index: 2;

  &:before {

    @include media-breakpoint-up($desktop-breakpoint) {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      box-shadow: 0 2px 1px 0 rgba(#000, 0.1);
    }
  }

  &:after {
    position: absolute;
    content: "";
    border-bottom: 12px solid $white;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    left: 50%;
    margin-left: -12px;
    bottom: 100%;
  }
}

.body-story-details {
  padding: 0 20px;
  overflow-y: auto;
  background-color: $white;
}

.viewer-row {
  border-bottom: 1px solid rgba(124, 139, 150, 0.2);
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 18px 20px 18px 0;

  .user-login {
    margin-left: 0;
  }

  .btn-block {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}