@import "components/imports";

.highlights-popup {

  .msg-no-content {
    background-color: $white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.create-story-button {
  cursor: pointer;
  .user-login {
    a {
      &:before {
        display: none;
      }
    }
  }

  input[type="file"] {
    pointer-events: none;
  }
}

.btn-add {
  position: absolute;
  right: -2px;
  bottom: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid $white;
  z-index: 2;
  font-size: 14px;

  &_lg-size {
    right: 8px;
    bottom: 5px;

    @include media-breakpoint-up($desktop-breakpoint) {
      width: 26px;
      height: 26px;
      right: 6px;
      bottom: 4px;
    }
  }

  .icn {
    width: 100%;
    height: 100%;
  }
}

.stories-wrapper {
  position: relative;
  z-index: 0;

  @include media-breakpoint-up($desktop-breakpoint) {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
  }
}

.stories-group {

  .stories-all & {
    display: flex;
  }

  .stories-collection & {

    @include media-breakpoint-up($desktop-breakpoint) {

      @media screen and (min-height: 400px) {
        overflow-y: auto;
        padding: 3px;
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__outer {
    position: relative;

    .storyCollectionView_col & {

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-bottom: 5px;
        margin-top: 11px;
        flex: 1;
        min-height: 70px;
      }
    }
  }

  &__inner {
    display: flex;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding: 9px 0 6px;
      margin: 0 -13px;
      position: relative;
      width: auto;
      height: 88px;
    }

    .storyCollectionView_col & {

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-left: 5px;
        padding-right: 5px;
        min-height: 70px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
      }
    }

    .stories {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        white-space: nowrap;
        display: flex;
      }
    }
  }
}

.storyCollectionView {
  padding-top: 3px;
  position: relative;
  margin: 8px 15px 5px;
  z-index: 1;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding-top: 0;
    margin: 0;
  }

  .stories-all & {

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-left: 5px;
      padding-right: 5px;
    }

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      border-top: 1px solid rgba($gray, 0.2);
      padding-top: 6px;
      padding-bottom: 5px;
      margin-bottom: 0;
    }
  }

  .explore & {
    padding: 0;
    margin: 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      max-height: none;
      display: block;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      flex-wrap: wrap;
    }

    h4 {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        order: 3;
        flex: 0 0 100%;
        margin-top: 10px;
      }
    }
  }

  .stories {

    .story {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        margin-left: 12px;
        margin-right: 12px;
        width: 52px;
      }
    }

    &.explore-wrapper {

      .storyView {
        background: $white;
        position: relative;
        cursor: pointer;
        text-align: center;
        box-shadow: none;
        transition: box-shadow 0.3s ease;
        min-width: 0;

        @include media-breakpoint-up($desktop-breakpoint) {
          box-shadow: 0 3px 6px rgba(#000, 0.1);
        }

        .story {
          display: block;
          padding-bottom: 8%;
          width: 100%;
          margin: 0;
          //color: $main-color;

          @include media-breakpoint-up($desktop-breakpoint) {
            padding-bottom: 19px;
          }

          .user-login {

            @include media-breakpoint-up($desktop-breakpoint) {
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  .storyView {
    margin-top: 0;

    &_top-live {
        .story {
        margin: 0 16px;
      }
    }

    &.storyView_top-live__list.live-list-wrapper {
      display: inline-flex;

      @include media-breakpoint-up($desktop-breakpoint) {
        width: auto;
        min-width: auto;
        margin-right: 10px;
        margin-top: 5px;
      }
    }

    .stories-all & {

      @include media-breakpoint-up($desktop-breakpoint) {
        width: 82px;
        min-width: 82px;
        margin-right: 24px;
        margin-top: 5px;
      }
    }

    &.create-story-button {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        margin: 0;
      }

      .story-info {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          max-width: 60px;
        }
      }

      @include media-breakpoint-up($desktop-breakpoint) {

        &:hover {

          .name {
            color: $primary-color-darken;
          }
        }
      }
    }
  }

  .story {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $main-color;

    // margin: 0 12px;
    padding: 0;
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin: 0 12px;
      padding: 0;
    }

    &-header {
      margin-top: 10px;
      @include ellipsis;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        line-height: 18px;
        margin-top: 5px;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        margin-bottom: 2px;
        text-align: center;
      }
    }

    &-avatar {
      position: relative;
    }

    &-info {
      width: 100%;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        margin-left: 0;
        max-width: 52px;
        text-align: center;
      }

      .aside-col & {

        @include media-breakpoint-up($desktop-breakpoint) {
          max-width: calc(100% - 65px);
        }
      }
    }
  }

  .name {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      font-size: 11px;
    }
  }

  .user-login {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      font-size: 11px;
    }
    
    .explore-page & {
      display: block;
    }

    a {
      font-size: 12px;
      transition: color .3s ease;

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 13px;
      }
    }
  }

  .timestamp {
    padding-left: 20px;
    margin-left: auto;
  }

  .user-names {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .wrap-name {
    justify-content: center;

    .verified-user {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        width: 12px;
        height: 12px;
        line-height: 12px;
        font-size: 12px;
        margin-top: -1px;
        margin-left: 3px;
      }
    }
  }

  &_col {

    @include media-breakpoint-up($desktop-breakpoint) {
      max-height: 100%;
      overflow: hidden;
      display: flex;
      flex: 1;
      flex-direction: column;
    }

    .story {

      @include media-breakpoint-up($desktop-breakpoint) {
        padding: 10px 10px 10px 4px;
        flex-direction: row;
      }

      .stories-collection & {

        @include media-breakpoint-up($desktop-breakpoint) {
          padding-top: 8px;
          padding-bottom: 8px;
        }
      }

      &-header {
        display: flex;
        align-items: center;

        @include media-breakpoint-up($desktop-breakpoint) {
          margin-top: 0;
          text-align: left;
        }
      }
    }

    .storyView {
      width: auto;
      min-width: auto;
      margin: 0;
    }
  }

  &_tape {

    h4 {

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-left: 5px;
      }
    }

    .name {
      width: 100%;
      display: block;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        font-weight: 400;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 13px;
        line-height: 18px;
        width: auto;
      }

      .stories-all & {

        @include media-breakpoint-up($desktop-breakpoint) {
          font-weight: 400;
        }
      }
    }

    .user-login {

      @include media-breakpoint-up($desktop-breakpoint) {
        justify-content: flex-start;
      }
    }
  }
}

.name-switcher {
  text-align: center;
  height: 18px;
  position: relative;

  span {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transition: opacity .7s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;

    &.active {
      opacity: 1;
    }
  }
}

.followme {
  background: rgba(124, 139, 150, 0.08);
  border-radius: 1000px;
  font-size: 9px;
  line-height: 12px;
  padding: 0 5px;
  margin: 2px 0 0 4px;
  display: inline-block;
  vertical-align: top;
  position: relative;

  &__txt {
    opacity: 0.5;
  }
}

.stories-collection {
  position: relative;
  overflow: hidden;

  @include media-breakpoint-up($desktop-breakpoint) {
    background: none;
    margin-left: -4px;
    overflow: visible;
    //min-height: 140px;
  }

  &:before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    position: absolute;
    background: linear-gradient(
      to right,
      rgba($gray, 0.2) 0%,
      transparent 100%
    );
    display: none;

    @include media-breakpoint-up($desktop-breakpoint) {
      display: block;
    }
  }

  &__header {
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 22px;
      margin-bottom: 6px;
      min-height: 40px;
    }
  }

  .storyCollectionView {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-bottom: 10px;
    }

    .story-header {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        margin-top: 7px;
      }
    }
  }

  .stories {
    display: inline-flex;

    @include media-breakpoint-up($desktop-breakpoint) {
      display: flex;
      flex-direction: column;
    }
  }

  .stories-group {
    position: relative;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      text-align: center;
      overflow-x: auto;
      margin-left: -15px;
      margin-right: -15px;
      height: 84px;
    }

    .ps {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        padding-top: 3px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

  .amount-items {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: none;
    }
  }

  .story-info {

    @include media-breakpoint-up($desktop-breakpoint) {
      max-width: calc(100% - 70px);
    }
  }

  &.stories-wrapper {

    + .container {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        position: relative;
      }
    }
  }
}

.btn-add-story {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  cursor: pointer;

  .msg-no-content & {
    display: inline-flex;
  }

  .name {
    color: $main-color;
    
    @include media-breakpoint-up($desktop-breakpoint) {
      font-size: 13px;
      line-height: 18px;
    }
  }
}

.amount-items {
  opacity: 0.5;
  font-size: 13px;
}

.stories-all {
  margin-top: -8px;

  @include media-breakpoint-up($desktop-breakpoint) {
    margin-top: -5px;
    margin-bottom: 16px;
  }

  + .explore {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      min-height: calc(100% - 173px);
    }

    .not-authorized & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        min-height: calc(100% - 214px);
      }
    }
  }

  .newStoriesLabel {
    margin-left: 5px;

    @include media-breakpoint-down($desktop-breakpoint) {
      margin-left: 16px;
      font-size: 14px;
    }
  }
}


.container-story-details {
  width: 100%;
  flex: 0 0 71.5%;
  height: 71.5%;
  margin: auto auto 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  position: relative;

  @include media-breakpoint-up($desktop-breakpoint) {
    border-radius: 6px 6px 0 0;
    flex: 0 0 58.9%;
    height: 58.9%;
    max-width: 620px;
  }

  &__inside {
    background-color: $white;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up($desktop-breakpoint) {
      border-radius: 6px 6px 0 0;
    }

    &:after {
      position: absolute;
      content: "";
      top: -7px;
      left: calc(50% - 9px);
      background-color: $white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
      width: 17px;
      height: 17px;
      transform: rotate(45deg);
      z-index: 0;
    }
  }
}

.header-story-details {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 11px 13px 7px;
  height: 44px;
  flex: 0 0 44px;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 16px 20px;
    height: 60px;
    flex: 0 0 60px;
    border-radius: 6px 6px 0 0;
    background-color: $white;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    box-shadow: 0 2px 1px 0 rgba(#000, 0.1);
  }
}

.body-story-details {
  overflow: hidden;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: row;

  .msg-no-content {
    margin: auto;
  }
}

.list-viewers {
  position: absolute;
  top: 4px;
  right: 18px;
  bottom: 4px;
  left: 15px;

  @include media-breakpoint-up($desktop-breakpoint) {
    top: 7px;
    bottom: 7px;
    left: 20px;
    right: 20px;
  }

  .popup-likers & {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    width: 100%;
    height: 100%;

    @include media-breakpoint-up($desktop-breakpoint) {
      height: 220px;
    }
  }

  .ps {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      right: -10px;
      padding-right: 10px;
    }

    .popup-likers & {
      left: 20px;
      right: 0;
      padding-right: 20px;
    }
  }
}

.viewer-row {
  border-bottom: 1px solid rgba(124, 139, 150, 0.2);
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 10px 20px 10px 0;
  text-align: left;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  &_likers {
    padding-right: 0;
  }

  .name {
    display: block;
    margin-bottom: 3px;
    color: $main-color;
  }

  .btn-block {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .user-login {

    &:before {
      display: none;
    }
  }

  .username-group {
    max-width: calc(100% - 50px);
    margin-right: 10px;

    &_btn-follow {
      max-width: calc(100% - 130px);
    }
  }
}

.btn-follow-viewers {
  margin-right: 0;
  margin-left: auto;
}

.controls-story {

  &__btn {
    color: $secondary-color;
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-left: 19px;
    }

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {
        color: $secondary-color-darken;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &_remove {
      color: $primary-color;

      &:hover {
        color: $primary-color-darken;
      }
    }
  }
}

.amount-viewers {
  display: flex;
  align-items: center;
  align-content: center;

  .icn-viewer {
    color: $secondary-color;

    .container-story-details & {
      margin-right: 9px;
    }
  }
}

.story-time-created {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stories-list-preview {
  height: 28.5%;
  flex: 0 0 28.5%;

  @include media-breakpoint-up($desktop-breakpoint) {
    height: 41.1%;
    flex: 0 0 41.1%;
  }

  .swiper-container {
    margin-top: 52px;
    margin-bottom: 30px;
    height: calc(100% - 82px);
    padding: 3px;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-top: 6vw;
      margin-bottom: 3vw;
      height: calc(100% - 9vw);
    }
  }

  .swiper-slide {
    width: auto;
  }
}

.story-preview {
  position: relative;
  height: 100%;
  box-sizing: border-box;

  &_viewers {

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
      opacity: .15;
      z-index: 1;
      height: 30px;

      @include media-breakpoint-up($desktop-breakpoint) {
        height: 40px;
      }
    }

    .story-preview__img {
      height: 100%;
      z-index: 0;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      opacity: .7;
      transition: opacity .3s;

      .active & {
        opacity: 1;
      }
    }
  }

  &_list {
    margin: 0 0 77px;
    padding-top: 100%;
    height: 0;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-bottom: 42%;
    }

    .story-preview__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .avatar {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);

      @include media-breakpoint-up($desktop-breakpoint) {
        bottom: -2px;
      }
    }
  }

  .amount-viewers {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    z-index: 2;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      font-size: 13px;
    }

    .icn-viewer {
      color: #fff;

      &:after {
        font-size: 12px;
        width: 12px;
        height: 12px;

        @include media-breakpoint-up($desktop-breakpoint) {
          font-size: 20px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.storyviewers-controls {
  position: absolute;
  left: 16px;
  right: 16px;
  top: 4px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
  z-index: 3;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;

  @include media-breakpoint-up($desktop-breakpoint) {
    left: 20px;
    right: auto;
    top: 16px;
  }

  .btn-settings,
  .btn-story-details,
  .header-return-btn {
    color: #fff;
    opacity: 1;
  }

  .btn-settings {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    right: auto;
    top: auto;
    transform: translate(0, 0);
  }
}

.stories-collection-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 50;
  pointer-events: none;
  display: flex;
  opacity: 0;
  transition: opacity .5s;
  padding: 20px;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 60px 80px;
  }

  &.show {
    opacity: 1;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.stories-collection-name {
  margin: auto;
  color: #fff;
  font-size: 38px;
  position: relative;
  z-index: 2;
}

.add-story-link {
  font-size: 13px;
  cursor: pointer;
  color: $secondary-color;
  font-weight: 500;
  transition: color .3s;

  &:hover {
    color: $secondary-color-darken;
  }
}

.stories-slideshow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.b-toggled {

  &__header {
    position: relative;

    @include media-breakpoint-up($desktop-breakpoint) {
      cursor: pointer;
    }

    &:after {

      @include media-breakpoint-up($desktop-breakpoint) {
        content: "\E608";
        @include icon-font;
        font-size: 24px;
        position: absolute;
        right: 0;
        top: 25px;
        width: 22px;
        height: 10px;
        line-height: 10px;
        transition: transform .3s;

        .state-toggled & {
          transform: rotate(-180deg);
        }
      }
    }
  }

  &__content {

    @include media-breakpoint-up($desktop-breakpoint) {
      max-height: 0;
      overflow: hidden;
      transition: max-height .5s;

      .state-toggled & {
        max-height: 1000px;
      }
    }
  }
}