@import "components/imports";

.head-story {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;

  @include media-breakpoint-up($desktop-breakpoint) {
    top: 25px;
    left: 20px;
  }

  .story-avatar {
    position: relative;
  }

  .btn-add {
    width: 16px;
    height: 16px;
    font-size: 16px;
    border: none;
  }
}

.StoryPageCollectionView {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 20;
  background-color: #000;
  &:before,
  &:after {
    content: "";
    height: 80px;
    position: absolute;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 1;
  }
  &:before {
    top: 0;
    background: linear-gradient(
      to bottom,
      rgba(#000, 0.2) 0%,
      transparent 100%
    );
  }
  &:after {
    bottom: 0;
    background: linear-gradient(to top, rgba(#000, 0.1) 0%, transparent 100%);
  }
  .progress-pagination {
    position: absolute;
    display: flex;
    left: 3px;
    right: 3px;
    top: 0;
    z-index: 2;
    @include media-breakpoint-up($desktop-breakpoint) {
      left: 7px;
      right: 7px;
    }
    .item {
      background: none;
      border: none;
      padding: 6px 0;
      margin: 0 1px;
      cursor: pointer;
      position: relative;
      @include media-breakpoint-up($desktop-breakpoint) {
        padding: 10px 0;
        margin: 0 3px;
      }
      width: 100%;
      &:before {
        content: "";
        display: block;
        height: 2px;
        background-color: rgba(#fff, 0.5);
        border-radius: 1000px;
        transition: background-color 0.3s ease;
        background-image: linear-gradient(to top, #fff 0%, #fff 100%);
        background-size: 0 100%;
        background-repeat: no-repeat;
      }
      &:hover,
      &.fullActive {
        &:before {
          background-color: #fff;
        }
      }
      &.fullActive {
        &:before {
          transition: none;
        }
      }
      &:after {
        content: "";
        display: block;
        height: 2px;
        background-color: #ffffff;
        border-radius: 1000px;
        position: absolute;
        left: 0;
        width: 0;
        margin-top: -2px;
        transition: none;
      }
      &.active {
        &:after {
          width: 100%;
          transition: width 4s ease-in;
        }
        &.video:after {
          width: 0;
          transition: none;
        }
        &.video:before {
          transition: none;
        }
      }
      .item-filler {
        width: 0;
        background: none;
        border: none;
        padding: 0;
        margin: -2px 1px 0;
        height: 2px;
        cursor: pointer;
        position: relative;
        background-color: #ffffff;
        @include media-breakpoint-up($desktop-breakpoint) {
          padding: 1px 0;
          margin: -2px 1px 0;
        }
      }
    }
  }
  .StoryPageView {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #000;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

    img {
      max-width: 100%;
      max-height: calc(100% - 220px);
      object-fit: cover;
      position: relative;

      @include media-breakpoint-down($desktop-breakpoint) {

        @media screen and (orientation: landscape) {
          max-height: calc(100% - 120px);
        }
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        max-height: calc(100% - 150px);
      }

      &.bg {
        position: absolute;
        filter: blur(10px);
        left: -10px;
        top: -10px;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        max-width: none;
        max-height: none;
        opacity: 0.5;

        & + img {
          object-fit: contain;
        }
      }
    }
  }
  .btn-prev,
  .btn-next {
    @include media-breakpoint-down($desktop-breakpoint) {
      display: none;
    }
    @include media-breakpoint-up($desktop-breakpoint) {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 58px;
      background: none;
      padding: 0;
      border: none;
      opacity: 0.7;
      color: #fff;
      font-size: 46px;
      transition: opacity 0.3s ease;
      &:before {
        @include icon-font;
        @include position-center;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  .btn-prev {
    left: 0;
    &:before {
      content: "\E645";
    }
  }
  .btn-next {
    right: 0;
    &:before {
      content: "\E643";
    }
  }
  .close {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    padding: 15px;
    background: none;
    color: #fff;
    font-size: 24px;
    z-index: 3;
    transition: transform 0.3s ease;
    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 21px 16px;
      font-size: 30px;
    }
    &:hover {
      transform: scale(1.2);
    }
    &:before {
      content: "\E605";
      @include icon-font;
    }
  }

  .add-story-icon {
    position: absolute;
    left: 34px;
    top: 34px;
    color: #fff;
    border-radius: 1000px;
    background: $primary-color;
    width: 16px;
    height: 16px;
    z-index: 2;
    font-size: 19px;
    pointer-events: none;
    @include media-breakpoint-up($desktop-breakpoint) {
      left: 39px;
      top: 44px;
    }
    &:before {
      content: "\E601";
      @include icon-font;
      @include position-center;
    }
  }
  .user-name {
    color: #fff;
    font-size: 15px;
    margin-left: 14px;

    a {
      margin-right: 1px;
      color: inherit;
      font-weight: 500;
    }
  }

  .more-functions {
    position: absolute;
    right: 0;
    bottom: 0;

    &.open {

      .more-functions__btn {

        @include media-breakpoint-down($desktop-breakpoint) {
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    &__btn {
      width: 55px;
      height: 55px;
      opacity: .7;
      justify-content: center;

      @include media-breakpoint-up($desktop-breakpoint) {
        width: 60px;
        height: 60px;
      }

      &:before {
        @include color-settings-dots(#fff, 1);
        background-size: 7px 6px;
        background-position: 6px 0;
        margin: 0;
        width: 20px;
        height: 6px;
      }
    }

    &__dropdown {

      @include media-breakpoint-up($desktop-breakpoint) {
        right: 5px;
        top: auto;
        bottom: 100%;
        transform: translateY(-20px);
        padding-top: 0;
        padding-bottom: 8px;
      }

      &-inside {

        &:after {
          top: auto;
          bottom: 0;
          border-left-color: transparent;
          border-top-color: transparent;
          border-right: 1px solid rgba(124, 139, 150, 0.2);
          border-bottom: 1px solid rgba(124, 139, 150, 0.2);

          @include media-breakpoint-up($desktop-breakpoint) {
            right: 19px;
          }
        }
      }
    }
  }

  .btn-copy-link {
    animation: copy-link 0.5s;
    &.copied {
      animation: none;
    }
  }
  .bottom-btns {
    position: absolute;
    left: 7px;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 2;
    @include media-breakpoint-up($desktop-breakpoint) {
      left: 10px;
    }
    & > button {
      border: none;
      padding: 12px 8px;
      background: none;
      color: #fff;
      font-size: 24px;
      transition: opacity 0.3s ease;
      opacity: 0.7;
      @include media-breakpoint-up($desktop-breakpoint) {
        padding: 15px 10px;
      }
      &:hover,
      &.active {
        opacity: 1;
      }
    }
    .tip-form {
      position: absolute;
      bottom: 100%;
      left: 5px;
      margin-bottom: -3px;
      display: flex;
      @include media-breakpoint-down($desktop-breakpoint) {
        width: calc(100vw - 30px);
        input {
          flex: 1;
        }
      }
      @include media-breakpoint-up($desktop-breakpoint) {
        left: 10px;
        .btn {
          padding: 11px 17px;
          height: 40px;
        }
        input {
          width: 150px;
          height: 40px;
        }
      }
      .btn {
        background: rgba(#fff, 0.5);
        color: $main;
        &:hover {
          background: #fff;
        }
        &.btn-send {
          &[disabled] {
            opacity: 0.6;
          }
        }
      }
      input {
        margin: 0 15px;
        text-align: center;
        background: rgba(#000, 0.3);
        color: #fff;
      }
    }
  }
  .btn-message {
    &:before {
      content: "\E622";
      @include icon-font;
    }
  }
  .btn-tip {
    &:before {
      content: "\E618";
      @include icon-font;
    }
  }
  .btn-save-highlights {
    &:before {
      content: "\E641";
      @include icon-font;
    }
  }
  .viewers {
    color: #fff;
    display: flex;
    align-items: center;
    margin-left: 10px;
    opacity: 0.7;
    font-weight: 500;
    @include media-breakpoint-down($desktop-breakpoint) {
      font-size: 11px;
    }
    &:not(:empty) {
      &:before {
        content: "\E633";
        @include icon-font;
        margin-right: 7px;
        font-size: 24px;
        font-weight: 400;
      }
    }
  }
  .story-video-element {
    max-width: 100%;
    max-height: 100%;
  }
}

.story-viewer {
  color: #fff;
  opacity: .7;
  line-height: 24px;

  @include media-breakpoint-down($desktop-breakpoint) {
    font-size: 11px;
    max-width: calc(100vw - 117px); // width between button "..." and button Show story details (left from this element) for crop text if it will be very long
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &:before {
    content: "\E633";
    @include icon-font;
    display: inline-block;
    vertical-align: middle;
    font-size: 23px;
    margin-right: 3px;
  }
}

.story-details-info {
  margin: 0 0 13px 9px;
  display: flex;
  align-content: center;
  align-items: center;


  @include media-breakpoint-up($desktop-breakpoint) {
    margin-bottom: 18px;
    margin-left: 13px;
  }
}

.btn-story-details {
  display: inline-block;
  color: #fff;
  opacity: .7;
  margin: 0 15px 0 0;
  transition: color .3s;

  @include media-breakpoint-up($desktop-breakpoint) {
    margin-right: 18px;
  }

  &:hover {
    opacity: 1;
    color: #fff;
  }

  &:after {
    content: "\E669";
    @include icon-font;
    font-size: 23px;
  }
}