@import "components/imports";

.head-story {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% - 70px);
  z-index: 2;

  @include media-breakpoint-up($desktop-breakpoint) {
    top: 25px;
    left: 20px;
  }

  .story-avatar {
    position: relative;
  }

  .btn-add {
    width: 16px;
    height: 16px;
    font-size: 16px;
    border: none;
  }

  .user-name {
    display: flex;
    align-content: center;
    align-items: center;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      flex: 1;
      max-width: calc(100% - 60px);
    }
  }
}

.StoryPageCollectionView {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 20;
  background-color: #000;

  &:before,
  &:after {
    content: "";
    height: 80px;
    position: absolute;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 1;
  }

  &:before {
    top: 0;
    background: linear-gradient(
      to bottom,
      rgba(#000, 0.2) 0%,
      transparent 100%
    );
  }

  &:after {
    bottom: 0;
    background: linear-gradient(to top, rgba(#000, 0.1) 0%, transparent 100%);
  }

  .add-story-icon {
    position: absolute;
    left: 34px;
    top: 34px;
    color: #fff;
    border-radius: 1000px;
    background: $primary-color;
    width: 16px;
    height: 16px;
    z-index: 2;
    font-size: 19px;
    pointer-events: none;
    @include media-breakpoint-up($desktop-breakpoint) {
      left: 39px;
      top: 44px;
    }
    &:before {
      content: "\e87d";
      @include icon-font;
      @include position-center;
    }
  }

  .user-name {
    color: #fff;
    font-size: 15px;
    margin-left: 14px;

    a {
      margin-right: 1px;
      color: inherit;
      font-weight: 500;
    }
  }

  .more-functions {
    z-index: 6;
  }

  .story-video-element {
    max-width: 100%;
    max-height: 100%;
  }

  .loader-container_center {
    z-index: 1;
  }
}

.bottom-btns {
  position: absolute;
  left: 7px;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 5;
  max-width: calc(100% - 14px);

  @include media-breakpoint-up($desktop-breakpoint) {
    left: 10px;
  }

  .stream & {
    display: none;

    .stream_enabled & {
      display: flex;
    }
  }
}

.bottom-btn {
  border: none;
  padding: 12px 8px;
  background: none;
  color: #fff;
  transition: opacity 0.3s ease;
  opacity: 0.7;
  height: auto;
  line-height: 24px;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 18px 10px;
  }

  &.active {
    opacity: 1;
  }

  &.selected {
    opacity: 1;
  }

  &.disabled {
    pointer-events: none;
  }

  .icn-item {
    font-size: 24px;
  }

  @include media-breakpoint-up($desktop-breakpoint) {

    &:hover {
      opacity: 1;
    }
  }
}

.StoryPageView {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #000;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.storyItem {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: block;
  z-index: 0;

  &_bg {
    position: absolute;
    filter: blur(10px);
    left: -10px;
    top: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    max-width: none;
    max-height: none;
    opacity: 0.5;

    & + .story-image .storyItem {
      object-fit: contain;
    }
  }
}

.progress-pagination {
  position: absolute;
  display: flex;
  left: 3px;
  right: 3px;
  top: 0;
  z-index: 3;

  @include media-breakpoint-up($desktop-breakpoint) {
    left: 7px;
    right: 7px;
  }

  .item {
    background: none;
    border: none;
    padding: 6px 0;
    margin: 0 1px;
    cursor: pointer;
    position: relative;
    width: 100%;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 10px 0;
      margin: 0 3px;
    }

    &:before,
    &:after {
      content: "";
      display: block;
      height: 2px;
      border-radius: 1000px;
    }

    &:before {
      background-color: rgba(#fff, 0.5);
      background-image: linear-gradient(to top, #fff 0%, #fff 100%);
      background-size: 0 100%;
      background-repeat: no-repeat;
      transition: background-color 0.3s ease;
    }

    &:after {
      background-color: #fff;
      position: absolute;
      left: 0;
      width: 0;
      margin-top: -2px;
      transition: none;
    }

    &.fullActive {

      &:before {
        background-color: #fff;
        transition: none;
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {

        &:before {
          background-color: #fff;
        }
      }
    }

    &.active {

      &:after {
        animation: lineWidth 4s normal forwards ease-in-out;
      }

      &.paused {

        &:after {
          animation-play-state: paused;
        }
      }

      &.video {

        &:before {
          transition: none;
        }

        &:after {
          display: none;
        }
      }
    }

    &-filler {
      width: 0;
      background: none;
      border: none;
      padding: 0;
      margin: -2px 1px 0;
      height: 2px;
      cursor: pointer;
      position: relative;
      background-color: #fff;
      transition: width .2s;

      @include media-breakpoint-up($desktop-breakpoint) {
        padding: 1px 0;
      }
    }
  }
}

.story-image {
  position: relative;
  user-select: none;
  max-height: calc(100% - 220px);
  display: flex;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {

    @media screen and (orientation: landscape) {
      max-height: calc(100% - 120px);
    }
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    max-height: calc(100% - 150px);
  }


  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
  }
}

.story-viewer {
  opacity: .7;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    font-size: 11px;
    max-width: calc(100vw - 117px); // width between button "..." and button Show story details (left from this element) for crop text if it will be very long
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &_clickable {
    cursor: pointer;
  }
}

.btn-story-details {

  &:after {
    content: "\e8dc";
    font-size: 23px;
  }

  .popup-storyviewers & {

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-right: 20px;
    }
  }
}