@import "components/imports";

@keyframes splash {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  30% {
    transform: translate(-10px, -20px);
  }

  40% {
    transform: translate(0, -30px);
  }

  50% {
    transform: translate(10px, -40px);
  }

  60% {
    transform: translate(0, -50px);
  }

  70% {
    transform: translate(-10px, -60px);
  }

  80% {
    transform: translate(0, -70px);
  }

  90% {
    transform: translate(10px, -80px);
  }

  100% {
    transform: translate(0, -90px);
    opacity: 0;
  }
}

.stream-page {

  &,
  body {
    height: 100%;
  }

  .main-container {
    position: relative;
  }

  #content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.stream-container {
  height: 100%;
}

.stream_enabled {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;

  &:before {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, transparent 100%);
    opacity: 0.2;
    content: "";
    z-index: 100;

    @include media-breakpoint-up($desktop-breakpoint) {
      height: 75px;
    }
  }

  &:after {
    position: absolute;
    pointer-events: none;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, transparent 100%);
    opacity: 0.2;
    content: "";
    z-index: 100;

    @include media-breakpoint-up($desktop-breakpoint) {
      height: 80px;
    }
  }
}

.stream-video-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;

  video {
    pointer-events: none;
    width: 100%;
    height: 100%;
    opacity: 0.6;

    .stream_enabled & {
      opacity: 1;
    }
  }

  &.mirror-reflection {

    video {
      transform: rotateY(180deg);
      -webkit-backface-visibility: visible;
      backface-visibility: visible;
      transform: scaleX(-1);
    }
  }
}

.stream {
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  &:before {
    //position: fixed;
    //pointer-events: none;
    //top: 0;
    //height: 70px;
    //background: linear-gradient(to bottom, #000 0%, transparent 100%);
    //opacity: 0.2;
    //content: "";
    //left: 0;
    //right: 0;
    //z-index: 1;
  }

  &:after {
    /*position: fixed;
        pointer-events: none;
        top: 87px;
        height: 1px;
        background: #fff;
        opacity: .2;
        content: '';
        left: 0;
        right: 0;
        z-index: 1;
        @include media-breakpoint-up($desktop-breakpoint) {
            height: 2px;
            top: 58px;
        }*/

    .stream_enabled & {
      content: none;
    }
  }

  .change-devices {

    .stream_enabled & {
      display: none;
    }

    &.top {

      @include media-breakpoint-up($desktop-breakpoint) {
        display: none;
      }
    }
  }

  .device-select {
    display: none;
  }

  #devices {
    /*position: fixed;*/
    width: 100%;
    display: flex;
    z-index: 2;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      /*top: 88px;
      left: 0;
      right: 0;*/
      justify-content: center;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      /*top: 0;
      right: 60px;*/
    }

    .stream_enabled & {
      display: none;
    }
  }
}

#stream-timer {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: 500;
  color: #fff;
  z-index: 3;

  @include media-breakpoint-up($desktop-breakpoint) {
    font-size: 17px;
    top: 20px;
  }
}

.stream-online-label {
  position: absolute;
  left: 15px;
  top: 12.5px;
  width: 36px;
  text-align: center;
  line-height: 18px;
  color: #fff;
  z-index: 3;
  border-radius: 1000px;
  text-transform: uppercase;
  background: $primary-color;
  font-size: 11px;
  font-weight: 500;

  @include media-breakpoint-up($desktop-breakpoint) {
    left: 20px;
    top: 20px;
    width: 40px;
    line-height: 20px;
  }

  .stream & {
    display: none;

    .stream_enabled & {
      display: block;
    }
  }
}

.stream-comments-wrapper {
  margin-bottom: 12px;
  z-index: 3;
  color: #fff;
  height: 175px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, transparent),
    color-stop(0.2, #000)
  );

  @include media-breakpoint-up($desktop-breakpoint) {
    height: 184px;
  }

  .stream & {
    display: none;

    .stream_enabled & {
      display: flex;
      align-content: flex-end;
      align-items: flex-end;
    }
  }

  .item {
    display: flex;
    align-items: center;
    margin: 5px 0 0;
    width: 100%;
    padding: 3px;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin: 8px 0 0;
    }
  }

  .name {
    margin-right: 6px;
  }
}

.form-stream {
  position: absolute;
  left: 15px;
  bottom: 40px;
  z-index: 2;
  right: 15px;

  @include media-breakpoint-up($desktop-breakpoint) {
    left: 20px;
    width: 370px;
    right: auto;
  }

  .stream-comment-form {
    margin-bottom: 14px;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-bottom: 17px;
    }
  }
}

.tip-form {
  display: flex;
  align-items: center;
  align-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 5px 15px;
  }

  .btn-cancel {
    min-width: 80px;
  }

  &_post {
    padding-left: 15px;
    padding-right: 15px;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 5px;
      padding-bottom: 8px;
    }

    .comment-form-wrapper & {
      padding-top: 0;
      padding-bottom: 0;
      position: absolute;
      background-color: $white;
      left: 0;
      right: 0;
      top: 7px;

      @include media-breakpoint-up($desktop-breakpoint) {
        top: 15px;
      }

      .postPage & {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          order: -1;
          padding-top: 0;
          padding-bottom: 10px;
        }
      }
    }
  }

  &_viewer {
    padding: 0;
    margin-bottom: 14px;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-bottom: 17px;
    }

    .bottom-btns & {
      flex: 0 0 100%;
      margin-bottom: 0;
      margin-left: 10px;
      margin-right: 10px;
      max-width: calc(100% - 20px);
    }

    .tip-amount-input {
      color: #fff;
      height: 40px;
      border-radius: 20px;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(255, 255, 255, .2);
      caret-color: #fff;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        flex: 1;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        width: 150px;
        height: 40px;
        border-radius: 1000px;
      }
    }

    .btn {
      background-color: rgba(#fff, .5);
      color: $main;
      height: 40px;
      padding: 11px 9px;

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-left: 17px;
        padding-right: 17px;
      }

      &:hover {
        background-color: #fff;
      }

      &.btn-send {

        &[disabled] {
          opacity: 0.6;
        }
      }
    }
  }
}

.stream-comment-form {
  position: relative;

  &:before {
    position: fixed;
    left: 0;
    width: 50%;
    top: 0;
    bottom: 0;
    content: "";
    background: linear-gradient(to right, #000 0%, transparent 100%);
    opacity: 0.2;
    pointer-events: none;
    z-index: -1;
  }

  .stream & {
    display: none;

    .stream_enabled & {
      display: block;
    }
  }

  .stream-comment-input {
    background: rgba(#000, 0.2);
    color: #fff;
    border-radius: 22px;
    padding-left: 17px;
    border: 1px solid rgba(255, 255, 255, .2);
  }

  .stream-comment-send-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 10px;
    height: 100%;
    background: none;
    color: #fff;
    border: none;
    font-size: 24px;
    transition: opacity 0.3s ease;

    &:before {
      content: "\E62D";
      @include icon-font;
    }
  }
}

.stream-btn {
  padding: 12px 8px;
  color: #fff;
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease;
  opacity: 0.7;
  cursor: pointer;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 15px 10px;
  }

  &:hover {
    opacity: 1;
  }

  &:before {
    @include icon-font;
    font-size: 24px;
  }

  &:not(:empty) {

    &:before {
      margin-right: 6px;
    }
  }
}

.stream-btns {
  position: absolute;
  left: 7px;
  bottom: 0;
  z-index: 2;
  display: flex;

  @include media-breakpoint-up($desktop-breakpoint) {
    left: 10px;
  }

  .stream & {
    display: none;

    .stream_enabled & {
      display: flex;
    }
  }
}

.stream-comment-btn {

  &:before {
    content: "\E617";
  }
}

.stream-like-btn {

  &:before {
    content: "\E616";
  }
}

.stream-tip-btn {

  &:before {
    content: "\E618";
  }
}

.stream-online-count {

  &:before {
    content: "\E633";
  }
}

#stream {
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;

  video {
    width: 100%;
    height: 100%;
  }
}

#close-stream-window {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  font-size: 24px;
  padding: 8px 15px;
  z-index: 2;

  @include media-breakpoint-up($desktop-breakpoint) {
    font-size: 30px;
    padding: 11px 15px;
  }

  &:before {
    content: "\E605";
    @include icon-font;
  }
}


.stream-summary-container {
  width: 100%;
  padding: 20px 20px 20px;
  max-height: 100%;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 100;
  color: #fff;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    @media screen and (orientation: landscape) {
      top: 20px;
      bottom: 20px;
      transform: translate(-50%, 0);
    }
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    max-width: 520px;
  }

  .mediasBottom {
    padding-top: 20px;
    position: static;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
  }
}

.stream-chart-legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px;

  &-item {

    &-label {
      font-size: 13px;
      display: block;
      padding: 0 0 3px;
    }

    &-value {
      font-size: 21px;
      display: block;
    }

    &__viewers {

      .stream-chart-legend-item-value {
        color: map_get($colors, 3);
      }
    }

    &__likes {

      .stream-chart-legend-item-value {
        color: map_get($colors, 9);
      }
    }

    &__tips {

      .stream-chart-legend-item-value {
        color: map_get($colors, 8);
      }
    }

    &__comments {

      .stream-chart-legend-item-value {
        color: map_get($colors, 6);
      }
    }
  }
}


.stream-chart-scale {
  display: flex;
  justify-content: space-between;
  padding: 7px 0 20px;
  opacity: .5;
}

.stream-summary-data {

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 8px 0;
    }

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      @media screen and (orientation: landscape) {
        padding: 8px 0;
      }
    }

    &__duration {

      @include media-breakpoint-up($desktop-breakpoint) {
        padding: 8px 0 11px;
      }

      .stream-summary-data-item__value {
        font-size: 18px;
      }
    }

    .stream-summary-data-item {

      &__value {

        @include media-breakpoint-up($desktop-breakpoint) {
          font-size: 21px;
        }
      }

      &__label {

        &:before {
          @include icon-font;
          text-align: center;
          display: inline-block;
          width: 43px;
          font-size: 20px;
        }
      }
    }

    &__viewers {

      .stream-summary-data-item {

        &__value {
          color: map_get($colors, 3);
        }

        &__label {

          &:before {
            content: '\E633';
            color: map_get($colors, 3);
          }
        }
      }
    }

    &__likes {

      .stream-summary-data-item {

        &__value {
          color: map_get($colors, 9);
        }

        &__label {

          &:before {
            content: "\E616";
            color: map_get($colors, 9);
          }
        }
      }
    }

    &__tips {

      .stream-summary-data-item {

        &__value {
          color: map_get($colors, 8);
        }

        &__label {

          &:before {
            content: "\E618";
            color: map_get($colors, 8);
          }
        }
      }
    }

    &__comments {

      .stream-summary-data-item {

        &__value {
          color: map_get($colors, 6);
        }

        &__label {

          &:before {
            content: "\E617";
            color: map_get($colors, 6);
          }
        }
      }
    }

    &:not(:first-child) {
      max-width: none;
      margin: 0 0 0 -10px;
    }
  }
}

.stream-toggle-controls {
  margin-top: 16px;
  margin-bottom: 16px;

  @include media-breakpoint-up($desktop-breakpoint) {
    margin-left: 62px;
    margin-right: 62px;
  }
}

.share-stream-label {
  font-size: 13px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  border-bottom: none;

  .toggle-element {
    flex: 0 0 48px;
    margin-left: 20px;
  }
}

.stream-details {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0 0 14px;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {

    @media screen and (orientation: landscape) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    padding-bottom: 24px;
    display: block;
  }
  
  > * {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {

      @media screen and (orientation: landscape) {
        flex: 0 0 48%;
      }
    }
  }
}

#stream-chart {
  overflow: hidden;
  text-align: left;
}

.amcharts-main-div {
  position: relative;

  a {
    // remove copyright
    display:none !important;
  }
}

.amcharts-chart-div {
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  height: 164px;
  padding: 0;
  touch-action: auto;

  @include media-breakpoint-up($desktop-breakpoint) {
    max-width: 520px;
  }

  svg {
    position: absolute;
    width: 100%;
    height: 164px;
    top: -0.5px;
    left: 0;
  }
}

.like {
  position: absolute;
  animation: splash 1.3s normal forwards ease-out;
  transform-origin: center;
  opacity: 0;

  &-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);

    &__symbol {
      width: 24px;
      height: 24px;
      transform: rotate(-45deg);
      background-color: #fff;
      position: absolute;
      bottom: 5px;
      left: 8px;

      &:before,
      &:after {
        content: "";
        background-color: #fff;
        border-radius: 50%;
        height: 24px;
        position: absolute;
        width: 24px;
      }

      &:before {
        top: -13px;
        left: 0;
      }

      &:after {
        top: 0px;
        right: -13px;
      }
    }
  }
}