@import "components/imports";

.stream-page {

  &,
  body {
    height: 100%;
  }

  .main-container {
    position: relative;
  }

  .main-header {
    display: none;
  }

  #content {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up($desktop-breakpoint) {
      height: 100%;
    }
  }
}

.stream-viewer {
  background-color: #000;

  .popup {

    .overlay {
      top: -70px;
      padding-bottom: 70px;
    }
  }

  .main-header,
  #content {
    visibility: hidden;
    pointer-events: none;
  }
}

.stream-container {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.stream_enabled {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;

  &:before,
  &:after {
    position: absolute;
    pointer-events: none;
    left: 0;
    right: 0;
    opacity: 0.2;
    content: "";
    z-index: 100;
  }

  &:before {
    top: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, transparent 100%);

    @include media-breakpoint-up($desktop-breakpoint) {
      height: 75px;
    }
  }

  &:after {
    bottom: 0;
    background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, transparent 100%);

    @include media-breakpoint-up($desktop-breakpoint) {
      height: 80px;
    }
  }
}

.stream-video-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 0;

  video {
    width: 100%;
    height: 100%;
    @include media-breakpoint-down($desktop-breakpoint) {
      height: auto;
      max-height: 100%;
    }

    // opacity: 0.6;

    .stream_enabled & {
      opacity: 1;
    }
  }

  &.mirror-reflection {

    video {
      transform: rotateY(180deg);
      -webkit-backface-visibility: visible;
      backface-visibility: visible;
      transform: scaleX(-1);
    }
  }
}

.stream {
  position: relative;
  z-index: 99;
  flex: 1;

  &:after {

    .stream_enabled & {
      content: none;
    }
  }

  .change-devices {

    .stream_enabled & {
      display: none;
    }

    &.top {

      @include media-breakpoint-up($desktop-breakpoint) {
        display: none;
      }
    }
  }

  .device-select {
    display: none;
  }

  #devices {
    width: 100%;
    display: flex;
    z-index: 2;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      justify-content: center;
    }

    .stream_enabled & {
      display: none;
    }
  }

  &-author {
    display: flex;
    align-items: center;
    align-content: center;
    z-index: 1;
    max-width: 40%;
    width: 100%;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-top: 5px;
    }

    .user-name {
      color: #fff;
      font-size: 15px;
      margin-left: 14px;
      max-width: calc(100% - 54px);

      a {
        color: inherit;
        font-weight: 500;
        display: block;
      }
    }
  }
}

#stream-timer {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: 500;
  color: #fff;
  z-index: 3;

  @include media-breakpoint-up($desktop-breakpoint) {
    font-size: 17px;
    top: 20px;
  }

  .stream-viewer & {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      top: 24px;
    }
  }
}

.stream-online-label {
  position: absolute;
  left: 15px;
  top: 15.5px;
  width: 36px;
  text-align: center;
  line-height: 18px;
  color: #fff;
  z-index: 3;
  border-radius: 1000px;
  text-transform: uppercase;
  background: $primary-color;
  font-size: 11px;
  font-weight: 500;

  @include media-breakpoint-up($desktop-breakpoint) {
    left: 20px;
    top: 20px;
    width: 40px;
    line-height: 20px;
  }

  .stream & {
    display: none;

    .stream_enabled & {
      display: block;
    }
  }
}
.stream-tipsGoalTitle {
  position: absolute;
  left: 15px;
  top: 65px;
  text-align: center;
  line-height: 18px;
  color: #fff;
  z-index: 3;
  border: 1px solid $primary-color;
  border-radius: 1000px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  padding: 10px;
  &.obs {
    top: 120px;
    @include media-breakpoint-up($desktop-breakpoint) {
      top: 65px;
    }
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    left: 20px;
    top: 65px;
    line-height: 20px;
  }

  .stream & {
    display: none;

    .stream_enabled & {
      display: block;
    }
  }
}

.stream-comments-wrapper {
  margin-bottom: 12px;
  z-index: 3;
  color: #fff;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, transparent),
    color-stop(0.2, #000)
  );
  padding: 0;
  height: calc(100vh - 150px);

  @include media-breakpoint-up($desktop-breakpoint) {
    height: calc(100vh - 170px);
  }

  &.m-with-amount-form {

    @include media-breakpoint-up($desktop-breakpoint) {
      height: calc(100vh - 230px);
    }
  }

  .stream & {
    display: none;

    .stream_enabled & {
      display: flex;
      align-content: flex-end;
      align-items: flex-end;
    }
  }
}

.comments-list-scrolling {
  position: absolute;
  max-height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding-right: 14px;
  background-color: rgba(0,0,0,.2);
}

.stream-message {
  width: 100%;
  padding: 8px 3px 3px;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding-top: 11px;
  }

  &__head {
    margin-top: 3px;
    max-width: calc(100% - 30px);
  }

  .comment-body {
    padding-right: 0;
  }

  .btn-icon {
    cursor: pointer;
  }
}


.stream-forms {
  position: absolute;
  left: 15px;
  bottom: 54px;
  z-index: 2;
  right: 15px;

  @include media-breakpoint-up($desktop-breakpoint) {
    left: 20px;
    bottom: 67px;
    width: 370px;
    right: auto;
  }
}

.form-comments {

  &__wrapper {
    position: relative;
  }

  &__input {
    background: rgba(#000, 0.2);
    color: #fff;
    padding: 10px 45px 9px 17px;
    border: 1px solid rgba(255, 255, 255, .2);
    height: 40px;
  }
}

.form-tipsGoal {
  margin-top: 20px;

  &__wrapper {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .form-comments__input {

    &.m-amount {
      width: 80px;
      margin-right: 10px;
    }

    &.m-description {
      padding-right: 45px;
    }
  }

  &__title {
    color: #fff;
    padding: 0;
    padding-right: 10px;
  }
}

.tip-form {
  display: flex;
  align-items: center;
  align-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 5px 15px;
  }

  .btn-cancel {
    min-width: 80px;
  }

  &_post {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 5px;
      padding-bottom: 8px;
    }

    .price-amount-field,
    .tip-amount-field {
      flex: 1;
    }
  }

  &_viewer {
    padding: 0;
    margin-bottom: 14px;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-bottom: 17px;
    }

    .stream-viewer & {
      margin-bottom: 0;
    }

    .bottom-btns & {
      flex: 0 0 100%;
      margin-bottom: 5px;
      margin-left: 10px;
      margin-right: 10px;
      max-width: calc(100% - 20px);
    }

    .tip-amount-input {
      text-align: center;
      background-color: rgba(0, 0, 0, 0.2);

      &:not(.error) {
        color: #fff;
        caret-color: #fff;
        border: 1px solid rgba(255, 255, 255, .2);
      }

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        flex: 1;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        width: 150px;
      }

      &:-webkit-autofill {
        -webkit-text-fill-color: #fff;

        &:hover,
        &:focus {
          -webkit-text-fill-color: #fff;
        }
      }
    }

    .btn {
      padding-left: 9px;
      padding-right: 9px;

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-left: 17px;
        padding-right: 17px;
      }

      &.btn-submit {

        &[disabled] {
          opacity: 0.6;
        }
      }
    }
  }
}

.stream-comment-form {
  position: relative;

  &:before {
    position: fixed;
    left: 0;
    width: 50%;
    top: 0;
    bottom: 0;
    content: "";
    background: linear-gradient(to right, #000 0%, transparent 100%);
    opacity: 0.2;
    pointer-events: none;
    z-index: -1;
  }

  .stream & {
    display: none;

    .stream_enabled & {
      display: block;
    }
  }
}

.stream-block {
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  video {
    width: 100%;
    height:100%;
    @include media-breakpoint-down($desktop-breakpoint) {
      height: auto;
      max-height: 100%;
    }
  }
}

.stream-summary-container {
  width: 100%;
  padding: 20px 20px 20px;
  max-height: 100%;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 100;
  color: #fff;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    @media screen and (orientation: landscape) {
      top: 20px;
      bottom: 20px;
      transform: translate(-50%, 0);
    }
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    max-width: 520px;
  }

  .mediasBottom {
    padding-top: 20px;
    position: static;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
  }
}

.stream-chart-legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px;

  &-item {

    &-label {
      font-size: 13px;
      display: block;
      padding: 0 0 3px;
    }

    &-value {
      font-size: 21px;
      display: block;
    }

    &__viewers {

      .stream-chart-legend-item-value {
        color: map_get($colors, 3);
      }
    }

    &__likes {

      .stream-chart-legend-item-value {
        color: map_get($colors, 9);
      }
    }

    &__tips {

      .stream-chart-legend-item-value {
        color: map_get($colors, 8);
      }
    }

    &__comments {

      .stream-chart-legend-item-value {
        color: map_get($colors, 6);
      }
    }
  }
}


.stream-chart-scale {
  display: flex;
  justify-content: space-between;
  padding: 7px 0 20px;
  opacity: .5;
}

.stream-summary-data {

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      @media screen and (orientation: landscape) {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }

    .btn-icon {
      width: 43px;
      vertical-align: middle;
      text-align: center;

      &:after {
        font-size: 20px;
      }
    }

    &__duration {

      @include media-breakpoint-up($desktop-breakpoint) {
        padding-bottom: 11px;
      }

      .stream-summary-data-item__value {
        font-size: 18px;
      }
    }

    .stream-summary-data-item {

      &__value {

        @include media-breakpoint-up($desktop-breakpoint) {
          font-size: 21px;
        }
      }
    }

    &__viewers {

      .stream-summary-data-item {

        &__value {
          color: map_get($colors, 3);
        }
      }

      .btn-icon {

        &:after {
          color: map_get($colors, 3);
        }
      }
    }

    &__likes {

      .stream-summary-data-item {

        &__value {
          color: map_get($colors, 9);
        }
      }

      .btn-icon {

        &:after {
          color: map_get($colors, 9);
        }
      }
    }

    &__tips {

      .stream-summary-data-item {

        &__value {
          color: map_get($colors, 8);
        }
      }

      .btn-icon {

        &:after {
          color: map_get($colors, 8);
        }
      }
    }

    &__comments {

      .stream-summary-data-item {

        &__value {
          color: map_get($colors, 6);
        }
      }

      .btn-icon {

        &:after {
          color: map_get($colors, 6);
        }
      }
    }

    &:not(:first-child) {
      max-width: none;
      margin: 0 0 0 -10px;
    }
  }
}

.stream-toggle-controls {
  margin-top: 16px;
  margin-bottom: 16px;

  @include media-breakpoint-up($desktop-breakpoint) {
    margin-left: 62px;
    margin-right: 62px;
  }
}

.share-stream-label {
  font-size: 13px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  border-bottom: none;

  .toggle-element {
    margin-left: 20px;
  }
}

.stream-details {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0 0 14px;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {

    @media screen and (orientation: landscape) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    padding-bottom: 24px;
    display: block;
  }
  
  > * {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {

      @media screen and (orientation: landscape) {
        flex: 0 0 48%;
      }
    }
  }
}

#stream-chart {
  overflow: hidden;
  text-align: left;
}

.amcharts-main-div {

  a {
    // remove copyright
    display:none !important;
  }
}

.amcharts-chart-div {
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  height: 164px;
  padding: 0;
  touch-action: auto;

  @include media-breakpoint-up($desktop-breakpoint) {
    max-width: 520px;
  }

  svg {
    position: absolute;
    width: 100%;
    height: 164px;
    top: -0.5px;
    left: 0;
  }
}

.likesContainer {
  position: relative;
  z-index: 1;
}

.like {
  position: absolute;
  animation: splash 1.3s normal forwards ease-out;
  transform-origin: center;
  opacity: 0;

  &-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);

    &__symbol {
      width: 24px;
      height: 24px;
      position: absolute;
      bottom: 5px;
      left: 8px;
      transform: translate(5px, -50px);

      &:after {
        content: "\E616";
        font-size: 30px;
        color: #fff;
      }
    }
  }
}