@import "components/imports";

.subscribe-popup {

  &.popup-container {
    @include media-breakpoint-down($desktop-breakpoint) {
      width: 100%;
      max-width: 100%;
      top: 0;
      bottom: 0;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }

  .close {
    color: #fff;
    text-shadow: $shadow-light;

    @include media-breakpoint-down($desktop-breakpoint) {
      display: block;
    }

    &:before {
      opacity: 1;
    }
  }

  &__header {
    position: relative;
    height: 80px;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 60px;
      background: linear-gradient(
        to bottom,
        rgba(#000, 0.2) 0%,
        rgba(#000, 0.2) 33.33%,
        rgba(#000, 0.1) 66.67%,
        transparent 100%
      );
      z-index: 2;
    }

    &.bg {
      background-color: $white;
      background-image: linear-gradient(
        30deg,
        $secondary-color-20 10%,
        $primary-color-20 90%
      );

      &:empty {

        &:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          opacity: 0.4;
          background-color: $light;
        }
      }
    }
  }

  &__info {
    position: relative;
    display: flex;
    justify-content: center;
    @include media-breakpoint-down($desktop-breakpoint) {
      max-width: 340px;
      justify-content: flex-start;
      margin: 0 auto;
      padding: 0 15px;
    }

    &-avatar {
      position: relative;
      margin-left: 36px;
      margin-top: -43px;

      @include media-breakpoint-down($desktop-breakpoint) {
        margin-left: -7px;
      }
    }

    .wrap-name {
      margin-bottom: 4px;
    }

    .name {
      font-size: 17px;
    }

    .user-login {
      font-size: inherit;

      a {
        color: inherit;
      }
    }
  }

  .user-names {
    margin: 0 auto 0 10px;
    padding-top: 17px;
  }

  &__body {
    padding-right: 15px;
    padding-left: 45px;
    margin-top: 18px;

    @include media-breakpoint-down($desktop-breakpoint) {
      max-width: 340px;
      margin: 24px auto 0;
      padding: 0 17px;
    }

    &-title {
      font-size: 21px;
      text-transform: uppercase;
      padding-bottom: 0;
      margin-bottom: 21px;

      @include media-breakpoint-down($desktop-breakpoint) {
        margin-bottom: 27px;
      }
    }
  }

  &__list {
    &-item {
      position: relative;
      list-style: none;
      margin-bottom: 17px;
      padding-left: 0;
      list-style-type: decimal;
      list-style-position: inside;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        opacity: 0.5;
      }

      &:before {
        //content: '\E604';
        position: absolute;
        font-family: team;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        font-size: 24px;
        pointer-events: none;
        top: 50%;
        transform: translateY(-50%);
        left: -2px;
        color: $secondary-color;
      }
    }
  }

  &__footer {
    text-align: center;
    margin-top: 32px;

    @include media-breakpoint-down($desktop-breakpoint) {
      padding: 0 15px;
      margin-top: 36px;
    }

    .btn {
      max-width: 320px;
      width: 100%;
    }

    &-text {
      max-width: 320px;
      margin: 25px auto 0;
      font-size: 13px;
      padding: 0;

      @include media-breakpoint-down($desktop-breakpoint) {
        max-width: 300px;
        margin-top: 33px;
      }

      &--error {
        color: $red;
        margin-top: 25px;
      }
    }
  }
}
