@import "components/imports";

.subscribe-popup {

  &__header {

    &.bg-profile {

      &:empty {

        &:before {
          position: absolute;
          top: 0;
          bottom: 0;
          opacity: 0.4;
          background: $light;
          height: auto;
          z-index: 0;
        }
      }

      &:not(:empty) {

        &:before {
          display: none;
        }
      }

      &:after {
        bottom: auto;
        top: 0;
        height: 60px;
        background: linear-gradient(
          to bottom,
          rgba(#000, 0.2) 0%,
          rgba(#000, 0.2) 33.33%,
          rgba(#000, 0.1) 66.67%,
          transparent 100%
        );
        z-index: 2;
      }
    }
  }

  &__info {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 100%;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      max-width: 340px;
      justify-content: flex-start;
      margin: 0 auto;
      padding: 0 15px;
    }

    &-avatar {
      position: relative;
      margin-left: 36px;
      margin-top: -43px;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        margin-left: -7px;
      }
    }

    .wrap-name {
      margin-bottom: 4px;
    }

    .name {
      font-size: 17px;
    }

    .user-login {
      font-size: inherit;
    }
  }

  .user-names {
    margin: 0 auto 0 10px;
    padding-top: 17px;
    max-width: calc(100% - 100px);

    @include media-breakpoint-up($desktop-breakpoint) {
      max-width: calc(100% - 176px);
    }
  }

  &__body {
    padding-right: 15px;
    padding-left: 45px;
    margin-top: 18px;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      max-width: 340px;
      margin: 24px auto 0;
      padding-right: 17px;
      padding-left: 17px;
    }

    &-title {
      font-size: 21px;
      text-transform: uppercase;
      padding-bottom: 0;
      margin-bottom: 21px;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        margin-bottom: 27px;
      }
    }
  }

  &__footer {
    text-align: center;
    margin: 32px auto 0;
    max-width: 320px;
    padding-bottom: 25px;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 36px;
    }

    &-text {
      margin-top: 25px;
      font-size: 13px;
      padding: 0;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        margin-top: 33px;
      }

      &--error {
        color: $red;
        margin-top: 25px;
      }
    }
  }
}

.subscribe-popup__body {
  ol {
    margin: 0 0 0 20px;
  }
  li {
    margin-bottom: 15px;
  }
}