@import "components/imports";

form.support-search-form {
  position: relative;
  padding: 0;
  width: 100%;
  max-width: 630px;

  .b-search-form__btn {

    @include media-breakpoint-down($desktop-breakpoint) {
      position: absolute;
      right: 0;
      top: 0;
      color: $main;
    }
  }

  input {
    border: 1px solid rgba($gray, 0.2);
  }
}

.s-container {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  &.bg-gradient {

    &:after {
      content: "";
      background-color: $white;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: .5;
      z-index: 0;
    }
  }

  .cols {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    margin-left: -10px;
    margin-right: -10px;
    flex-wrap: wrap;
  }

  .col {

    @include media-breakpoint-down($desktop-breakpoint) {
      margin-bottom: 30px;
    }

    &:last-child {

      @include media-breakpoint-down($desktop-breakpoint) {
        margin-bottom: 0;
      }
    }

    &_align-right {

      @include media-breakpoint-up($desktop-breakpoint) {
        margin-left: auto;
      }
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }
}

.s-header {

  .subtitle {
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 8px;
    font-weight: 500;

    @include media-breakpoint-down($desktop-breakpoint) {
      font-size: 12px;
    }
  }

  p {
    font-size: 16px;
    line-height: 22px;
    opacity: .5;
    padding-bottom: 20px;

    @include media-breakpoint-up($desktop-breakpoint) {
      font-size: 18px;
      line-height: 24px;
      padding-bottom: 30px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-weight: 300;
      margin-bottom: 10px;
      position: relative;
      padding-left: 7px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: "\2022";
        position: absolute;
        left: 0;
        top: 4px;
        pointer-events: none;
        font-size: 8px;
      }
    }
  }
}

.support-header {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: all .3s;

  .header-scrolled & {

    @include media-breakpoint-down($desktop-breakpoint) {
      opacity: 0;
    }
  }

  h1 {
    font-size: 30px;
    margin: 0 0 16px;
    color: #fff;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));

    @include media-breakpoint-up($desktop-breakpoint) {
      font-size: 40px;
    }
  }
}

.support-content {

  h2 {
    font-size: 25px;
    line-height: 27px;
    margin: 0 0 16px;
    font-weight: 300;

    @include media-breakpoint-up($desktop-breakpoint) {
      font-size: 35px;
      line-height: 37px;
    }
  }

  h3 {

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-bottom: 23px;
      font-size: 26px;
    }
  }
}

.popular-questions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 10px auto 0;

  @include media-breakpoint-down($desktop-breakpoint) {
    display: none;
  }
}

.question-item {
  padding: 6.5px 20px;
  margin: 10px 5px 0;
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
  color: #fff;
  position: relative;
  z-index: 1;
  
  &:hover {
    color: #fff;

    &:after {
      background-color: $primary-color-darken;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: $primary-color;
    border-radius: 1000px;
    transition: background-color .3s;
  }
}

.questions-list {
  border: 1px solid rgba(124, 139, 150, 0.2);
  border-radius: 6px;
  color: #7c8b96;
  overflow: hidden;
  background-color: $white;

  @include media-breakpoint-up($desktop-breakpoint) {
    top: 160px;
    position: -webkit-sticky;
    position: sticky;
  }

  .scrollbar {

    &.mlm100 {

      > .ps {
        overflow: visible !important;
      }
    }

    &.mlm200 {

      > .ps {
        overflow: visible !important;

        .level-2.show {

          > .ps {
            overflow: visible !important;
          }
        }
      }
    }

  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  > ul {

    &.opened {

      .node-tree {

        &.selected {

          > .label {
            padding-left: 38px;
          }

          .btn-back-list {
            opacity: 1;
          }
        }
      }
    }

    > .node-tree {
      position: relative;

      &:first-child {

        &:before {
          display: none;
        }
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 1px;
        background-color: rgba(124, 139, 150, 0.2);
        z-index: 2;
      }

      > .label {
        font-size: 17px;
        background: #f8f9fa;
        color: #000;
        padding: 12px 32px 12px 14px;
        word-wrap: break-word;
        transition: all .3s;

        &:after {
          content: "\E646";
          position: absolute;
          right: 6px;
          font-size: 24px;
          top: 16px;
          @include icon-font;
          color: $secondary-color;
          transition: all .3s;
          width: 24px;
          height: 14px;
          line-height: 14px;
        }
      }

      &.selected {

        > .label {

          &:after {
            transform: rotate(180deg);
          }
        }

        div.level-1 {
          //max-height: 1000px;
          max-height: 200px;
          visibility: visible;
        }
      }
    }
  }

  .ps-container {
    max-height: 200px;
  }

  .label {
    font-weight: 300;
    display: block;
    position: relative;
    color: $main-color;
  }

  div.level-1 {
    position: relative;
    width: 100%;
    max-height: 0;
    visibility: hidden;
    transition: all .3s;

    > .ps-container {

      > ul {

        > .node-tree {
          border-top: 1px solid rgba(124, 139, 150, 0.2);
          width: 100%;

          > .label {
            cursor: pointer;
            position: relative;
            padding: 10px 34px 10px 14px;
            font-weight: 400;

            &:after {
              content: "\E643";
              position: absolute;
              right: 6px;
              font-size: 24px;
              top: 50%;
              @include icon-font;
              transform: translate(0, -50%);
              opacity: .5;
            }
          }
        }
      }
    }
  }

  .level-2 {
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    width: inherit;
    display: none;

    > .ps-container {

      > ul {

        > .node-tree {
          border-top: 1px solid rgba(124, 139, 150, 0.2);
          width: 100%;

          > .label {
            cursor: pointer;
            position: relative;
            padding: 10px 34px 10px 14px;

            &:after {
              content: "\E643";
              position: absolute;
              right: 6px;
              font-size: 24px;
              top: 50%;
              @include icon-font;
              transform: translate(0, -50%);
              opacity: .5;
            }
          }
        }
      }
    }
  }

  .level-3 {
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    width: inherit;
    display: none;

    > .ps-container {

      > ul {

        > .node-tree {
          width: inherit;

          > .label {
            cursor: pointer;
            padding: 7px 13px 7px 24px;
            font-size: 12px;
          }
        }
      }
    }
  }

  .mlm100 {
    margin-left: -100%;
  }

  .mlm200 {
    margin-left: -200%;
  }

  .show {
    display: block;
  }
}

.s-breadcrumbs {
  background: $white;
  box-shadow: 0 2px 1px rgba(#000, 0.1);
  padding-top: 14px;
  padding-bottom: 12px;
  min-height: 44px;
  z-index: 3;
  position: -webkit-sticky;
  position: sticky;
  top: 44px;

  @include media-breakpoint-up($desktop-breakpoint) {
    top: 80px;
    min-height: 60px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.breadcrumbs {

  a {
    color: $main-color;
    opacity: .5;
    margin-right: 6px;
    position: relative;
    padding-right: 14px;

    &:after {
      content: "\E643";
      @include icon-font;
      position: absolute;
      right: -5px;
      top: -1px;
      font-size: 18px;
    }
  }

  a, span {
    display: inline-block;
  }
}

.support-cards {
  padding: 0 0 6px;
  color: #7c8b96;

  .col {
    display: flex;
    padding: 0 10px;
  }
}

.support-card {
  box-shadow: 0 0 0 1px rgba(124, 139, 150, 0.21) inset;
  border-radius: 6px;
  overflow: hidden;
  padding: 20px 0 40px;
  font-size: 15px;
  display: block;
  position: relative;
  width: 100%;
  transition: all .3s ease;
  color: $main-color;
  text-align: center;

  &:hover {
    color: $main-color;
    box-shadow: 0 0 0 1px rgba(124, 139, 150, 0.21) inset, 0 10px 30px rgba(0, 0, 0, 0.15);
    transform: scale(1.03);
  }

  &__title {
    font-weight: 400;
    font-size: 21px;
    padding: 0 10px;
    margin: 0 0 11px;
    display: block;
  }

  &__text {
    line-height: 1.7;
    margin: 0 0 1.1em;
    padding: 0 20px;
    min-height: 50px;
    display: block;
    opacity: .5;
  }

  &__btn {
    display: block;
    font-size: 15px;
    color: #fff;
    padding: 10px 0 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $secondary-color;
    transition: background-color .3s;

    &:hover {
      background-color: $secondary-color-darken;
    }
  }

  &__icon {
    width: 140px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    color: $primary-color;
    display: inline-block;

    &:before {
      @include icon-font;
      font-size: 40px;
    }

    &_logo {

      svg {
        fill: $primary-color;
        display: inline-block;
        vertical-align: middle;
        max-height: 40px;
      }

      .cls-2 {
        fill: #fff;
      }
    }

    &_account {

      &:before {
        content: "\E551";
      }
    }

    &_fix {

      &:before {
        content: "\E654";
      }
    }

    &_report {

      &:before {
        content: "\E650";
      }
    }
  }
}

.support-text {

  h3 {
    opacity: .5;
    margin-bottom: 12px;
    font-size: 20px;
  }

  ol {
    list-style-position: inside;
    margin-bottom: 20px;

    li {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }


  ul {
    list-style: none;
    margin-bottom: 20px;

    li {
      margin-bottom: 10px;
      position: relative;
      padding-left: 12px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: "\2022";
        position: absolute;
        left: 0;
        top: 2px;
        pointer-events: none;
        font-size: 12px;
      }
    }
  }
}

.support-message {
  padding: 19px 24px;
  line-height: 1.4em;
  margin: 0 0 29px;

  &.info {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 6px;
      border: 1px solid rgba($gray, 0.2);
      background: rgba($gray, 0.2);
      opacity: .5;
    }
  }
}

.search-results-support {

  ol {
    list-style: none;
    padding: 0;
    margin: 0;

    li {

      a {
        color: $main-color;
        display: block;
        position: relative;
        padding: 6px 0 6px 35px;
        transition: all .3s;

        &:hover {
          padding-left: 45px;
        }

        &:before {
          content: "\E604";
          @include icon-font;
          position: absolute;
          left: 0;
          top: 0;
          color: $primary-color;
          font-size: 24px;
        }

        span {
          opacity: .5;
        }
      }
    }
  }
}

.btn-back-list {
  display: block;
  border: none;
  text-align: left;
  font-weight: 500;
  font-size: 17px;
  color: $primary-color;
  background-color: transparent;
  position: absolute;
  left: 10px;
  top: 8px;
  width: 24px;
  height: 30px;
  opacity: 0;
  transition: opacity .3s;

  &:before {
    content: "\E606";
    @include icon-font;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.cols {
  display: flex;
  margin: 0 -10px;
  max-width: none;
  @include media-breakpoint-down($desktop-breakpoint) {
    display: block;
  }
  > .col {
    flex: 0 1 100%;
    padding: 0 10px;
    &:last-child {
      margin-right: 0;
    }
    &.text-col-right {
      padding-left: 20px;
    }
    &-1-2 {
      flex: 0 1 50%;
      width: 50%;
      @include media-breakpoint-down($desktop-breakpoint) {
        flex: 0 1 100%;
        width: 100%;
      }
    }
    &-1-4 {
      flex: 0 1 25%;
      width: 25%;

      @include media-breakpoint-down($desktop-breakpoint) {
        flex: 0 1 100%;
        width: 100%;
      }
    }
    &-3-4 {
      flex: 0 1 75%;
      width: 75%;
      @include media-breakpoint-down($desktop-breakpoint) {
        flex: 0 1 100%;
        width: 100%;
      }
    }
    &-1-3 {
      flex: 0 1 33.33%;
      width: 33.33%;
      @include media-breakpoint-down($desktop-breakpoint) {
        flex: 0 1 100%;
        width: 100%;
      }
    }
    &-2-3 {
      flex: 0 1 66.67%;
      width: 66.67%;
      @include media-breakpoint-down($desktop-breakpoint) {
        flex: 0 1 100%;
        width: 100%;
      }
    }
  }
}

.content-wrapper {
  flex: 1;
  position: relative;

  @include media-breakpoint-up($desktop-breakpoint) {
    position: relative;
    z-index: 0;
  }

  &_cut {

    @include media-breakpoint-up($desktop-breakpoint) {
      overflow: hidden;
    }
  }
}