@import "components/imports";

form.support-search-form {
  position: relative;
  padding: 0;
  width: 100%;
  max-width: 630px;

  .b-search-form__btn {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      position: absolute;
      right: 0;
      top: 0;
      color: $main;
    }
  }

  input {
    border: 1px solid rgba($gray, 0.2);
  }

  .header-search-submit {

    .dark-theme & {
      color: $main-color;
    }
  }
}

.s-container {
  padding-top: 30px;
  padding-bottom: 30px;

  @include media-breakpoint-up($desktop-breakpoint) {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  &.bg-gradient {

    &:after {
      content: "";
      background-color: $white;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: .5;
      z-index: 0;
    }
  }

  .cols {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    margin-left: -10px;
    margin-right: -10px;
    flex-wrap: wrap;
  }

  .col {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-bottom: 30px;
    }

    &:last-child {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        margin-bottom: 0;
      }
    }

    &_align-right {

      @include media-breakpoint-up($desktop-breakpoint) {
        margin-left: auto;
      }
    }
  }
}

.s-header {

  .subtitle {
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 8px;
    font-weight: 500;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      font-size: 12px;
    }
  }

  p {
    font-size: 16px;
    line-height: 22px;
    opacity: .5;
    padding-bottom: 20px;

    @include media-breakpoint-up($desktop-breakpoint) {
      font-size: 18px;
      line-height: 24px;
      padding-bottom: 30px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-weight: 300;
      margin-bottom: 10px;
      position: relative;
      padding-left: 7px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: "\2022";
        position: absolute;
        left: 0;
        top: 4px;
        pointer-events: none;
        font-size: 8px;
      }
    }
  }
}

.support {

  &-header {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      transition: opacity .3s;
    }

    .header-scrolled & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        opacity: 0;
      }
    }

    h1 {
      font-size: 30px;
      margin: 0 0 16px;
      color: #fff;
      filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 40px;
      }
    }
  }

  &-content {

    h2 {
      font-size: 25px;
      line-height: 27px;
      margin: 0 0 16px;
      font-weight: 300;

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 35px;
        line-height: 37px;
      }
    }

    h3 {

      @include media-breakpoint-up($desktop-breakpoint) {
        margin-bottom: 23px;
        font-size: 26px;
      }
    }
  }

  &-text {
    line-height: 1.4em;


    h3 {
      opacity: .5;
      margin-bottom: 12px;
      font-size: 20px;
    }

    ol {
      list-style-position: inside;
      margin-bottom: 20px;

      li {
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }


    ul {
      list-style: none;
      margin-bottom: 20px;

      li {
        margin-bottom: 10px;
        position: relative;
        padding-left: 12px;

        &:last-child {
          margin-bottom: 0;
        }

        &:before {
          content: "\2022";
          position: absolute;
          left: 0;
          top: 2px;
          pointer-events: none;
          font-size: 12px;
        }
      }
    }
  }


  //&-card {
  //  box-shadow: 0 0 0 1px rgba(124, 139, 150, 0.21) inset;
  //  border-radius: 6px;
  //  overflow: hidden;
  //  padding: 20px 0 40px;
  //  font-size: 15px;
  //  display: block;
  //  position: relative;
  //  width: 100%;
  //  transition: all .3s ease;
  //  color: $main-color;
  //  text-align: center;
  //
  //  @include media-breakpoint-up($desktop-breakpoint) {
  //
  //    &:hover {
  //      color: $main-color;
  //      box-shadow: 0 0 0 1px rgba(124, 139, 150, 0.21) inset, 0 10px 30px rgba(0, 0, 0, 0.15);
  //      transform: scale(1.03);
  //    }
  //  }
  //
  //  &__title {
  //    font-weight: 400;
  //    font-size: 21px;
  //    padding: 0 10px;
  //    margin: 0 0 11px;
  //    display: block;
  //  }
  //
  //  &__text {
  //    line-height: 1.7;
  //    margin: 0 0 1.1em;
  //    padding: 0 20px;
  //    min-height: 50px;
  //    display: block;
  //    opacity: .5;
  //  }
  //
  //  &__btn {
  //    display: block;
  //    font-size: 15px;
  //    color: #fff;
  //    padding: 10px 0 12px;
  //    position: absolute;
  //    bottom: 0;
  //    left: 0;
  //    right: 0;
  //    background-color: $secondary-color;
  //    transition: background-color .3s;
  //
  //    @include media-breakpoint-up($desktop-breakpoint) {
  //
  //      &:hover {
  //        background-color: $secondary-color-darken;
  //      }
  //    }
  //  }
  //
  //  &__icon {
  //    width: 140px;
  //    height: 40px;
  //    line-height: 40px;
  //    margin-bottom: 20px;
  //    color: $primary-color;
  //    display: inline-block;
  //
  //    &:before {
  //      @include icon-font;
  //      font-size: 40px;
  //    }
  //
  //    &_logo {
  //
  //      svg {
  //        fill: $primary-color;
  //        display: inline-block;
  //        vertical-align: middle;
  //        max-height: 40px;
  //      }
  //
  //      .cls-2 {
  //        fill: #fff;
  //      }
  //    }
  //
  //    &_account {
  //
  //      &:before {
  //        content: "\e8cc";
  //      }
  //    }
  //
  //    &_problems {
  //
  //      &:before {
  //        content: "\e8cf";
  //      }
  //    }
  //
  //    &_reports {
  //
  //      &:before {
  //        content: "\e8cb";
  //      }
  //    }
  //  }
  //}

  //&-message {
  //  padding: 19px 24px 19px 48px;
  //  line-height: 1.4em;
  //  margin: 0 0 29px;
  //  position: relative;
  //
  //  &:before {
  //    @include icon-font;
  //    position: absolute;
  //    left: 6px;
  //    top: 18px;
  //    font-size: 40px;
  //    line-height: 40px;
  //  }
  //
  //  &.info {
  //
  //    &:before {
  //      content: "\e894";
  //      color: $primary-color;
  //    }
  //
  //    &:after {
  //      content: "";
  //      position: absolute;
  //      left: 0;
  //      right: 0;
  //      top: 0;
  //      bottom: 0;
  //      border-radius: 6px;
  //      border: 1px solid rgba($gray, 0.2);
  //      background: rgba($gray, 0.2);
  //      opacity: .5;
  //    }
  //  }
  //}

  //&-cards {
  //  padding: 0 0 6px;
  //  color: #7c8b96;
  //
  //  .col {
  //    display: flex;
  //    padding: 0 10px;
  //  }
  //}
}

.popular-questions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 10px auto 0;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    display: none;
  }
}

.question-item {
  padding: 6.5px 20px;
  margin: 10px 5px 0;
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
  color: #fff;
  position: relative;
  z-index: 1;

  @include media-breakpoint-up($desktop-breakpoint) {

    &:hover {
      color: #fff;

      &:after {
        background-color: $primary-color-darken;
      }
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: $primary-color;
    border-radius: 1000px;
    transition: background-color .3s;
  }
}

.questions-list {
  margin-top: -5px;

  @include media-breakpoint-up($desktop-breakpoint) {
    top: 70px;
    position: -webkit-sticky;
    position: sticky;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {

      &.selected {

        .label {
          font-weight: 500;
        }
      }
    }
  }

  .label {
    font-weight: 300;
    display: block;
    position: relative;
    color: $main-color;
    cursor: pointer;
    padding: 10px 0;
  }
}

.s-breadcrumbs {
  background: $white;
  box-shadow: 0 2px 1px rgba(#000, 0.1);
  padding-top: 14px;
  padding-bottom: 12px;
  min-height: 44px;
  z-index: 3;
  position: -webkit-sticky;
  position: sticky;
  top: 44px;

  @include media-breakpoint-up($desktop-breakpoint) {
    top: 52px;
    min-height: 60px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.breadcrumbs {

  &__item {
    color: $main-color;
    opacity: .5;
    margin-right: 6px;
    position: relative;
    padding-right: 14px;
    display: inline-block;

    &:after {
      content: "\e8bb";
      @include icon-font;
      position: absolute;
      right: -5px;
      top: -1px;
      font-size: 18px;
    }

    &.current {
      opacity: 1;

      &:after {
        display: none;
      }
    }
  }
}

.search-results-support {

  ol {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 0 0 25px 0;

      a {
        color: $main-color;
        display: block;
        position: relative;
        padding: 6px 0 6px 35px;
        transition: padding-left .3s;

        @include media-breakpoint-up($desktop-breakpoint) {

          &:hover {
            padding-left: 45px;
          }
        }

        &:before {
          content: "\e880";
          @include icon-font;
          position: absolute;
          left: 0;
          top: 0;
          color: $primary-color;
          font-size: 24px;
        }

        span {
          opacity: .5;
        }
      }
    }
  }
}

.content-wrapper {
  flex: 1;
  position: relative;

  @include media-breakpoint-up($desktop-breakpoint) {
    position: relative;
    z-index: 0;
  }

  &_cut {

    @include media-breakpoint-up($desktop-breakpoint) {
      overflow: hidden;
    }
  }

  &_all-height {

    @include media-breakpoint-up($desktop-breakpoint) {
      display: flex;
    }

    .container {

      @include media-breakpoint-up($desktop-breakpoint) {
        display: flex;
      }
    }
  }
}

.article-vote {
  text-align: center;
  position: relative;
  padding: 24px 0 0;
  margin: 25px 0 13px;

  @include media-breakpoint-up($desktop-breakpoint) {
    margin-top: 50px;
  }

  &:before {
    position: absolute;
    left: 50%;
    top: 0;
    height: 1px;
    content: '';
    background: rgba(124, 139, 150, 0.2);
    width: 240px;
    transform: translate(-50%, 0);
  }

  &__header {
    opacity: .5;
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 12px;

    @include media-breakpoint-up($desktop-breakpoint) {
      font-size: 26px;
    }
  }

  &__btns {
    display: flex;
    justify-content: center;
  }

  &__btn {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin: 0 10px 15px;
    transition: color .3s;

    &:after {
      font-size: 36px;
    }

    &.vote-like {
      color: $primary-color;

      @include media-breakpoint-up($desktop-breakpoint) {

        &:hover {
          color: $primary-color-darken;
        }
      }

      &:after {
        content: "\e8d2";
      }
    }

    &.vote-dislike {
      color: $secondary-color;

      @include media-breakpoint-up($desktop-breakpoint) {

        &:hover {
          color: $secondary-color-darken;
        }
      }

      &:after {
        content: "\e8d3";
      }
    }
  }
}

.success-vote {
  font-size: 20px;
  font-weight: 300;
  color: $primary-color;
  padding-bottom: 14px;

  @include media-breakpoint-up($desktop-breakpoint) {
    font-size: 26px;
  }
}

.support-page {
  .content-wrapper {
    min-height: 100px;
  }
}