@import "components/imports";

.jq-toast-wrap {
  color: var(--white);

  .jq-icon-success {
    background-color: map_get($colors, 4);
  }

  .jq-icon-error {
    background-color: map_get($colors, 6);
  }

  .jq-icon-warning {
    background-color: map_get($colors, 8);
  }

  .jq-has-icon {
    padding-top: 13px;
  }

  .jq-toast-loader {
    top: 0;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6) !important;
  }

  span {
    color: #fff;
  }
}
