@import "components/imports";

.userCollectionView {

  p {
    &:last-child {
      padding-bottom: 0;
    }

    a {
      font-size: 13px;
    }
  }

  .users {

    &:empty {

      + .msg-no-content {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .subscribed,
  .followme {
    font-size: 9px;
    line-height: 12px;
    padding: 0 5px;
    margin-top: 2px;
    display: inline-block;
    vertical-align: top;
    position: relative;

    &__txt {
      opacity: 0.5;
    }

    &:after {
      content: "";
      opacity: 0.16;
      border-radius: 1000px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
  .subscribed {
    color: $secondary-color;
    &:after {
      background-color: $secondary-color;
    }
  }
  .followme {
    &:after {
      background-color: currentColor;
    }
  }

  .about {
    word-wrap: break-word;
    margin-top: 4px;
    max-width: 100%;
    display: block;
    display: -webkit-box;
    font-size: 13px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 0 0 5px;
    }

    &:last-child {
      padding-bottom: 0;
    }

    p {
      padding: 0;
    }
  }

  .subscribeView {
    min-width: 62px;
    margin-left: 13px;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-left: 0;
      margin-top: 0;
    }

    &:empty {
      display: none;
    }
  }

  .subscribePaidView {

    &:empty {
      display: none;
    }
  }

  .twitter-link {
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: none;
    }
    @include media-breakpoint-up($desktop-breakpoint) {
      font-size: 13px;
      color: $default-secondary-color;
      &:hover {
        color: darken($default-secondary-color, 10%);
      }
    }
  }
  .user-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    border-bottom: none;
    padding: 0;
    margin: -5px 0 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      justify-content: space-between;
      margin-top: 0;
    }
  }

  .posts-container & {
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      background: $white;
    }
  }
}

.user-actions {
  font-weight: 500;

  &:before,
  &:after {
    @include media-breakpoint-up($desktop-breakpoint) {
      content: "";
    }
  }

  .btn-subscribe {
    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 0;
    }

    &:not(.disable-state) {
      color: $secondary-color;
      opacity: 1;

      &:hover {
        color: $secondary-color-darken;
      }
    }
  }
}

.userView {
  background: $white;
  min-width: 0;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {

    & + .userView {
      border-top: 1px solid rgba($gray, 0.2);
    }
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 0 0 15px;
    box-shadow: 0 3px 8px rgba(#000, 0.1);
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
  }

  &.open-dropdown-inside {

    @include media-breakpoint-up($desktop-breakpoint) {
      z-index: 2;
    }
  }

  .bg {
    overflow: hidden;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: none;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 33%;
      position: relative;
      height: auto;
      top: 0;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }

      &:before {
        position: absolute;
      }
    }
  }

  .avatar {
    position: absolute;
    top: 13px;
    left: 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      top: -40px;
    }
  }

  .user-names {
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin: 1px auto auto 0;
      min-width: 0;
      flex: 1;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 8px 0 13px 95px;
    }
  }

  .user-login {
    display: block;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      font-size: 13px;
    }
  }

  .user-container {
    position: relative;
    margin: 0 15px;
    z-index: 6;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding: 14px 0 14px 55px;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      margin: 0 16px;
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }

  .names-actions-wrapper {

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 0 0 9px;
    }

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 4px;
    }

    &:last-child {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        margin-bottom: 0;
      }
    }

    &.fix-columns {

      .user-actions {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          margin-left: 30px;
        }
      }
    }
  }

  .profile-text {
    font-size: 13px;
    margin-bottom: 0;
    @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: $white);

    @supports (-webkit-line-clamp: 3) {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 48px;
      height: auto;

      &:before {
        display: none;
      }
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-bottom: 4px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}