@import "components/imports";

.userCollectionView,
.userView {

  .user-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    border-bottom: none;
    padding: 0;
    margin: -5px 0 0 20px;

    @include media-breakpoint-up($desktop-breakpoint) {
      justify-content: space-between;
      margin-top: 0;
      margin-left: 0;
    }
  }
}

.userCollectionView {

  .users {

    &:empty {

      + .msg-no-content {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .followme {
    margin-left: 0;
  }

  .subscribeView {
    min-width: 62px;
    margin-left: 13px;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-left: 0;
      margin-top: 0;
    }

    &:empty {
      display: none;
    }
  }

  .subscribePaidView {

    &:empty {
      display: none;
    }
  }
}

.block-bg {

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    background-color: $white;
  }
}

.user-actions {
  font-weight: 500;

  &:before,
  &:after {
    @include media-breakpoint-up($desktop-breakpoint) {
      content: "";
    }
  }

  .btn-subscribe {
    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 0;
    }

    &:not(.disable-state) {
      color: $secondary-color;
      opacity: 1;

      @include media-breakpoint-up($desktop-breakpoint) {

        &:hover {
          color: $secondary-color-darken;
        }
      }
    }
  }
}



.userView {
  min-width: 0;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    & + .userView {
      border-top: 1px solid rgba($gray, 0.2);
    }
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    box-shadow: 0 3px 8px rgba(#000, 0.1);
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
  }

  .explore-wrapper & {

    @include media-breakpoint-up($desktop-breakpoint) {
      position: relative;
      z-index: 0;
    }
  }

  &.open-dropdown-inside {

    @include media-breakpoint-up($desktop-breakpoint) {
      z-index: 2;
    }
  }

  &_dropdown {
    width: 100%;
    max-width: 300px;
    min-height: 170px;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 4px;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      box-shadow: 0 3px 8px rgba(#000, 0.1);
      position: relative;
      z-index: 100;
      display: flex;
      flex-direction: column;
    }

    &:before {
      content: "";
      left: 26px;
      position: absolute;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.04);
      width: 9px;
      height: 9px;
      z-index: 0;
      pointer-events: none;
    }

    &-down {

      &:before {
        top: 100%;
        background-color: $white;
        transform: translate(0, -5px) rotate(45deg);
      }
    }

    &-up {

      &:before {
        bottom: 100%;
        background-image: linear-gradient(
          60deg,
          $secondary-color-12 10%,
          $primary-color-12 90%
        );
        transform: translate(0, 5px) rotate(45deg);
      }

      &.userView {

        .arrow {
          display: block;
        }
      }
    }
  }

  &.nolink {
    color: $main-color;
    &:hover {
      color: $main-color;
    }
  }

  &_card {
    width: 100%;
    max-width: 300px;
    margin-top: 1px;
    margin-bottom: 1px;
    overflow: hidden;
    display: block;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      box-shadow: 0 3px 8px rgba(#000, 0.1);
    }

    .authorMessage & {
      margin-left: auto;
      margin-right: 0;
    }

    .notAuthorMessage & {
      margin-left: 0;
      margin-right: auto;
    }

    &.userView {

      .user-container {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          padding-left: 15px;
        }
      }

      .user-names {
        padding-left: 0;
        padding-bottom: 0;
      }
    }
  }

  .arrow {
    display: none;
    height: 15px;
    margin-bottom: -15px;
    position: relative;

    svg {
      margin-top: -5px;
    }
  }

  .bg {
    overflow: hidden;
    padding-top: 33%;
    position: relative;
    height: auto;
    top: 0;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }

    &:before {
      position: absolute;
    }
  }

  .avatar {
    position: absolute;
    top: 13px;
    left: 16px;

    @include media-breakpoint-up($desktop-breakpoint) {
      top: -40px;
    }
  }

  .user-names {


    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin: 1px auto auto 0;
      min-width: 0;
      flex: 1;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 8px 0 13px 95px;
    }
  }

  .user-login {
    display: block;
    text-align: left;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      font-size: 13px;
    }
  }

  .user-container {
    position: relative;
    padding: 14px 15px 14px 70px;
    z-index: 6;
    background: $white;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 0 15px 15px;
      flex: 1;
      display: flex;
      flex-direction: column;

      &.not-found {
        padding-top: 20px;
      }
    }

    &_numbered {
      padding-right: 75px;
    }
  }

  .names-actions-wrapper {

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 0 0 9px;
    }

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 4px;
    }

    &:last-child {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        margin-bottom: 0;
      }
    }

    &.fix-columns {

      .user-actions {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          margin-left: 30px;
        }
      }
    }
  }

  .profile-text {
    font-size: 13px;
    margin-bottom: 0;

    /*

    REPLACE BY JS TRUNCATE

    @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: $white);

    @supports (-webkit-line-clamp: 3) {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      max-height: 47px;
      height: auto;

      &:before {
        display: none;
      }
    }
    */

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-bottom: 4px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.link-render {
  margin-top: 8px;
  text-align: left;
  font-size: 13px;
}

.user-num-list {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgba($gray, 0.1);
  font-size: 32px;
  width: 60px;

  &_first {
    background: #ea1145;
    color: #fff;

    .user-num-list__text {
      opacity: 1;
    }
  }

  &__text {
    opacity: .6;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .prize {
      align-items: center;
      font-size: 16px;
      margin-top: 10px;
    }
  }
}