@import "components/imports";
.usersGroups {
  .viewSettings {
    padding-bottom: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  .buttonWrapper {
    display: flex !important;
    justify-content: flex-end;
  }
  .openMenuButton {
    display: block;
    margin: 5px 0;
    margin-right: 7px;
    cursor: pointer;
  }
  .sortLabel {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-weight: 500;
    color: #909598;
  }
}

.groupItem {
  position: relative;
  background-color: $white;
  overflow: hidden;
  border-radius: 10px;

  &-header {
    width: 100%;
    display: flex;

    .header-image {
      width: 30%;
      height: auto;
    }
    .header-content {
      width: 70%;
      padding: 20px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      &-joinGroupContainer {
        margin-top: auto;
      }
    }
  }


}