@import "components/imports";

.videoplayer {
  position: relative;

  &.clicked {
    &:after {
      opacity: 0;
      visibility: hidden;
    }
  }

  &:after {
    content: "\E661";
    @include icon-font;
    position: absolute;
    left: 15px;
    bottom: 10px;
    font-size: 40px;
    color: #fff;
    opacity: 0.8;
    transition: all 0.3s;
  }
}

.videos {

  @include media-breakpoint-up($desktop-breakpoint) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.videoCollectionView {

  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 0 4px;
  }

  .container & {
    @include media-breakpoint-down($desktop-breakpoint) {
      .shadow-block {
        background: $light;
        overflow: hidden;
        box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.08);
      }
    }
  }
}
.videoView {

  @include media-breakpoint-down($desktop-breakpoint) {
    padding: 0 0 8px;
    border-bottom: 1px solid rgba(124, 139, 150, 0.2);
    background: $white;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    overflow: hidden;
    cursor: pointer;
    width: calc(33.33% - 30px);
    margin: 0 0 30px 30px;
  }

  .videoplayer {

    @include media-breakpoint-down($desktop-breakpoint) {
      display: none;
    }
  }

  .postLink {

    @include media-breakpoint-down($desktop-breakpoint) {
      display: block;
    }
  }

  figure {

    @include media-breakpoint-up($desktop-breakpoint) {
      position: relative;
    }

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background: rgba(#000, 0.4);
      opacity: 0;
      transform: scale(0);
      content: "";
      z-index: 1;
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    &:after {

      @include media-breakpoint-up($desktop-breakpoint) {
        pointer-events: none;
        content: "";
        display: block;
        padding-top: 100%;
        height: 0;
      }
    }

    &:not(.locked-wrapper):hover {

      &:before,
      .overlay {
        opacity: 1;
        transform: scale(1);
      }
    }

    .locked-picture {
      position: initial;
    }

    img {

      @include media-breakpoint-up($desktop-breakpoint) {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
      }
    }

    .overlay {

      @include media-breakpoint-down($desktop-breakpoint) {
        display: none;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        transform: scale(5);
        transition: opacity 0.3s ease, transform 0.3s ease;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: #fff;
        font-weight: 500;
        padding: 0 18%;
        z-index: 1;
      }
    }
  }

  .date {
    padding-left: 15px;
  }
}

.video-post {

  &:not(.locked-wrapper):hover {

    .duration {

      .value {
        opacity: 1;
      }
    }
  }

  .duration {
    position: absolute;
    right: 5px;
    top: 3px;
    color: #fff;
    opacity: 0.7;
    pointer-events: none;
    display: inline-flex;
    align-items: center;
    z-index: 2;

    @include media-breakpoint-up($desktop-breakpoint) {
      right: 15px;
      top: 12px;
    }

    &:after {
      font-size: 18px;
      content: "\E635";
      @include icon-font;

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 24px;
      }
    }

    .value {
      font-weight: 500;
      opacity: 0;
      transition: opacity 0.3s ease;
      margin: 0 5px 0 0;
    }
  }
}
