@import "components/imports";

.videoCollectionView {

  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 0 4px;
  }

  .container & {
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      .shadow-block {
        background: $light;
        overflow: hidden;
        box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.08);
      }
    }
  }
}