@import "components/imports";

.blocked-search {
  position: relative;
  width: 100%;
  @include media-breakpoint-down($desktop-breakpoint) {
    input {
      height: 24px;
      padding: 3px 10px;
    }
  }
  @include media-breakpoint-up($desktop-breakpoint) {
    width: 220px;
  }
  button {
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 18px;
    right: 0;
    width: 34px;
    border: none;
    background: none;
    padding: 0;
    opacity: 0.3;
    color: inherit;
    transition: opacity 0.3s ease;
    height: auto;
    max-height: 30px;

    &:before {
      @include position-center;
      @include icon-font;
      content: "\E60C";
    }
    &:hover {
      opacity: 1;
    }
  }
}

.BlockedView {
  .BlockedUsersCollectionView {
    .table-header-title {
      @include media-breakpoint-down($desktop-breakpoint) {
        padding-top: 19px;
      }
    }

    .table-header {
      @include media-breakpoint-down($desktop-breakpoint) {
        padding-top: 14px;
      }

      &_reset-pt {
        @include media-breakpoint-down($desktop-breakpoint) {
          padding-top: 0;
        }
      }
    }
  }
}

.BlockedUsersCollectionView {
  @include media-breakpoint-up($desktop-breakpoint) {
    overflow: auto;
  }

  .settings-nav__wrapper {
    @include media-breakpoint-down($desktop-breakpoint) {
      margin-top: 11px;
    }
  }

  .semi-transparent {
    .subtext {
      margin-top: 6px;

      @include media-breakpoint-up($desktop-breakpoint) {
        margin-top: 2px;
      }
    }
  }
}

.private-story {
  @include media-breakpoint-down($desktop-breakpoint) {
    padding-bottom: 0;

    &__inner {
      border-bottom: 1px solid rgba($gray, 0.2);
      padding-bottom: 11px;
    }
  }
}
