@import "components/imports";

.exploreAllStoriesCollectionView {

  @include media-breakpoint-down($desktop-breakpoint) {
    margin: 0 15px;
    border-top: 1px solid rgba($gray, 0.2);
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    margin: -5px 0 16px;
  }

  .explore-stories {
    display: flex;
    overflow: hidden;
    padding: 15px 15px 0;

    @include media-breakpoint-down($desktop-breakpoint) {
      margin: 0 -15px;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 5px 5px 0;
    }

    &:empty {
      display: none;
    }
  }

  .exploreAllStoriesView {
    width: 60px;
    min-width: 60px;
    margin-right: 23px;

    @include media-breakpoint-up($desktop-breakpoint) {
      width: 82px;
      min-width: 82px;
      margin-right: 24px;
    }

    .avatar {
      margin: 0 auto;
      font-size: 50px;

      @include media-breakpoint-up($desktop-breakpoint) {
        font-size: 70px;
      }

      &:before {
        box-shadow: 0 0 0 3px $white;
      }

      &:not(:empty) {
        &:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          border-radius: 1000px;
          background: $white;
        }
      }
    }
    .name {
      text-align: center;
      font-size: 13px;
      margin: 10px 0 8px;
      font-weight: 400;
      display: block;

      @include media-breakpoint-up($desktop-breakpoint) {
        margin: 13px 0 5px;
      }
    }
  }
}
