
.delete-account {

  @include media-breakpoint-down($desktop-breakpoint) {
    text-align: center;
  }

  .input-help {

    &__title {
      font-weight: 500;

      @include media-breakpoint-down($desktop-breakpoint) {
        padding: 0 0 12px;
        margin: 0 0 18px;
        border-bottom: 1px solid rgba($gray, 0.2);
      }
    }
  }

  .label {
    height: auto;
  }
  
  &-btn {
    padding: 0;
    border: none;
    background: none;
    color: $red;

    @include media-breakpoint-up($desktop-breakpoint) {
      display: flex;
      font-weight: 600;
    }

    .user-login {
      font-size: inherit;
      opacity: 1;
      margin-left: 4px;
      display: inline;

      .username {
        color: $red;
      }
    }
  }
}
.btn-logout {
  position: relative;
  height: 44px;
  width: 54px;

  @include media-breakpoint-up($desktop-breakpoint) {
    position: absolute;
    right: 0;
    top: 0;
  }

  &:after {
    content: "\e8b2";
    color: $secondary-color;
  }
}

.twitter-value {

  a {
    color: $default-secondary-color;

    &:before {
      content: "@";
    }
  }
}
.email-block {

  &.field-valid {

    .email-confirm-block {
      display: none;
    }
    .for-unverified {
      display: none;
    }
  }
  
  &.field-invalid {

    .for-verified {
      display: none;
    }
    @include media-breakpoint-up($desktop-breakpoint) {
      .for-unverified {
        padding-left: 10px;
      }
    }
  }
}
.EmailView {
  @include media-breakpoint-down($desktop-breakpoint) {
    .password-form,
    .twitter-block,
    .delete-account-block {
      display: none;
    }
  }
}
.TwitterView {
  @include media-breakpoint-down($desktop-breakpoint) {
    .BlockedUsersCollectionView,
    .private-profile-block,
    .tweet-posts-block,
    .go-twitter-block,
    .watermarks-settings,
    .email-block,
    .password-form,
    .delete-account-block,
    .google-block,
    .geoblocking {
      display: none;
    }
  }
}
.GoogleView {
  @include media-breakpoint-down($desktop-breakpoint) {
    .BlockedUsersCollectionView,
    .private-profile-block,
    .tweet-posts-block,
    .go-twitter-block,
    .watermarks-settings,
    .email-block,
    .password-form,
    .delete-account-block,
    .twitter-block,
    .geoblocking {
      display: none;
    }
  }
}
.BlockedView,
.BlockedPostsView {
  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    .private-profile-block,
    .tweet-posts-block,
    .TwitterBlockView,
    .go-twitter-block,
    .watermarks-settings,
    .go-blocked,
    .form-title .inner .semi-transparent,
    .geoblocking
    {
      display: none;
    }
  }
}
@include media-breakpoint-down($desktop-breakpoint-dcrs) {
  .SettingsPrivacyView {
    .TwitterBlockView {
      display: none;
    }
  }
}

.PasswordView {
  @include media-breakpoint-down($desktop-breakpoint) {
    .email-block,
    .twitter-block,
    .delete-account-block,
    .form-title_cols{
      display: none;
    }
  }
}
.WatermarksView {

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    .private-profile-block,
    .tweet-posts-block,
    .TwitterBlockView,
    .go-twitter-block,
    .go-blocked,
    .geoblocking,
    .BlockedUsersCollectionView,
    .watermarks-settings .shadow-block {
      display: none;
    }
  }
}
.ManageView {
  @include media-breakpoint-down($desktop-breakpoint) {
    .email-block,
    .twitter-block,
    .password-form {
      display: none;
    }
    .form-title_cols {
      display: none;
    }
  }
}
.twitter-block {
  .form-group .btn {
  }
}

.ManageView {
  .form-group {
    @include media-breakpoint-down($desktop-breakpoint) {
      padding-bottom: 18px;
    }
  }

  @include media-breakpoint-down($desktop-breakpoint) {
    .form-title {
      .inner {
        justify-content: center;
      }
    }
  }
}
