.settings-aside {

  .white-bg-block {

    @include media-breakpoint-down($desktop-breakpoint) {
      overflow: hidden;
      padding-bottom: 8px;
    }
  }

  .profile-name {
    padding: 0;
  }
}

.settings-scroll-wrapper {

  @include media-breakpoint-up($desktop-breakpoint) {
    max-height: calc(100vh - 357px);
    overflow: hidden;
    position: relative;
  }

  &.ps {

    @include media-breakpoint-down($desktop-breakpoint) {
      overflow: visible !important;
    }

    &__rail-y {
      opacity: .6;
      margin-top: 4px;
      margin-bottom: 4px;
    }

    &__thumb-y {
      width: 4px;
      right: 4px;
    }
  }
}

.settings-nav {

  &__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 12px 24px 11px 0;
    margin-left: 15px;
    margin-right: 16px;
    border-bottom: 1px solid rgba($gray, 0.2);
    position: relative;
    transition: color 0.3s ease;
    color: $main-color;
    font-size: 17px;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 13px;
      padding-bottom: 13px;
      margin-left: 20px;
      margin-right: 20px;
      font-size: 15px;
    }

    &:hover {
      color: $main-color;
    }

    .value {
      opacity: 0.5;
      letter-spacing: 0;
      text-align: right;
      flex: 1;
      margin-left: 10px;
      overflow-wrap: break-word;
      -ms-word-break: break-all;
      word-break: break-word;
      word-wrap: break-word;
      hyphens: auto;
    }

    &.field-invalid {

      &:before {
        right: 12px;
      }
    }

    &_arr {

      &:after {
        content: "\e886";
        right: -5px;
      }
    }

    .not-lspacing {
      letter-spacing: 0;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      span {
        opacity: 0.5;
        transition: opacity 0.3s ease;
      }
      &:hover,
      &.active {
        span {
          opacity: 1;
        }
        &:after {
          color: $main-color;
        }
      }
    }
    &:after {
      position: absolute;
      top: 50%;
      transition: color .3s ease;
      transform: translate(0, -50%);
      @include icon-font;
      color: $secondary-color;
      font-size: 24px;
    }
    &.empty {
      &:after {
        opacity: 0.5;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.user-email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;

  .field-invalid & {
    padding-right: 18px;
  }
}