.exp-row {
  display: flex;
  align-items: center;
  padding: 0 15px 0 0;

  input {
    width: 100%;
    text-align: center;
  }

  .exp-divider {
    padding: 0 7px;
  }
}

.exp-month,
.exp-year {
  flex: 1;
}

.input-cvv-field {
  flex: 1;
}

.cards-list {
  @include media-breakpoint-up($desktop-breakpoint) {
    padding: 0 10px;
    margin: -4px 0 21px;
  }
  .item {
    display: flex;
    align-items: center;
    padding: 8px 0 8px 40px;
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position: 0 50%;
    border-bottom: 1px solid rgba($gray, 0.2);

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &.visa {
      background-image: url(#{$assetPath}/img/card-visa.svg);
    }
    &.maestro {
      background-image: url(#{$assetPath}/img/card-maestro.svg);
    }
    &.mastercard {
      background-image: url(#{$assetPath}/img/card-mastercard.svg);
    }
    &.american {
      background-image: url(#{$assetPath}/img/card-american.svg);
    }
    &.jcb {
      background-image: url(#{$assetPath}/img/card-jcb.svg);
    }
    &.discover {
      background-image: url(#{$assetPath}/img/card-discover.svg);
    }
    &.club {
      background-image: url(#{$assetPath}/img/card-dclubs.svg);
    }

    &:last-child {
      border-bottom: none;
    }
    .replace {
      border: none;
      padding: 0;
      background: none;
      transition: color .3s;
      @include media-breakpoint-down($desktop-breakpoint) {
        font-size: 0;
        &:after {
          font-size: 24px;
        }
      }
      @include media-breakpoint-up($desktop-breakpoint) {
        font-weight: 500;
      }
    }
    .replace {
      margin-right: 25px;
      color: $secondary-color;

      @include media-breakpoint-up($desktop-breakpoint) {

        &:hover {
          color: $secondary-color-darken;
        }
      }
    }
    .delete {
      color: $primary-color;

      @include media-breakpoint-up($desktop-breakpoint) {

        &:hover {
          color: $primary-color-darken;
        }
      }
    }
    @include media-breakpoint-down($desktop-breakpoint) {
      .replace {
        margin-right: 15px;
      }
    }
  }
}

.payment-system {
  font-weight: 500;

  @include media-breakpoint-up($desktop-breakpoint) {
    width: 28%;
  }
}

.card-number {
  margin: 0 auto 0 10px;

  &:before {
    content: "\b7\a0\b7\a0\b7\a0\b7\a0\b7\a0\b7\a0"; // 6 symbols &middot;
  }
}

.paymentsCollectionsView {
  @include media-breakpoint-up($desktop-breakpoint) {
    overflow: auto;
  }
}

.input-cvv {
  margin-right: 20px;

  &-wrapper {
    align-items: center;
  }
}

.btn_next {
  @include media-breakpoint-up($desktop-breakpoint) {
    width: 170px;
  }
}

.payments-nocard {
  min-height: 300px;
  padding-top: 50px;

  & h1 {
    text-align: center;
  }

  &:empty {
    display: none;
  }
}
