.payouts {
  @include media-breakpoint-down($desktop-breakpoint-dcrs) {

    .saveChanges,
    .deleteSnapchat {
      position: fixed;
      top: 10px;
      z-index: 10;
      height: 24px;
      padding: 3px 16px;
      width: auto;
    }

    .saveChanges {
      right: 15px;
    }

    .deleteSnapchat {
      right: 90px;
    }

    .form-group,
    .payouts-account-country,
    .wrapper-payouts-bg {
      position: static;
    }
  }
}

#payouts-step-1 {
  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    min-height: calc(100vh - 44px);
  }
  @include media-breakpoint-up($desktop-breakpoint) {
    height: 100%;
  }
  display: flex;
  flex-direction: column;
  > * {
    width: 100%;
  }
  .settings-form {
    flex: 0;
  }
  .payouts-bg {
    flex: 1 1 100%;
    position: relative;
    overflow: hidden;
    background: url(#{$assetPath}/img/globe.svg) 50% 55px no-repeat;
    background-size: 112% auto;
    @include media-breakpoint-up($desktop-breakpoint) {
      background-position: 129% 9px;
      background-size: 78% auto;
    }
  }
}
.payouts-personal-info {
  overflow: hidden;

  @include media-breakpoint-up($desktop-breakpoint) {
    margin: -13px 0 21px;
  }

  .payouts-legal & {
    @include media-breakpoint-up($desktop-breakpoint) {
      margin: 0;
    }
  }

  .item {
    display: flex;
    justify-content: space-between;
    position: relative;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      border-bottom: 1px solid rgba($gray, 0.2);
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 0 12% 0 0;
    }

    &:last-child {
      border: none;

      .value {
        border: none;
      }
    }
  }

  .title {
    font-weight: 500;
    padding: 9px 5px;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      font-size: 15px;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      text-align: right;
      flex: 0 1 29.5%;
    }
  }

  .value {
    text-align: right;
    padding: 9px 5px;
    position: relative;

    @include media-breakpoint-up($desktop-breakpoint) {
      text-align: left;
      flex: 1;
      border-bottom: 1px solid rgba($gray, 0.2);
      margin-left: 2.5%;
    }

    &_editable-field {
      padding-right: 38px;
    }

    &__text {
      opacity: 0.5;

      @include media-breakpoint-up($desktop-breakpoint) {
        line-height: 19px;
      }
    }
  }
}

.PayoutsLegalView,
.PayoutsBankView {
  .error {
    color: red;
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding-left: 15px;
    }
  }
  // .tipLinkExample {
  //   text-align: center;
  //   padding-bottom: 17px;
  //   color: $secondary-color;
  // }
  .linkUrlContainer {
    align-items: center;
    .linkUrl {
      color: $secondary-color;
    }
  }
}

.photo {
  &-form-group-inner {
    align-items: center;
    flex-wrap: wrap;

    &.success {
      .photo-unverified {
        display: none;
      }
    }
  }

  &-label-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    flex: 1;

    + .input-help {
      margin-top: 6px;
    }
  }

  &-unverified {
    margin: 0 auto;
    color: lighten($gray, 20%);
    padding: 0;
  }
}

.payouts,
.payouts-accounts,
.PayoutsAccountView,
.payouts-account-form {
  height: 100%;
}

.payouts-account-form {
  .payouts-account-form-wrap {
    z-index: 4;
  }

  .wrapper-payouts-bg {
    z-index: 2;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: flex;
      flex-direction: column;
      min-height: 100%;
    }
  }
}

.text-waiting {
  opacity: 0.5;
  font-weight: 400;
  text-align: center;
  margin: 0;
  font-size: 12px;
  line-height: 14px;
}

.payouts {

  @include media-breakpoint-up($desktop-breakpoint) {
    min-height: 506px;
  }

  &_height-reset {

    @include media-breakpoint-up($desktop-breakpoint) {
      min-height: auto;
    }
  }

  &-legal-form {
    select {
      color: $main-color;
      font-weight: 400;
    }

    .vdatetime-year-picker__item--disabled {
      display: none;
    }
  }
  &-terms {
    color: $secondary-color;

    @include media-breakpoint-up($desktop-breakpoint) {

      &:hover {
        color: $secondary-color-darken;
      }
    }
  }

  .border-bottom {
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding-bottom: 0;
      .inner {
        align-items: center;
        padding-bottom: 19px;
        border-bottom: 1px solid rgba($gray, 0.2);
      }
    }

    .form-title-text {
      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        font-size: 15px;
      }
    }
  }

  &-account {

    &-form {
      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        height: calc(100vh - 44px);
      }

      .inner {
        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          border-bottom: 1px solid rgba($gray, 0.2);
          padding-bottom: 19px;
        }
      }
    }
    &-country {
      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        position: relative;
        background: $white;
        padding: 20px 15px 7px;
        margin-top: -1px;
      }
    }
  }
}

.wrapper-payouts-bg {
  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    position: relative;
  }
}

.globe-img {

  .cls-2 {
    fill: none;
  }
}

.payouts-image-bg {
  overflow: hidden;
  margin-top: auto;
  padding-top: 276px;
  position: relative;

  @include media-breakpoint-up($desktop-breakpoint) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  svg {
    position: absolute;
    bottom: -280px;
    right: -46px;
    stroke: rgba($gray, 0.1);
    width: 490px;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      display: block;
      width: 416px;
      right: auto;
      bottom: auto;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.birthDateWrapper {
  display: flex;
  flex-grow: 1;

  .month {
    margin: 0 20px;
  }
}

.group-expiration-date,
.card-cvc-num {
  position: relative;
  width: 100px;

  &.field-invalid,
  &.field-valid {

    input {
      padding-right: 30px;
    }
  }
}

.card-cvc-num {
  margin-left: 12px;
}

.expirationDateWrapper {
  display: flex;
  width: 100%;
}

.card-date-range {
  display: flex;
  align-items: center;
  align-content: center;
  flex: 1;

  .separator {
    flex: 0 0 20px;
    text-align: center;
  }
}

.cards-details {
  display: flex;
  flex: 1;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  .error-info {
    flex: 0 0 100%;
  }
}

.help-text {
  padding-bottom: 0;
}

.city-zip-form-group {
  .exp-row {
    padding: 0;
    width: 100%;

    input {
      flex: 1;
      text-align: left;
    }
  }
}

.PayoutsLegalDoneView {

  .shadow-block {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding: 9px 0 12px;
    }

    &#is_paid_subscription__wrapper {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        padding-bottom: 0;
      }
    }
  }

  .settings-form {

    .shadow-block {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        box-shadow: none;
        border-top: 1px solid rgba($gray, 0.2);
        position: relative;
      }

      &:after {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          content: "";
          box-shadow: 0 1px 7px rgba(#000, 0.15);
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 10px;
          z-index: -1;
        }
      }
    }
  }

  .set-price {
    text-align: center;
  }

  .downloadFormContainer {
    padding: 10px 0;
    display: flex;
    align-items: center;;
    justify-content: center;
  }
}

.PayoutsBankDoneView {
  .shadow-block {
    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      padding: 8px 0 6px;
    }
  }

  .PayoutsBankView {
    h1.form-title {
      opacity: 0.5;
      font-size: 17px;
      display: none;

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        display: block;
        padding: 19px 14px;
      }
    }

    .payouts-bank-form {
      .shadow-block {
        padding: 17px 0 0;

        .form-title {
          @include media-breakpoint-down($desktop-breakpoint-dcrs) {
            display: none;
          }
        }
      }

      .form-title {
        @include media-breakpoint-up($desktop-breakpoint) {
          padding: 9px 10px 21px;
        }
      }
    }
  }
}

.payouts-personal-info {
  .form-title {
    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 7px 10px 21px;
    }
  }
}

.payouts-account-country {
  position: relative;
  z-index: 2;

  .form-group {
    padding-bottom: 0;
  }

  .form-group-inner {

    &:last-child {
      margin-bottom: 0;

      .label {
        padding-bottom: 0;
      }
    }
  }
}

.payout-type {
  margin-bottom: 3px;
  font-size: 13px;
}

.payout-user {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  font-size: 13px;

  .user-login {
    margin-left: 5px;
    text-align: left;
  }
}

.payouts-bank {

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    margin-bottom: 20px;
  }

  &:last-child {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-bottom: 0;
    }
  }
}

.payouts-account,
.payouts-legal,
.payouts-bank,
.payouts-legal-done,
.payouts-bank-done,
.payouts-requests,
.payouts-transactions {
  &:empty {
    display: none;
  }
}

.negative {
  color: $red;
}

.payments-wrapper {

  &_gap-over {

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 3px;
    }
  }
}

.payments-system {
  justify-content: space-between;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    display: flex;
    align-items: center;
    align-content: center;
  }

  &__logo {
    margin-top: auto;
    margin-bottom: auto;

    &.label {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        padding: 0;
      }
    }

    svg {
      width: 100px;
      fill: $main-color;
    }
  }
}
