.exp-row {
  display: flex;
  align-items: center;
  padding: 0 15px 0 0;

  input {
    width: 100%;
    text-align: center;
  }

  .exp-divider {
    padding: 0 7px;
  }
}

.exp-month,
.exp-year {
  flex: 1;
}

.input-cvv-field {
  flex: 1;
}

.cards-list {
  @include media-breakpoint-up($desktop-breakpoint) {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -4px;
    margin-bottom: 21px;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 8px 0 8px 40px;
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position: 0 50%;
    border-bottom: 1px solid rgba($gray, 0.2);
    position: relative;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &.visa {
      background-image: url(#{$assetPath}/img/card-visa.svg);
    }
    &.maestro {
      background-image: url(#{$assetPath}/img/card-maestro.svg);
    }
    &.mastercard {
      background-image: url(#{$assetPath}/img/card-mastercard.svg);
    }
    &.american {
      background-image: url(#{$assetPath}/img/card-american.svg);
    }
    &.jcb {
      background-image: url(#{$assetPath}/img/card-jcb.svg);
    }
    &.discover {
      background-image: url(#{$assetPath}/img/card-discover.svg);
    }
    &.club {
      background-image: url(#{$assetPath}/img/card-dclubs.svg);
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.status-card {
  color: $gray;
  font-size: 30px;
  line-height: 20px;
  position: absolute;
  left: 0;
  opacity: 0.5;
  cursor: pointer;

  &.on {
    color: $secondary-color;
    opacity: 1;
    cursor: default;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    &:hover {
      opacity: 1;
    }
  }

  &:after {
    content: "\e880";
  }
}

.blocked-card {
  position: absolute;
  left: 3px;
}


.replace-card,
.delete-card {
  border: none;
  padding: 0;
  background: none;
  transition: color .3s;

  @include media-breakpoint-down($desktop-breakpoint) {
    font-size: 0;

    &:after {
      font-size: 24px;
    }
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    font-weight: 500;
  }
}

.replace-card {
  margin-right: 25px;
  color: $secondary-color;

  @include media-breakpoint-down($desktop-breakpoint) {
    margin-right: 15px;
  }

  @include media-breakpoint-up($desktop-breakpoint) {

    &:hover {
      color: $secondary-color-darken;
    }
  }
}

.delete-card {
  color: $primary-color;

  @include media-breakpoint-up($desktop-breakpoint) {

    &:hover {
      color: $primary-color-darken;
    }
  }
}


.payment-system {
  font-weight: 500;
  text-transform: capitalize;

  @include media-breakpoint-up($desktop-breakpoint) {
    width: 28%;
  }
}

.card-number {
  margin: 0 auto 0 10px;

  &:before {
    content: "\b7\a0\b7\a0\b7\a0\b7\a0\b7\a0\b7\a0"; // 6 symbols &middot;
  }
}

.card-blocked {
  color: $primary-color;
  margin-right: 10px;
  font-size: 12px;
}

.paymentsCollectionsView {
  @include media-breakpoint-up($desktop-breakpoint) {
    overflow: auto;
  }
}

.input-cvv {
  margin-right: 20px;

  &-wrapper {
    align-items: center;
  }
}

.cards {

  &__btn {
    padding-bottom: 15px;
    text-align: center;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-bottom: 24px;
    }
  }
}

//.payments-nocard {
//  min-height: 300px;
//  padding-top: 50px;
//
//  & h1 {
//    text-align: center;
//  }
//
//  &:empty {
//    display: none;
//  }
//}
