@include media-breakpoint-down($desktop-breakpoint-dcrs) {
  .SettingsPrivacyView {
    .TwitterBlockView {
      display: none;
    }
  }
}

.TwitterView {
  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    .BlockedUsersCollectionView,
    .private-profile-block,
    .tweet-posts-block,
    .go-twitter-block,
    .watermarks-settings
    {
      display: none;
    }
  }
}
.BlockedView {
  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    .private-profile-block,
    .tweet-posts-block,
    .TwitterBlockView,
    .go-twitter-block,
    .watermarks-settings,
    .go-blocked,
    .form-title .inner .semi-transparent,
    .geoblocking
    {
      display: none;
    }
  }
}
