
.settings-profile-images {
  position: relative;
  margin: 0 0 51px;

  @include media-breakpoint-up($desktop-breakpoint) {
    margin: 0;
  }

  .bg-profile {
    //display: flex;
    //justify-content: center;
    //align-items: center;
    position: relative;
    z-index: 3;

    @include media-breakpoint-up($desktop-breakpoint) {
      border-radius: 5px 5px 0 0;
    }
  }

  .avatar-block {
    position: absolute;
    bottom: 0;
    left: 20px;
    transform: translate(0, 50%);
    z-index: 5;

    @include media-breakpoint-up($desktop-breakpoint) {
      left: 15px;
    }
  }

  .avatar {
    font-size: 100px;

    @include media-breakpoint-up($desktop-breakpoint) {
      font-size: 80px;
    }
  }
  .reset-user-image {
    z-index: 3;
  }

  &:before {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      content: "";
      height: 30px;
      z-index: 4;
      background: linear-gradient(
        to bottom,
        rgba(#000, 0.1) 0%,
        transparent 100%
      );
    }
  }
}

.reset-user-image {
  position: absolute;
  cursor: pointer;
  color: #fff;
  text-shadow: $shadow-light;

  @include media-breakpoint-up($desktop-breakpoint) {
    font-size: 18px;
  }

  &:hover {
    color: #fff;
  }

  &.reset-bg {
    bottom: 27px;
    right: 27px;
    z-index: 4;

    @include media-breakpoint-up($desktop-breakpoint) {
      bottom: 23px;
      right: 24px;
    }
  }

  &.reset-avatar {
    bottom: 24px;
    left: 69px;
    z-index: 4;

    @include media-breakpoint-up($desktop-breakpoint) {
      bottom: 22px;
      left: 55px;
    }
  }
}

.user-color-select {
  width: 100%;
}

.user-color-select-wrapper {
  width: 100%;

  @include media-breakpoint-up($desktop-breakpoint) {
    position: relative;
  }

  &:before {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    background: rgba(#000, 0.4);
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s;

    .user-color-select-visible & {

      @include media-breakpoint-down($desktop-breakpoint-dcrs) {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .options-wrapper {
    position: absolute;
    top: calc(100% + 16px);
    background: $white;
    left: 30px;
    right: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 28px rgba(#000, 0.21);
    margin: -10px 0 0;
    z-index: 110;
    pointer-events: none;
    opacity: 0;
    transform: translateY(50px);
    transition: transform .4s, opacity .2s;
    transition-delay: .15s;

    @include media-breakpoint-up($desktop-breakpoint) {
      margin: -18px 0 0;
      width: 280px;
      left: -55px;
      top: calc(100% + 23px);
    }

    .user-color-select-visible & {
      pointer-events: auto;
      transform: translateY(0);
      opacity: 1;
    }

    &:after {
      position: absolute;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $white;
      content: "";
      left: 50%;
      margin-left: -12px;
      bottom: 100%;
      margin-top: -5px;
      z-index: 2;
    }
  }

  &.primary {
    .select-switcher {
      background: $primary-color;
    }

    .options-wrapper {

      &:after {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          right: calc(50% + (50% / 2) + 15px);
          left: auto;
        }
      }
    }
  }

  &.secondary {
    .select-switcher {
      background: $secondary-color;
    }

    .options-wrapper {

      &:after {

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          left: calc(50% + (50% / 2) + 15px);
        }
      }
    }
  }

  &.active {
    &:before {
      visibility: visible;
      opacity: 1;

      @include media-breakpoint-up($desktop-breakpoint) {
        background-color: rgba(0, 0, 0, 0);
      }
    }

    .options-wrapper {
      display: block;
    }

    .select-switcher {
      z-index: 110;

      @include media-breakpoint-up($desktop-breakpoint) {
        z-index: 111;
      }

      &:before {
        visibility: visible;
        opacity: 1;
      }

      &__text {
        &:before {
          visibility: visible;
          opacity: 1;

          @include media-breakpoint-up($desktop-breakpoint) {
            display: none;
          }
        }
      }
    }
  }
}

.select-switcher {
  border-radius: 7px;
  height: 30px;
  color: #fff;
  position: relative;
  display: block;
  cursor: pointer;
  font-weight: 500;

  &__text {
    display: block;
    padding: 6px 15px;
    position: relative;
    z-index: 0;

    &:after {
      content: "\e884";
      position: absolute;
      top: 0;
      right: 0;
      font-size: 24px;
      width: 34px;
      height: 30px;
      line-height: 30px;
      text-align: center;
    }
  }
}

.settings-page {

  .color-schemes-wrapper {
    padding-bottom: 10px;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-bottom: 21px;
    }
  }

  .gender-options {
    padding-bottom: 12px;
  }
}

.profile-wrapper {
  .aside-col.white-bg-block {
    position: relative;
    z-index: 2;
    box-shadow: none;
    padding: 0;
    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 0 10px;
    }
  }
  .settings-form {
    .error {
      color: red;
    }
  }
}

.settings-aside {

  .profile-name {
    padding: 8px 10px 10px 110px;
    opacity: 1;

    @include media-breakpoint-up($desktop-breakpoint) {
      min-height: 54px;
      padding: 0;
    }

    &__main {
      display: flex;
      align-content: center;
      align-items: center;
      margin-bottom: 6px;

      @include media-breakpoint-up($desktop-breakpoint) {
        margin-bottom: 5px;
      }
    }
  }
}

.profile-identifier {
  position: relative;

  .settings-aside & {
    margin: 8px 10px 8px 110px;

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin: 0 0 0 130px;
    }
  }

  .profile-name {
    min-height: 38px;

    .name {
      position: relative;
      display: inline-block;
      max-width: 175px;
    }

    &.verified-status {
      .name {
        padding-right: 25px;
      }

      .verified-user {
        position: absolute;
        right: 2px;
      }
    }
  }
}