.referrals {

  &-form-title {

    .inner {

      .referrals-text {
        display: flex;
        align-items: center;

        @include media-breakpoint-down($desktop-breakpoint-dcrs) {
          word-break: normal;
        }
      }
    }
  }

  &-url {
    word-break: break-all;
    padding: 20px 0;

    &__link {
      color: $primary-color;
    }

    &_row {
      display: flex;
      justify-content: space-between;

      .btn-copy-url {
        margin-left: 20px;
      }
    }
  }

  &-link {
    padding: 14px 20px;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 20px;
      padding-bottom: 24px;
    }
  }

  &-search {

    @include media-breakpoint-down($desktop-breakpoint-dcrs) {
      margin-left: 16px;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      width: 220px;

      .form-title .inner & {
        margin-top: -2px;
      }
    }
  }
}

.referral-desc {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  padding: 10px 0 0;

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    border-top: 1px solid rgba($gray, 0.2);
    margin-top: 13px;
    padding: 14px 0 0;
  }

  &:first-child {
    border-top: none;
    margin-top: 0;
    padding: 0;
  }

  .subtext {
    flex: 1;
    padding-right: 20px;
    padding-bottom: 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-right: 40px;
    }
  }
}

.ReferralsBlockCollectionView {

  @include media-breakpoint-up($desktop-breakpoint) {
    overflow: auto;
  }
}

.btn-copy-url {

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    padding-left: 18px;
    padding-right: 18px;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    margin-top: -6px;
  }

  &_reset-mt {

    @include media-breakpoint-up($desktop-breakpoint) {
      margin-top: 0;
    }
  }
}

.settings-wrapper {

  @include media-breakpoint-down($desktop-breakpoint-dcrs) {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .table-header-title {

    + .shadow-block {
      flex: 1;
    }
  }
}