.referrals {

  &-form-title {
    .inner {
      .referrals-text {
        display: flex;
        align-items: center;
      }
    }
  }

  &-link {
    padding: 14px 20px;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding-top: 20px;
      padding-bottom: 24px;
    }
  }

  &-search {

    @include media-breakpoint-down($desktop-breakpoint) {
      margin-left: 16px;
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      width: 220px;

      .form-title .inner & {
        margin: -2px 0 0;
      }
    }
  }
}

.referral-desc {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  padding: 10px 0 0;
  @include media-breakpoint-down($desktop-breakpoint) {
    border-top: 1px solid rgba($gray, 0.2);
    margin-top: 13px;
    padding: 14px 0 0;
  }
  .subtext {
    flex: 1;
    padding: 0 20px 0 0;
    font-size: 13px;
    opacity: 0.5;

    @include media-breakpoint-up($desktop-breakpoint) {
      padding: 0 40px 0 0;
    }
  }
}

.ReferralsBlockCollectionView {
  @include media-breakpoint-up($desktop-breakpoint) {
    overflow: auto;
  }
}

.btn-copy-url {
  animation: copy-url 0.5s;

  @include media-breakpoint-down($desktop-breakpoint) {
    padding-left: 18px;
    padding-right: 18px;
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    width: 120px;
    margin-top: -6px;
  }

  &.copied {
    animation: none;
  }
}

@keyframes copy-url {
  0% {
    color: transparent;
  }
  100% {
    color: $secondary-color;
  }
}
