@import "components/imports";

body {

  #site_header {
    display: block !important;
    width: 100%;
    background-clip: padding-box;
    position: relative;
    z-index: 10;
    transition: all 0.2s ease-in-out 0s;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 44px;

    @include media-breakpoint-up($desktop-breakpoint) {
      height: 50px;
      left: 0;
      right: 0;
      z-index: 12;
      margin: 0 0 25px;

      &:before {
        display: none;
      }
    }

    .header-wrapper {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 44px;
      transition: transform 0.2s ease-in-out 0s;
      transform: translate3d(0, 0, 0);

      @include media-breakpoint-up($desktop-breakpoint) {
        box-shadow: 0 0 5px rgba(#000, 0.3);
        background-color: $white;
        height: 50px;
      }

      .scroll-top & {
        @include media-breakpoint-down($desktop-breakpoint) {
          transform: translate3d(0, -44px, 0);
        }
      }
    }

    .dark & {
      background: $main-color;
    }

    &:before {
      position: fixed;
      top: 0;
      height: 0;
      left: 0;
      width: 100%;
      background: rgba($gray, 0.4);
      z-index: 9;
      content: "";
      opacity: 0;
      transition: opacity 0.4s ease, height 0s linear 0.4s;
    }

    .sidebar-shown & {

      &:before {
        height: 100%;
        opacity: 1;
        transition: opacity 0.4s ease;
      }
    }

    .btn.make-post-btn {
      right: 0;
      top: 0;
      position: absolute;
      background: none;
      display: block;

      @include media-breakpoint-up($desktop-breakpoint) {
        background: $secondary-color;
        color: #fff;
        box-shadow: none;
        position: static;
        height: 30px;
        padding: 4px 14px;
        margin: 0 0 0 15px;

        &:before {
          color: $secondary-color;
        }
      }

      &:before {

        @include media-breakpoint-up($desktop-breakpoint) {
          margin: 0 5px 0 -5px;
          color: inherit;
        }
      }

      &:hover {

        @include media-breakpoint-up($desktop-breakpoint) {
          color: #fff;
          background: $secondary-color-darken;
        }
      }
    }

    .login,
    .register {
      min-height: auto;

      @include media-breakpoint-down($desktop-breakpoint) {
        padding: 0;
        box-shadow: none;
        height: auto;
        margin: 0 5px 0 10px;
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        width: 90px;
        margin-left: 15px;
      }

      &:hover {
        background: none;
        color: $primary-color;

        &.alt {
          color: $secondary-color;
        }
      }
    }

    .header-nav {
      display: flex;

      a {
        color: inherit;

        &:before {
          filter: none;
          opacity: .3;
        }

        span {
          color: inherit;
          opacity: .4;
        }

        &.active {
          border-color: $secondary-color;
          color: $secondary-color;

          &:before {
            opacity: 1;
          }

          span {
            opacity: 1;
          }
        }
      }
    }

    .header-search {

      @include media-breakpoint-up($desktop-breakpoint) {
        display: block;
      }

      @include media-breakpoint-down($desktop-breakpoint) {
        width: 100%;
        margin-right: 0;
        align-items: center;
        align-content: center;
      }

      input {
        background-color: rgba($gray, 0.1);
        box-shadow: none;

        &:hover,
        &:focus {
          background-color: rgba($gray, 0.1);
          box-shadow: none;
        }
      }
    }

    .header-logo {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      height: 44px;

      @include media-breakpoint-up($desktop-breakpoint) {
        height: 50px;
      }

      img,
      svg {
        display: block;

        &.white-logo {
          display: none;
        }
      }
    }

    .header-avatar {
      box-shadow: none;
    }
  }
}

.header-nav {

  @include media-breakpoint-down($desktop-breakpoint) {
    display: flex;
  }
}