.addFileCollectionView {
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;

  .addFileView {
    position: relative;
    margin: 0 1em 0.6em 0;
    z-index: 1;
    overflow: hidden;
    border-radius: 0.3em;
    flex: 0 0 6em;

    .remove,
    .cancel,
    .loader {
      position: absolute;
    }
    .remove,
    .cancel {
      z-index: 3;
      cursor: pointer;
    }
    .cancel {
      top: calc(50% - 0.5em);
      left: calc(50% - 0.5em);
    }
    .remove {
      top: 0.31em;
      right: 0.31em;
    }
    .loader {
      z-index: 2;
      top: 50%;
      left: 50%;
      width: 50%;
      height: 50%;
      transform: translate(-50%, -50%);

      &:after {
        content: "";
        background: url(../img/loading.svg) no-repeat 0 0 / cover;
        animation: lds-dual-ring 1.2s linear infinite;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 100%;
      }
    }
    .filename {
      background: $default-avatar-bg;
      display: inline-block;
      vertical-align: top;
      width: 6em;
      height: 6em;
      text-align: center;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center center;
        vertical-align: top;
      }
      > span {
        max-width: 90%;
        line-height: 6em;
        display: inline-block;
        vertical-align: top;
        @include ellipsis;
      }
    }
    .progress {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 5px;
      background: linear-gradient(
          30deg,
          $default-secondary-color 10%,
          $default-primary-color 90%
        )
        no-repeat 50% / cover;
      transition: width 0.1s;
      display: none;
    }
    &.uploading {
      &:before {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgba(#000, 0.3);
        content: "";
      }
      .progress {
        display: block;
      }
    }
  }
}
