.text-mode {
  .add-new-type {
    transition: transform 0.4s;
    opacity: 0;
    pointer-events: none;
  }

  .addStoryButtonWrapper {
    .addStoryButton {
      @include media-breakpoint-down($desktop-breakpoint) {
        display: none;
      }
    }
  }

  .category-name {
    @include media-breakpoint-down($desktop-breakpoint) {
      opacity: 0;
      pointer-events: none;
    }
  }

  .group-controls {
    .btn-media-event {
      transition: all 0.4s;

      @include media-breakpoint-down($desktop-breakpoint) {
        opacity: 0;
        pointer-events: none;
      }

      &:not(:last-child) {
        @include media-breakpoint-up($desktop-breakpoint) {
          opacity: 0;
          pointer-events: none;
        }
      }

      &:last-child {
        &.letters-bg {
          @include media-breakpoint-up($desktop-breakpoint) {
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }

      &.letters-bg {
        .root-btn__text {
          margin-left: 4px;
          width: 100%;
        }
      }
    }
  }

  > .mediasBottom {
    transition: opacity 0.4s;
    opacity: 0;
    pointer-events: none;
  }

  .texteditor {
    opacity: 1;
    pointer-events: inherit;
  }

  .addTextButton.btn {
    display: inline-block;
  }
}
