@mixin icon-font {
  font-family: $icon-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

@mixin default-avatar {
  content: "\e8ba";
  @include icon-font;
  background: $default-avatar-bg;
  color: $default-avatar-color;
  text-align: center;
  z-index: 5;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

@mixin color-settings-dots($color, $opacity) {
  background-image: radial-gradient(circle, $color 50%, transparent 50%);
  opacity: $opacity;
}

@mixin settings-dots {
  content: "";
  @include position-center;
  height: 4px;
  width: 16px;
  background-size: 6px 4px;
  background-position: 5px 0;
  transition: background-color 0.3s;
}

@mixin position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include media-breakpoint-up($desktop-breakpoint) {
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  padding-right: 1em;

  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 2px;
    background: $bgColor;
    line-height: 12px;
  }
}

@mixin onlineIndicator($width: 10px, $height: 10px, $right: auto, $bottom: auto) {
  content: "";
  display: inline-block;
  border: 2px solid $white;
  background-color: #18B84D;
  border-radius: 50%;
  width: $width;
  height: $height;
  right: $right;
  bottom: $bottom;
  z-index: 5;
}
